<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('invoice')}"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/invoice :: invoice-breadcrumb(null)}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body">
                    <div class="flex flex-space-between margin-bottom">
                        <div></div>
                        <div>
                            <select class="btn btn-sm btn-light" id="filter-status"
                                    onchange="koki_invoices_on_filter_changed()"
                                    style="width: auto">
                                <option value="">All Statuses</option>
                                <option th:each="ss : ${statuses}"
                                        th:selected="${ss.name()} == ${status?.name()}"
                                        th:text="#{'invoice-status.' + ${ss.name()}}"
                                        th:value="${ss.name()}">STATUS
                                </option>
                            </select>
                        </div>
                    </div>

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Number</th>
                            <th>Date</th>
                            <th>Customer</th>
                            <th class="text-center">Status</th>
                            <th class="text-right">Total Amount</th>
                            <th class="text-right">Amount Due</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="invoice" th:each="invoice : ${invoices}">
                            <div th:replace="~{__components/invoice :: columns(${invoice})}"></div>
                        </tr>
                        <tr th:replace="~{__components/invoice :: load-more(${moreUrl})}"></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{__components/bootstrap :: toast(${toast})}"></div>

<script>
    function koki_invoices_on_filter_changed() {
        const status = document.getElementById('filter-status').value;
        document.location.href = '/invoices?' +
            (status && status.length > 0 ? '&status=' + status : '');
    }
</script>
</body>
</html>
