<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="settings-container">
    <div class="settings-sidebar">
        <div th:replace="~{__components/settings :: settings-menu('translation')}"></div>
    </div>
    <div class="settings-content">
        <div
            th:replace="~{__components/settings :: settings-title('Translation', '/settings/translation')}"></div>

        <div th:replace="~{__components/layout :: error-message(${error})}"></div>
        <form class="form" method="post" onsubmit="return on_submit()" th:action="@{/settings/translations/save}"
              th:object="${form}">
            <table class="table">
                <tr>
                    <td width="20%"><b>Type <span class="required">*</span></b></td>
                    <td>
                        <select onchange="koki_translation_provider_changed()" required th:field="*{provider}">
                            <option value=""></option>
                            <option th:each="provider : ${providers}"
                                    th:text="#{'translation-provider.' + ${provider}}"
                                    th:value="${provider}">
                                TYPE
                            </option>
                        </select>
                    </td>
                </tr>
                <tr class="aws" th:classappend="${form.provider} != 'AWS' ? 'hidden'">
                    <td><b>Region <span class="required">*</span></b></td>
                    <td>
                        <select th:field="*{awsRegion}" th:required="${form.provider} == 'AWS'">
                            <option value=""></option>
                            <option th:each="region : ${awsRegions}"
                                    th:text="${region}"
                                    th:value="${region}">
                                REGION
                            </option>
                        </select>
                    </td>
                </tr>
                <tr class="aws" th:classappend="${form.provider} != 'AWS' ? 'hidden'">
                    <td><b>Access Key <span class="required">*</span></b></td>
                    <td>
                        <input th:field="*{awsAccessKey}" th:required="${form.provider} == 'AWS'"/>
                    </td>
                </tr>
                <tr class="aws" th:classappend="${form.provider} != 'AWS' ? 'hidden'">
                    <td><b>Secret Key <span class="required">*</span></b></td>
                    <td>
                        <input th:field="*{awsSecretKey}" th:required="${form.provider} == 'AWS'"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button id="btn-submit" type="submit">Submit</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<script>
    function on_submit() {
        const form = document.querySelector("form");
        if (form.checkValidity()) {
            document.getElementById('btn-submit').disabled = true;
        }
        return true
    }

    function koki_translation_provider_changed() {
        const provider = document.getElementById('provider').value;
        const aws = (provider === 'AWS');
        document.querySelectorAll('.aws').forEach((elt) => {
            if (aws) {
                elt.classList.remove('hidden');
            } else {
                elt.classList.add('hidden');
            }
            document.querySelectorAll('.aws input, .aws select').forEach((elt) => {
                elt.required = aws;
            });
        });
    }
</script>
</body>
</html>
