<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="settings-container">
    <div class="settings-sidebar">
        <div th:replace="~{__components/settings :: settings-menu('translation')}"></div>
    </div>
    <div class="settings-content">
        <div
            th:replace="~{__components/settings :: settings-title('Translation', '/settings')}"></div>

        <table class="table">
            <tr>
                <td width="20%"><b>Provider</b></td>
                <td>
                    <div th:replace="~{__components/translation :: translation-provider(${form.provider})}"></div>

                    <div class="alert alert-warning margi-top" th:if="!${form.aiModel} AND ${form.provider == 'AI'}">
                        You must configure the AI model for the translations to work.
                        <br/>
                        <a href="/settings/ai">Configure</a>
                    </div>
                </td>
            </tr>
            <tr class="aws" th:if="${form.provider == 'AWS'}">
                <td><b>Region</b></td>
                <td id="aws-region" th:text="${form.awsRegion}">REGION</td>
            </tr>
            <tr class="aws" th:if="${form.provider == 'AWS'}">
                <td><b>Access Key</b></td>
                <td id="aws-access-key">*****</td>
            </tr>
            <tr class="aws" th:if="${form.provider == 'AWS'}">
                <td><b>Secret Key</b></td>
                <td id="aws-secret-key">*****</td>
            </tr>
            <tr>
                <td colspan="2">
                    <a class="btn-edit btn btn-sm btn-secondary" href="/settings/translations/edit">Configure</a>
                </td>
            </tr>
        </table>
    </div>
</div>

<div th:replace="~{__components/bootstrap :: toast(${toast})}"></div>
</body>
</html>
