<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="settings-container">
    <div class="settings-sidebar">
        <div th:replace="~{__components/settings :: settings-menu('tenant')}"></div>
    </div>
    <div class="settings-content padding">
        <div th:replace="~{__components/settings :: settings-title('Object Types', '/settings/tenant/types')}"></div>

        <form action="/settings/tenant/types/import" class="form" enctype="multipart/form-data" method="post">
            <div th:replace="~{__components/layout :: error-message(${error})}"></div>
            <div th:replace="~{__components/layout :: import-response(${response})}"></div>

            <div class="margin-bottom">
                Import the types from a CSV file.<br/>
                Learn more about the format of the file <a href="#">here</a>.
            </div>
            <table class="table">
                <tr>
                    <td><b>Object Type<span class="required">*</span></b></td>
                    <td>
                        <select id="objectType" name="objectType">
                            <option value=""></option>
                            <option
                                th:each="tt : ${objectTypes}"
                                th:selected="${tt} == ${objectType}"
                                th:text="#{'object-type.' + ${tt.name}}"
                                th:value="${tt.name}"
                            >TYPE
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td width="20%"><b>File<span class="required">*</span></b></td>
                    <td>
                        <input name="file" required type="file"/>
                    </td>
                </tr>
            </table>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>

</body>
</html>
