<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <h1 class="section-title text-center">
                <img class="align-right" height="50" th:if="${tenant.logoUrl}" th:src="${tenant.logoUrl}"/>
                <span th:if="!${tenant.logoUrl}" th:text="${tenant.name}"/>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2">

            <div class="widget margin-top-4x">
                <div class="widget-body">
                    <div th:replace="~{__components/paynow :: header(${tx.invoice})}"></div>

                    <div class="margin-top-2x" th:if="${tx.successful}">
                        <h2>
                            <i class="fa-solid fa-circle-check success"></i>
                            Thank you for your payment!
                        </h2>
                        <div>
                            We have successfully received your payment of
                            <b th:text="${tx.amount}">$$$</b> for the invoice #<span
                            th:text="${tx.invoice.number}">000</span>.
                        </div>
                    </div>
                    <div class="margin-top-2x" th:if="${tx.failed}">
                        <h2>
                            <i class="fa-solid fa-triangle-exclamation error"></i>
                            Payment error
                        </h2>
                        <div class="alert alert-danger margin">
                            An error has occurred while processing the payment. Please try again.
                        </div>
                    </div>
                    <div class="margin-top-2x" th:if="${tx.pending}">
                        <h2 class="text-center">The transaction is being processed</h2>
                    </div>

                    <div class="margin-top flex flex-space-between margin-top-2x">
                        <div th:replace="~{__components/paynow :: invoice(${tx.invoice})}"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>
