<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('employee')}"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/employee :: employee-breadcrumb(null)}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body">
                    <div class="flex flex-space-between">
                        <div class="btn-group border margin-bottom">
                            <button aria-expanded="false"
                                    class="btn padding"
                                    data-bs-toggle="dropdown"
                                    type="button">
                                <img height="24" src="/image/employee.png" width="24"/>
                                <span>All Employees</span>
                            </button>
                        </div>
                        <div>
                            <select class="btn btn-sm btn-light" id="filter-type-id"
                                    onchange="koki_employees_on_filter_changed()"
                                    style="width: auto"
                                    th:if="!${types.isEmpty()}"
                            >
                                <option value="">All Types</option>
                                <option th:each="type : ${types}"
                                        th:selected="${type.id} == ${typeId}"
                                        th:text="${type.title}"
                                        th:value="${type.id}"
                                >TYPE
                                </option>
                            </select>
                            <select class="btn btn-sm btn-light" id="filter-status"
                                    onchange="koki_employees_on_filter_changed()"
                                    style="width: auto"
                            >
                                <option value="">All Status</option>
                                <option th:each="ss : ${statuses}"
                                        th:selected="${ss.name()} == ${status?.name()}"
                                        th:text="#{'employee-status.' + ${ss.name()}}"
                                        th:value="${ss.name()}"
                                >STATUS
                                </option>
                            </select>
                            <a class="btn-create btn btn-primary btn-sm" href="/employees/create"
                               th:if="${user?.hasPermission('employee:manage')}">Create New Employee</a>
                        </div>
                    </div>

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Status</th>
                            <th>Job Title</th>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="employee" th:each="employee : ${employees}" th:if="${employees}">
                            <div th:replace="~{__components/employee :: columns(${employee})}"></div>
                        </tr>
                        <tr th:if="${employees}"
                            th:replace="~{__components/employee :: load-more(${moreUrl})}"></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{__components/bootstrap :: toast(${toast})}"></div>

<script>
    function koki_employees_on_filter_changed() {
        const status = document.getElementById('filter-status').value;
        const typeId = document.getElementById('filter-type-id').value;

        document.location.href = '/employees?' +
            (status && status.length > 0 ? '&status=' + status : '') +
            (typeId && typeId.length > 0 ? '&type-id=' + typeId : '');
    }

</script>
</body>
</html>
