<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('employee')}"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/employee :: employee-breadcrumb(${employee})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="widget employee-summary">
                <div class="widget-body">
                    <div class="flex flex-space-between">
                        <h1 class="entity-title">
                            <img align="absmiddle" src="/image/employee.png"/>
                            <span th:text="${employee.name}">NAME</span>
                        </h1>
                        <div>
                            <a class="btn-edit btn btn-light btn-sm"
                               th:href="'/employees/' + ${employee.id} + '/edit'"
                               th:if="${user?.hasPermission('employee:manage')}">Edit</a>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="margin-right-2x" th:if="${employee.employeeType}">
                            <b>Type</b><br/>
                            <span th:text="${employee.employeeType.title}">STATUS</span>
                        </div>
                        <div class="margin-right-2x" th:if="${employee.status}">
                            <b>Status</b><br/>
                            <span th:text="#{'employee-status.' + ${employee.status}}">STATUS</span>
                        </div>
                    </div>
                    <div th:replace="~{__components/layout :: error-message(${error})}"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-7">
            <div class="widget">
                <div class="widget-body">
                    <div th:replace="~{__components/module :: tabs('main', true)}"></div>
                    <div
                        th:replace="~{__components/module :: tabs-content('main', true, ${employee}, ${module})}"></div>
                    <table class="table hidden" id="tab-details-content">
                        <tr>
                            <td width="20%"><b>Name</b></td>
                            <td th:text="${employee.name}">NAME</td>
                        </tr>
                        <tr th:if="${employee.employeeType}">
                            <td><b>Type</b></td>
                            <td th:text="${employee.employeeType.title}">TYPE</td>
                        </tr>
                        <tr>
                            <td><b>Status</b></td>
                            <td th:text="#{'employee-status.' + ${employee.status}}">STATUS</td>
                        </tr>
                        <tr th:if="${employee.jobTitle}">
                            <td><b>Job Title</b></td>
                            <td th:text="${employee.jobTitle}">JOB</td>
                        </tr>
                        <tr th:if="${employee.hourlyWage}">
                            <td><b>Hourly Wage</b></td>
                            <td th:text="${employee.hourlyWage}">$$$</td>
                        </tr>
                        <tr th:if="${employee.hiredAtText}">
                            <td><b>Hired Date</b></td>
                            <td th:text="${employee.hiredAtText}">HIRED</td>
                        </tr>
                        <tr th:if="${employee.terminatedAtText}">
                            <td><b>Termination Date</b></td>
                            <td th:text="${employee.terminatedAtText}">HIRED</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5">
            <div class="widget">
                <div class="widget-body">
                    <div th:replace="~{__components/module :: tabs('side', false)}"></div>
                    <div
                        th:replace="~{__components/module :: tabs-content('side', false, ${employee}, ${module})}"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{__components/bootstrap :: toast(${toast})}"></div>
<div th:replace="~{__components/bootstrap :: modal}"></div>

</body>
</html>
