<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('form')}"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/form :: form-breadcrumb(null)}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body">
                    <div class="flex flex-space-between margin-bottom">
                        <div>
                            <a class="btn-create btn btn-primary btn-sm" href="/forms/create"
                               th:if="${user?.hasPermission('form:manage')}">
                                Create New Form
                            </a>
                        </div>
                        <div>
                            <select class="btn btn-sm btn-light" id="filter-active"
                                    onchange="koki_forms_on_filter_changed()"
                                    style="width: auto">
                                <option value="">All</option>
                                <option th:selected="${active} == true" value="true">Active</option>
                                <option th:selected="${active} == false" value="false">Inactive</option>
                            </select>
                        </div>
                    </div>

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th align="center" width="1%">Active</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="form" th:each="form : ${forms}">
                            <div th:replace="~{__components/form :: columns(${form})}"></div>
                        </tr>
                        <tr th:replace="~{__components/form :: load-more(${moreUrl})}"></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{__components/bootstrap :: toast(${toast})}"></div>

<script>
    function koki_forms_on_filter_changed() {
        const active = document.getElementById('filter-active').value;
        document.location.href = '/forms?' +
            (active && active.length > 0 ? '&active=' + active : '');
    }
</script>
</body>
</html>
