<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div class="form">
    <div class="form-header">
        <h1 th:text="${title}">TITLE</h1>
    </div>
    <div class="form-body">
        <div class="section">
            <div class="section-body">
                <div class="error-message" th:if="${alreadyProcessed}">
                    <div class="error">Your form have been rejected</div>
                    <div>You've already submitted this form in the past!</div>
                </div>
                <div class="success-message" th:unless="${alreadyProcessed}">
                    Your form have successfully been recorded.
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
