<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('form')}"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/form :: form-breadcrumb(${form})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body form-summary">
                    <div class="flex flex-space-between">
                        <h1 class="entity-title">
                            <img align="absmiddle" src="/image/form.png"/>
                            <span th:text="${form.name}">NAME</span>
                        </h1>
                        <div>
                            <a class="btn-edit btn btn-light btn-sm"
                               th:href="'/forms/' + ${form.id} + '/edit'"
                               th:if="${user?.hasPermission('form:manage')}">Edit</a>

                            <a class="btn-create btn btn-primary btn-sm" href="/forms/create"
                               th:if="${user?.hasPermission('form:manage')}">
                                Create New Form
                            </a>

                            <a class="btn-delete btn btn-danger btn-sm"
                               onclick="return confirm('Are you sure you want to delete the form?')"
                               th:href="'/forms/' + ${form.id} + '/delete'"
                               th:if="${user?.hasPermission('form:delete')}">Delete</a>
                        </div>
                    </div>

                    <div th:replace="~{__components/layout :: error-message(${error})}"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="widget-body">
                    <div th:replace="~{__components/module :: tabs('main', true)}"></div>
                    <div th:replace="~{__components/module :: tabs-content('main', true, ${form}, ${module})}"></div>
                    <table class="table hidden" id="tab-details-content">
                        <tr>
                            <td width="20%"><b>Name</b></td>
                            <td th:text="${form.name}">NAME</td>
                        </tr>
                        <tr>
                            <td><b>Active</b></td>
                            <td>
                                <span th:if="${form.active}">Yes</span>
                                <span th:if="!${form.active}">No</span>
                            </td>
                        </tr>
                        <tr th:if="${form.description}">
                            <td><b>Description</b></td>
                            <td th:text="${form.description}">DESCRIPTION</td>
                        </tr>

                        <tr>
                            <td><b>Created</b></td>
                            <td>
                                <span th:text="${form.createdAtText}">DATE</span>
                                <span th:if="${form.createdBy}">by</span>
                                <span th:if="${form.createdBy}"
                                      th:text="${form.createdBy.displayName}">MODIFIED BY</span>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Modified</b></td>
                            <td>
                                <span th:text="${form.modifiedAtText}">DATE</span>
                                <span th:if="${form.modifiedBy}">by</span>
                                <span th:if="${form.modifiedBy}"
                                      th:text="${form.modifiedBy.displayName}">MODIFIED BY</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="~{__components/bootstrap :: toast(${toast})}"></div>
<div th:replace="~{__components/bootstrap :: modal}"></div>
</body>
</html>
