<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="settings-container">
    <div class="settings-sidebar">
        <div th:replace="~{__components/settings :: settings-menu('account')}"></div>
    </div>
    <div class="settings-content">
        <div
            th:replace="~{__components/settings :: settings-title('Acccount Attributes', '/settings/accounts/attributes')}"></div>

        <form action="/settings/accounts/attributes/import" class="form" enctype="multipart/form-data" method="post">
            <div th:replace="~{__components/layout :: error-message(${error})}"></div>
            <div th:replace="~{__components/layout :: import-response(${response})}"></div>

            <table class="table">
                <tr>
                    <td colspan="2">
                        Import the account attributes from a CSV file.<br/>
                        Learn more about the format of the file <a href="#">here</a>.
                    </td>
                </tr>
                <tr>
                    <td width="20%"><b>File<span class="required">*</span></b></td>
                    <td>
                        <input name="file" required type="file"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">Submit</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

</body>
</html>
