<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('product')}"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/product :: product-breadcrumb(${product})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body product-summary">
                    <div class="flex flex-space-between">
                        <h1 class="entity-title">
                            <img align="absmiddle" src="/image/product.png"/>
                            <span th:text="${product.name}">NAME</span>
                        </h1>
                        <div>
                            <a class="btn-edit btn btn-light btn-sm"
                               th:href="'/products/' + ${product.id} + '/edit'"
                               th:if="${user?.hasPermission('product:manage')}">Edit</a>

                            <a class="btn-delete btn btn-danger btn-sm"
                               onclick="return confirm('Are you sure you want to delete the product?')"
                               th:href="'/products/' + ${product.id} + '/delete'"
                               th:if="${user?.hasPermission('product:delete')}">Delete</a>
                        </div>
                    </div>

                    <div class="flex">
                        <div class="margin-right-2x" th:if="${product.code}">
                            <b>Code</b><br/>
                            <span th:text="${product.code}">CODE</span>
                        </div>
                        <div class="margin-right-2x">
                            <b>Type</b><br/>
                            <span th:text="#{'product-type.' + ${product.type}}">TYPE</span>
                        </div>
                    </div>
                    <div th:replace="~{__components/layout :: error-message(${error})}"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="widget-body">
                    <ul class="nav nav-pills mb-3" id="tab-main" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button aria-controls="pills-content" aria-selected="true" class="nav-link active"
                                    data-bs-target="#pills-details" data-bs-toggle="pill" id="pills-details-tab"
                                    role="tab" type="button">
                                Details
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button aria-controls="pills-content" aria-selected="true" class="nav-link"
                                    data-bs-target="#pills-price" data-bs-toggle="pill" id="pills-price-tab"
                                    role="tab" type="button">
                                Prices
                            </button>
                        </li>
                        <li class="nav-item" role="presentation" th:each="tab : ${page.tabs.get('main')}">
                            <button aria-selected="false" class="nav-link" data-bs-toggle="pill" role="tab"
                                    th:aria-controls="'pills-' + ${tab.name}"
                                    th:data-bs-target="'#pills-' + ${tab.name}"
                                    th:id="'pills-' + ${tab.name} + '-tab'"
                                    th:text="${tab.title}"
                                    type="button">
                                TAB
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="tab-main-content">
                        <div aria-labelledby="pills-details-tab" class="tab-pane fade show active" id="pills-details"
                             role="tabpanel">
                            <table class="table" id="tab-details-content">
                                <tr th:if="${product.code}">
                                    <td><b>Code</b></td>
                                    <td th:text="${product.code}">CODE</td>
                                </tr>
                                <tr>
                                    <td width="20%"><b>Name</b></td>
                                    <td th:text="${product.name}">NAME</td>
                                </tr>
                                <tr>
                                    <td><b>Type</b></td>
                                    <td th:text="#{'product-type.' + ${product.type}}">TYPE</td>
                                </tr>
                                <tr th:if="${product.description}">
                                    <td><b>Description</b></td>
                                    <td th:text="${product.description}">DESCRIPTION</td>
                                </tr>
                                <tr>
                                    <td><b>Active</b></td>
                                    <td>
                                        <span th:if="${product.active}">Yes</span>
                                        <span th:if="!${product.active}">No</span>
                                    </td>
                                </tr>

                                <tr th:if="${product.serviceDetails}">
                                    <td colspan="2"></td>
                                </tr>
                                <tr th:if="${product.serviceDetails?.unit}">
                                    <td><b>Unit</b></td>
                                    <td th:text="${product.serviceDetails?.unit?.name}">UNIT</td>
                                </tr>
                                <tr th:if="${product.serviceDetails?.quantity}">
                                    <td><b>Quantity</b></td>
                                    <td th:text="${product.serviceDetails?.quantity}">QUANTITY</td>
                                </tr>

                                <tr>
                                    <td colspan="2"></td>
                                </tr>
                                <tr>
                                    <td><b>Created</b></td>
                                    <td>
                                        <span th:text="${product.createdAtText}">DATE</span>
                                        <span th:if="${product.createdBy}">by</span>
                                        <span th:if="${product.createdBy}" th:text="${product.createdBy.displayName}">MODIFIED BY</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>Modified</b></td>
                                    <td>
                                        <span th:text="${product.modifiedAtText}">DATE</span>
                                        <span th:if="${product.modifiedBy}">by</span>
                                        <span th:if="${product.modifiedBy}" th:text="${product.modifiedBy.displayName}">MODIFIED BY</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div aria-labelledby="pills-price-tab" class="tab-pane fade" id="pills-price" role="tabpanel"
                             th:data-url="'/prices/tab?product-id=' + ${product.id}">
                        </div>
                        <div class="tab-pane fade" role="tabpanel"
                             th:aria-labelledby="'pills-' + ${tab.name} + '-tab'"
                             th:data-url="${tab.toTabUrl(product.id, module)}"
                             th:each="tab : ${page.tabs.get('main')}"
                             th:id="'pills-' + ${tab.name}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="~{__components/bootstrap :: toast(${toast})}"></div>
<div th:replace="~{__components/bootstrap :: modal}"></div>
</body>
</html>
