<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">

<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div id="main-container">
    <div id="room-list-container">
        <div id="room-list-header">
            <h1><span th:text="${location.name}">YYYY</span> Rentals</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <span>&#x2022;</span>
                    <a th:href="${city.url}" th:if="${neighborhood}" th:text="${city.name}">CITY</a>
                    <span th:if="!${neighborhood}" th:text="${city.name}">CITY</span>
                </li>
                <li th:if="${neighborhood}">
                    <span>&#x2022;</span>
                    <span th:text="${neighborhood.name}">CITY</span>
                </li>
            </ul>
        </div>
        <div id="room-list-container-inner">
            <div class="room-list-empty" th:if="${rooms.isEmpty()}">
                <div>
                    No property found in <span th:text="${location.name}">LOCATION</span>
                </div>
                <div class="popular-locations" th:if="!${popularLocations.isEmpty()}">
                    <hr/>
                    We recommend you the following searches instead:
                    <ul>
                        <li th:each="loc : ${popularLocations}">
                            <a th:href="${loc.url}">
                                <b th:text="${loc.name}">LOCATION</b> Rentals
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div th:if="!${rooms.isEmpty()}" th:remove="tag">
                <a class="room" target="_blank" th:each="room : ${rooms}" th:href="${room.url}"
                   th:title="${room.title}">
                    <div th:replace="~{__components/room :: card(${room})}"></div>
                </a>
                <div id="room-load-more" th:if="${moreUrl}">
                    <div class="text-center">
                        <button
                            class="btn btn-sm btn-light"
                            data-component-id='load-more'
                            data-container-id="room-load-more"
                            data-on-ready="on_load_more"
                            th:data-url="${moreUrl}"
                        >
                            Load more...
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="map-container">
        <div data-component-id="map"
             data-show-marker="false"
             id="map"
             th:data-city-id="${city.id}"
             th:data-latitude="${latitude}"
             th:data-longitude="${longitude}"
             th:data-on-ready="on_map_ready"
             th:data-zoom="${zoom}"
        >
        </div>
    </div>

    <div id="view-switcher" th:if="!${rooms.isEmpty()}">
        <ul>
            <li id="view-switcher-map">
                <a href="#" role="button">
                    <i class="fa-regular fa-map"></i>
                    View Map
                </a>
            </li>
            <li class="hidden" id="view-switcher-list">
                <a href="#" role="button">
                    <i class="fa-solid fa-list"></i>
                    View List
                </a>
            </li>
        </ul>
    </div>
</div>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script th:src="${page.assetUrl} + '/js/koki-map.js'"></script>
<script th:src="${page.assetUrl} + '/js/koki-load-more.js'"></script>
<script th:src="${page.assetUrl} + '/js/page/location.js'"></script>

<script>
    function on_map_ready(id, map) {
        kokiLocationPage.on_map_ready(id, map);
    }

    function on_load_more() {
        kokiLocationPage.on_load_more();
    }
</script>

<link rel="stylesheet" th:href="${page.assetUrl} + '/css/page/location.css'"/>
<link href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" rel="stylesheet"/>
</body>
</html>
