<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">

<head>
    <div th:replace="~{__components/layout :: head}"></div>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script th:src="${page.assetUrl} + '/js/koki-map.js'"></script>
    <script th:src="${page.assetUrl} + '/js/koki-load-more.js'"></script>
    <script th:src="${page.assetUrl} + '/js/page/location.js'"></script>

    <link rel="stylesheet" th:href="${page.assetUrl} + '/css/page/location.css'"/>
    <link href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" rel="stylesheet"/>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div id="main-container">
    <div id="room-list-container">
        <div id="room-list-header">
            <div class="flex flex-space-between">
                <h1 th:text="#{page.location.section.listings.title(${location.name})}">Laval Rentals</h1>
                <button class="btn btn-primary btn-sm" data-bs-target="#filter-modal" data-bs-toggle="modal"
                        id="btn-filter"
                        th:text="#{page.location.section.filter.cta-filter}">
                    Filter
                </button>
            </div>
            <ul class="breadcrumb">
                <li>
                    <a href="/" th:text="#{navigation.home}">Home</a>
                </li>
                <li>
                    <span>&#x2022;</span>
                    <a th:href="${city.url}" th:if="${neighborhood}" th:text="${city.name}">CITY</a>
                    <span th:if="!${neighborhood}" th:text="${city.name}">CITY</span>
                </li>
                <li th:if="${neighborhood}">
                    <span>&#x2022;</span>
                    <span th:text="${neighborhood.name}">CITY</span>
                </li>
            </ul>
        </div>
        <div id="filter-container" th:if="${searchForm}">
            <div class="badge text-bg-info" data-bs-target="#filter-modal" data-bs-toggle="modal"
                 th:id="'filter-badge-' + ${searchForm.roomType}"
                 th:if="${searchForm.roomType}"
            >
                <span th:text="#{'room-type.' + ${searchForm.roomType}}">ROOM_TYPE</span>
                <span class="btn-close margin-left-small"></span>
            </div>

            <div class="badge text-bg-info" data-bs-target="#filter-modal" data-bs-toggle="modal"
                 th:id="'filter-badge-bedroom-' + ${searchForm.bedrooms}"
                 th:if="${searchForm.bedrooms}">
                <span th:text="#{page.location.section.filter.bedroom(${searchForm.bedrooms})}">ROOMS</span>
                <span class="btn-close margin-left-small"></span>
            </div>

            <div class="badge text-bg-info" data-bs-target="#filter-modal" data-bs-toggle="modal"
                 th:id="'filter-badge-' + ${searchForm.leaseType}"
                 th:if="${searchForm.leaseType}">
                <span th:text="#{'lease-type.' + ${searchForm.leaseType}}">LEASE</span>
                <span class="btn-close margin-left-small"></span>
            </div>

            <div class="badge text-bg-info" data-bs-target="#filter-modal" data-bs-toggle="modal"
                 th:id="'filter-badge-' + ${searchForm.furnishedType}"
                 th:if="${searchForm.furnishedType}">
                <span th:text="#{'furnished-type.' + ${searchForm.furnishedType}}">FURNISED</span>
                <span class="btn-close margin-left-small"></span>
            </div>
        </div>
        <div id="room-list-container-inner">
            <div class="room-list-empty" th:if="${rooms.isEmpty()}">
                <div th:text="#{page.location.section.not-found.title(${location.name})}">
                    No property found in Laval
                </div>
                <div class="popular-locations" th:if="!${popularLocations.isEmpty()}">
                    <hr/>
                    <span th:text="#{page.location.section.not-found.alternate-searches}">
                        We recommend you the following searches instead:
                    </span>
                    <ul>
                        <li th:each="loc : ${popularLocations}">
                            <a th:href="${loc.url}"
                               th:text="#{page.location.section.not-found.alternate-searches.for-rent(${loc.name})}">
                                Laval Rentals
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div th:if="!${rooms.isEmpty()}" th:remove="tag">
                <a class="room" target="_blank" th:each="room : ${rooms}" th:href="${room.url}"
                   th:title="${room.title}">
                    <div th:replace="~{__components/room :: card(${room})}"></div>
                </a>
                <div id="room-load-more" th:if="${moreUrl}">
                    <div class="text-center">
                        <button
                            class="btn btn-sm btn-light"
                            data-component-id='load-more'
                            data-container-id="room-load-more"
                            data-on-ready="on_load_more"
                            th:data-url="${moreUrl}"
                            th:text="#{button.load_more}"
                        >
                            Load more...
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="map-container">
        <div data-component-id="map"
             data-show-marker="false"
             id="map"
             th:data-city-id="${city.id}"
             th:data-latitude="${latitude}"
             th:data-longitude="${longitude}"
             th:data-on-ready="on_map_ready"
             th:data-zoom="${zoom}"
        >
        </div>
    </div>

    <div id="view-switcher" th:if="!${rooms.isEmpty()}">
        <ul>
            <li id="view-switcher-map">
                <a href="#" role="button">
                    <i class="fa-regular fa-map"></i>
                    <span th:text="#{page.location.section.view.map}">Map</span>
                </a>
            </li>
            <li class="hidden" id="view-switcher-list">
                <a href="#" role="button">
                    <i class="fa-solid fa-list"></i>
                    <span th:text="#{page.location.section.view.list}">List</span>
                </a>
            </li>
            <li id="view-switcher-filter">
                <a data-bs-target="#filter-modal" data-bs-toggle="modal" href="#" role="button">
                    <i class="fa-solid fa-filter"></i>
                    <span th:text="#{page.location.section.view.filter}">Filter</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="fileter-modal-label" class="modal fade" id="filter-modal" tabindex="-1">
    <form id="frm-filter" method="GET" th:action="${location.url}">
        <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="title">Type of Property</div>
                        <div class="btn-group" role="group">
                            <input autocomplete="off" checked class="btn-check" id="room-type-any" name="room-type"
                                   th:checked="!${searchForm?.roomType}" type="radio"
                                   value="">
                            <label class="btn btn-outline-primary" for="room-type-any"
                                   id="room-type-any-label" th:text="#{page.location.section.filter.any}">Any</label>

                            <input autocomplete="off" class="btn-check" id="room-type-apartment" name="room-type"
                                   th:checked="${searchForm?.roomType == 'APARTMENT'}" type="radio"
                                   value="APARTMENT">
                            <label class="btn btn-outline-primary" for="room-type-apartment"
                                   id="room-type-apartment-label">Appartment</label>

                            <input autocomplete="off" class="btn-check" id="room-type-house" name="room-type"
                                   th:checked="${searchForm?.roomType == 'HOUSE'}" type="radio"
                                   value="HOUSE">
                            <label class="btn btn-outline-primary" for="room-type-house" id="room-type-house-label">House</label>

                            <input autocomplete="off" class="btn-check" id="room-type-room" name="room-type"
                                   th:checked="${searchForm?.roomType == 'ROOM'}" type="radio"
                                   value="ROOM">
                            <label class="btn btn-outline-primary" for="room-type-room"
                                   id="room-type-room-label">Room</label>
                        </div>
                    </div>
                    <div class="margin-top">
                        <div class="title">Bedrooms</div>
                        <div class="btn-group" role="group">
                            <input autocomplete="off" class="btn-check" id="bedrooms-any" name="bedrooms"
                                   th:checked="!${searchForm?.bedrooms}" type="radio"
                                   value="-1">
                            <label class="btn btn-outline-primary" for="bedrooms-any" id="bedrooms-any-label"
                                   th:text="#{page.location.section.filter.any}">Any</label>

                            <input autocomplete="off" class="btn-check" id="bedrooms-1" name="bedrooms"
                                   th:checked="${searchForm?.bedrooms == 1}" type="radio"
                                   value="1">
                            <label class="btn btn-outline-primary" for="bedrooms-1" id="bedrooms-1-label">1</label>

                            <input autocomplete="off" class="btn-check" id="bedrooms-2" name="bedrooms"
                                   th:checked="${searchForm?.bedrooms == 2}" type="radio"
                                   value="2">
                            <label class="btn btn-outline-primary" for="bedrooms-2" id="bedrooms-2-label">2</label>

                            <input autocomplete="off" class="btn-check" id="bedrooms-3" name="bedrooms"
                                   th:checked="${searchForm?.bedrooms == 3}" type="radio"
                                   value="3">
                            <label class="btn btn-outline-primary" for="bedrooms-3" id="bedrooms-3-label">3</label>

                            <input autocomplete="off" class="btn-check" id="bedrooms-4" name="bedrooms"
                                   th:checked="${searchForm?.bedrooms == 4}" type="radio"
                                   value="4">
                            <label class="btn btn-outline-primary" for="bedrooms-4" id="bedrooms-4-label">4</label>

                            <input autocomplete="off" class="btn-check" id="bedrooms-5" name="bedrooms"
                                   th:checked="${searchForm?.bedrooms == 5}" type="radio"
                                   value="5">
                            <label class="btn btn-outline-primary" for="bedrooms-5" id="bedrooms-5-label">5+</label>
                        </div>
                    </div>
                    <div class="margin-top">
                        <div class="title">Lease Type</div>
                        <div class="btn-group" role="group">
                            <input autocomplete="off" class="btn-check" id="lease-type-any" name="lease-type"
                                   th:checked="!${searchForm?.leaseType}" type="radio"
                                   value="">
                            <label class="btn btn-outline-primary" for="lease-type-any" id="lease-type-any-label"
                                   th:text="#{page.location.section.filter.any}">Any</label>

                            <input autocomplete="off" class="btn-check" id="lease-type-short" name="lease-type"
                                   th:checked="${searchForm?.leaseType == 'SHORT_TERM'}" type="radio"
                                   value="SHORT_TERM">
                            <label class="btn btn-outline-primary" for="lease-type-short" id="lease-type-short-label"
                                   th:text="#{lease-type.SHORT_TERM}">Short Term</label>

                            <input autocomplete="off" class="btn-check" id="lease-type-long" name="lease-type"
                                   th:checked="${searchForm?.leaseType == 'LONG_TERM'}" type="radio"
                                   value="LONG_TERM">
                            <label class="btn btn-outline-primary" for="lease-type-long" id="lease-type-long-label"
                                   th:text="#{lease-type.LONG_TERM}">Long Term</label>
                        </div>
                    </div>
                    <div class="margin-top">
                        <div class="title">Supplies</div>
                        <div class="btn-group" role="group">
                            <input autocomplete="off" checked class="btn-check" id="furnished-type-any"
                                   name="furnished-type"
                                   th:checked="!${searchForm?.furnishedType}" type="radio"
                                   value="">
                            <label class="btn btn-outline-primary" for="furnished-type-any"
                                   id="furnished-type-any-label"
                                   th:text="#{page.location.section.filter.any}">Any</label>

                            <input autocomplete="off" class="btn-check" id="furnished-type-none" name="furnished-type"
                                   th:checked="${searchForm?.furnishedType == 'NONE'}" type="radio"
                                   value="NONE"
                            >
                            <label class="btn btn-outline-primary" for="furnished-type-none"
                                   id="furnished-type-none-label"
                                   th:text="#{furnished-type.NONE}">Not Furnished</label>

                            <input autocomplete="off" class="btn-check" id="furnished-type-fully" name="furnished-type"
                                   th:checked="${searchForm?.furnishedType == 'FULLY_FURNISHED'}" type="radio"
                                   value="FULLY_FURNISHED">
                            <label class="btn btn-outline-primary" for="furnished-type-fully"
                                   id="furnished-type-fully-label"
                                   th:text="#{furnished-type.FULLY_FURNISHED}">Fully Furnished</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="btn-apply-filter"
                            th:text="#{page.location.section.filter.cta-apply}"
                            type="submit">
                        Apply Filter
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    function on_map_ready(id, map) {
        kokiLocationPage.on_map_ready(id, map);
    }

    function on_load_more() {
        kokiLocationPage.on_load_more();
    }
</script>
</body>
</html>
