<a class="room" target="_blank" th:each="room : ${rooms}" th:href="${room.url}" th:title="${room.title}">
    <div th:replace="~{__components/room :: card(${room})}"></div>
</a>
<div id="room-load-more" th:if="${moreUrl}">
    <div class="text-center">
        <button
            class="btn btn-sm btn-light"
            data-component-id='load-more'
            data-container-id="room-load-more"
            data-on-ready="on_load_more"
            th:data-url="${moreUrl}"
            th:text="#{button.load_more}"
        >
            Load more...
        </button>
    </div>
</div>
<div id="track-room-ids" th:data-room-ids="${roomIds}">&nbsp;</div>
