<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">

<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<!-- images -->
<div class="hero-image-container">
    <div class="hero-1">
        <a data-bs-target="#room-images-modal" data-bs-toggle="modal" href="#" role="button">
            <img th:src="${room.heroImage.contentUrl}"/>
        </a>
    </div>
    <div class="hero-2">
        <div class="hero-21">
            <div th:each="img : ${heroImages21}">
                <a data-bs-target="#room-images-modal" data-bs-toggle="modal" href="#" role="button">
                    <img th:src="${img.contentUrl}"/>
                </a>
            </div>
        </div>
        <div class="hero-22">
            <div th:each="img : ${heroImages22}">
                <a data-bs-target="#room-images-modal" data-bs-toggle="modal" href="#" role="button">
                    <img th:src="${img.contentUrl}"/>
                </a>
            </div>
        </div>
    </div>
</div>
<button class="image-counter" data-bs-target="#room-images-modal" data-bs-toggle="modal" id="btn-images">
    <i class="fa-solid fa-grip"></i>
    Show all <span th:text="${room.images.size()}">00</span> photos
</button>
<div aria-hidden="true" aria-labelledby="room-images-modal-label" class="modal fade"
     id="room-images-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="room-images-modal-label">Photos</h1>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body padding">
                <div class="padding text-center" th:each="img : ${room.images}">
                    <div>
                        <img loading="lazy" th:alt="${img.title}" th:src="${img.contentUrl}" th:title="${img.title}"/>
                    </div>
                    <div th:if="${img.title}" th:text="${img.title}">TITLE</DIV>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Infos -->
<div class="room-info">
    <!-- infos -->
    <div class="room-info-details">
        <ul class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <span>&#x2022;</span>
                <a class="lnk-city"
                   th:href="${room.address.city.url}"
                   th:if="${room.neighborhood}"
                   th:text="${room.address.city.name}"
                >
                    CITY
                </a>
                <span th:if="!${room.neighborhood}" th:text="${room.address.city.name}">CITY</span>
            </li>
            <li th:if="${room.neighborhood}">
                <span>&#x2022;</span>
                <a class="lnk-neighborhood"
                   th:href="${room.neighborhood.url}"
                   th:text="${room.neighborhood.name}"
                >
                    NEIGHBORHOOD
                </a>
            </li>
        </ul>

        <h1 id="room-title" th:if="${room.title}" th:text="${room.title}">TITLE</h1>
        <ul class="breadcrumb">
            <li>
                <span th:text="${room.numberOfRooms}">00</span> bedrooms
            </li>
            <li>
                <span>&#x2022;</span>
                <span th:text="${room.numberOfBathrooms}">00</span> baths
            </li>
            <li th:if="${room.numberOfBeds > 0}">
                <span>&#x2022;</span>
                <span th:text="${room.numberOfBeds}">00</span> beds
            </li>
            <li th:if="${room.area > 0}">
                <span>&#x2022;</span>
                <span th:text="${room.area}">00</span> m<sup>2</sup>
            </li>
        </ul>

        <!-- Description -->
        <div class="margin-top border-top padding-top description-container" th:if="${room.description}">
            <div id="room-summary" th:utext="${room.summary}">SUMMARY</div>
            <button class="btn btn-secondary margin-top" data-bs-target="#room-description-modal" data-bs-toggle="modal"
                    id="btn-description">
                Show More
            </button>

            <div aria-hidden="true" aria-labelledby="room-description-modal-label" class="modal fade"
                 id="room-description-modal" tabindex="-1">
                <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="room-description-modal-label">About this space</h1>
                            <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                    type="button"></button>
                        </div>
                        <div class="modal-body padding-2x" th:utext="${room.descriptionHtml}">DESCRIPTION</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Amenities -->
        <div class="margin-top border-top padding-top amenity-container">
            <h2>Features &amp; Amenities</h2>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6" th:if="${room.furnishedType.name() == 'FULLY_FURNISHED'}">
                        <i class="fa-solid fa-couch"></i>
                        <span>Fully Furnished</span>
                    </div>
                    <div class="col-6" th:if="${room.furnishedType.name() == 'SEMI_FURNISHED'}">
                        <i class="fa-solid fa-chair"></i>
                        <span>Semi Furnished</span>
                    </div>

                    <div class="col-6" th:each="amenity:${topAmenities}">
                        <i th:class="${amenity.icon}" th:if="${amenity.icon}"></i>
                        <span th:text="${amenity.name}">AMENITY</span>
                    </div>
                </div>
            </div>
            <button class="btn btn-secondary margin-top" data-bs-target="#room-amenities-modal" data-bs-toggle="modal"
                    id="btn-amenities"
                    th:if="!${room.amenities.isEmpty()} AND ${topAmenities.size() < room.amenities.size()}">
                Show all <span th:text="${room.amenities.size()}"></span> amenities
            </button>

            <div aria-hidden="true" aria-labelledby="room-amenities-modal-label" class="modal fade"
                 id="room-amenities-modal" tabindex="-1">
                <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="room-amenities-modal-label">What this place offers</h1>
                            <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                    type="button"></button>
                        </div>
                        <div class="modal-body padding-2x">
                            <div class="row">
                                <div class="col-md-6 col-12" th:each="category : ${categories}">
                                    <h3 th:text="${category.name}">CATEGORY</h3>
                                    <ul>
                                        <li class="amenity"
                                            th:each="amenity:${room.amenitiesByCategoryId(category.id)}"
                                            th:id="'amenity-' + ${amenity.id}"
                                            th:text="${amenity.name}">
                                            AMENITY
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Neighborhood -->
        <div class="margin-top border-top padding-top map-container">
            <h2>Map &amp; Neighborhood</h2>
            <ul class="breadcrumb">
                <li>
                    <span th:text="${room.address.countryName}">COUNTRY</span>
                </li>
                <li>
                    <span th:if="${room.neighborhood}">&#x2022;</span>
                    <a class="lnk-city"
                       th:href="${room.address.city.url}"
                       th:text="${room.address.city.name}"
                    >
                        CITY
                    </a>
                </li>
                <li>
                    <span>&#x2022;</span>
                    <a class="lnk-neighborhood"
                       th:href="${room.neighborhood.url}"
                       th:if="${room.neighborhood}"
                       th:text="${room.neighborhood.name}"
                    >
                        NEIGHBORHOOD
                    </a>
                </li>
            </ul>
            <div class="margin-top"
                 data-component-id="map"
                 data-disable-scroll-wheel-zoom="true"
                 data-disable-touch-zoom="true"
                 id="room-map"
                 th:data-latitude="${room.latitude}"
                 th:data-longitude="${room.longitude}"
                 th:data-show-marker="true"
                 th:data-zoom="18"
                 th:if="${room.hasGeoLocation}"
            >
            </div>
        </div>

        <!-- Terms & Conditions -->
        <div class="margin-top border-top padding-small terms-container">
            <h2>Terms &amp; Condition</h2>
            <ul>
                <li th:if="${room.leaseTermDuration} OR ${room.leaseTermNegotiable}">
                    <b>Lease Term:</b>
                    <div
                        th:replace="~{__components/room :: lease-term(${room.leaseTermDuration}, ${room.leaseTerm.name()})}">
                    </div>
                </li>
                <li th:if="${room.advanceRent}">
                    <b>Advance Rent:</b>
                    <span th:text="${room.advanceRent}">00</span>
                    <span>month(s)</span>
                </li>
                <li th:if="${room.dateOfAvailability}">
                    <b>Availability Date:</b> <span th:text="${room.dateOfAvailabilityText}">yyyy-mm-dd</span>
                </li>
                <li th:if="${room.checkinTime}">
                    <b>Checkin Time:</b> <span th:text="${room.checkinTime}">00:00</span>
                </li>
                <li th:if="${room.checkoutTime}">
                    <b>Checkout Time:</b> <span th:text="${room.checkoutTime}">00:00</span>
                </li>
                <li th:if="${room.yearOfConstruction}">
                    <b>Construction Year:</b> <span th:text="${room.yearOfConstruction}">yyyy</span>
                </li>
                <li th:if="${room.visitFees}">
                    <b>Visit Fees:</b> <span th:text="${room.visitFees}">$$</span>
                </li>
            </ul>
        </div>
    </div>

    <!-- Contact -->
    <div class="room-contact-details">
        <div class="room-contact-details-inner">
            <div id="room-price">
                <h3 th:text="${room.account.name}">ACCOUNT</h3>
                <div th:if="${room.pricePerMonth}">
                    <div class="text-x-large text-primary" th:text="${room.pricePerMonth}">$$$$</div>
                    <div class="text-small">per month</div>
                </div>
                <div th:if="!${room.pricePerMonth} AND ${room.pricePerNight}">
                    <div class="text-x-large text-primary" th:text="${room.pricePerNight}">$$$$</div>
                    <div class="text-small">per night</div>
                </div>
            </div>
            <div>
                <button class="btn btn-primary" data-bs-target="#room-message-modal" data-bs-toggle="modal"
                        id="btn-contact-us">
                    Send a Message
                </button>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="room-message-modal-label" class="modal fade"
     id="room-message-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="room-message-modal-label">Send a Message</h1>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body padding-2x">
                <form id="frm-send" method="POST" th:action="@{/rooms/send}"
                      th:object="${form}">
                    <input th:field="*{roomId}" type="hidden"/>
                    <div class="form-group">
                        <input class="form-control" placeholder="Name" required th:field="*{name}"/>
                    </div>
                    <div class="form-group margin-top">
                        <input class="form-control" placeholder="Email" required th:field="*{email}" type="email"/>
                    </div>
                    <div class="form-group margin-top">
                        <input class="form-control"
                               th:data-country="${geoip.countryCode}"
                               th:field="*{phone}"
                               type="tel"/>
                    </div>
                    <div class="form-group margin-top">
                        <textarea class="form-control" placeholder="Message" required rows="3"
                                  th:data-body="#{page.room.contact-us}"
                                  th:field="*{body}">
                        </textarea>
                    </div>
                    <div class="form-group margin-top">
                        <button class="btn btn-primary" id="btn-send" type="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/intl-tel-input@25.3.1/build/js/intlTelInput.min.js"></script>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script th:src="${page.assetUrl} + '/js/koki-map.js'"></script>
<script th:src="${page.assetUrl} + '/js/koki-intl-tel.js'"></script>
<script th:src="${page.assetUrl} + '/js/room.js'"></script>

<link href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" rel="stylesheet"/>
<link href="https://cdn.jsdelivr.net/npm/intl-tel-input@25.3.1/build/css/intlTelInput.css" rel="stylesheet">
<link rel="stylesheet" th:href="${page.assetUrl} + '/css/rooms.css'"/>
<script th:inline="javascript">
    document.addEventListener(
        'DOMContentLoaded',
        function () {
            track('VIEW', /*[[${room.id}]]*/'0');
        },
        false
    );
</script>
</body>
</html>

