<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="settings-container">
    <div class="settings-sidebar">
        <div th:replace="~{__components/settings :: settings-menu('payment')}"></div>
    </div>
    <div class="settings-content">
        <div
            th:replace="~{__components/settings :: settings-title('Configure Cash Payments', '/settings/payments')}"></div>

        <div th:replace="~{__components/layout :: error-message(${error})}"></div>

        <form class="form" method="post" onsubmit="on_submit()"
              th:action="@{/settings/payments/cash/save}"
              th:object="${form}">

            <table class="table">
                <tr>
                    <td><b>Payment Instructions</b></td>
                    <td>
                        <textarea maxlength="1000" rows="10" th:field="*{instructions}"></textarea>
                        <div class="text-small">
                            Instructions to send to customers to help them to make payments in cash.
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button id="btn-submit" type="submit">Save</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<script>
    function on_submit() {
        document.getElementById('btn-submit').disabled = true;
        return true
    }
</script>

</body>
</html>
