<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="settings-container">
    <div class="settings-sidebar">
        <div th:replace="~{__components/settings :: settings-menu('payment')}"></div>
    </div>
    <div class="settings-content">
        <div
            th:replace="~{__components/settings :: settings-title('Configure Credit Card Payments', '/settings/payments')}"></div>

        <div th:replace="~{__components/layout :: error-message(${error})}"></div>

        <form class="form" method="post" onsubmit="on_submit()"
              th:action="@{/settings/payments/credit-card/save}"
              th:object="${form}">

            <table class="table">
                <tr>
                    <td colspan="2">
                        <h4>Offline Payment</h4>
                    </td>
                </tr>
                <tr>
                    <td width="30%"><b>Accept offline payment?</b></td>
                    <td>
                        <select onchange="return koki_payments_offline_changed()" th:field="*{offline}">
                            <option value="false">No</option>
                            <option value="true">Yes</option>
                        </select>
                    </td>
                </tr>
                <tr class="offline" th:classappend="!${form.offline} ? 'hidden'">
                    <td><b>Phone Number</b></td>
                    <td>
                        <input th:field="*{offlinePhoneNumber}" th:required="${form.offline}" type="tel"/>
                        <div class="text-small">
                            Phone number to make credit-card payments via phone.
                        </div>
                    </td>
                </tr>
            </table>

            <table class="table">
                <tr>
                    <td colspan="2">
                        <h4 class="margin-top">Online Payment</h4>
                    </td>
                </tr>
                <tr>
                    <td width="30%"><b>Payment Gateway<span class="required">*</span></b></td>
                    <td>
                        <select onchange="return koki_payments_gateway_changed()" required th:field="*{gateway}">
                            <option value=""></option>
                            <option value="STRIPE">Stripe</option>
                        </select>
                    </td>
                </tr>
                <tr class="stripe" th:classappend="${form.gateway?.name} != 'STRIPE' ? 'hidden'">
                    <td><b>API Key <span class="required">*</span></b></td>
                    <td>
                        <input required th:field="*{stripeApiKey}"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button id="btn-submit" type="submit">Save</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<script>
    function on_submit() {
        document.getElementById('btn-submit').disabled = true;
        return true
    }

    function koki_payments_gateway_changed() {
        console.log('koki_payments_gateway_changed');

        const gateway = document.getElementById('gateway').value;
        const stripe = (gateway === 'STRIPE');
        document.querySelectorAll('.stripe').forEach((elt) => {
            if (stripe) {
                elt.classList.remove('hidden');
            } else {
                elt.classList.add('hidden');
            }
        });
    }

    function koki_payments_offline_changed() {
        console.log('koki_payments_offline_changed');

        const gateway = document.getElementById('offline').value;
        const offline = (gateway === 'yes');
        document.querySelectorAll('.offline').forEach((elt) => {
            if (!offline) {
                elt.classList.remove('hidden');
            } else {
                elt.classList.add('hidden');
            }
            document.getElementById('offlinePhoneNumber').required = offline;
        });
    }

</script>

</body>
</html>
