<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="settings-container">
    <div class="settings-sidebar">
        <div th:replace="~{__components/settings :: settings-menu('payment')}"></div>
    </div>
    <div class="settings-content padding">
        <div
            th:replace="~{__components/settings :: settings-title('Configure Paypal Payments', '/settings/payments')}"></div>

        <div th:replace="~{__components/layout :: error-message(${error})}"></div>

        <form class="form" method="post" onsubmit="on_submit()"
              th:action="@{/settings/payments/paypal/save}"
              th:object="${form}">

            <table class="table">
                <tr>
                    <td width="30%"><b>Client ID<span class="required">*</span></b></td>
                    <td>
                        <input required th:field="*{clientId}"/>
                    </td>
                </tr>
                <tr>
                    <td><b>Secret Key <span class="required">*</span></b></td>
                    <td>
                        <input required th:field="*{secretKey}"/>
                    </td>
                </tr>
            </table>
            <button type="submit">Save</button>

        </form>
    </div>
</div>

<script>
    function on_submit() {
        document.getElementById('#btn-submit').disabled = true;
        return true
    }
</script>

</body>
</html>
