<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="settings-container">
    <div class="settings-sidebar">
        <div th:replace="~{__components/settings :: settings-menu('payment')}"></div>
    </div>
    <div class="settings-content">
        <div
            th:replace="~{__components/settings :: settings-title('Payment', '/settings')}"></div>

        <table class="table table-striped border-light">
            <tr>
                <td colspan="4">
                    <h4>Payment Methods</h4>
                </td>
            </tr>

            <!-- CASH -->
            <tr>
                <td class="text-x-large" valign="top" width="1">
                    <div th:replace="~{__components/payment :: payment-method-icon('CASH')}"></div>
                </td>
                <td class="padding-right" valign="top">
                    <b class="text-larger margin-right">Cash</b>
                    <span th:replace="~{__components/settings :: enabled-badge(${form.cash})}"></span>
                </td>
                <td align="right">
                    <a class="btn btn-sm btn-light btn-cash-configure"
                       href="/settings/payments/cash"
                       th:if="${form.cash}">
                        Configure
                    </a>
                    <a class="btn btn-sm btn-primary btn-cash-enable"
                       href="/settings/payments/cash"
                       th:if="!${form.cash}">
                        Enable
                    </a>
                    <a class="btn btn-sm btn-danger btn-cash-disable"
                       href="/settings/payments/enable?status=false&type=CASH"
                       th:if="${form.cash}">
                        Disable
                    </a>
                </td>
            </tr>

            <!-- CHECK -->
            <tr>
                <td class="text-x-large" valign="top" width="1">
                    <div th:replace="~{__components/payment :: payment-method-icon('CHECK')}"></div>
                </td>
                <td class="padding-right">
                    <b class="text-larger margin-right">Check</b>
                    <span th:replace="~{__components/settings :: enabled-badge(${form.check})}"></span>
                </td>
                <td align="right">
                    <a class="btn btn-sm btn-light btn-check-configure"
                       href="/settings/payments/check"
                       th:if="${form.check}">
                        Configure
                    </a>
                    <a class="btn btn-sm btn-primary btn-check-enable"
                       href="/settings/payments/check"
                       th:if="!${form.check}">
                        Enable
                    </a>
                    <a class="btn btn-sm btn-danger btn-check-disable"
                       href="/settings/payments/enable?status=false&type=CHECK"
                       th:if="${form.check}">
                        Disable
                    </a>
                </td>
            </tr>

            <!-- INTERAC -->
            <tr>
                <td class="text-x-large" valign="top" width="1">
                    <div th:replace="~{__components/payment :: payment-method-icon('INTERAC')}"></div>
                </td>
                <td class="padding-right">
                    <b class="text-larger margin-right">Interact</b>
                    <span th:replace="~{__components/settings :: enabled-badge(${form.interac})}"></span>
                </td>
                <td align="right">
                    <a class="btn btn-sm btn-light btn-interac-configure"
                       href="/settings/payments/interac"
                       th:if="${form.interac}">
                        Configure
                    </a>
                    <a class="btn btn-sm btn-primary btn-interac-enable"
                       href="/settings/payments/interac"
                       th:if="!${form.interac}">
                        Enable
                    </a>
                    <a class="btn btn-sm btn-danger btn-interac-disable"
                       href="/settings/payments/enable?status=false&type=INTERAC"
                       th:if="${form.interac}">
                        Disable
                    </a>
                </td>
            </tr>

            <!-- CREDIT CARD -->
            <tr>
                <td class="text-x-large" valign="top" width="1">
                    <div th:replace="~{__components/payment :: payment-method-icon('CREDIT_CARD')}"></div>
                </td>
                <td class="padding-right">
                    <div>
                        <b class="text-larger margin-right">Credit Card</b>
                        <span th:replace="~{__components/settings :: enabled-badge(${form.creditCard})}"></span>
                    </div>
                    <div th:if="${form.creditCard} AND ${form.creditCardGateway}">
                        <img height="24" src="/image/payment/stripe.png"
                             th:if="${form.creditCardGateway.name == 'STRIPE'}"/>
                    </div>
                </td>
                <td align="right">
                    <a class="btn btn-sm btn-light btn-credit-card-configure"
                       href="/settings/payments/credit-card"
                       th:if="${form.creditCard}">
                        Configure
                    </a>
                    <a class="btn btn-sm btn-primary btn-credit-card-enable"
                       href="/settings/payments/credit-card"
                       th:if="!${form.creditCard}">
                        Enable
                    </a>
                    <a class="btn btn-sm btn-danger btn-credit-card-disable"
                       href="/settings/payments/enable?status=false&type=CREDIT_CARD"
                       th:if="${form.creditCard}">
                        Disable
                    </a>
                </td>
            </tr>

            <!-- PAYPAL -->
            <tr th:if="${toggles.paypal}">
                <td class="text-x-large" valign="top" width="1">
                    <div th:replace="~{__components/payment :: payment-method-icon('PAYPAL')}"></div>
                </td>
                <td class="padding-right">
                    <b class="text-larger margin-right">PayPal</b>
                    <span th:replace="~{__components/settings :: enabled-badge(${form.paypal})}"></span>
                </td>
                <td align="right">
                    <a class="btn btn-sm btn-light btn-paypal-configure"
                       href="/settings/payments/paypal"
                       th:if="${form.paypal}">
                        Configure
                    </a>
                    <a class="btn btn-sm btn-primary btn-paypal-enable"
                       href="/settings/payments/paypal"
                       th:if="!${form.paypal}">
                        Enable
                    </a>
                    <a class="btn btn-sm btn-danger btn-paypal-disable"
                       href="/settings/payments/enable?status=false&type=PAYPAL"
                       th:if="${form.paypal}">
                        Disable
                    </a>
                </td>
            </tr>

            <!-- MOBILE -->
            <tr th:if="${toggles.mobileMoney}">
                <td class="text-x-large" valign="top" width="1">
                    <div th:replace="~{__components/payment :: payment-method-icon('MOBILE')}"></div>
                </td>
                <td class="padding-right">
                    <div>
                        <b class="text-larger margin-right">Mobile</b>
                        <span th:replace="~{__components/settings :: enabled-badge(${form.mobile})}"></span>
                    </div>
                    <div th:if="${form.mobile} AND ${form.mobileGateway}">
                        <img height="24" src="/image/payment/flutterwave.png"
                             th:if="${form.mobileGateway.name == 'FLUTTERWAVE'}"/>
                    </div>
                </td>
                <td align="right">
                    <a class="btn btn-sm btn-light btn-mobile-configure"
                       href="/settings/payments/mobile"
                       th:if="${form.mobile}">
                        Configure
                    </a>
                    <a class="btn btn-sm btn-primary btn-mobile-enable"
                       href="/settings/payments/mobile"
                       th:if="!${form.mobile}">
                        Enable
                    </a>
                    <a class="btn btn-sm btn-danger btn-mobile-disable"
                       href="/settings/payments/enable?status=false&type=MOBILE"
                       th:if="${form.mobile}">
                        Disable
                    </a>
                </td>
            </tr>
        </table>

        <p>&nbsp;</p>

        <table class="table table-striped border-light">
            <tr>
                <td colspan="3">
                    <h4 class="margin-none">Email Notifications</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <b class="margin-right">When a payment is received</b>
                        <span th:replace="~{__components/settings :: enabled-badge(${notification.enabled})}"></span>
                    </div>
                    <div class="text-small margin-left margin-top-small" th:if="${notification.subject}">
                        Subject: <span th:text="${notification.subject}">SUBJECT</span>
                    </div>
                </td>
                <td align="right">
                    <a class="btn btn-sm btn-light btn-notification"
                       href="/settings/payments/notifications"
                       th:if="${notification.enabled}">
                        Configure
                    </a>
                    <a class="btn btn-sm btn-primary btn-notification-enable"
                       href="/settings/payments/notifications/enable?status=true"
                       th:if="!${notification.enabled}">
                        Enable
                    </a>
                    <a class="btn btn-sm btn-danger btn-notification-disable"
                       href="/settings/payments/notifications/enable?status=false"
                       th:if="${notification.enabled}">
                        Disable
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>

<div th:replace="~{__components/bootstrap :: toast(${toast})}"></div>
</body>
</html>
