<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <h1 class="section-title text-center">
                <a href="/">
                    <img class="align-right" height="50" th:if="${tenant.logoUrl}" th:src="${tenant.logoUrl}"/>
                    <span th:if="!${tenant.logoUrl}" th:text="${tenant.name}"/>
                </a>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="form-body">
                <div class="section">
                    <div class="section-body text-center">
                        <h1 class="margin-none success">
                            <i class="fa-solid fa-circle-check"></i>
                        </h1>

                        <div th:utext="#{page.signup-done.message(${me.displayName})}">
                            MESSAGE
                        </div>
                        <div class="margin-top-2x padding">
                            <a class="btn btn-primary w-100" href="/" id="btn-next"
                               th:text="#{button.get-started}">
                                OK
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
