<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <h1 class="section-title text-center">
                <a href="/">
                    <img class="align-right" height="50" th:if="${tenant.logoUrl}" th:src="${tenant.logoUrl}"/>
                    <span th:if="!${tenant.logoUrl}" th:text="${tenant.name}"/>
                </a>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">

            <form class="form padding-bottom-8x" method="post" th:action="@{/signup}" th:object="${form}">
                <div class="form-body">
                    <div class="section">
                        <div class="section-body">
                            <div class="section-item text-center">
                                <h1 class="text-center" th:text="#{page.signup.title}">TITLE</h1>
                                <div class="text-center" th:text="#{page.signup.description}">DESCRIPTION</div>
                            </div>
                            <div class="section-item" th:if="${error}">
                                <div class="alert alert-danger" th:utext="${error}">ERROR</div>
                            </div>
                            <div class="section-item">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa-solid fa-id-badge"></i>
                                        </div>
                                    </div>
                                    <input class="form-control" maxlength="100" required th:field="*{name}"
                                           th:placeholder="#{page.signup.name}"/>
                                </div>
                            </div>
                            <div class="section-item">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa-solid fa-user"></i>
                                        </div>
                                    </div>
                                    <input class="form-control" required th:field="*{username}"
                                           th:placeholder="#{page.signup.username}"/>
                                </div>
                            </div>
                            <div class="section-item">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa-solid fa-lock"></i>
                                        </div>
                                    </div>
                                    <input class="form-control" minlength="8"
                                           pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                           required
                                           th:field="*{password}" th:placeholder="#{page.signup.password}"
                                           type="password"/>
                                    <div class="margin-top-small text-small" th:text="#{page.signup.password.help}">
                                        EMAIL_HELP
                                    </div>
                                </div>
                            </div>
                            <div class="section-item">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa-solid fa-lock"></i>
                                        </div>
                                    </div>
                                    <input class="form-control" id="confirm-password" required
                                           th:placeholder="#{page.signup.confirm-password}"
                                           type="password"/>
                                </div>
                            </div>
                            <div class="section-item text-center">
                                <button class="btn btn-primary w-100" id="btn-next" th:text="#{button.next}"
                                        type="submit">NEXT
                                </button>
                            </div>
                            <div class="section-item text-center text-small">
                                <div th:utext="#{page.signup.you-have-an-account}">SIGNUP</div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
</body>

<script th:inline="javascript">
    const newPassword = document.getElementById('password');
    const confirmPassword = document.getElementById('confirm-password');

    function validatePasswords() {
        if (newPassword.value !== confirmPassword.value) {
            confirmPassword.setCustomValidity(/*[[#{error.user.password-mismatch}]]*/ '');
        } else {
            confirmPassword.setCustomValidity('');
        }
    }

    // Attach the validation function to events
    newPassword.addEventListener('change', validatePasswords);
    confirmPassword.addEventListener('keyup', validatePasswords);
</script>
</html>
