<div class="widget files-widget">
    <div class="widget-header">
        <h3 class="widget-title">Files</h3>
    </div>
    <div class="widget-body">
        <table class="table table-striped" th:if="${files}">
            <tr th:if="${layout != 'small'}">
                <th>Name</th>
                <th>Size</th>
                <th>Date</th>
                <th>Created by</th>
            </tr>
            <tr class="file" th:each="file: ${files}">
                <td>
                    <a class="file" target="_new" th:alt="${file.name}" th:href="${file.url}"
                       th:text="${file.name}">FILE</a>
                </td>
                <td th:if="${layout != 'small'}" th:text="${file.contentLengthText}">SIZE</td>
                <td th:if="${layout != 'small'}" th:text="${file.createdAtText}">CREATED</td>
                <td th:if="${layout != 'small'}">
                    <span th:if="${file.createdBy}" th:text="${file.createdBy.displayName}">CREATED</span>
                </td>
            </tr>
        </table>

        <div class="text-center empty-message " th:if="!${files}">No file!</div>
    </div>
</div>
