<div class="widget files-widget">
    <div class="widget-header">
        <h3 class="widget-title">Files</h3>
    </div>
    <div class="widget-body">
        <table class="table table-striped" th:if="${files}">
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Date</th>
                <th>Created by</th>
            </tr>

            <tr class="file" th:each="file : ${files}">
                <td th:replace="~{__components/file :: columns(${file})}"></td>
            </tr>
            <tr th:replace="~{__components/file :: load-more(${moreUrl})}"></tr>
        </table>

        <div class="text-center empty-message " th:if="!${files}">No file!</div>
    </div>
</div>
