<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">

            <form class="form" method="post" th:action="@{/login/submit}" th:object="${form}">
                <div class="form-body">
                    <div class="section">
                        <div class="section-body">
                            <div class="section-item" th:if="${failed}">
                                <div class="alert alert-danger">
                                    Authentication failed!
                                </div>
                            </div>
                            <div class="section-item">
                                <label class="title">Email</label>
                                <input name="required" required th:field="*{email}" type="email"/>
                            </div>
                            <div class="section-item">
                                <label class="title">Password</label>
                                <input name="required" required th:field="*{password}" type="password"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-footer">
                    <button type="submit">Login</button>
                </div>
            </form>

        </div>
    </div>
</div>
</body>

</html>
