<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="container">
    <h1>
        <img align="absmiddle" height="48" src="/image/workflow.png" width="48"/>
        Workflows
    </h1>
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/workflow :: workflow-breadcrumb(null)}"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body">
                    <div class="widget-toolbar">
                        <a class="btn-create btn btn-secondary" href="/settings/workflows/create">New Workflow</a>
                    </div>

                    <table class="table table-striped" th:if="${workflows}">
                        <tr>
                            <th width="20%">Name</th>
                            <th width="50%">Title</th>
                            <th>Active</th>
                            <th></th>
                        </tr>
                        <tr class="workflow" th:each="workflow : ${workflows}">
                            <td>
                                <a th:href="${workflow.url}" th:text="${workflow.name}">NAME</a>
                            </td>
                            <td th:text="${workflow.title}">TITLE</td>
                            <td>
                                <span th:if="${workflow.active}">Yes</span>
                                <span th:if="!${workflow.active}">No</span>
                            </td>
                            <td class="toolbar">
                                <a class="btn-view" th:href="${workflow.url}">View</a>
                                <a class="btn-edit" th:href="${workflow.editUrl}">Edit</a>
                            </td>
                        </tr>
                    </table>

                    <div class="empty text-center" th:if="!${workflows}">
                        No workflow!
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
</body>

</html>
