<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="container">
    <h1>
        <img align="absmiddle" height="48" src="/image/workflow.png" width="48"/>
        <span th:text="${workflow.longTitle}">NAME</span>
    </h1>
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/workflow :: workflow-breadcrumb(${workflow})}"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="widget">
                <div class="widget-body">
                    <div class="widget-toolbar">
                        <a class="btn-edit btn btn-secondary" th:href="${workflow.editUrl}"
                           th:if="${workflow.workflowInstanceCount == 0}">Edit</a>

                        <a class="btn-start btn btn-secondary" th:href="${workflow.startUrl}">Start</a>
                    </div>

                    <table class="table">
                        <tr>
                            <td><b>Name</b></td>
                            <td th:text="${workflow.name}">NAME</td>
                        </tr>
                        <tr>
                            <td><b>Title</b></td>
                            <td th:text="${workflow.title}">TITLE</td>
                        </tr>
                        <tr>
                            <td><b>Description</b></td>
                            <td th:text="${workflow.description}">DESCRIPTION</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="widget">
                <div class="widget-body">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button aria-controls="pills-activities" aria-selected="true" class="nav-link active"
                                    data-bs-target="#pills-activities" data-bs-toggle="pill" id="pills-activities-tab"
                                    role="tab" type="button">
                                Activities
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button aria-controls="pills-instances" aria-selected="false" class="nav-link"
                                    data-bs-target="#pills-instances" data-bs-toggle="pill" id="pills-instances-tab"
                                    role="tab" type="button">
                                Instances
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button aria-controls="pills-process" aria-selected="false" class="nav-link"
                                    data-bs-target="#pills-process" data-bs-toggle="pill" id="pills-process-tab"
                                    role="tab" type="button">
                                Process
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div aria-labelledby="pills-activities-tab" class="tab-pane fade show active"
                             id="pills-activities"
                             role="tabpanel">
                            <table class="table table-striped">
                                <tr>
                                    <th width="1%"></th>
                                    <th>Name</th>
                                    <th>Title</th>
                                    <th>Role</th>
                                    <th th:if="${workflow.requiresApprover}">Approval?</th>
                                </tr>
                                <tr class="activity" th:each="activity: ${workflow.activities}">
                                    <td>
                                        <span
                                            th:replace="~{__components/workflow :: activity-type-icon(${activity.type})}"></span>
                                    </td>
                                    <td>
                                        <a th:href="${activity.url}" th:text="${activity.name}">NAME</a>
                                    </td>
                                    <td th:text="${activity.title}">TITLE</td>
                                    <td>
                                        <span th:if="${activity.role}" th:text="${activity.role.title}">ROLE</span>
                                    </td>
                                    <td th:if="${workflow.requiresApprover}">
                                        <span th:if="${activity.requiresApproval}">Yes</span>
                                        <span th:if="!${activity.requiresApproval}">No</span>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div aria-labelledby="pills-instances-tab" class="tab-pane fade" id="pills-instances"
                             role="tabpanel"
                             th:data-url="'/workflows/widgets/workflow-instances?show-workflow=false&workflow-id=' + ${workflow.id}">
                        </div>

                        <div aria-labelledby="pills-process-tab" class="tab-pane fade" id="pills-process"
                             role="tabpanel"
                             th:data-url="'/workflows/widgets/image?workflow-id=' + ${workflow.id}">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="widget" th:if="${workflow.approverRole} OR !${workflow.roles.isEmpty()}">
                <div class="widget-header">
                    <h4 class="widget-title">Participants</h4>
                </div>
                <div class="widget-body">
                    <table class="table">
                        <tr th:if=" ${workflow.approverRole}">
                            <td><b>Approver</b></td>
                            <td th:text="${workflow.approverRole.title}">APPROVER</td>
                        </tr>
                        <tr th:if="!${workflow.roles.isEmpty()}">
                            <td><b>Assignees</b></td>
                            <td>
                                <div th:each="role : ${workflow.roles}" th:text="${role.title}">ROLE</div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="widget">
                <div class="widget-body">
                    <table class="table table-striped">
                        <tr>
                            <td><b>Active?</b></td>
                            <td>
                                <span th:if="${workflow.active}">Yes</span>
                                <span th:if="!${workflow.active}">No</span>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Instances</b></td>
                            <td th:text="${workflow.getWorkflowInstanceCount()}">0</td>
                        </tr>
                        <tr>
                            <td><b>Created</b></td>
                            <td th:text="${workflow.createdAtText}">CREATED</td>
                        </tr>
                        <tr>
                            <td><b>Modified</b></td>
                            <td th:text="${workflow.modifiedAtText}">CREATED</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>
