<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="container">
    <h1>
        <img align="absmiddle" height="48" src="/image/workflow.png" width="48"/>
        <span th:text="${workflow.longTitle}">NAME</span>
    </h1>
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/workflow :: workflow-breadcrumb(${workflow})}"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form">
                <form class="form" method="post" th:action="${workflow.startUrl}">
                    <div class="form-body">

                        <div class="section">
                            <div class="section-body">
                                <div th:replace="~{__components/layout :: error-message(${error})}"></div>

                                <div class="section-item">
                                    <label class="title">
                                        <span>Title</span>
                                        <span class="required">*</span>
                                    </label>
                                    <input maxlength="50" name="title" required/>
                                </div>

                                <div class="section-item">
                                    <label class="title">
                                        <span>Start Date</span>
                                        <span class="required">*</span>
                                    </label>
                                    <div>
                                        <div>
                                            <input id="start-now-1" name="startNow" onclick="start_now(1)"
                                                   th:attrappend="checked=${form.startNow} ? 'checked'"
                                                   type="radio" value="1"/>
                                            <span>Now</span>
                                        </div>
                                        <div>
                                            <input id="start-now-0" name="startNow" onclick="start_now(0)"
                                                   th:attrappend="checked=!${form.startNow} ? 'checked'"
                                                   type="radio"
                                                   when="0"/>
                                            <input autocomplete="off" name="startAt"
                                                   required
                                                   th:attrappend="readonly=${form.startNow} ? 'readonly'"
                                                   th:min="${today}"
                                                   type="date"
                                            />
                                        </div>
                                        <script>
                                            function start_now(value) {
                                                const input = document.querySelector('input[name=startAt]');
                                                if (value === 1) {
                                                    input.setAttribute('readonly', 'readonly');
                                                } else {
                                                    input.removeAttribute('readonly');
                                                }
                                            }
                                        </script>
                                    </div>
                                </div>
                                <div class="section-item">
                                    <label class="title">Due Dat</label>
                                    <input autocomplete="off" name="dueAt" th:min="${today}" type="date"/>
                                </div>
                            </div>
                        </div>

                        <div class="section" th:if="!${workflow.roles.isEmpty()}">
                            <div class="section-header">
                                <h3 class="section-title">Participants</h3>
                            </div>
                            <div class="section-body">
                                <div class="section-item" th:if="${workflow.approverRole}">
                                    <label class="title">Approver</label>
                                    <select class="participant" name="approverId">
                                        <option value="-1"></option>
                                        <option th:each="user : ${userMap[workflow.approverRole.id]}"
                                                th:text="${user.displayName}"
                                                th:value="${user.id}">
                                            USER
                                        </option>
                                    </select>
                                </div>

                                <div class="section-item" th:each="role : ${workflow.roles}">
                                    <label class="title" th:text="${role.title}">ROLE</label>
                                    <select class="participant" placeholder="Select a user"
                                            th:name="'participant_' + ${role.id}">
                                        <option value="-1"></option>
                                        <option th:each="user : ${userMap[role.id]}"
                                                th:text="${user.displayName}"
                                                th:value="${user.id}">
                                            USER
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="section" th:if="!${workflow.parameters.isEmpty()}">
                            <div class="section-header">
                                <h3 class="section-title">Parameters</h3>
                            </div>
                            <div class="section-body">
                                <div class="section-item" th:each="parameter : ${workflow.parameters}">
                                    <label class="title">
                                        <span th:text="${parameter}">PARAM</span>
                                        <span class="required">*</span>
                                    </label>
                                    <input required th:name="'parameter_' + ${parameter}"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-footer">
                        <button type="submit">Submit</button>
                        <a class="btn-cancel" th:href="${workflow.url}">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>
