<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>

<div th:replace="~{__components/layout :: navbar}"></div>

<div class="padding-4x">
    <h1>404</h1>
    <h3>Sorry we coudn't find the page!</h3>
    <div>
        The link you followed is broken or the page doesn't exist
    </div>
</div>

<div th:replace="~{__components/layout :: error-details(${originalUrl}, ${message}, ${stacktrace})}"></div>
</body>

</html>
