<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">

<head>
    <div th:replace="~{__components/layout :: head}"></div>

    <link rel="stylesheet" th:href="${page.assetUrl} + '/css/page/listing.css'"/>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<!-- images -->
<div class="hero-image-container">
    <div class="hero-1">
        <a data-component-id="modal-button"
           data-modal-body-large="true"
           href="#"
           th:data-modal-body-url="'/images/modal?owner-type=LISTING&owner-id=' + ${listing.id}"
           th:data-modal-title="#{page.listing.section.photo.title}">
            <img th:src="${listing.heroImageUrl}"/>
        </a>
    </div>
    <div class="hero-2">
        <div class="hero-21">
            <div th:each="img : ${heroImages21}">
                <a data-component-id="modal-button"
                   data-modal-body-large="true"
                   href="#"
                   th:data-modal-body-url="'/images/modal?owner-type=LISTING&owner-id=' + ${listing.id}"
                   th:data-modal-title="#{page.listing.section.photo.title}">
                    <img th:src="${img.contentUrl}"/>
                </a>
            </div>
        </div>
        <div class="hero-22">
            <div th:each="img : ${heroImages22}">
                <a data-component-id="modal-button"
                   data-modal-body-large="true"
                   href="#"
                   th:data-modal-body-url="'/images/modal?owner-type=LISTING&owner-id=' + ${listing.id}"
                   th:data-modal-title="#{page.listing.section.photo.title}">
                    <img th:src="${img.contentUrl}"/>
                </a>
            </div>
        </div>
    </div>
</div>
<button class="image-counter"
        data-component-id="modal-button"
        data-modal-body-large="true"
        id="btn-images"
        th:data-modal-body-url="'/images/modal?owner-type=LISTING&owner-id=' + ${listing.id}"
        th:data-modal-title="#{page.listing.section.photo.title}"
>
    <i class="fa-solid fa-grip"></i>
    <span th:text="#{page.listing.section.photo.show-all(${listing.images.size()})}">Show all</span>
</button>

<div class="listing-info">
    <!-- infos -->
    <div class="listing-info-details">
        <h1>
            <span class="text-primary" id="listing-price" th:text="${listing.price.displayText}">$$$$</span>
            <br/>
            <span class="text-smaller" id="listing-title" th:text="${listing.title}">TITLE</span>
        </h1>
        <div class="margin-bottom-small flex">
            <div>
                <span th:text="#{page.listing.listing-number} + ':'">LISTING_NUMBER</span>
                <span th:text="${listing.listingNumber}">###</span>
            </div>
            <div class="margin-left" th:if="${listing.statusSold}">
                <div th:replace="~{__components/listing :: listing-status-badge(${listing.status})}"></div>
            </div>
        </div>
        <ul class="breadcrumb">
            <li th:if="${listing.bedrooms}">
                <span th:text="${listing.bedrooms}">00</span>
                <span th:if="${listing.bedrooms == 1}" th:text="#{page.listing.bedroom}">BEDROOM</span>
                <span th:if="${listing.bedrooms > 1}" th:text="#{page.listing.bedrooms}">BEDROOMS</span>
            </li>
            <li th:if="${listing.bathrooms}">
                <span>&#x2022;</span>
                <span th:text="${listing.bathrooms}">00</span>
                <span th:if="${listing.bathrooms == 1}" th:text="#{page.listing.bedroom}">BATHROOM</span>
                <span th:if="${listing.bathrooms > 1}" th:text="#{page.listing.bedrooms}">BATHROOMS</span>
            </li>
            <li th:if="${listing.lotArea} OR ${listing.propertyArea}">
                <span>&#x2022;</span>
                <span th:if="${listing.lotArea}" th:text="${listing.lotArea}">00</span>
                <span th:if="!${listing.lotArea}" th:text="${listing.propertyArea}">00</span>
                <span>m<sup>2</sup></span>
            </li>
        </ul>

        <!-- Description -->
        <div class="margin-top border-top padding-top description-container">
            <div id="listing-description" th:utext="${listing.descriptionHtml}">DESCRIPTION</div>
            <div class="row margin-top">
                <div class="col-12 col-md-6 margin-bottom-small" th:if="${listing.halfBathrooms}">
                    <b th:text="#{page.listing.half-bathrooms}">Toilettes</b>
                    <span th:text="${listing.halfBathrooms}">$$$</span>
                </div>
                <div class="col-12 col-md-6 margin-bottom-small" th:if="${listing.floors}">
                    <b th:text="#{page.listing.floors}">Etages</b>
                    <span th:text="${listing.floors}">00</span>
                </div>
                <div class="col-12 col-md-6 margin-bottom-small" th:if="${listing.basementType}">
                    <b th:text="#{page.listing.basement}">Sous-Sol</b>
                    <span th:text="#{'basement-type.' + ${listing.basementType}}">VALUE</span>
                </div>
                <div class="col-12 col-md-6 margin-bottom-small" th:if="${listing.lotArea}">
                    <b th:text="#{page.listing.lot-area}">Superficie du terrain</b>
                    <span th:text="${listing.lotArea}">000</span>
                    <span>m<sup>2</sup></span>
                </div>
                <div class="col-12 col-md-6 margin-bottom-small" th:if="${listing.propertyArea}">
                    <b th:text="#{page.listing.property-area}">Superficie habitable</b>
                    <span th:text="${listing.propertyArea}">000</span>
                    <span>m<sup>2</sup></span>
                </div>
                <div class="col-12 col-md-6 margin-bottom-small" th:if="${listing.parkingType}">
                    <b th:text="#{page.listing.parking-type}">Type de parking</b>
                    <span th:text="#{'parking-type.' + ${listing.parkingType}}">VALUE</span>
                </div>
                <div class="col-12 col-md-6 margin-bottom-small" th:if="${listing.parkings}">
                    <b th:text="#{page.listing.parkings}">Places de parking</b>
                    <span th:text="${listing.parkings}">yyyy</span>
                </div>
                <div class="col-12 col-md-6 margin-bottom-small" th:if="${listing.fenceType}">
                    <b th:text="#{page.listing.fence}">Clôture</b>
                    <span th:text="#{'fence-type.' + ${listing.fenceType}}">VALUE</span>
                </div>
                <div class="col-12 col-md-6 margin-bottom-small" th:if="${listing.distanceFromMainRoad}">
                    <b th:text="#{page.listing.distance-from-main-road}">Distance de la route principale</b>
                    <span th:text="${listing.distanceFromMainRoad}">00</span>
                    <span>m</span>
                </div>
                <div class="col-12 col-md-6 margin-bottom-small" th:if="${listing.roadPavement}">
                    <b th:text="#{page.listing.road-pavement}">Route</b>
                    <span th:text="#{'road-pavement.' + ${listing.roadPavement}}">VALUE</span>
                </div>
            </div>
            <div class="margin-top" id="remarks" th:if="${listing.publicRemarks}">
                <b th:text="#{page.listing.public-remarks}">Remarques Additionnelles</b>
                <div th:utext="${listing.publicRemarksHtml}">REMARKS</div>
            </div>
        </div>

        <!-- Amenities -->
        <div class="margin-top border-top padding-top amenity-container"
             th:if="${listing.furnitureType} OR !${listing.amenities.isEmpty()}">
            <h2 th:text="#{page.listing.section.amenity.title}">Features &amp; Amenities</h2>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6 col-md-4" th:if="${listing.furnitureType.name() == 'FULLY_FURNISHED'}">
                        <i class="fa-solid fa-couch"></i>
                        <span th:text="#{furnished-type.FULLY_FURNISHED}">Fully Furnished</span>
                    </div>
                    <div class="col-6 col-md-4" th:if="${listing.furnitureType.name() == 'SEMI_FURNISHED'}">
                        <i class="fa-solid fa-chair"></i>
                        <span th:text="#{furnished-type.SEMI_FURNISHED}">Semi Furnished</span>
                    </div>

                    <div class="col-6 col-md-4" th:each="amenity:${topAmenities}">
                        <i th:class="${amenity.icon}" th:if="${amenity.icon}"></i>
                        <span th:text="${amenity.name}">AMENITY</span>
                    </div>
                </div>
            </div>
            <button class="btn btn-secondary margin-top" data-bs-target="#listing-amenities-modal"
                    data-bs-toggle="modal"
                    id="btn-amenities"
                    th:if="!${listing.amenities.isEmpty()} AND ${topAmenities?.size() < listing.amenities.size()}">
                <span th:text="#{page.listing.section.amenity.show-all(${listing.amenities.size()})}">Show All</span>
            </button>

            <div aria-hidden="true" aria-labelledby="listing-amenities-modal-label" class="modal fade"
                 id="listing-amenities-modal" tabindex="-1">
                <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="listing-amenities-modal-label"
                                th:text="#{page.listing.section.amenity.modal-title}">What this place offers</h1>
                            <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                        </div>
                        <div class="modal-body padding-2x">
                            <div class="row">
                                <div class="col-md-6 col-12" th:each="category : ${categories}">
                                    <h3 th:text="${category.name}">CATEGORY</h3>
                                    <ul>
                                        <li class="amenity"
                                            th:each="amenity:${listing.amenitiesByCategoryId(category.id)}"
                                            th:id="'amenity-' + ${amenity.id}"
                                            th:text="${amenity.name}">
                                            AMENITY
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Terms & Conditions -->
        <div class="margin-top border-top padding-small terms-container">
            <h2 th:text="#{page.listing.section.terms.title}">Terms &amp; Condition</h2>
            <div class="row">
                <div class="col-12 col-md-6 margin-bottom-small" th:if="${listing.securityDeposit}">
                    <b th:text="#{page.listing.security-deposit}">Security Deposit:</b>
                    <span th:text="${listing.securityDeposit.displayText}">$$$</span>
                </div>
                <div class="col-12 col-md-6 margin-bottom-small" th:if="${listing.visitFees}">
                    <b th:text="#{page.listing.visit-fees}">Visit Fees:</b>
                    <span th:text="${listing.visitFees}">$$</span>
                </div>
                <div class="col-12 col-md-6 margin-bottom-small" th:if="${listing.leaseTerm}">
                    <b th:text="#{page.listing.lease-terms}">Lease Term:</b>
                    <span th:text="${listing.leaseTerm}">00</span>
                    <span th:text="#{label.months}">MONTH</span>
                </div>
                <div class="col-12 col-md-6 margin-bottom-small" th:if="${listing.advanceRent}">
                    <b th:text="#{page.listing.advance-rent}">Advance Rent:</b>
                    <span th:text="${listing.advanceRent}">00</span>
                    <span th:if="${listing.advanceRent == 1}" th:text="#{label.month}">month</span>
                    <span th:if="${listing.advanceRent > 1}" th:text="#{label.months}">months</span>
                </div>
                <div class="col-12 col-md-6 margin-bottom-small" th:if="${listing.availableAt}">
                    <b th:text="#{page.listing.available-at}">Availability Date:</b>
                    <span th:text="${listing.availableAtText}">yyyy-mm-dd</span>
                </div>
                <div class="col-12 col-md-6 margin-bottom-small" th:if="${listing.year}">
                    <b th:text="#{page.listing.year}">Construction Year:</b>
                    <span th:text="${listing.year}">yyyy</span>
                </div>
            </div>
        </div>

        <!-- Neighborhood -->
        <div class="margin-top border-top padding-top map-container">
            <h2 th:text="#{page.listing.section.map.title}">Map &amp; Neighborhood</h2>
            <ul class="breadcrumb">
                <li>
                    <span th:text="${listing.address.city.name}">CITY</span>
                </li>
                <li th:if="${listing.address.neighbourhood}">
                    <span>&#x2022;</span>
                    <span th:text="${listing.address.neighbourhood.name}">NEIGHBORHOOD</span>
                </li>
                <li th:if="${listing.address.street}">
                    <span>&#x2022;</span>
                    <span th:text="${listing.address.street}">NEIGHBORHOOD</span>
                </li>
            </ul>
            <div class="margin-top"
                 data-component-id="map"
                 data-disable-scroll-wheel-zoom="true"
                 data-disable-touch-zoom="true"
                 id="listing-map"
                 th:data-latitude="${listing.geoLocation.latitude}"
                 th:data-longitude="${listing.geoLocation.longitude}"
                 th:data-show-marker="true"
                 th:data-zoom="18"
                 th:if="${listing.geoLocation}"
            >
            </div>
        </div>
    </div>

    <!-- Contact -->
    <!--
    <div class="listing-contact-details">
        <div class="listing-contact-details-inner">
            <div>
                <button class="btn btn-primary" data-bs-target="#listing-message-modal" data-bs-toggle="modal"
                        id="btn-contact-us"
                        th:text="#{page.listing.section.message.cta}">
                    Send a Message
                </button>
            </div>
        </div>
    </div>
    -->
</div>

<div th:replace="~{__components/bootstrap :: modal}"></div>
<script th:inline="javascript">
    document.addEventListener(
        'DOMContentLoaded',
        function () {
            koki.w.track.track('VIEW', /*[[${listing.id}]]*/'0');
        },
        false
    );
</script>
</body>
</html>

