/* ============================= */
/* ROOM                          */
/* ============================= */
.hero-image-container {
    width: 100%;
    height: 534px;
    display: flex;
}

.hero-image-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hero-image-container .hero-1 {
    width: 50%;
    padding-right: 2px;
    overflow: hidden;
}

.hero-image-container .hero-2 {
    width: 50%;
}

.hero-image-container .hero-21 {
    width: 100%;
    display: flex;
}

.hero-image-container .hero-21 div:first-child {
    padding-right: 2px;
}

.hero-image-container .hero-21 div {
    padding-bottom: 2px;
}

.hero-image-container .hero-22 {
    width: 100%;
    display: flex;
}

.hero-image-container .hero-22 div:first-child {
    padding-right: 2px;
}


.hero-image-container .hero-21 > div,
.hero-image-container .hero-22 > div {
    width: 50%;
    height: 267px;
    overflow: hidden;
}

.image-counter {
    background: white;
    color: #444;
    padding: 5px;
    border: 1px solid #444;
    border-radius: 5px 5px 5px 5px;
    position: absolute;
    left: .5em;
    margin-top: -3em;
    display: inline-block;
    z-index: 100;
    font-size: small;
}

.image-counter a {
    text-decoration: none;
    color: #444;
}

.listing-info {
    width: 1200px;
    margin: 1em auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.listing-info-details {
    width: 800px;
    margin-bottom: 10em;
}

.listing-contact-details {
    width: 380px;
}

.listing-contact-details-inner {
    background: white;
    box-shadow: 0 4px 25px #00000014;
    border: none;
    border-top: 1px solid lightgray;
    border-radius: 10px 10px 10px 10px;
    padding: 1em;
    position: sticky;
    top: 6.5em;
    width: 100%;
}

.listing-contact-details-inner .agent-info {
    display: flex;
    margin-bottom: 1em;
}

.listing-contact-details-inner .agent-info h2 {
    margin-bottom: 0;
}

.listing-contact-details-inner .agent-info img {
    border-radius: 50%;
    height: 64px;
    width: 64px;
    object-fit: cover;
    margin-right: 1em;
}

.listing-contact-details-inner .message {
    padding: 1em;
    margin-bottom: 1em;
    background: #e0e0e0;
    border-radius: 0.5em;
    text-align: left;
}

.listing-contact-details-inner button {
    width: 100%;
}


#lead-modal .agent-info {
    display: flex;
}

#lead-modal .agent-info h3 {
    margin-bottom: 0;
}

#lead-modal .agent-info img {
    border-radius: 50%;
    height: 64px;
    width: 64px;
    object-fit: cover;
    margin-right: 1em;
}

.listing-info #listing-map {
    height: 680px;
}

#koki-modal img {
    max-width: 100%;
    max-height: 534px;
}

#listing-amenities-modal h3 {
    font-size: 1.25em;
}

.listing-status {
    text-transform: uppercase;
}

.listing-type {
    text-transform: uppercase;
}


/* ======================================================================== */
/*                                                                          */
/*  MEDIA QUERIES                                                           */
/*                                                                          */
/* ======================================================================== */
/* Large Tablet */
@media only screen and (max-width: 992px) and (orientation: portrait) {
    .listing-info {
        width: 100%;
        padding: 0 1em;
    }

    .listing-info-details {
        width: 70%;
    }

    .listing-contact-details {
        width: 25%;
    }
}

/* Mini Tablet */
@media only screen and (max-width: 768px) and (orientation: portrait) {
    .listing-info {
        display: block;
    }

    .listing-info-details {
        width: 100%;
    }

    .listing-contact-details {
        position: fixed;
        top: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        margin-left: 0;
        z-index: 1000;
    }

    .listing-contact-details-inner {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-radius: 0 0 0 0;
        box-shadow: none;
    }

    .listing-contact-details-inner .agent-info,
    .listing-contact-details-inner .agent-info h2 {
        font-size: small;
        margin-bottom: 0;
    }

    .listing-contact-details-inner .agent-info img {
        width: 32px;
        height: 32px;
    }

    .listing-contact-details-inner .message {
        display: none;
    }

    .listing-contact-details-inner button {
        width: auto;
    }
}

/* Mobile phone */
@media only screen and (max-width: 576px) {
    .hero-image-container {
        height: 319px;
    }

    .hero-image-container img {
        border: none
    }

    .hero-image-container .hero-1 {
        width: 100%;
    }

    .hero-image-container .hero-2 {
        display: none;
    }

    .listing-info-details .breadcrumb {
        font-size: smaller;
    }
}
