.agent a {
    display: block !important;
    color: black !important;
    text-decoration: none !important;
}


/* ======================================================================== */
/*                                                                          */
/*  MEDIA QUERIES                                                           */
/*                                                                          */
/* ======================================================================== */
/* Large */
@media only screen and (max-width: 992px) and (orientation: portrait) {
}

/* Medium */
@media only screen and (max-width: 768px) and (orientation: portrait) {
    #map-container #map {
        width: 100%;
        height: 400px;
    }
}

/* Small */
@media only screen and (max-width: 576px) {
    #map-container #map {
        width: 100%;
        height: 680px;
    }

    .agent-metrics {
        margin-top: 1em;
    }
}




