.agent a {
    display: block !important;
    color: black !important;
    text-decoration: none !important;
}

#map-container #map {
    width: 100%;
    height: 600px;
}

#map-container #map .map-listing-icon {
    padding: .5em;
    color: #fff;
    border: 1px solid #fff;
    background: green;
    width: auto !important;
    height: auto !important;
    text-wrap: nowrap;
    border-radius: .5em;
    font-weight: bold;
}

.leaflet-popup-content {
    margin: 0;
    padding: 0;
    width: 300px;
}

.leaflet-popup-content .map-listing-card-details {
    overflow: clip;
    text-wrap: nowrap;
}

.leaflet-popup-content .map-listing-card a {
    color: #444;
    text-decoration: none;
}

.leaflet-popup-content .map-listing-card .listing-image {
    height: 100px;
    width: 100px;
    border-radius: 1em 0 0 1em
}

.leaflet-popup-content .map-listing-card .listing-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1em 0 0 1em
}

.leaflet-popup-content .map-listing-card .listing-details {
    padding: 1em;
}


/* ======================================================================== */
/*                                                                          */
/*  MEDIA QUERIES                                                           */
/*                                                                          */
/* ======================================================================== */
/* Large */
@media only screen and (max-width: 992px) and (orientation: portrait) {
}

/* Medium */
@media only screen and (max-width: 768px) and (orientation: portrait) {
    #map-container #map {
        width: 100%;
        height: 400px;
    }
}

/* Small */
@media only screen and (max-width: 576px) {
    #map-container #map {
        width: 100%;
        height: 300px;
    }

    .agent-metrics {
        margin-top: 1em;
    }
}




