table tr.file td a {
    display: block !important;
    color: black !important;
    text-decoration: none !important;
}

/* ======================================================================== */
/*                                                                          */
/*  MEDIA QUERIES                                                           */
/*                                                                          */
/* ======================================================================== */
/* Large Tablet */
@media only screen and (max-width: 1024px) and (orientation: portrait) {
}

/* Mini Tablet */
@media only screen and (max-width: 820px) and (orientation: portrait) {
}

/* Mobile phone */
@media only screen and (max-width: 479px) and (orientation: portrait) {
    tr.file td {
        font-size: .90em;
    }
}
