textarea:read-only,
input:read-only {
    background: #f8f8f8;
}

*:user-invalid,
.user-invalid {
    border: 2px solid red !important;
}

@supports not selector(:user-invalid) {
    input:invalid,
    select:invalid,
    textarea:invalid {
        border: 2px solid red;
    }
}

.error {
    color: red;
}

.required {
    color: darkred;
}

.form-header {
    background: white;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 1em;
}

.form-footer {
    background: white;
    border-radius: 10px;
    border: 1px solid gray;
    margin-top: 1em;
    padding: 1em;
}

.section {
    background: white;
    border-radius: 10px;
    border: 1px solid gray;
    margin-top: 1em;
}

.section-header {
    background: #f8f8f8;
    border-radius: .6em .6em 0 0;
    border-bottom: 1px solid gray;
    padding: .5em;
}

.section-header .section-title {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.section-item {
    padding: 1em;
    border-bottom: 1px solid lightgray;
}

.section-item:last-child {
    margin-bottom: 0;
}

.section-item label.title {
    font-weight: bold;
    font-size: larger;
    display: block
}

.section-item .description {
    font-size: small;
}

.section-item textarea,
.section-item input,
.section-item select {
    padding: .5em;
}

.section-item textarea,
.section-item input:not([type]),
.section-item input[type=text],
.section-item input[type=email],
.section-item input[type=url],
.section-item select {
    width: 100%;
}


.section-item .file-upload-container input[type=file] {
    display: none;
}

.section-item .file-upload-container .filename {
    margin-left: 1em;
}

.file-upload-container .file-upload-container .btn-close {
    margin-left: 0.5em;
}

.checkbox-container,
.radio-container {
    display: flex;
    justify-content: space-between;
}

@media only screen
and (max-width: 480px)
and (orientation: portrait) {
    .form {
        width: 98%;
    }
}

