table tr.image td a {
    display: block !important;
    color: black !important;
    text-decoration: none !important;
}

table tr.image td a img.img-fluid {
    max-height: 166px;
    max-width: 250px;
}
