.image-container {
    width: 400px;
    margin-right: .5em;
    margin-bottom: .5em;
}

.image-container .image-frame {
    width: 400px;
    height: 266px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8f8f8;
    border: 1px solid lightgray !important;
    vertical-align: middle;
}

.image-container .image-frame img {
    max-width: 398px;
    max-height: 264px;
    margin: auto 0;
}

.image-container .badge {
    position: absolute;
    margin-top: -2.5em;
    margin-left: 1em;
    z-index: 1000;
}

.tab-images .progress {
    height: 4px;
}

body.image-viewer {
    margin: 0;
    background: gray;
}

body.image-viewer .image-header {
    background: white;
}

body.image-viewer .image-body {
    margin-bottom: 8em;
}

body.image-viewer .image-footer {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-left: 0;
    z-index: 1000;
    background: white;
}

/* ======================================================================== */
/*                                                                          */
/*  MEDIA QUERIES                                                           */
/*                                                                          */
/* ======================================================================== */
/* Medium */
@media only screen and (max-width: 992px) and (orientation: portrait) {
}

/* Small */
@media only screen and (max-width: 768px) and (orientation: portrait) {
    .tab-images .image-container {
        width: 350px;
    }

    .tab-images .image-frame {
        width: 350px;
        height: 233px;
    }

    .tab-images .image-frame img {
        max-width: 348px;
        max-height: 231px;
    }
}

/* Small */
@media only screen and (max-width: 576px) {
    .tab-images .image-frame {
        margin-left: 0;
    }
}
