body {
    background: #f8f8f8;
    margin-top: 6em;
}

nav {
    background: white;
}

.flex {
    display: flex;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-space-between {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.share-panel {
    border-radius: 0.5em;
    border: 1px solid gray;
    display: inline-block;
    max-width: 100%;
    padding: 0.5em;
}

.share-panel .share-link {
    background: #f8f8f8;
    margin-right: 0.5em;
    max-width: 85%;
    overflow: clip;
    padding: 0.5em;
    text-wrap: nowrap;
}

.share-panel .btn {
    margin-top: .4em;
}

.padding {
    padding: 1em;
}

.padding-2x {
    padding: 2em;
}

.padding-small {
    padding: 0.5em;
}

.padding-top {
    padding-top: 1em;
}

.padding-bottom {
    padding-bottom: 1em;
}

.padding-left {
    padding-left: 1em;
}

.padding-left-small {
    padding-left: 0.5em;
}

.padding-right {
    padding-right: 1em;
}

.padding-right-small {
    padding-right: 0.5em;
}

.padding-none {
    padding: 0;
}

.margin {
    margin: 1em;
}

.margin-none {
    margin: 0;
}

.margin-top {
    margin-top: 1em;
}

.margin-top-2x {
    margin-top: 2em;
}

.margin-top-4x {
    margin-top: 4em;
}

.margin-bottom {
    margin-bottom: 1em;
}

.margin-left {
    margin-left: 1em;
}

.margin-right {
    margin-right: 1em;
}


.navbar {
    border-bottom: 1px solid gray;
}

.navbar .brand-name {
    padding: .5em !important;
    font-size: .8em !important;
    font-weight: bold !important;
}

.navbar img.brand-logo {
    margin-left: .5em !important;
    height: 50px;
}

.navbar .nav-link {
    border: 1px solid gray;
    margin-right: .5em;
}

.navbar .dropdown-menu {
    position: fixed;
    float: none;
    left: auto;
    width: 350px;
    right: 10px;
    border-radius: 0;
    margin-top: -1em;
}

.navbar .dropdown-menu .user-hi {
    font-weight: bold;
    font-size: 1.2em;
}

.widget {
    background: white;
    border-radius: 10px;
    border: 1px solid gray;
    margin-top: 1em;
}

.widget-header {
    background: #f8f8f8;
    border-radius: .6em .6em 0 0;
    border-bottom: 1px solid gray;
    padding: 0.5em;
}

.widget-header .widget-title {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.widget-body {
    padding: 1em
}

.widget-body table.table:last-child {
    margin-bottom: 0;
}

.widget-body .widget-toolbar {
    background: #f8f8f8;
    margin-bottom: 1em;
    padding: 0.5em;
}

.widget-toolbar a,
.toolbar a {
    margin-right: 1em;
}

.widget-toolbar a:last-child,
.toolbar a:last-child {
    margin-right: 0;
}

.widget .tab-content .widget {
    border: 0;
}

.widget .tab-content .widget-header {
    display: none
}

.widget .tab-content .widget-body {
    padding: 0;
}

.workflow-image {
    margin: 0 auto;
    text-align: center;
}

.workflow-image img {
    padding: 1em;
    max-width: 100%;
}


.status-done,
.status-approved,
.status-success {
    color: darkgreen;
}

.status-running {
    color: darkblue;
}

.status-cancelled,
.status-rejected {
    color: darkred;
}

tr.activity-running {
    border: 4px solid black;
}

/* highlightjs line-number*/
.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    color: #ccc;
    border-right: 1px solid #CCC;
    vertical-align: top;
    padding-right: 5px;
}

/* for block of code */
.hljs-ln-code {
    padding-left: 10px !important;
}

