table tr.listing td a {
    display: block !important;
    color: black !important;
    text-decoration: none !important;
}

table tr.listing td.hero-image {
    width: 96px;
    height: 96px;
}

table tr.listing td.hero-image img {
    max-width: 92px;
    max-height: 92px;
}

.listing-price {
    color: darkblue;
    font-weight: bold;
}

h1.listing-price {
    font-weight: normal;
}

.contact-sticky-bar {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-left: 0;
    z-index: 1000;
    background: white;
}

.listing-search-filter-body label {
    font-weight: bold;
}

.listing-search-filter-body label.form-check-label {
    font-weight: inherit;
}

.listing-search-filter-body .select2 {
    width: 100% !important;
}

/* ======================================================================== */
/*                                                                          */
/*  MEDIA QUERIES                                                           */
/*                                                                          */
/* ======================================================================== */
/* Large */
@media only screen and (max-width: 992px) and (orientation: portrait) {
}

/* Medium */
@media only screen and (max-width: 768px) and (orientation: portrait) {

}

/* Small */
@media only screen and (max-width: 576px) {
    table tr.listing td.hero-image {
        width: 64px;
        height: 64px;
    }

    table tr.listing td.hero-image img {
        max-width: 60px;
        max-height: 60px;
    }
}
