table tr.listing td a {
    display: block !important;
    color: black !important;
    text-decoration: none !important;
}

table tr.listing td .hero-image {
    width: 96px;
    height: 96px;
}

table tr.listing td .hero-image img {
    max-width: 92px;
    max-height: 92px;
}

.listing-price {
    color: darkblue;
}

h1.listing-price {
    font-weight: normal;
}

ul.amenities {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.amenities li {
    margin: 0;
    padding: 0;
}

.listing-status {
    text-transform: uppercase;
}

.listing-type {
    text-transform: uppercase;
}

.listing-search-filter-body label {
    font-weight: bold;
}

.listing-search-filter-body label.form-check-label {
    font-weight: inherit;
}

.listing-search-filter-body .select2 {
    width: 100% !important;
}

#listing-filter-form {
    margin: -1em;
}

.listing-card {
    border-radius: .5em;
}

.listing-card .listing-status-container {
    position: relative;
    margin-left: .2em;
    margin-top: .2em;
    z-index: 1000;
    display: inline;
}

.listing-card .hero-image-container {
    width: 302px;
    height: 202px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f0f0;
    margin-top: -1.5em;
    border-radius: .5em .5em 0 0;
}

.listing-card img.hero-image {
    width: 302px;
    height: 202px;
    object-fit: cover;
    border-radius: .5em .5em 0 0;
}

.listing-card .listing-details {
    border: 1px solid lightgray;
    border-radius:  0 0 .5em .5em;
}

.listing-card .listing-details a {
    text-decoration: none;
    color: #040404;
}

.listing-card .address-street {
    overflow: hidden;
    height: 1.25em;
}

a.listing-item {
    text-decoration: none;
}

.listing-item .hero-image {
    max-width: 96px;
    max-height: 96px;
}

.listing-item .hero-image img {
    max-width: 92px;
    max-height: 92px;
}


.listing-carousel {
    display: flex;
    overflow-y: auto;
}

.listing-carousel .listing-card {
    margin-right: .5em;
}

.listing-carousel .listing-card:last-child {
    margin-right: 0;
}

a .listing-filter-container {
    text-decoration: none !important;
    color: #040404;
}

.listing-filter-container {
    display: flex;
    flex-wrap: wrap;
}

.listing-filter-container .listing-filter {
    border: 1px solid gray;
    font-size: small;
    padding: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    text-wrap: nowrap;
}

.listing-filter-container .listing-filter:last-child {
    margin-right: 0;
}

.listing-filter-container .listing-filter .listing-filter-badge {
    border: 1px solid gray;
    padding: 0.25em;
    margin-right: 0.25em;
    background: #f8f8f8;
}

.listing-filter-container .listing-filter .listing-filter-badge:last-child {
    margin-right: 0;
}


/* ======================================================================== */
/*                                                                          */
/*  MEDIA QUERIES                                                           */
/*                                                                          */
/* ======================================================================== */
/* Large */
@media only screen and (max-width: 992px) and (orientation: portrait) {
}

/* Medium */
@media only screen and (max-width: 768px) and (orientation: portrait) {

}

/* Small */
@media only screen and (max-width: 576px) {
    table tr.listing td .hero-image {
        width: 64px;
        height: 64px;
    }

    table tr.listing td .hero-image img {
        max-width: 60px;
        max-height: 60px;
    }

    .listing-item .hero-image {
        max-width: 64px;
        max-height: 64px;
    }

    .listing-item .hero-image img {
        max-width: 60px;
        max-height: 60px;
    }
}
