table tr.listing td a {
    display: block !important;
    color: black !important;
    text-decoration: none !important;
}

table tr.listing td img.hero-image {
    max-width: 300px;
    max-height: 200px;
}

.listing-price {
    color: darkblue;
}

.contact-sticky-bar {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-left: 0;
    z-index: 1000;
    background: white;
}
