table tr.listing td a {
    display: block !important;
    color: black !important;
    text-decoration: none !important;
}

table tr.listing td.hero-image {
    width: 96px;
    height: 96px;
}

table tr.listing td.hero-image img {
    max-width: 92px;
    max-height: 92px;
}

.listing-price {
    color: darkblue;
}

h1.listing-price {
    font-weight: normal;
}

.contact-sticky-bar {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-left: 0;
    z-index: 1000;
    background: white;
}

.listing-search-filter-body label {
    font-weight: bold;
}

.listing-search-filter-body label.form-check-label {
    font-weight: inherit;
}

.listing-search-filter-body .select2 {
    width: 100% !important;
}

#listing-filter-form {
    margin: -1em;
}

.listing-card {
    border: 1px solid lightgray;
}

.listing-card .listing-details a {
    text-decoration: none;
    color: #040404;
}

.listing-card .hero-image-container {
    width: 302px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.listing-card img.hero-image {
    max-width: 300px;
    max-height: 200px;
}

a .listing-filter-container {
    text-decoration: none !important;
    color: #040404;
}

.listing-filter-container {
    display: flex;
    flex-wrap: wrap;
}

.listing-filter-container .listing-filter {
    border: 1px solid gray;
    font-size: small;
    padding: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    text-wrap: nowrap;
}

.listing-filter-container .listing-filter:last-child {
    margin-right: 0;
}

.listing-filter-container .listing-filter .listing-filter-badge {
    border: 1px solid gray;
    padding: 0.25em;
    margin-right: 0.25em;
    background: #f8f8f8;
}

.listing-filter-container .listing-filter .listing-filter-badge:last-child {
    margin-right: 0;
}


/* ======================================================================== */
/*                                                                          */
/*  MEDIA QUERIES                                                           */
/*                                                                          */
/* ======================================================================== */
/* Large */
@media only screen and (max-width: 992px) and (orientation: portrait) {
}

/* Medium */
@media only screen and (max-width: 768px) and (orientation: portrait) {

}

/* Small */
@media only screen and (max-width: 576px) {
    table tr.listing td.hero-image {
        width: 64px;
        height: 64px;
    }

    table tr.listing td.hero-image img {
        max-width: 60px;
        max-height: 60px;
    }
}
