/* == DATA ROW === */
table tr.room td a,
table tr.room-unit td a{
    display: block !important;
    color: black !important;
    text-decoration: none !important;
}

ul.amenities {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.amenities li {
    margin: 0;
    padding: 0;
}
