/* == DATA ROW === */
table tr.room td a,
table tr.room-unit td a {
    display: block !important;
    color: black !important;
    text-decoration: none !important;
}

table tr.room td a img.img-fluid {
    max-height: 166px;
    max-width: 250px;
}

ul.amenities {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.amenities li {
    margin: 0;
    padding: 0;
}


.map-toolbar {
    display: inline-block;
    position: absolute;
    z-index: 1000;
    padding: .2em;
    background: gray;
    right: 2.2em;
    margin-top: .5em;
    margin-left: .5em;
}

