<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="settings-container">
    <div class="settings-sidebar">
        <div th:replace="~{__components/settings :: settings-menu('email')}"></div>
    </div>
    <div class="settings-content">
        <div class="padding">
            <div th:replace="~{__components/settings :: settings-title('SMTP', '/settings/email')}"></div>

            <div>
                <table class="table" th:if="${form}">
                    <tr>
                        <td width="20%"><b>Host</b></td>
                        <td th:text="${form.host}">HOST</td>
                    </tr>
                    <tr>
                        <td><b>Port</b></td>
                        <td th:text="${form.port}">PORT</td>
                    </tr>
                    <tr>
                        <td><b>Username</b></td>
                        <td th:text="${form.username}">USERNAME</td>
                    </tr>
                    <tr>
                        <td><b>Password</b></td>
                        <td>******</td>
                    </tr>
                    <tr>
                        <td><b>Sender</b></td>
                        <td>
                        <span th:if="!${form.fromPersonal.isEmpty()}"
                              th:text="${form.fromPersonal} + ' <' + ${form.fromAddress} + '>'">SENDER</span>
                            <span th:if="${form.fromPersonal.isEmpty()}" th:text="${form.fromAddress}">SENDER</span>
                        </td>
                    </tr>
                </table>
                <div class="empty text-center" th:if="!${form}">The Mail Server has not been configured</div>
                <div class="margin-top">
                    <a class="btn-edit btn btn-secondary" href="/settings/email/smtp/edit">Configure</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{__components/bootstrap :: toast(${toast})}"></div>
</body>

</html>
