<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="container">
    <h1>
        <img align="absmiddle" height="48" src="/image/script.png" width="48"/>
        Script Debugger
    </h1>
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/script :: script-breadcrumb(${script})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">

            <form class="form" method="post" th:action="@{'/settings/scripts/' + ${script.id} + '/debug'}"
                  th:object="${form}">

                <div class="form-body">
                    <div class="section">
                        <div class="section-body">
                            <div class="section-item">
                                <label class="title">Language <span class="required">*</span></label>
                                <select required th:field="*{language}">
                                    <option value=""></option>
                                    <option value="javascript">Javascript</option>
                                    <option value="python">Python</option>
                                </select>
                            </div>
                            <div class="section-item">
                                <label class="title">Input Parameters</label>
                                <div class="description">
                                    Enter the parameters required by the code - one parameter per line.<br/>
                                    Leave this field empty if the code has no input parameter.
                                </div>
                                <textarea rows="3" th:field="*{parameters}"></textarea>
                            </div>
                            <div class="section-item">
                                <label class="title">Code <span class="required">*</span></label>
                                <div class="description">Enter the code of the script in the selected language</div>
                                <textarea rows="15" th:field="*{code}"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-footer">
                    <button type="submit" value="submit">Run</button>
                    <a class="btn-cancel" th:href="${script.url}">Cancel</a>
                </div>

            </form>
        </div>

    </div>

    <div class="row" th:if="${execution}">
        <div class="widget">
            <div class="widget-body">
                <table class="table">
                    <tr>
                        <td colspan="2">
                            <div class="success" th:if="!${execution.errorMessage}">Execution was successfull</div>
                            <div class="error" th:if="${execution.errorMessage}" th:text="${execution.errorMessage}">
                                ERROR
                            </div>
                        </td>
                    </tr>
                    <tr th:if="${execution.console}">
                        <td colspan="2">
                            <pre>
                                <code th:text="${execution.console}"> CONSOLE</code>
                            </pre>
                        </td>
                    </tr>
                    <tr th:if="${execution.bindingsJSON}">
                        <td><b>Bindings</b></td>
                        <td>
                            <pre>
                                <code th:class="'language-json'" th:text="${execution.bindingsJSON}">CODE</code>
                            </pre>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{__components/script :: editor(${form.code}, ${form.language})}"></div>
<div th:replace="~{__components/highlightjs :: prettity('json')}"></div>
</body>
</html>
