<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="container">
    <h1>
        <img align="absmiddle" height="48" src="/image/script.png" width="48"/>
        Scripts
    </h1>
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/script :: script-breadcrumb(null)}"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body">
                    <div class="widget-toolbar">
                        <a class="btn-create btn btn-secondary" href="/settings/scripts/create">New Script</a>
                    </div>

                    <table class="table table-striped" th:if="${scripts}">
                        <tr>
                            <th width="10%">Name</th>
                            <th width="40%">Title</th>
                            <th>Language</th>
                            <th>Modified</th>
                            <th>Active</th>
                            <th></th>
                        </tr>
                        <tr class="script" th:each="script : ${scripts}">
                            <td>
                                <a th:href="'/settings/scripts/' + ${script.id}" th:text="${script.name}">NAME</a>
                            </td>
                            <td th:text="${script.title}">TITLE</td>
                            <td>
                                <div th:replace="~{__components/script :: script-language(${script.language})}">
                                </div>
                            </td>
                            <td th:text="${script.modifiedAtText}">MODIFIED</td>
                            <td>
                                <span th:if="${script.active}">Yes</span>
                                <span th:if="!${script.active}">No</span>
                            </td>
                            <td class="toolbar">
                                <a class="btn-view" th:href="'/settings/scripts/' + ${script.id}">View</a>
                                <a class="btn-edit" th:href="'/settings/scripts/' + ${script.id} + '/edit'">Edit</a>
                                <a class="btn-run" th:href="'/settings/scripts/' + ${script.id} + '/run'">Run</a>
                            </td>
                        </tr>
                    </table>

                    <div class="empty text-center" th:if="!${scripts}">
                        No script!
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
</body>

</html>
