<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">

<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('tax')}"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/tax :: tax-breadcrumb(${tax})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body">
                    <h1 class="margin-bottom">
                        <img align="absmiddle" th:src="${page.assetUrl} + '/image/tax.png'" width="48"/>
                        <span th:text="${tax.name}">NAME</span>
                    </h1>

                    <div th:replace="~{__components/tax :: tax-header(${tax})}"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body">
                    <div data-callback="filesCallback"
                         data-component-id="ajax-fragment"
                         id="file-container"
                         th:data-url="'/files/tab?owner-type=TAX&owner-id=' + ${tax.id}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function filesCallback() {
        kokiFiles.initTab();
    }
</script>
</body>

</html>
