<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('home')}"></div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="widget" th:if="${showToolbar}">
                <div class="widget-body">
                    <a class="btn btn-primary btn-sm" href="/listings/create/ai" id="btn-create-listing"
                       th:if="${user?.canManage('listing')} OR ${user.hasFullAccess('listing')}">
                        <i class="fa-solid fa-plus"></i>
                        <span th:text="#{button.listing}">CREATE</span>
                    </a>
                    <a class="btn btn-light btn-sm" href="/contacts/create" id="btn-create-contact"
                       th:if="${user?.canManage('contact')} OR ${user.hasFullAccess('contact')}">
                        <i class="fa-solid fa-plus"></i>
                        <span th:text="#{button.contact}">CREATE</span>
                    </a>
                </div>
            </div>

            <div class="margin-bottom" data-component-id="ajax-fragment"
                 data-url="/offers/widgets/active"
                 id="widget-offers-active"
                 th:if="${user.hasPermission('offer')}"
            >
            </div>

            <div class="margin-bottom"
                 data-component-id="ajax-fragment"
                 data-url="/leads/widgets/new"
                 id="widget-leads-new"
                 th:if="${user.hasPermission('lead')}"
            >
            </div>

            <div class="margin-bottom"
                 data-component-id="ajax-fragment"
                 data-url="/listings/widgets/recent"
                 id="widget-listings-recent"
                 th:if="${user.hasPermission('listing')}"
            >
            </div>

            <div class="margin-bottom"
                 data-component-id="ajax-fragment"
                 data-url="/listings/widgets/sold"
                 id="widget-listings-sold"
                 th:if="${user.hasPermission('listing')}"
            >
            </div>
        </div>
    </div>
</div>

<div th:replace="~{__components/bootstrap :: modal}"></div>
</body>

</html>
