<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('home')}"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 margin-top">
            <h2>Hi <span th:text="${user.displayName}">YO</span></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <div
                data-component-id="ajax-fragment"
                data-url="/messages/widget"
            >
            </div>
        </div>
    </div>
</div>

<div th:replace="~{__components/bootstrap :: modal}"></div>
</body>

</html>
