<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('agent')}"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/agent :: agent-breadcrumb(${agent})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="widget agent-summary">
                <div class="widget-body">
                    <div class="flex flex-wrap">
                        <img class="user-photo"
                             th:alt="${agent.user.displayName}"
                             th:src="${agent.user.photoUrl} ? ${agent.user.photoUrl} : '/image/no-photo.png'"
                        />
                        <div class="margin-left margin-right">
                            <h1 class="entity-title text-center" th:text="${agent.user.displayName}">NAME</h1>
                            <div th:text="${agent.user.employer}">EMPLOYER</div>
                            <div class="text-small gray" th:if="${agent.user.city}"
                                 th:text="${agent.user.city.name}">CITY
                            </div>
                        </div>
                        <div class="flex-grow">
                            <table class="w-100">
                                <tr th:if="${agent.totalSalesMetric}">
                                    <td class="text-center padding-bottom">
                                        <div class="text-larger" th:text="${agent.past12mSalesMetric.total}">000</div>
                                        <div class="text-small" th:text="#{page.agent.sales_py}">SALES_12</div>
                                    </td>
                                    <td class="text-center padding-bottom">
                                        <div class="text-larger" th:text="${agent.totalSalesMetric.total}">000</div>
                                        <div class="text-small" th:text="#{page.agent.sales}">SALES</div>
                                    </td>
                                    <td class="text-center padding-bottom">
                                        <div class="text-larger"
                                             th:if="${agent.totalSalesMetric.minPrice.amount} != ${agent.totalSalesMetric.maxPrice.amount}">
                                            <span th:text="${agent.totalSalesMetric.minPrice.shortText}">$$</span>
                                            -
                                            <span th:text="${agent.totalSalesMetric.maxPrice.shortText}">$$</span>
                                        </div>
                                        <div class="text-larger"
                                             th:if="${agent.totalSalesMetric.minPrice.amount} == ${agent.totalSalesMetric.maxPrice.amount}">
                                            <span th:text="${agent.totalSalesMetric.minPrice.shortText}">$$</span>
                                        </div>
                                        <div class="text-small" th:text="#{page.agent.price}">PRICE</div>
                                    </td>
                                </tr>
                                <tr th:if="${agent.totalRentalsMetric}">
                                    <td class="text-center">
                                        <div class="text-larger" th:text="${agent.past12mRentalsMetric.total}">000
                                        </div>
                                        <div class="text-small" th:text="#{page.agent.rentals_py}">RENTALS_12</div>
                                    </td>
                                    <td class="text-center">
                                        <div class="text-larger" th:text="${agent.totalRentalsMetric.total}">000</div>
                                        <div class="text-small" th:text="#{page.agent.rentals}">RENTALS</div>
                                    </td>
                                    <td class="text-center">
                                        <div class="text-larger"
                                             th:if="${agent.totalRentalsMetric.minPrice.amount} != ${agent.totalRentalsMetric.maxPrice.amount}">
                                            <span th:text="${agent.totalRentalsMetric.minPrice.shortText}">$$</span>
                                            -
                                            <span th:text="${agent.totalRentalsMetric.maxPrice.shortText}">$$</span>
                                        </div>
                                        <div class="text-larger"
                                             th:if="${agent.totalRentalsMetric.minPrice.amount} == ${agent.totalRentalsMetric.maxPrice.amount}">
                                            <span th:text="${agent.totalRentalsMetric.minPrice.shortText}">$$</span>
                                        </div>
                                        <div class="text-small" th:text="#{page.agent.price}">PRICE</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body">
                    <h2 th:text="#{page.agent.show.about}">ABOUT</h2>
                    <div th:utext="${agent.user.biographyHtml}">BIO</div>
                    <div class="margin-top">
                        <div class="margin-top-small" th:if="${agent.user.mobile}">
                            <i class="fa-solid fa-mobile-screen-button"></i>
                            <span th:text="${agent.user.mobileText}">MOBILE</span>
                            <a class="btn btn-whatsapp btn-sm margin-left-small" target="_blank"
                               th:href="${agent.user.whatsappUrl}">
                                <i class="fa-brands fa-whatsapp"></i>
                                <span th:text="#{button.whatsapp}">Whatsapp</span>
                            </a>
                            <a class="btn btn-light btn-sm margin-left-small" th:href="${agent.user.mobileUrl}">
                                <i class="fa-solid fa-mobile-screen-button"></i>
                                <span th:text="#{button.call}">XXXX</span>
                            </a>
                        </div>
                        <div th:if="${agent.user.email}">
                            <i class="fa-solid fa-envelope"></i>
                            <a th:href="'mailto:' + ${agent.user.email}" th:text="${agent.user.email}">EMAIL</a>
                        </div>
                        <div class="margin-top-small" target="_blank" th:if="${agent.user.websiteUrl}">
                            <i class="fa-solid fa-link"></i>
                            <a th:href="${agent.user.websiteUrl}" th:text="#{page.agent.website}">WEBSITE</a>
                        </div>
                    </div>
                    <div class="margin-top flex">
                        <a class="margin-right" target="_blank"
                           th:href="${agent.user.facebookUrl}"
                           th:if="${agent.user.facebookUrl}">
                            <img height="48" th:src="${page.assetUrl} + '/image/social/facebook.png'" width="48"/></a>

                        <a class="margin-right" target="_blank"
                           th:href="${agent.user.instagramUrl}"
                           th:if="${agent.user.instagramUrl}">
                            <img height="48" th:src="${page.assetUrl} + '/image/social/instagram.png'" width="48"/></a>

                        <a class="margin-right" target="_blank"
                           th:href="${agent.user.twitterUrl}"
                           th:if="${agent.user.twitterUrl}">
                            <img height="48" th:src="${page.assetUrl} + '/image/social/twitter.png'" width="48"/></a>

                        <a target="_blank" th:href="${agent.user.tiktokUrl}"
                           th:if="${agent.user.tiktokUrl}">
                            <img height="48" th:src="${page.assetUrl} + '/image/social/tiktok.png'" width="48"/></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" th:if="!${listings.isEmpty()}">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body">
                    <h2 th:text="#{page.agent.show.listings}">LISTINGS</h2>
                    <div id="map-container">
                        <div data-component-id="map"
                             data-show-marker="false"
                             id="map"
                             th:data-city-id="${mapCenterPoint.id}"
                             th:data-latitude="${mapCenterPoint.latitude}"
                             th:data-longitude="${mapCenterPoint.longitude}"
                             th:data-on-ready="on_map_ready"
                             th:data-zoom="14"
                        >
                        </div>
                    </div>
                    <div class="margin-top-2x" th:if="!${activeListings.isEmpty()}">
                        <h3 class="margin-none" th:text="#{page.agent.show.listings.active}">TITLE</h3>
                        <div
                            th:replace="~{__components/listing :: listing-table(${activeListings}, false, false, false, null)}"></div>
                    </div>

                    <div class="margin-top-2x" th:if="!${soldListings.isEmpty()}">
                        <h3 class="margin-none" th:text="#{page.agent.show.listings.recent-transactions}">TITLE</h3>
                        <div
                            th:replace="~{__components/listing :: listing-table(${soldListings}, true, false, false, null)}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    const json = JSON.parse(/*[[${mapMarkersJson}]]*/ '');

    function on_map_ready(id, map) {
        console.log(json);

        for (var i = 0; i < json.length; i++) {
            let item = json[i];
            let marker = L.circleMarker(
                [item.latitude, item.longitude],
                {
                    color: 'gray',
                    fillColor: item.rental ? 'darkred' : '#1d7edf',
                    fillOpacity: 0.9,
                    radius: 5
                }
            );
            marker.on('mouseover', () => {
                const html = `<div class="map-listing-card" id="map-listing-card-${item.id}">
                    <a href="${item.url}" target="_blank">
                        <div class="flex">
                            <div>
                                <img src="${item.heroImageUrl}" />
                            </div>
                            <div class="text-small margin-left">
                                <b class="listing-price">${item.price}</b>
                                <div class="flex">
                                   <div>${item.bedrooms}</div>
                                   <div class="margin-left-small">${item.area}</div>
                                </div>
                                <div class="gray">${item.location}</div>
                                <div class="text-danger"><b>${item.status}</b></div>
                            </div>
                        </div>
                    </a>
                </div>`;
                marker.bindPopup(html);
                marker.openPopup();
            });
            map.addLayer(marker);
        }
    }
</script>
</body>
</html>
