<table class="table">
    <tr th:if="${offer.listing}">
        <td>
            <b th:text="#{page.offer.listing}">LISTING</b>
        </td>
        <td>
            <div th:replace="~{__components/offer :: offer-listing(${offer.listing}, false)}">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <b th:text="#{page.offer.submitted-by}">BY</b>
        </td>
        <td th:if="${version.submittingParty.name() == 'BUYER'}">
            <div th:replace="~{__components/user :: user-small-card(${offer.buyerAgentUser})}">
            </div>
        </td>
        <td th:if="${version.submittingParty.name() == 'SELLER'}">
            <div th:replace="~{__components/user :: user-small-card(${offer.sellerAgentUser})}">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <b th:text="#{page.offer.submitted-to}">TO</b>
        </td>
        <td th:if="${version.submittingParty.name() == 'BUYER'}">
            <div th:replace="~{__components/user :: user-small-card(${offer.sellerAgentUser})}">
            </div>
        </td>
        <td th:if="${version.submittingParty.name() == 'SELLER'}">
            <div th:replace="~{__components/user :: user-small-card(${offer.buyerAgentUser})}">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <b th:text="#{page.offer.amount}">AMOUNT</b>
        </td>
        <td>
            <b th:text="${version.price.displayText}">YYYY</b>
        </td>
    </tr>
    <tr th:if="${offer.version.expiresAt}">
        <td>
            <b th:text="#{page.offer.submitted-at}">SUBMITTED</b>
        </td>
        <td th:text="${version.createdAtText}">YYYY-MM-DD</td>
    </tr>
    <tr th:if="${offer.version.expiresAt}">
        <td>
            <b th:text="#{page.offer.expires-at}">EXPIRES</b>
        </td>
        <td th:text="${version.expiresAt}">YYYY-MM-DD</td>
    </tr>
    <tr>
        <td>
            <b th:text="#{page.offer.contingencies}">CONTINGENGIES</b>
        </td>
        <td th:utext="${version.contingenciesHtml}">XXX</td>
    </tr>
</table>
