<table class="table">
    <tr th:if="${offer.listing}">
        <td>
            <b th:text="#{page.offer.listing}">LISTING</b>
        </td>
        <td>
            <div th:replace="~{__components/offer :: offer-listing(${offer.listing})}"></div>
        </td>
    </tr>
    <tr>
        <td>
            <b th:text="#{page.offer.submitted-by}">BY</b>
        </td>
        <td>
            <div>
                <div class="margin-bottom-small">
                    <div th:replace="~{__components/offer :: offer-party-badge(${version.submittingParty})}"></div>
                </div>
                <div th:if="${version.submittingParty.name() == 'BUYER'}">
                    <div th:replace="~{__components/user :: user-small-card(${offer.buyerAgentUser}, true)}"></div>
                </div>
                <div th:if="${version.submittingParty.name() == 'SELLER'}">
                    <div th:replace="~{__components/user :: user-small-card(${offer.sellerAgentUser}, true)}"></div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <b th:text="#{page.offer.submitted-to}">TO</b>
        </td>
        <td th:if="${version.submittingParty.name() == 'BUYER'}">
            <div th:replace="~{__components/user :: user-small-card(${offer.sellerAgentUser}, true)}"></div>
        </td>
        <td th:if="${version.submittingParty.name() == 'SELLER'}">
            <div th:replace="~{__components/user :: user-small-card(${offer.buyerAgentUser}, true)}"></div>
        </td>
    </tr>
    <tr>
        <td>
            <b th:text="#{page.offer.amount}">AMOUNT</b>
        </td>
        <td>
            <b th:text="${version.price.displayText}">YYYY</b>
        </td>
    </tr>
    <tr>
        <td>
            <b th:text="#{page.offer.submitted-at}">SUBMITTED</b>
        </td>
        <td th:text="${version.createdAtText}">YYYY-MM-DD</td>
    </tr>
    <tr th:if="${version.expiresAt}">
        <td>
            <b th:text="#{page.offer.expires-at}">EXPIRES</b>
        </td>
        <td th:text="${version.expiresAtText}">YYYY-MM-DD</td>
    </tr>
    <tr th:if="${version.closingAt}">
        <td>
            <b th:text="#{page.offer.closing-at}">CLOSING</b>
        </td>
        <td th:text="${version.closingAtText}">YYYY-MM-DD</td>
    </tr>
    <tr th:if="${version.contingencies}">
        <td>
            <b th:text="#{page.offer.contingencies}">CONTINGENCIES</b>
        </td>
        <td th:utext="${version.contingenciesHtml}">XXX</td>
    </tr>
</table>
