<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="widget agent-summary">
                <div class="widget-body">
                    <div th:replace="~{__components/user :: user-summary(${user}, false)}"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row padding-bottom-8x">
        <div class="col-12">
            <div class="form-body">
                <div class="section">
                    <div class="section-body">
                        <div class="section-item">
                            <div th:replace="~{__components/user :: user-profile-nav('photo')}"></div>

                            <div class="margin-top" th:utext="#{page.profile.photo.description}">TITLE</div>
                        </div>
                        <div class="section-item text-center">
                            <div>
                                <img class="border" height="128" id="my-photo"
                                     th:src="${user.photoUrl} ? ${user.photoUrl} : ${page.assetUrl} + '/image/no-photo.png'"
                                     width="128"/>
                            </div>
                            <div class="margin-top">
                                <input accept="image/*"
                                       data-max-file-size="2"
                                       id="file-upload"
                                       th:data-upload-url="${uploadUrl}"
                                       type="file"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form class="form" id="form" method="post" th:action="@{/users/photo}"
      th:object="${form}">
    <input th:field="*{photoUrl}" type="hidden"/>
</form>

<script>
    document.addEventListener(
        'DOMContentLoaded',
        function () {
            const file = document.getElementById("file-upload");
            file.addEventListener("change", on_file_selected);
        }
    );

    function on_file_selected() {
        const elt = document.getElementById("file-upload");
        let uploadUrl = elt.getAttribute('data-upload-url');
        let maxMb = elt.getAttribute('data-max-file-size');
        if (!maxMb || maxMb.length === 0) {
            maxMb = 2;
        }

        // Uploading...
        const file = elt.files[0];
        if (file.size > maxMb * 1024 * 1024) {
            alert("Image is too big!");
            return;
        }

        console.log('Uploading ', file);
        const data = new FormData();
        data.append('file', file);
        fetch(uploadUrl, {
            method: 'POST',
            body: data
        }).then(response => {
            response.json().then(json => {
                console.log("File uploaded", json);
                fetch("/users/photo/file?id=" + json.id)
                    .then(response => {
                        response.json().then(json => {
                            console.log("File Data", json);
                            document.getElementById("my-photo").setAttribute("src", json.url);
                            document.getElementById("photoUrl").value = json.url;
                            document.getElementById("form").submit();
                        });
                    });
            });
        });
    }
</script>

</body>
</html>
