<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="container padding-bottom-8x">
    <div class="row">
        <div class="col-12">
            <div class="widget agent-summary">
                <div class="widget-body">
                    <div th:replace="~{__components/user :: user-summary(${user}, false)}"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form class="form" id="profile-form" method="post" th:action="@{'/users/profile'}" th:object="${form}">
                <input th:field="*{backUrl}" type="hidden"/>
                <div class="form-body">
                    <div class="section">
                        <div class="section-item">
                            <h1 th:text="#{page.profile.title}">TITLE</h1>
                        </div>
                        <div class="section" th:if="${error}">
                            <div class="alert alert-danger" th:utext="${error}">ERROR</div>
                        </div>
                        <div class="section-item">
                            <label class="title">
                                <span th:text="#{page.profile.display-name}">DISPLAY_NAME</span>
                                <span class="required">*</span>
                            </label>
                            <input class="form-control" maxlength="50" required th:field="*{displayName}"/>
                        </div>
                        <div class="section-item">
                            <label class="title" th:text="#{page.profile.email}">
                                <span th:text="#{page.profile.email}">EMAIL</span>
                                <span class="required">*</span>
                            </label>
                            <input class="form-control" maxlength="50" th:field="*{email}" type="email"/>
                        </div>
                        <div class="section-item">
                            <label class="title">
                                <span th:text="#{page.profile.mobile}">MOBILE</span>
                                <span class="required">*</span>
                            </label>
                            <input maxlength="30" required
                                   th:data-country="*{country}"
                                   th:field="*{mobile}"
                                   type="tel"
                            />
                        </div>

                        <div class="section-item">
                            <label class="title" th:text="#{page.profile.biography}">BIOGRAPHY</label>
                            <textarea class="form-control" maxlength="1000" rows="3" th:field="*{biography}"></textarea>
                        </div>

                        <div class="section-item">
                            <label class="title" th:text="#{page.profile.language}">LANGUAGE</label>
                            <select data-component-id="select2" th:field="*{language}">
                                <option value=""></option>
                                <option th:each="language : ${languages}"
                                        th:text="${language.displayName}"
                                        th:value="${language.language}">
                                    LANGUAGE
                                </option>
                            </select>
                        </div>
                        <div class="section-item"
                             data-city-id="cityId"
                             data-component-id="address"
                             data-country-id="country"
                        >
                            <label class="title">
                                <span th:text="#{page.profile.location}">LOCATION</span>
                                <span class="required">*</span>
                            </label>
                            <select required th:field="*{country}">
                                <option value=""></option>
                                <option th:each="country : ${countries}"
                                        th:text="${country.displayCountry}"
                                        th:value="${country.country}"
                                >COUNTRY
                                </option>
                            </select>
                            <div class="margin-top-small">
                                <select required th:field="*{cityId}">
                                    <option selected
                                            th:if="${city}"
                                            th:text="${cityName}"
                                            th:value="${city.id}">
                                        CITY
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="section-item">
                            <label class="title" th:text="#{page.profile.category}">CATEGORY</label>
                            <select class="form-select" th:field="*{categoryId}">
                                <option th:text="#{page.profile.category.text}" value=""></option>
                                <option th:each="category : ${categories}"
                                        th:text="${category.name}"
                                        th:value="${category.id}"></option>
                            </select>
                        </div>
                        <div class="section-item">
                            <label class="title" th:text="#{page.profile.employer}">EMPLOYER</label>
                            <input class="form-control" maxlength="50" th:field="*{employer}"/>
                        </div>

                        <div class="section-item">
                            <label class="title" th:text="#{page.profile.website-url}">WEBSITE</label>
                            <input class="form-control" placeholder="https://..." th:field="*{websiteUrl}" type="url"/>
                        </div>
                        <div class="section-item">
                            <label class="title">
                                <img height="24" style="padding-bottom: 2px"
                                     th:src="${page.assetUrl} + '/image/social/facebook.png'"
                                     width="24"/>
                                <span th:text="#{page.profile.facebook-url}">FACEBOOK</span>
                            </label>
                            <input class="form-control" placeholder="https://wwww.facebook.com/..."
                                   th:field="*{facebookUrl}"
                                   type="url"/>
                        </div>
                        <div class="section-item">
                            <label class="title">
                                <img height="24" style="padding-bottom: 2px"
                                     th:src="${page.assetUrl} + '/image/social/instagram.png'"
                                     width="24"/>
                                <span th:text="#{page.profile.instagram-url}">INSTA</span>
                            </label>
                            <input class="form-control" placeholder="https://www.instagram.com/..."
                                   th:field="*{instagramUrl}"
                                   type="url"/>
                        </div>
                        <div class="section-item">
                            <label class="title">
                                <img height="24" style="padding-bottom: 2px"
                                     th:src="${page.assetUrl} + '/image/social/youtube.png'"
                                     width="24"/>
                                <span th:text="#{page.profile.youtube-url}">YOUTUBE</span>
                            </label>
                            <input class="form-control" placeholder="https://www.youtube.com/..."
                                   th:field="*{youtubeUrl}"
                                   type="url"/>
                        </div>
                        <div class="section-item">
                            <label class="title">
                                <img height="24" style="padding-bottom: 2px"
                                     th:src="${page.assetUrl} + '/image/social/tiktok.png'"
                                     width="24"/>
                                <span th:text="#{page.profile.tiktok-url}">TIKTOK</span>
                            </label>
                            <input class="form-control" placeholder="https://www.tiktok.com/..." th:field="*{tiktokUrl}"
                                   type="url"/>
                        </div>
                        <div class="section-item">
                            <label class="title">
                                <img height="24" style="padding-bottom: 2px"
                                     th:src="${page.assetUrl} + '/image/social/twitter.png'"
                                     width="24"/>
                                <span th:text="#{page.profile.twitter-url}">TWITTER</span>
                            </label>
                            <input class="form-control" placeholder="https://www.x.com/..." th:field="*{twitterUrl}"
                                   type="url"/>
                        </div>

                        <div class="section-item flex flex-space-between">
                            <button class="btn btn-primary w-49-mobile" id="btn-submit"
                                    th:text="#{button.submit}"
                                    type="submit">
                                SUBMIT
                            </button>
                            <a class="btn btn-light w-49-mobile" id="btn-cancel" th:href="*{backUrl}"
                               th:text="#{button.cancel}">
                                CANCEL
                            </a>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
