<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body">
                    <div class="widget-toolbar">
                        <a class="btn-return btn btn-secondary" th:href="${returnUrl}" th:if="${returnUrl}">
                            Close
                        </a>
                        <a class="btn-edit btn btn-secondary btn-download" target="_blank"
                           th:href="'/files/' + ${file.id} + '/download'">
                            Download
                        </a>
                        <a class="btn-delete btn btn-danger float-right"
                           onclick="return confirm('Are you sure you want to delete the file?')"
                           th:href="${file.buildDeleteUrl(returnUrl)}">
                            Delete
                        </a>
                    </div>

                    <div th:replace="~{__components/layout :: error-message(${error})}"></div>

                    <table class="table">
                        <tr>
                            <td width="20%"><b>Name</b></td>
                            <td>
                                <span th:class="'fiv-viv fiv-icon-' + ${file.extension}"></span>
                                <span th:text="${file.name}">FILENAME</span>
                            </td>
                        </tr>
                        <tr>
                            <td width="20%"><b>Size</b></td>
                            <td th:text="${file.contentLengthText}">CONTENT_LENGTH</td>
                        </tr>
                        <tr>
                            <td width="20%"><b>Uploaded</b></td>
                            <td th:text="${file.createdAtText}">CREATED</td>
                        </tr>
                        <tr th:if="${file.createdBy}">
                            <td width="20%"><b>Uploaded By</b></td>
                            <td th:text="${file.createdBy.displayName}">MODIFIED BY</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<div th:replace="~{__components/highlightjs :: prettity('json')}"></div>

</body>
</html>
