spring:
    jackson:
        default-property-inclusion: non_null
        use-jackson2-defaults: true
        deserialization:
            FAIL_ON_UNKNOWN_PROPERTIES: false
            ACCEPT_EMPTY_STRING_AS_NULL_OBJECT: true
        mapper:
            ACCEPT_CASE_INSENSITIVE_ENUMS: true
            ACCEPT_CASE_INSENSITIVE_PROPERTIES: true

    servlet:
        multipart:
            max-file-size: 50MB
            max-request-size: 50MB

server:
    port: 8081
    compression:
        enabled: true
        mime-types: application/json,application/xml,text/html,text/xml,text/plain
        min-response-size: 512

management:
    endpoint:
        health:
            show-details: always
        info:
            git:
                mode: full
    endpoints:
        web:
            exposure:
                include: "beans,flyway,health,info,scheduledtasks,mappings"

logging:
    level:
        root: INFO
        com.amazonaws: ERROR
        com.icegreen.greenmail.smtp.SmtpManager: ERROR
        org.springframework: INFO
        org.hibernate: ERROR
        org.hibernate.engine.jdbc.spi.SqlExceptionHelper: OFF
        com.wutsi: DEBUG
        springfox: ERROR

    pattern:
        console: "%d Type=%level Logger=%c Thread=%thread %m%n"
        file: "%d Type=%level Logger=%c Thread=%thread %m%n"

koki:
    webapp:
        client-id: koki-portal
        base-url: http://localhost:${server.port}
        asset-url: ""
    rest:
        connection-timeout: 15000
        read-timeout: 15000
    sdk:
        base-url: http://localhost:8080
    toggles:
        paypal: true
        mobile-money: true
        co-brokering: false
        modules:
            agent: true
            account: false
            contact: true
            image: true
            file: false
            lead: true
            listing: true
            message: true
            offer: false

wutsi:
    platform:
        ai:
            enabled: false
        cache:
            name: koki
            type: none
            ttl: 86400
            redis:
                url: redis://:test@localhost:6379
        executor:
            thread-pool:
                name: ${koki.webapp.client-id}
                size: 16
        mq:
            type: none
        storage:
            enabled: true
            type: local # local | s3
            local:
                directory: ${user.home}/__wutsi
                base-url: http://localhost:${server.port}
                servlet-path: /local-storage
            s3:
                bucket: koki-test
                region: us-east-1
                access-key: ""
                secret-key: ""
