<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="settings-container">
    <div class="settings-sidebar">
        <div th:replace="~{__components/settings :: settings-menu('security')}"></div>
    </div>
    <div class="settings-content">
        <div th:replace="~{__components/settings :: settings-title('Invite a User', '/settings/invitations')}"></div>

        <form class="form" method="post" th:action="@{/settings/invitations/create}" th:object="${form}">
            <div th:replace="~{__components/layout :: error-message(${error})}"></div>

            <table class="table">
                <tr>
                    <td width="20%">
                        <b>Display Name <span class="required">*</span></b>
                    </td>
                    <td>
                        <input maxlength="50" required th:field="*{displayName}"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Email <span class="required">*</span></b>
                    </td>
                    <td>
                        <input maxlength="255" required th:field="*{email}"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Type <span class="required">*</span></b>
                    </td>
                    <td>
                        <select required th:field="*{type}">
                            <option value="AGENT">Real Estate Agent</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button class="btn btn-primary" type="submit">Send</button>
                    </td>
                </tr>
            </table>
        </form>

    </div>
</div>


</body>
</html>
