<tr class="invitation" th:each="invitation : ${invitations}">
    <td th:text="${invitation.displayName}">DISPLAY_NAME</td>
    <td th:text="${invitation.email}">EMAIL</td>
    <td th:text="${invitation.createdAtText}">YYYY-MM-DD</td>
    <td th:text="${invitation.expiresAtText}">YYYY-MM-DD</td>
    <td class="text-right">
        <a class="btn-view btn btn-sm btn-danger"
           th:href="'/settings/invitations/delete?id=' + ${invitation.id}">Delete</a>
    </td>
</tr>
<tr id="invitation-load-more" th:if="${moreUrl}">
    <td class="text-center" colspan="5">
        <button
            class="btn btn-sm btn-light w-100-mobile"
            data-component-id="load-more"
            data-container-id="invitation-load-more"
            th:data-url="${moreUrl}"
            th:text="#{button.load_more}"
        >
            Load more...
        </button>
    </td>
</tr>
