<div class="widget widget-taxes">
    <div class="widget-header" th:if="${title}">
        <div class="widget-title" th:text="${title}">TITLE</div>
    </div>
    <div class="widget-body">
        <div class="margin-bottom" th:if="${accountId}">
            <a class="btn btn-secondary btn-sm btn-add-tax" th:href="'/taxes/tax?account-id=' + ${accountId}">
                New Tax Report
            </a>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th th:if="${showAccount}">Account</th>
                <th th:if="!${smallView}">Status</th>
                <th th:if="!${smallView}">Accountant</th>
                <th th:if="!${smallView}">Assigned To</th>
                <th th:if="!${smallView}">Modified</th>
                <td th:if="!${smallView}"></td>
            </tr>
            </thead>
            <tbody>
            <tr class="tax" th:each="tax : ${taxes}">
                <div th:replace="~{__components/tax :: columns(${tax}, ${showAccount}, ${smallView})}"></div>
            </tr>
            <tr th:if="${showMore}" th:replace="~{__components/tax :: load-more(${moreUrl})}"></tr>
            </tbody>
        </table>
    </div>
</div>
