<div class="widget widget-notes">
    <div class="widget-body">
        <div class="margin-bottom">
            <a class="btn-create btn btn-secondary btn-sm" th:href="${addUrl}">Add New Note</a>
        </div>
        <table class="note" th:if="${notes}">
            <tr class="note" th:each="note : ${notes}">
                <td th:replace="~{__components/note :: columns(${note}, ${returnUrl})}"></td>
            </tr>
            <tr th:replace="~{__components/note :: load-more(${moreUrl})}"></tr>
        </table>

        <div class="text-center empty-message " th:if="!${notes}">No note!</div>
    </div>
</div>
