<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <h1>
                <img align="absmiddle" height="48" src="/image/smtp.jpg" width="48"/>
                Mail Server
            </h1>
            <div class="widget">
                <div class="widget-body">
                    <a href="/">Home</a>
                    &gt;
                    <a href="/settings">Settings</a>
                    &gt;
                    Mail Server
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <div class="form">
                <form class="form" method="post" th:action="@{'/settings/smtp/save'}" th:object="${form}">
                    <div class="form-body">
                        <div class="section">
                            <div class="section-body">
                                <div th:replace="~{__components/layout :: error-message(${error})}"></div>

                                <div class="section-item">
                                    <label class="title">
                                        <span>Host</span>
                                        <span class="required">*</span>
                                    </label>
                                    <div class="description">Describe the workflow using JSON format</div>
                                    <input required th:field="*{host}"/>
                                </div>
                                <div class="section-item">
                                    <label class="title">
                                        <span>Port</span>
                                        <span class="required">*</span>
                                    </label>
                                    <input required step="1" th:field="*{port}"/>
                                </div>
                                <div class="section-item">
                                    <label class="title">
                                        <span>Sender Email</span>
                                        <span class="required">*</span>
                                    </label>
                                    <div class="description">Enter the email of the sender</div>
                                    <input required th:field="*{fromAddress}" type="email"/>
                                </div>
                                <div class="section-item">
                                    <label class="title">
                                        <span>Sender Name</span>
                                    </label>
                                    <div class="description">Enter display name of the sender (Optional)</div>
                                    <input th:field="*{fromPersonal}"/>
                                </div>
                                <div class="section-item">
                                    <label class="title">
                                        <span>Username</span>
                                        <span class="required">*</span>
                                    </label>
                                    <input required th:field="*{username}"/>
                                </div>
                                <div class="section-item">
                                    <label class="title">
                                        <span>Password</span>
                                        <span class="required">*</span>
                                    </label>
                                    <input required th:field="*{password}" type="password"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-footer">
                        <button type="submit">Submit</button>
                        <a class="btn-cancel" href="/settings">Cancel</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>
