<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <h1>
                <img align="absmiddle" height="48" src="/image/smtp.jpg" width="48"/>
                Mail Server
            </h1>
            <div class="widget">
                <div class="widget-body">
                    <a href="/">Home</a>
                    &gt;
                    <a href="/settings">Settings</a>
                    &gt;
                    Mail Server
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <div class="widget">
                <div class="widget-body">
                    <div class="widget-toolbar">
                        <a class="btn-edit btn btn-secondary" href="/settings/smtp/edit">Configure</a>
                    </div>
                    <table class="table" th:if="${form}">
                        <tr>
                            <td width="20%"><b>Host</b></td>
                            <td th:text="${form.host}">HOST</td>
                        </tr>
                        <tr>
                            <td><b>Port</b></td>
                            <td th:text="${form.port}">PORT</td>
                        </tr>
                        <tr>
                            <td><b>Username</b></td>
                            <td th:text="${form.username}">USERNAME</td>
                        </tr>
                        <tr>
                            <td><b>Password</b></td>
                            <td>******</td>
                        </tr>
                        <tr>
                            <td><b>Sender</b></td>
                            <td>
                                <span th:if="!${form.fromPersonal.isEmpty()}"
                                      th:text="${form.fromPersonal} + ' <' + ${form.fromAddress} + '>'">SENDER</span>
                                <span th:if="${form.fromPersonal.isEmpty()}" th:text="${form.fromAddress}">SENDER</span>
                            </td>
                        </tr>
                    </table>
                    <div class="empty text-center" th:if="!${form}">The Mail Server has not been configured</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
