<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('lead')}"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/lead :: lead-breadcrumb(null)}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th colspan="5">
                                <form action="/leads">
                                    <div class="input-group" style="width:auto">
                                        <input class="form-control" id="keyword" name="q" th:value="${keyword}"/>
                                        <button class="btn btn-light btn-sm" id="btn-search" type="submit">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                            <span th:text="#{button.search}">Search</span>
                                        </button>
                                    </div>
                                </form>
                            </th>
                        </tr>
                        <tr class="d-none d-md-table-row">
                            <th colspan="2" th:text="#{page.lead.display-name}">NAME</th>
                            <th th:text="#{page.lead.next-contact-at}">NEXT-CONTACT</th>
                            <th th:text="#{page.lead.next-visit-at}">NEXT-VISIT</th>
                            <th class="text-right" th:text="#{page.lead.created-at}">DATE</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="entity" th:each="lead : ${leads}">
                            <div th:replace="~{__components/lead :: lead-row(${lead})}"></div>
                        </tr>
                        <tr id="lead-load-more" th:if="${moreUrl}">
                            <td class="text-center" colspan="7">
                                <button
                                    class="btn btn-sm btn-light w-100-mobile"
                                    data-component-id="load-more"
                                    data-container-id="lead-load-more"
                                    th:data-url="${moreUrl}"
                                    th:text="#{button.load_more}"
                                >
                                    Load more...
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
