<tr class="entity lead" th:each="lead : ${leads}">
    <div th:replace="~{__components/lead :: lead-row(${lead})}"></div>
</tr>
<tr id="lead-load-more" th:if="${moreUrl}">
    <td class="text-center" colspan="7">
        <button
            class="btn btn-sm btn-light w-100-mobile"
            data-component-id="load-more"
            data-container-id="lead-load-more"
            th:data-url="${moreUrl}"
            th:text="#{button.load_more}"
        >
            Load more...
        </button>
    </td>
</tr>
