<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('lead')}"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/lead :: lead-breadcrumb(${lead})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="widget lead-summary">
                <div class="widget-body">
                    <div class="text-right">
                        <a class="btn-call btn btn-light btn-sm" th:href="${lead.phoneNumberUrl}">
                            <i class="fa-solid fa-mobile-screen-button"></i>
                            <span th:text="#{button.call}">CALL</span>
                        </a>
                        <a class="btn btn-sm btn-whatsapp" target="_blank" th:href="${lead.whatsappUrl}">
                            <i class="fa-brands fa-whatsapp"></i>
                            <span th:text="#{button.whatsapp}">Whatsapp</span>
                        </a>
                    </div>
                    <h1 class="entity-title">
                        <span th:text="${lead.displayName}">NAME</span>
                    </h1>
                    <div class="flex margin-top">
                        <div>
                            <b th:text="#{page.lead.status}">Status</b><br/>
                            <div th:replace="~{__components/lead :: lead-status-badge(${lead})}"></div>
                            <br/>
                            <a th:href="'/leads/status?id=' + ${lead.id}" th:text="#{button.modify}">MODIFY</a>
                        </div>
                        <div class="margin-left-2x d-none d-md-block" th:if="${lead.email}">
                            <b th:text="#{page.lead.email}">EMAIL</b><br/>
                            <a th:href="${lead.emailUrl}" th:text="${lead.email}">EMAIL</a>
                        </div>
                    </div>
                    <div th:replace="~{__components/layout :: error-message(${error})}"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body">
                    <div th:replace="~{__components/module :: tabs('main', true)}"></div>
                    <div th:replace="~{__components/module :: tabs-content('main', true, ${lead}, ${module})}"></div>
                    <div class="hidden" id="tab-details-content">
                        <table class="table">
                            <tr th:if="${lead.listing}">
                                <td width="20%"><b th:text="#{page.lead.listing}">Listing</b></td>
                                <td>
                                    <a class="listing-item" th:href="'/listings/' + ${lead.listing.id}">
                                        <div th:replace="~{__components/listing :: listing-item(${lead.listing})}">
                                        </div>
                                    </a>
                                </td>
                            </tr>
                            <tr th:if="${lead.message}">
                                <td><b th:text="#{page.lead.message}">Message</b></td>
                                <td th:utext="${lead.messageHtml}">HTML</td>
                            </tr>
                            <tr>
                                <td><b th:text="#{page.lead.status}">Status</b></td>
                                <td>
                                    <div th:replace="~{__components/lead :: lead-status-badge(${lead})}"></div>
                                </td>
                            </tr>
                            <tr>
                                <td width="20%"><b th:text="#{page.lead.display-name}">First Name</b></td>
                                <td th:text="${lead.displayName}">TYPE</td>
                            </tr>
                            <tr>
                                <td><b th:text="#{page.lead.phone-number}">Phone Number</b></td>
                                <td>
                                    <a th:href="${lead.phoneNumberUrl}"
                                       th:text="${lead.phoneNumberFormatted}">MOBILE</a>

                                    <a class="btn btn-sm btn-whatsapp margin-left" target="_blank"
                                       th:href="${lead.whatsappUrl}">
                                        <i class="fa-brands fa-whatsapp"></i>
                                        <span th:text="#{button.whatsapp}">Whatsapp</span>
                                    </a>
                                </td>
                            </tr>
                            <tr th:if="${lead.email}">
                                <td><b th:text="#{page.lead.email}">Email</b></td>
                                <td>
                                    <a th:href="${lead.emailUrl}" th:text="${lead.email}">EMAIL</a>
                                </td>
                            </tr>
                            <tr th:if="${lead.nextVisitAtText}">
                                <td><b th:text="#{page.lead.next-visit-at}">Next Visit</b></td>
                                <td>
                                    <i class="fa-solid fa-calendar-days"></i>
                                    <span th:text="${lead.nextVisitAtText}">YYY-MM-DD</span>
                                </td>
                            </tr>
                            <tr th:if="${lead.nextContactAtText}">
                                <td><b th:text="#{page.lead.next-contact-at}">Next Communication</b></td>
                                <td>
                                    <i class="fa-solid fa-mobile-screen-button"></i>
                                    <span th:text="${lead.nextContactAtText}">YYY-MM-DD</span>
                                </td>
                            </tr>

                            <tr th:if="${lead.visitRequestedAt}">
                                <td><b th:text="#{page.lead.visit-request-at}">Request a Visit</b></td>
                                <td th:text="${lead.visitRequestedAtText}">HTML</td>
                            </tr>
                            <tr>
                                <td><b th:text="#{page.lead.created-at}">Created At</b></td>
                                <td th:text="${lead.createdAtText}">HTML</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{__components/bootstrap :: toast(${toast})}"></div>
<div th:replace="~{__components/bootstrap :: modal}"></div>

</body>
</html>
