<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <h1 class="section-title text-center">
                <a href="/">
                    <img class="align-right" height="50" th:if="${tenant.logoUrl}" th:src="${tenant.logoUrl}"/>
                    <span th:if="!${tenant.logoUrl}" th:text="${tenant.name}"/>
                </a>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 offset-md-2">
            <div class="form-body">
                <div class="section">
                    <div class="section-body">
                        <div class="section-item text-center">
                            <h1 class="text-center margin-none" th:text="#{page.forgot.password.reset.title}">TITLE</h1>
                        </div>
                        <div class="section-item text-center" th:utext="#{page.forgot.password.reset.done}">
                            DONE
                        </div>
                        <div class="section-item text-center">
                            <a class="btn btn-primary w-100" href="/login" id="btn-next" th:text="#{button.continue}">
                                CONTINUE
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
