<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="settings-container">
    <div class="settings-sidebar">
        <div th:replace="~{__components/settings :: settings-menu('email')}"></div>
    </div>
    <div class="settings-content">
        <div th:replace="~{__components/settings :: settings-title('Email Layout', '/settings/email')}"></div>

        <table class="table">
            <tr>
                <td>
                    <a class="btn-edit btn btn-sm btn-secondary" href="/settings/email/decorator/edit">Configure</a>
                </td>
            </tr>
            <tr th:if="${form}">
                <td>
                    <pre>
                        <code class='language-html' th:text="${form.content}">CODE</code>
                    </pre>
                </td>
            </tr>
            <tr th:if="!${form}">
                <td>
                    Your email layout has not been configured.<br/>
                    The default layout will be used.
                </td>
            </tr>
        </table>
    </div>
</div>

<div th:replace="~{__components/bootstrap :: toast(${toast})}"></div>
<div th:replace="~{__components/highlightjs :: prettity('html')}"></div>
</body>
</html>
