<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="container">
    <div class="row">
        <div class="col-12 margin-top-4x">&nbsp;</div>
    </div>

    <div class="row">
        <div th:class="${invoice.paid} ? 'col-8 offset-2' : 'col-12'">

            <div class="widget margin-top-4x">
                <div class="widget-body">
                    <div th:replace="~{__components/checkout :: checkout-header(${invoice})}"></div>

                    <div class="alert alert-danger margin" th:if="${error}">
                        An unexpected error has occurred. Please try again.
                    </div>

                    <div class="margin-top flex flex-space-between margin-top-2x">
                        <div th:style="!${invoice.paid} ? 'width: 70%' : 'width:100%'">
                            <div th:replace="~{__components/checkout :: checkout-invoice(${invoice})}"></div>
                        </div>
                        <div style="width:25%" th:if="!${invoice.paid}">
                            <div
                                th:replace="~{__components/checkout :: checkout-buttons(${invoice}, ${paymentMethodTypes})}"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>
