<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body class="image-viewer">
<div>
    <div class="image-header padding flex flex-space-between">
        <div>
            <a th:href="${closeUrl}" th:if="${closeUrl}">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
        </div>
        <div th:if="!${readOnly}">
            <a class="btn btn-sm btn-danger" id="btn-delete"
               th:href="'/images/delete?id=' + ${image.id}"
               th:onclick="'return confirm(\'' + #{page.image.confirm-delete} + '\')'"
               th:text="#{button.delete}"
            >DELETE</a>
        </div>
    </div>
    <div class="image-body padding text-center">
        <img
            th:src="${image.previewUrl} ? ${image.previewUrl} : '/image/no-image.png'"
            th:title="${image.title}"/>
    </div>
    <div class="image-footer padding">
        <table class="table table-striped">
            <tr th:if="${image.title}">
                <th class="text-center" colspan="2" th:text="${image.title}">TITLE</th>
            </tr>
            <tr th:if="${image.description}">
                <td class="text-center" colspan="2" th:text="${image.description}"> DESCRIPTION</td>
            </tr>
            <tr th:if="${image.imageQuality}">
                <td th:text="#{page.image.quality}" width="1%">QUALITY</td>
                <td>
                    <b th:class="#{'rating-' + ${image.imageQualityRating}}"
                       th:text="#{'image-quality.' + ${image.imageQuality}}">QUALITY</b>
                </td>
            </tr>
            <tr th:if="!${image.approved}">
                <td>
                    <div th:replace="~{__components/file :: status(${image.status})}"></div>
                </td>
                <td>
                    <span class="error"
                          th:if="${image.rejectionReason} AND ${image.rejected}"
                          th:text="${image.rejectionReason}">REJECTION REASON</span>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
