<form class="form" id="tax-product-form" method="post" th:action="@{'/tax-products/add-new'}" th:object="${form}">
    <input th:field="*{taxId}" type="hidden"/>

    <table class="table">
        <tr>
            <td width="20%"><b>Product <span class="required">*</span></b></td>
            <td>
                <select required style="width: 100%" th:field="*{productId}"></select>
            </td>
        </tr>
        <tr>
            <td><b>Unit Price <span class="required">*</span></b></td>
            <td>
                <select required th:field="*{unitPriceId}"></select>
            </td>
        </tr>
        <tr>
            <td><b>Quantity</b></td>
            <td>
                <input min="1" step="1" th:field="*{quantity}" type="number"/>
            </td>
        </tr>
    </table>
    <button class="btn btn-primary margin-right" id='btn-tax-product-submit' type="submit">Add</button>
    <a class="btn-cancel margin-top" id='btn-tax-product-cancel'>Close</a>
</form>
