<form class="form" id="tax-product-form" method="post"
      th:action="@{'/tax-products/' + ${taxProduct.id} + '/update'}"
      th:data-id="${taxProduct.id}"
      th:object="${form}">
    <table class="table">
        <tr>
            <td width="25%"><b>Product</b></td>
            <td th:text="${taxProduct.product.code}">PRODUCT</td>
        </tr>
        <tr>
            <td><b>Description</b></td>
            <td>
                <input th:field="*{description}" />
            </td>
        </tr>
        <tr>
            <td><b>Unit Price <span class="required">*</span></b></td>
            <td>
                <select required th:field="*{unitPriceId}">
                    <option th:each="price : ${prices}"
                            th:text="${price.amount}"
                            th:value="${price.id}">
                        $$
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td><b>Quantity <span class="required">*</span></b></td>
            <td>
                <input min="1" required step="1" th:field="*{quantity}" type="number"/>
            </td>
        </tr>
    </table>
    <button class="btn btn-primary margin-right" id='btn-tax-product-submit' type="submit">
        Update
    </button>
    <a class="btn-cancel margin-top" id='btn-tax-product-cancel'>Close</a>
</form>
