<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('payment')}"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/payment :: payment-breadcrumb(null)}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body">
                    <div class="flex flex-space-between">
                        <div class="btn-group border margin-bottom">
                            <button aria-expanded="false" class="btn padding" type="button">
                                <img height="24" src="/image/payment.png" width="24"/>
                                <span>Payments</span>
                            </button>
                        </div>
                        <div>
                            <select class="btn btn-sm btn-light" id="filter-status"
                                    onchange="koki_payments_on_filter_changed()"
                                    style="width: auto">
                                <option value="">All Statuses</option>
                                <option th:each="ss : ${statuses}"
                                        th:selected="${ss.name()} == ${status?.name()}"
                                        th:text="#{'transaction-status.' + ${ss.name()}}"
                                        th:value="${ss.name()}">STATUS
                                </option>
                            </select>
                        </div>
                    </div>

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Invoice</th>
                            <th>Type</th>
                            <th>Method</th>
                            <th class="text-center">Status</th>
                            <th class="text-right">Amount</th>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="payment" th:each="payment : ${payments}">
                            <div th:replace="~{__components/payment :: columns(${payment}, true)}"></div>
                        </tr>
                        <tr th:replace="~{__components/payment :: load-more(${moreUrl})}"></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{__components/bootstrap :: toast(${toast})}"></div>

<script>
    function koki_payments_on_filter_changed() {
        const status = document.getElementById('filter-status').value;
        document.location.href = '/payments?' +
            (status && status.length > 0 ? '&status=' + status : '');
    }
</script>
</body>
</html>
