<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('payment')}"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/payment :: payment-breadcrumb(${payment})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="widget payment-summary">
                <div class="widget-body">
                    <div class="flex flex-space-between">
                        <h1 class="entity-title">
                            <img align="absmiddle" src="/image/payment.png"/>
                            <span th:text="${payment.id}">ID</span>
                        </h1>
                    </div>
                    <div class="flex">
                        <div class="margin-right-2x">
                            <b>Invoice Number</b><br/>
                            <a class="entity-title" target="_blank"
                               th:href="'/invoices/' + ${payment.invoice.id}"
                               th:if="${user?.hasPermission('invoice')}">
                                <img align="absmiddle" height="24" src="/image/payment.png" width="24"/>
                                <span th:text="${payment.invoice.number}">INVOICE-NUMBER</span>
                            </a>

                            <img align="absmiddle" height="24" src="/image/payment.png"
                                 th:if="!${user?.hasPermission('invoice')}" width="24"/>
                            <span th:if="!${user?.hasPermission('invoice')}" th:text="${payment.invoice.number}">INVOICE-NUMBER</span>
                        </div>
                        <div class="margin-right-2x">
                            <b>Type</b><br/>
                            <span th:text="#{'transaction-type.' + ${payment.type.name}}">TYPE</span>
                        </div>
                        <div class="margin-right-2x">
                            <b>Status</b><br/>
                            <span
                                th:replace="~{__components/payment :: payment-status(${payment.status.name})}">STATUS</span>
                        </div>
                        <div class="margin-right-2x">
                            <b>Payment Method</b><br/>
                            <span
                                th:replace="~{__components/payment :: payment-method-type(${payment.paymentMethodType.name})}"></span>
                        </div>
                        <div class="margin-right-2x">
                            <b>Amount</b><br/>
                            <span th:text="${payment.amount}">$$$</span>
                        </div>
                    </div>
                    <div th:replace="~{__components/layout :: error-message(${error})}"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="widget-body">
                    <ul class="nav nav-pills mb-3" id="tab-main" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button aria-controls="pills-content" aria-selected="true" class="nav-link active"
                                    data-bs-target="#pills-details" data-bs-toggle="pill" id="pills-details-tab"
                                    role="tab" type="button">
                                Details
                            </button>
                        </li>
                        <li class="nav-item" role="presentation" th:each="tab : ${page.tabs.get('main')}">
                            <button aria-selected="false" class="nav-link" data-bs-toggle="pill" role="tab"
                                    th:aria-controls="'pills-' + ${tab.name}"
                                    th:data-bs-target="'#pills-' + ${tab.name}"
                                    th:id="'pills-' + ${tab.name} + '-tab'"
                                    th:text="${tab.title}"
                                    type="button">
                                TAB
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="tab-main-content">
                        <div aria-labelledby="pills-details-tab" class="tab-pane fade show active" id="pills-details"
                             role="tabpanel">

                            <table class="table" id="tab-details-content">
                                <tr>
                                    <td width="20%"><b>Invoice Number</b></td>
                                    <td>
                                        <a class="entity-title" target="_blank"
                                           th:href="'/invoices/' + ${payment.invoice.id}"
                                           th:if="${user?.hasPermission('invoice')}">
                                            <img align="absmiddle" height="24" src="/image/payment.png" width="24"/>
                                            <span th:text="${payment.invoice.number}">INVOICE-NUMBER</span>
                                        </a>

                                        <img align="absmiddle" height="24" src="/image/payment.png"
                                             th:if="!${user?.hasPermission('invoice')}" width="24"/>
                                        <span th:if="!${user?.hasPermission('invoice')}"
                                              th:text="${payment.invoice.number}">INVOICE-NUMBER</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>Type</b></td>
                                    <td th:text="#{'transaction-type.' + ${payment.type.name}}">TYPE</td>
                                </tr>
                                <tr>
                                    <td><b>Status</b></td>
                                    <td>
                                        <span
                                            th:replace="~{__components/payment :: payment-status(${payment.status.name()})}">STATUS</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>Payment Method</b></td>
                                    <td>
                                        <span
                                            th:replace="~{__components/payment :: payment-method-type(${payment.paymentMethodType.name})}"></span>
                                    </td>
                                </tr>
                                <tr th:if="${payment.gateway.name != 'UNKNOWN'}">
                                    <td><b>Payment Gateway</b></td>
                                    <td th:text="#{'payment-gateway.' + ${payment.gateway.name}}">GATEWAY</td>
                                </tr>

                                <tr>
                                    <td><b>Amount</b></td>
                                    <td th:text="${payment.amount}">$$</td>
                                </tr>

                                <tr th:if="${payment.errorCode}">
                                    <td><b>Error Code</b></td>
                                    <td th:utext="${payment.errorCode}">ERROR-CODE</td>
                                </tr>
                                <tr th:if="${payment.supplierErrorCode}">
                                    <td><b>Supplier Error Code</b></td>
                                    <td th:utext="${payment.supplierErrorCode}">SUPPLIER-ERROR-CODE</td>
                                </tr>
                                <tr th:if="${payment.supplierErrorMessage}">
                                    <td><b>Supplier Error Message</b></td>
                                    <td th:utext="${payment.supplierErrorMessage}">SUPPLIER-ERROR-MESSAGE</td>
                                </tr>

                                <tr th:if="${payment.description}">
                                    <td><b>Description</b></td>
                                    <td th:text="${payment.description}">DESCRIPTION</td>
                                </tr>
                                <tr>
                                    <td><b>Created</b></td>
                                    <td>
                                        <span th:text="${payment.createdAtText}">DATE</span>
                                        <span th:if="${payment.createdBy}">by</span>
                                        <span th:if="${payment.createdBy}" th:text="${payment.createdBy.displayName}">MODIFIED BY</span>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="tab-pane fade" role="tabpanel"
                             th:aria-labelledby="'pills-' + ${tab.name} + '-tab'"
                             th:data-url="${tab.toTabUrl(payment.id, module)}"
                             th:each="tab : ${page.tabs.get('main')}"
                             th:id="'pills-' + ${tab.name}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{__components/bootstrap :: toast(${toast})}"></div>
<div th:replace="~{__components/bootstrap :: modal}"></div>
</body>
</html>
