<table class="table">
    <tr>
        <td width="20%">From:</td>
        <td>
            <span th:text="${email.sender.displayName}">NAME</span>
            <span th:text="'<' + ${email.sender.email} + '>'">EMAIL</span>
        </td>
    </tr>
    <tr>
        <td>To:</td>
        <td>
            <div th:replace="~{__components/email :: recipient(${email})}"></div>
        </td>
    </tr>
    <tr>
        <td>Subject:</td>
        <td th:text="${email.subject}">SUBJECT</td>
    </tr>
    <tr>
        <td colspan="2">
            <div style="height: 10em; overflow: hidden" th:utext="${email.body}">BODY</div>
        </td>
    </tr>
</table>
<a class="btn btn-secondary btn-cancel" id="btn-email-cancel">Close</a>
