<form class="form" id="note-form" method="post" onsubmit="koki_notes_add_new(event)" th:action="@{'/notes/add-new'}"
      th:object="${form}">
    <input th:field="*{ownerId}" type="hidden"/>
    <input th:field="*{ownerType}" type="hidden"/>

    <table class="table">
        <tr>
            <td width="20%">Subject</td>
            <td>
                <input name="subject" onchange="koki_notes_on_change();" style="width:100%" th:field="*{subject}"/>
            </td>
        </tr>
        <tr>
            <td valign="top">Body</td>
            <td>
                <div id="html-editor" style="height: 10em" th:text="${form.body}"></div>
                <textarea name="body" style="display: none" th:field="*{body}"></textarea>
            </td>
        </tr>
        <tr>
            <td valign="top"></td>
            <td>
                <button class="btn btn-primary margin-right" disabled id='btn-note-submit' type="submit">
                    Save
                </button>
                <a class="btn-cancel margin-top" href="javascript: koki_notes_close()">Close</a>
            </td>
        </tr>
    </table>
</form>
