<table class="table">
    <tr>
        <td width="25%"><b>Created By:</b></td>
        <td th:text="${note.createdBy?.displayName}">CREATE BY</td>
    </tr>
    <tr>
        <td><b>Created:</b></td>
        <td th:text="${note.createdAtText}">CREATED</td>
    </tr>
    <tr>
        <td><b>Type:</b></td>
        <td>
            <span th:replace="~{__components/note :: type-icon(${note.type})}"></span>
            <span th:text="#{'note-type.' + ${note.type}}">TYPE</span>
        </td>
    </tr>
    <tr>
        <td><b>Subject:</b></td>
        <td th:text="${note.subject}">SUBJECT</td>
    </tr>
    <tr>
        <td valign="top"><b>Body:</b></td>
        <td th:utext="${note.body}">BODY</td>
    </tr>
    <tr th:if="${note.duration > 0}">
        <td valign="top"><b>Duration:</b></td>
        <td th:text="${note.durationText}">DURATION</td>
    </tr>
</table>
<button class="btn btn-primary margin-right" id='btn-note-cancel' type="submit">Close</button>
