<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('offer')}"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/offer :: offer-breadcrumb(null)}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body">
                    <table class="table table-striped">
                        <thead>
                        <tr class="d-none d-md-table-row">
                            <th th:text="#{page.offer.status}" width="1%">Statut</th>
                            <th th:text="#{page.offer.submitted-at}">Submitted</th>
                            <th colspan="2" th:text="#{page.offer.submitted-by}">Submitted By</th>
                            <th th:text="#{page.offer.expires-at}">Expires</th>
                            <th class="text-right" th:text="#{page.offer.amount}">Amount</th>
                        </tr>
                        </thead>
                        <tbody id="offer-list" th:data-owner-id="${ownerId}" th:data-owner-type="${ownerType}">
                        <tr class="offer entity" th:each="offer : ${offers}" th:id="'offer-' + ${offer.id}"
                            th:if="${offers}">
                            <td th:replace="~{__components/offer :: offer-row(${offer})}"></td>
                        </tr>
                        <tr id="offer-load-more" th:if="${moreUrl}">
                            <td class="text-center" colspan="6">
                                <button
                                    class="btn btn-sm btn-light w-100-mobile"
                                    data-component-id="load-more"
                                    data-container-id="offer-load-more"
                                    th:data-url="${moreUrl}"
                                    th:text="#{button.load_more}"
                                >
                                    Load more...
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{__components/bootstrap :: toast(${toast})}"></div>

</body>
</html>
