<tr class="offer entity" th:each="offer : ${offers}" th:id="'offer-' + ${offer.id}" th:if="${offers}">
    <td th:replace="~{__components/offer :: offer-row(${offer})}"></td>
</tr>
<tr id="offer-load-more" th:if="${moreUrl}">
    <td class="text-center" colspan="6">
        <button
            class="btn btn-sm btn-light w-100-mobile"
            data-component-id="load-more"
            data-container-id="offer-load-more"
            th:data-url="${moreUrl}"
            th:text="#{button.load_more}"
        >
            Load more...
        </button>
    </td>
</tr>
