<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('offer')}"></div>

<div class="container-fluid padding-bottom-8x">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/offer :: offer-breadcrumb(${offer})}"></div>
        </div>
    </div>

    <div class="row d-none d-md-block" th:if="${offer.canAcceptOrRejectOrCounter(user)} OR ${offer.canWithdraw(user)}">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body">
                    <div class="flex flex-space-between" th:if="${offer.canAcceptOrRejectOrCounter(user)}">
                        <div>
                            <a class="btn btn-success btn-sm" id="btn-accept"
                               th:href="'/offers/accept?id=' + ${offer.id}">
                                <i class="fa-solid fa-check"></i>
                                <span th:text="#{button.accept}">ACCEPT</span>
                            </a>
                            <a class="btn btn-light btn-sm" id="btn-counter"
                               th:href="'/offers/counter?id=' + ${offer.id}">
                                <span th:text="#{button.make_counter_offer}">COUNTER</span>
                            </a>
                        </div>
                        <div>
                            <a class="btn btn-danger btn-sm" id="btn-refuse"
                               th:href="'/offers/refuse?id=' + ${offer.id}">
                                <i class="fa-solid fa-xmark"></i>
                                <span th:text="#{button.refuse}">REFUSE</span>
                            </a>
                        </div>
                    </div>
                    <div class="flex flex-space-between" th:if="${offer.canWithdraw(user)}">
                        <div></div>
                        <div>
                            <a class="btn btn-danger btn-sm" id="btn-withdraw"
                               th:href="'/offers/withdraw?id=' + ${offer.id}">
                                <span th:text="#{button.withdraw}">COUNTER</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-7">
            <div class="widget">
                <div class="widget-body">
                    <div th:replace="~{__components/offer :: offer-summary(${offer})}"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-5">
            <div class="widget" th:if="${offer.sellerAgentUser}">
                <div class="widget-body flex flex-space-between flex-wrap">
                    <div class="w-49 w-100-mobile margin-bottom-mobile">
                        <span class="badge text-bg-light border margin-bottom-small"
                              th:text="#{'offer-party.SELLER'}">BUYER</span>
                        <div th:replace="~{__components/user :: user-card(${offer.sellerAgentUser})}"></div>
                    </div>
                    <div class="w-49 w-100-mobile">
                        <span class="badge text-bg-light border margin-bottom-small"
                              th:text="#{'offer-party.BUYER'}">BUYER</span>
                        <div th:replace="~{__components/user :: user-card(${offer.buyerAgentUser})}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body">
                    <ul class="nav nav-pills mb-3" id="tab-main" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button aria-controls="pills-content" aria-selected="true" class="nav-link active"
                                    data-bs-target="#pills-details" data-bs-toggle="pill" id="pills-details-tab"
                                    role="tab" type="button">
                                Details
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button aria-controls="pills-content" aria-selected="true" class="nav-link"
                                    data-bs-target="#pills-history" data-bs-toggle="pill" id="pills-history-tab"
                                    role="tab" type="button">
                                <span th:text="#{page.offer.show.history}">History</span>
                                <span class="badge rounded-pill bg-secondary" th:text="${offer.totalVersions}">0</span>
                            </button>
                        </li>
                        <li class="nav-item" role="presentation" th:each="tab : ${page.tabs.get('main')}">
                            <button aria-selected="false" class="nav-link" data-bs-toggle="pill" role="tab"
                                    th:aria-controls="'pills-' + ${tab.name}"
                                    th:data-bs-target="'#pills-' + ${tab.name}"
                                    th:id="'pills-' + ${tab.name} + '-tab'"
                                    th:if="${tab.tabUrl} AND !${excludedTabs?.contains(tab.name)}"
                                    type="button">
                                <span class="name" th:text="#{'module.' + ${tab.name}}">TAB</span>
                            </button>
                        </li>
                    </ul>

                    <div class="tab-content" th:id="'tab-' + ${name} + '-content'">
                        <div aria-labelledby="pills-details-tab" class="tab-pane fade show active"
                             id="pills-details"
                             role="tabpanel">
                            <div id="tab-details-content">
                                <div th:replace="~{__components/offer :: offer-details(${offer})}"></div>
                            </div>
                        </div>
                        <div aria-labelledby="pills-history-tab" class="tab-pane fade show" id="pills-history"
                             role="tabpanel"
                             th:data-url="'/offer-versions?offer-id=' + ${offer.id}">
                        </div>

                        <div class="tab-pane fade" role="tabpanel"
                             th:aria-labelledby="'pills-' + ${tab.name} + '-tab'"
                             th:data-url="${tab.toTabUrl(offer.id, module, offer.readOnly)}"
                             th:each="tab : ${page.tabs.get('main')}"
                             th:id="'pills-' + ${tab.name}"
                             th:if="${tab.tabUrl} AND !${excludedTabs?.contains(tab.name)}"
                        >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-block d-md-none border sticky-bar-bottom"
     th:if="${offer.canAcceptOrRejectOrCounter(user)} OR ${offer.canWithdraw(user)}">
    <div class="flex flex-space-between" th:if="${offer.canAcceptOrRejectOrCounter(user)}">
        <div class="w-100 padding-small">
            <a class="btn btn-success btn-sm  w-100" id="btn-accept-sticky"
               th:href="'/offers/accept?id=' + ${offer.id}">
                <i class="fa-solid fa-check"></i>
                <span th:text="#{button.accept}">ACCEPT</span>
            </a>
        </div>
        <div class="w-100 padding-small">
            <a class="btn btn-light btn-sm w-100" id="btn-counter-sticky"
               th:href="'/offers/counter?id=' + ${offer.id}">
                <span th:text="#{button.counter}">COUNTER</span>
            </a>
        </div>
        <div class="w-100 padding-small">
            <a class="btn btn-danger btn-sm w-100" id="btn-reject-sticky"
               th:href="'/offers/refuse?id=' + ${offer.id}">
                <i class="fa-solid fa-xmark"></i>
                <span th:text="#{button.refuse}">REFUSE</span>
            </a>
        </div>
    </div>
    <div class="flex flex-space-between" th:if="${offer.canWithdraw(user)}">
        <div class="w-100 padding-small">
            <a class="btn btn-danger btn-sm w-100" id="btn-withdraw-sticky"
               th:href="'/offers/withdraw?id=' + ${offer.id}">
                <span th:text="#{button.withdraw}">COUNTER</span>
            </a>
        </div>
    </div>
</div>

<div th:replace="~{__components/bootstrap :: modal}"></div>
</body>
</html>
