<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('offer')}"></div>

<div class="container-fluid padding-bottom-8x">
    <div class="row margin-top-4x">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="widget">
                <div class="widget-body text-center">
                    <h1 class="margin-none success">
                        <i class="fa-solid fa-circle-check"></i>
                    </h1>
                    <div class="margin-top text-larger" th:utext="${description}">DESCRIPTION</div>
                    <div class="margin-top-2x">
                        <a class="btn btn-primary w-100" id="btn-continue"
                           th:href="'/offers/' + ${offer.id}"
                           th:text="#{button.continue}">
                            CONTINUE
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="script-confetti" src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"
        th:if="${offer.statusClosed}"></script>
<script th:if="${offer.statusClosed}">
    const jsConfetti = new JSConfetti();
    jsConfetti.addConfetti();
</script>

</body>
</html>
