<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('offer')}"></div>

<div class="container-fluid padding-bottom-8x">
    <div class="row">
        <div class="col-12">
            <div class="section">
                <div class="section-body">
                    <div class="section-item">
                        <h1 th:text="${title}">TITLE</h1>

                        <div class="alert alert-info flex">
                            <div>
                                <div class="alert-icon-container">
                                    <i class="fa-solid fa-circle-info fa-2x"></i>
                                </div>
                            </div>
                            <div class="padding-left" th:utext="${description}">DESCRIPTION</div>
                        </div>
                    </div>

                    <div class="section-item" th:if="${error}">
                        <div class="alert alert-danger" th:utext="${error}">ERROR</div>
                    </div>

                    <div class="section-item">
                        <div th:replace="~{__components/offer :: offer-listing(${offer.listing})}"></div>
                    </div>
                    <div class="section-item">
                        <label class="title" th:text="#{page.offer.amount}">AMOUNT</label>
                        <div th:text="${offer.version.price.displayText}">$$$</div>
                    </div>
                    <div class="section-item" th:if="${form.status.name() == 'CLOSED'}">
                        <label class="title" th:text="#{page.offer.buyer-agent}">BUYER-AGENT</label>
                        <div th:replace="~{__components/user :: user-small-card(${offer.buyerAgentUser}, false)}"></div>
                    </div>
                    <div class="section-item"
                         th:if="${form.status.name() == 'ACCEPTED'} OR ${form.status.name() == 'REJECTED'}">
                        <label class="title" th:text="#{page.offer.submitted-by}">SUBMITTED-BY</label>
                        <div>
                            <div
                                th:replace="~{__components/offer :: offer-party-badge(${offer.version.submittingParty})}"></div>
                            <div class="margin-top-small">
                                <div
                                    th:replace="~{__components/user :: user-small-card(${offer.assigneeUser}, false)}"></div>
                            </div>
                        </div>
                    </div>

                    <form class="form" method="post" th:action="@{/offers/status}" th:object="${form}">
                        <input th:field="*{id}" type="hidden"/>
                        <input th:field="*{status}" type="hidden"/>

                        <div class="section-item" th:if="*{status.name() == 'CLOSED'}">
                            <label class="title">
                                <span th:text="#{page.offer.closed-at}">CLOSED</span>
                                <span class="required">*</span>
                            </label>
                            <div class="text-small" th:text="#{page.offer.closed-at.help}"></div>
                            <input expired th:field="*{closedAt}" th:max="*{closedAtMax}" type="date"/>
                        </div>
                        <div class="section-item">
                            <label class="title">
                                <span th:text="#{page.offer.comment}">COMMENT</span>
                                <span class="required"
                                      th:if="*{status.name() == 'CANCELLED'} OR *{status.name() == 'REJECTED'}">*</span>
                            </label>
                            <textarea class="form-control" rows="3"
                                      th:field="*{comment}"
                                      th:required="*{status.name() == 'CANCELLED'} OR *{status.name() == 'REJECTED'}">
                            </textarea>
                        </div>
                        <div class="section-item">
                            <div class="alert alert-warning flex">
                                <div class="form-check">
                                    <input class="form-check-input" id="chk-confirm" required type="checkbox"/>
                                    <label class="form-check-label" for="chk-confirm"
                                           th:text="${confirmation}">CONFIRMATION</label>
                                </div>
                            </div>
                        </div>
                        <div class="section-item flex">
                            <button class="btn btn-success w-49-mobile" disabled id="btn-close"
                                    th:if="*{status.name() == 'CLOSED'}"
                                    type="submit">
                                <span th:text="#{button.close_offer}">CLOSE</span>
                            </button>
                            <button class="btn btn-danger w-49-mobile" disabled id="btn-cancel"
                                    th:if="*{status.name() == 'CANCELLED'}"
                                    type="submit">
                                <span th:text="#{button.cancel_offer}">CLOSE</span>
                            </button>
                            <button class="btn btn-success w-49-mobile" disabled id="btn-reject"
                                    th:if="*{status.name() == 'REJECTED'}"
                                    type="submit">
                                <span th:text="#{button.reject}">CLOSE</span>
                            </button>
                            <button class="btn btn-success w-49-mobile" disabled id="btn-accept"
                                    th:if="*{status.name() == 'ACCEPTED'}"
                                    type="submit">
                                <span th:text="#{button.accept}">ACCEPT</span>
                            </button>

                            <a class="btn btn-light margin-left w-49-mobile"
                               th:href="'/offers/' + ${offer.id}"
                               th:text="#{button.cancel}">
                                CANCEL
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    document.getElementById("chk-confirm").addEventListener("click", on_approve);

    function on_approve() {
        console.log('on_approve()');

        const elt = document.getElementById("chk-confirm");
        const comment = document.getElementById("comment");
        const btn = document.querySelector('button[type=submit]');
        btn.disabled = !elt.checked && (!comment.hasAttribute("required") || comment.value.trim().length > 0);
    }
</script>

</body>
</html>
