<div class="widget" th:if="${offers}">
    <div class="widget-header">
        <div class="widget-title" th:text="#{page.offer.widget.title}">Offers</div>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
            <tr class="d-none d-md-table-row">
                <th></th>
                <th th:text="#{page.offer.expires-at}">EXPIRES</th>
                <th class="text-right" th:text="#{page.offer.amount}">AMOUNT</th>
            </tr>
            </thead>
            <tbody>
            <tr class="offer entity" th:each="offer : ${offers}" th:id="'offer-' + ${offer.id}">
                <td class="offer-listing">
                    <a th:href="'/offers/' + ${offer.id}" th:if="${offer.listing}">
                        <div th:replace="~{__components/offer :: offer-listing(${offer.listing})}"></div>

                        <table class="margin-top-small text-small d-block d-md-none">
                            <tr>
                                <th th:text="#{page.offer.expires-at}">EXPIRY</th>
                                <td class="padding-left" th:text="${offer.version.expiresAtText}">yyy-MM-dd</td>
                            </tr>
                            <tr>
                                <th th:text="#{page.offer.amount}" valign="top">AMOUNT</th>
                                <td class="padding-left">
                                    <b class="offer-price" th:text="${offer.version.price.displayText}">$$$</b>
                                    <div th:if="${offer.version.priceDiff}">
                                        <span
                                            th:replace="~{__components/offer :: offer-version-price-diff(${offer.version})}">
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </a>
                </td>
                <td class="d-none d-md-table-cell">
                    <a target="_blank" th:href="'/offers/' + ${offer.id}" th:text="${offer.version.expiresAtText}">
                        yyyy-MM-dd
                    </a>
                </td>
                <td class="text-right d-none d-md-table-cell">
                    <a target="_blank" th:href="'/offers/' + ${offer.id}">
                        <b class="offer-price" th:text="${offer.version.price.displayText}">$$$</b>
                        <div class="margin-left-small"
                             th:if="${offer.version.priceDiff} AND !${offer.version.priceDiff.free}">
                            <span th:replace="~{__components/offer :: offer-version-price-diff(${offer.version})}">
                            </span>
                        </div>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:if="${testMode}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://use.fontawesome.com/releases/v6.6.0/css/all.css" rel="stylesheet"/>
    <link href="/css/koki.css" rel="stylesheet"/>
    <link href="/css/offers.css" rel="stylesheet"/>

    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/koki.js"></script>
    <script src="/js/offers.js"></script>
</div>

