<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="container-fluid">
    <h2>Activity</h2>
    <div class="row">
        <div class="col-12 col-md-9">
            <div class="widget">
                <div class="widget-body">
                    <a href="/">Home</a>
                    &gt;
                    <a href="/workflows">Workflows</a>
                    &gt;
                    <a th:href="${activityInstance.workflowInstance.workflow.url}"
                       th:text="${activityInstance.workflowInstance.workflow.longTitle}">WORKFLOW</a>
                    &gt;
                    <a th:href="${activityInstance.workflowInstance.url}"
                       th:text="${activityInstance.workflowInstance.id}">INSTANCE</a>
                </div>
            </div>

            <div class="widget">
                <div class="widget-body">
                    <div class="section-item">
                        <table class="table">
                            <tr>
                                <td><b>ID</b></td>
                                <td th:text="${activityInstance.id}">ID</td>
                            </tr>
                            <tr>
                                <td><b>Name</b></td>
                                <td th:text="${activityInstance.activity.name}">NAME</td>
                            </tr>
                            <tr>
                                <td><b>Title</b></td>
                                <td th:text="${activityInstance.activity.title}">TITLE</td>
                            </tr>
                            <tr>
                                <td><b>Type</b></td>
                                <td>
                                    <span
                                        th:replace="~{__components/workflow :: activity-type-icon(${activityInstance.activity.type})}"></span>
                                    <span th:text="${activityInstance.activity.type.name()}">TYPE</span>
                                </td>
                            </tr>
                            <tr th:if="${activityInstance.activity.form}">
                                <td><b>Form</b></td>
                                <td>
                                    <a th:href="${activityInstance.activity.form.viewUrl}"
                                       th:text="${activityInstance.activity.form.longTitle}">FORM</a>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Status</b></td>
                                <td>
                                    <div
                                        th:replace="~{__components/workflow :: workflow-status(${activityInstance.status})}"></div>
                                </td>
                            </tr>
                            <tr th:if="${activityInstance.activity.requiresApproval}">
                                <td><b>Approval</b></td>
                                <td>
                                    <div
                                        th:replace="~{__components/workflow :: approval-status(${activityInstance.approval})}"></div>
                                </td>
                            </tr>
                            <tr th:if="!${activityInstance.activity.description.isEmpty()}">
                                <td><b>Description</b></td>
                                <td th:text="${activityInstance.activity.description}">DESCRIPTION</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div th:replace="~{__components/workflow :: activity-widget(${activityInstance})}"></div>
        </div>

        <div class="col-12 col-md-3">
            <div class="widget" th:if="${activityInstance.assignee} OR ${activityInstance.approver}">
                <div class="widget-header">
                    <h3 class="widget-title">Participants</h3>
                </div>
                <div class="widget-body">
                    <table class="table">
                        <tr th:if="${activityInstance.assignee}">
                            <td><b>Assignee</b></td>
                            <td th:text="${activityInstance.assignee.displayName}">
                                ASSIGNEE
                            </td>
                        </tr>
                        <tr th:if="${activityInstance.approver}">
                            <td><b>Approver</b></td>
                            <td th:text="${activityInstance.approver.displayName}">
                                APPROVER
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="widget">
                <div class="widget-body">
                    <table class="table">
                        <tr th:if="${activityInstance.activity.requiresApproval}">
                            <td><b>Approved</b></td>
                            <td th:text="${activityInstance.approvedAt}">APPROVED</td>
                        </tr>
                        <tr th:if="${activityInstance.running}">
                            <td><b>Started</b></td>
                            <td th:text="${activityInstance.startedAtText}">STARTED</td>
                        </tr>
                        <tr th:if="${activityInstance.doneAt}">
                            <td><b>Done</b></td>
                            <td th:text="${activityInstance.doneAtText}">DONE</td>
                        </tr>
                        <tr>
                            <td><b>Created</b></td>
                            <td th:text="${activityInstance.createdAtText}">DONE</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>
