<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <div th:replace="~{__components/workflow :: activity-instance-breadcrumb(${activityInstance})}"></div>
        </div>
        <div class="col-12 col-md-8 offset-md-2">
            <div class="form">
                <div class="form-body">
                    <div class="section">
                        <div class="section-body padding">
                            <div class="alert alert-success">
                                The task has been completed successfully.
                            </div>
                            <div class="text-center">
                                <a class="btn btn-secondary btn-ok" href="/">Goto to Home Page</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
