<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="container">
    <h1>
        Task: <span th:text="${activityInstance.activity.longTitle}">TITLE</span>
    </h1>
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/workflow :: activity-instance-breadcrumb(${activityInstance})}"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body">
                    <div class="alert alert-success">
                        The task has been completed successfully.
                    </div>
                    <div class="text-center">
                        <a class="btn btn-secondary btn-ok" href="/">Back to Home</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
