<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <div class="form">
                <form class="form" method="post" th:action="@{${workflow.editUrl} + '/submit'}" th:object="${form}">

                    <div class="form-header">
                        <h1>Edit Workflow</h1>
                    </div>
                    <div class="form-body">
                        <div class="section">
                            <div class="section-body">
                                <div class="section-item">
                                    <h2 th:text="${workflow.longTitle}">WORKFLOW_NAME</h2>
                                </div>

                                <div class="alert alert-danger" th:if="${error}">
                                    <h5>
                                        <span th:text="${error}">ERROR</span>
                                        <span th:if="${errorParam}" th:text="': ' + ${errorParam}">PARAM</span>
                                    </h5>
                                    <div th:each="item : ${errorDetails}" th:if="${errorDetails}" th:text="${item}">
                                        ITEM
                                    </div>
                                </div>

                                <div class="section-item">
                                    <div class="workflow-image">
                                        <img th:alt="${workflow.title}" th:src="${workflow.imageUrl}"/>
                                    </div>
                                </div>

                                <div class="section-item">
                                    <label class="title">
                                        <span>Workflow JSON</span>
                                        <span class="required">*</span>
                                    </label>
                                    <div class="description">Describe the workflow using JSON format</div>
                                    <textarea name="json" required rows="15" th:field="*{json}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-footer">
                        <button type="submit">Submit</button>
                        <a class="btn-cancel" href="/workflows">Cancel</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>
