<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="container">
    <h1>
        <img align="absmiddle" height="48" src="/image/workflow-instance.png" width="48"/>
        Workflow Instances
    </h1>
    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body">
                    <table class="table table-striped" th:if="${workflowInstances}">
                        <tr>
                            <th>Title</th>
                            <th>Workflow</th>
                            <th>Status</th>
                            <th>Modified</th>
                            <th>Created By</th>
                        </tr>
                        <tr class="workflow-instance" th:each="workflowInstance : ${workflowInstances}">
                            <div th:replace="~{__components/workflow :: columns(${workflowInstance}, true)}"></div>
                        </tr>
                        <tr th:replace="~{__components/workflow :: load-more(${moreUrl}, true)}"></tr>
                    </table>

                    <div class="text-center" th:if="!${workflowInstances}">No workflow instances</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
