<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="container">
    <div class="row">

        <div class="col-12 col-md-8">
            <div class="widget">
                <div class="widget-body">
                    <div class="widget-toolbar">
                        <a class="btn-start" th:href="${workflow.startUrl}"
                           th:if="${workflow.workflowInstanceCount == 0}">Start</a>
                    </div>

                    <div class="section-item">
                        <div class="workflow-image">
                            <img th:alt="${workflow.title}" th:src="${workflow.imageUrl}"/>
                        </div>
                    </div>

                    <div class="section-item">
                        <table class="table">
                            <tr>
                                <td><b>Name</b></td>
                                <td th:text="${workflow.name}">NAME</td>
                            </tr>
                            <tr>
                                <td><b>Title</b></td>
                                <td th:text="${workflow.title}">TITLE</td>
                            </tr>
                            <tr>
                                <td><b>Description</b></td>
                                <td th:text="${workflow.description}">DESCRIPTION</td>
                            </tr>
                            <tr>
                                <td><b>Approval?</b></td>
                                <td>
                                    <span th:if="${workflow.requiresApprover}">Yes</span>
                                    <span th:if="!${workflow.requiresApprover}">No</span>
                                </td>
                            </tr>
                            <tr th:if="${workflow.requiresApprover} AND ${workflow.approverRole}">
                                <td><b>Approver Role</b></td>
                                <td th:text="${workflow.approverRole.title}">APPROVER</td>
                            </tr>
                            <tr>
                                <td><b>Active?</b></td>
                                <td>
                                    <span th:if="${workflow.active}">Yes</span>
                                    <span th:if="!${workflow.active}">No</span>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="section-item">
                        <h2>Activities</h2>
                        <table class="table table-striped">
                            <tr>
                                <th>Name</th>
                                <th>Title</th>
                                <th>Role</th>
                                <th>Approval?</th>
                            </tr>
                            <tr class="activity" th:each="activity: ${workflow.activities}">
                                <td>
                                    <span
                                        th:replace="~{__components/workflow :: activity-type-icon(${activity})}"></span>
                                    <span th:text="${activity.name}">NAME</span>
                                </td>
                                <td th:text="${activity.title}">TITLE</td>
                                <td>
                                    <span th:if="${activity.role}" th:text="${activity.role.title}">ROLE</span>
                                </td>
                                <td>
                                    <span th:if="${activity.requiresApproval}">Yes</span>
                                    <span th:if="!${activity.requiresApproval}">No</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="widget">
                <div class="widget-body">
                    <table class="table">
                        <tr>
                            <td><b>Instances</b></td>
                            <td th:text="${workflow.getWorkflowInstanceCount()}">0</td>
                        </tr>
                        <tr>
                            <td><b>Created</b></td>
                            <td th:text="${workflow.createdAtText}">CREATED</td>
                        </tr>
                        <tr>
                            <td><b>Modified</b></td>
                            <td th:text="${workflow.modifiedAtText}">CREATED</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>
