<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="container">
    <h1>
        <img align="absmiddle" height="48" src="/image/workflow-instance.png" width="48"/>
        <span th:text="${workflowInstance.title}">TITLE</span>
    </h1>
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/workflow :: workflow-instance-breadcrumb(${workflowInstance})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-8">
            <div class="widget">
                <div class="widget-body">
                    <table class="table">
                        <tr>
                            <td width="20%"><b>Title</b></td>
                            <td th:text="${workflowInstance.title}">TITLE</td>
                        </tr>
                        <tr>
                            <td><b>Status</b></td>
                            <td>
                                <div
                                    th:replace="~{__components/workflow :: workflow-status(${workflowInstance.status})}"></div>
                            </td>
                        </tr>
                        <tr th:if="${workflowInstance.workflow.description}">
                            <td><b>Description</b></td>
                            <td th:text="${workflowInstance.workflow.description}">DESCRIPTION</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="widget">
                <div class="widget-body">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button aria-controls="pills-activities" aria-selected="true" class="nav-link active"
                                    data-bs-target="#pills-activities" data-bs-toggle="pill" id="pills-activities-tab"
                                    role="tab" type="button">
                                Activities
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button aria-controls="pills-files" aria-selected="false" class="nav-link"
                                    data-bs-target="#pills-files" data-bs-toggle="pill" id="pills-files-tab"
                                    role="tab" type="button">
                                Files
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button aria-controls="pills-logs" aria-selected="false" class="nav-link"
                                    data-bs-target="#pills-logs" data-bs-toggle="pill" id="pills-logs-tab"
                                    role="tab" type="button">
                                Log
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button aria-controls="pills-process" aria-selected="false" class="nav-link"
                                    data-bs-target="#pills-process" data-bs-toggle="pill" id="pills-process-tab"
                                    role="tab" type="button">
                                Process
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button aria-controls="pills-state" aria-selected="false" class="nav-link"
                                    data-bs-target="#pills-state" data-bs-toggle="pill" id="pills-state-tab"
                                    role="tab" type="button">
                                State
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div aria-labelledby="pills-activities-tab" class="tab-pane fade show active"
                             id="pills-activities"
                             role="tabpanel">
                            <table class="table table-striped">
                                <tr>
                                    <th width="1%"></th>
                                    <th>Name</th>
                                    <th>Title</th>
                                    <th>Status</th>
                                    <th>Assignee</th>
                                    <th th:if="${workflowInstance.workflow.requiresApprover}">Approval</th>
                                </tr>
                                <tr class="activity"
                                    th:classappend="${activityInstances[activity.id]?.running} ? 'activity-running'"
                                    th:each="activity: ${workflowInstance.workflow.activities}"
                                    th:if="${activityInstances[activity.id]}">
                                    <td>
                                    <span
                                        th:replace="~{__components/workflow :: activity-type-icon(${activity.type})}"></span>
                                    </td>
                                    <td>
                                        <a th:href="${activityInstances[activity.id].url}"
                                           th:if="${activityInstances[activity.id]}"
                                           th:text="${activity.name}">
                                            NAME
                                        </a>
                                    </td>
                                    <td th:text="${activity.TITLE}">TITLE</td>
                                    <td>
                                        <div
                                            th:replace="~{__components/workflow :: workflow-status(${activityInstances[activity.id]?.status})}"></div>
                                    </td>
                                    <td>
                                    <span
                                        th:text="${activityInstances[activity.id]?.assignee?.displayName}">ASSIGNEE</span>
                                    </td>
                                    <td th:if="${workflowInstance.workflow.requiresApprover}">
                                        <div
                                            th:replace="~{__components/workflow :: approval-status(${activityInstances[activity.id]?.approval})}"></div>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div aria-labelledby="pills-files-tab" class="tab-pane fade" id="pills-files"
                             role="tabpanel"
                             th:data-url="'/files/widgets/list?workflow-instance-id=' + ${workflowInstance.id}">
                        </div>

                        <div aria-labelledby="pills-process-tab" class="tab-pane fade" id="pills-logs"
                             role="tabpanel"
                             th:data-url="'/logs/widgets/list?workflow-instance-id=' + ${workflowInstance.id}">
                        </div>

                        <div aria-labelledby="pills-process-tab" class="tab-pane fade" id="pills-process"
                             role="tabpanel"
                             th:data-url="'/workflows/widgets/image?workflow-instance-id=' + ${workflowInstance.id}">
                        </div>

                        <div aria-labelledby="pills-state-tab" class="tab-pane fade" id="pills-state" role="tabpanel">
                            <pre th:if="${workflowInstance.stateJSON}">
                                <code th:class="'language-json'" th:text="${workflowInstance.stateJSON}">CODE</code>
                            </pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="widget" th:if="${workflowInstance.approver} OR !${workflowInstance.participants.isEmpty()}">
                <div class="widget-header">
                    <h4 class="widget-title">Participants</h4>
                </div>
                <div class="widget-body">
                    <table class="table">
                        <tr th:if="${workflowInstance.approver}">
                            <td width="30%"><b>Approver</b></td>
                            <td th:text="${workflowInstance.approver.displayName}">APPROVER</td>
                        </tr>
                        <tr th:each="participant : ${workflowInstance.participants}">
                            <td width="30%">
                                <b th:text="${participant.role.title}">ROLE</b>
                            </td>
                            <td th:text="${participant.user.displayName}">USER</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="widget">
                <div class="widget-body">
                    <table class="table">
                        <tr>
                            <td width="30%"><b>Workflow</b></td>
                            <td>
                                <a class="workflow" th:href="${workflowInstance.workflow.url}"
                                   th:text="${workflowInstance.workflow.name}">
                                    WORKFLOW
                                </a>
                            </td>
                        </tr>
                        <tr th:if="${workflowInstance.status.name() != 'RUNNING'}">
                            <td width="30%"><b>Started</b></td>
                            <td th:text="${workflowInstance.startAtText}">START</td>
                        </tr>
                        <tr th:if="${workflowInstance.status.name() == 'RUNNING'}">
                            <td><b>Started</b></td>
                            <td th:text="${workflowInstance.startedAtText}">START</td>
                        </tr>
                        <tr th:if="${workflowInstance.dueAt}">
                            <td><b>Due</b></td>
                            <td th:text="${workflowInstance.dueAtText}">START</td>
                        </tr>
                        <tr th:if="${workflowInstance.doneAt}">
                            <td><b>Done</b></td>
                            <td th:text="${workflowInstance.doneAtText}">DONE</td>
                        </tr>
                        <tr>
                            <td><b>Created</b></td>
                            <td th:text="${workflowInstance.createdAtText}">CREATED</td>
                        </tr>
                        <tr th:if="${workflowInstance.createdBy}">
                            <td><b>Created by</b></td>
                            <td th:text="${workflowInstance.createdBy.displayName}">CREATED BY</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<div th:replace="~{__components/highlightjs :: prettity('json')}"></div>
</body>
</html>
