<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class='alert alert-warning' id='alert-done' th:if='${task.status.name == "DONE"}'>
                This task has already been completed
            </div>
            <div class='alert alert-warning' id='alert-not-assignee'
                 th:if='${task.assignee?.id != user?.id} AND ${task.status.name == "RUNNING"}'>
                This task has not been assigned to you
            </div>

            <div th:replace="~{__components/layout :: error-message(${error})}"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="widget">
                <div class="widget-body">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button aria-controls="pills-task" aria-selected="true" class="nav-link active"
                                    data-bs-target="#pills-task" data-bs-toggle="pill" id="pills-task-tab"
                                    role="tab" type="button">
                                Task
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button aria-controls="pills-files" aria-selected="false" class="nav-link"
                                    data-bs-target="#pills-files" data-bs-toggle="pill" id="pills-files-tab"
                                    role="tab" type="button">
                                Files
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button aria-controls="pills-process" aria-selected="false" class="nav-link"
                                    data-bs-target="#pills-process" data-bs-toggle="pill" id="pills-process-tab"
                                    role="tab" type="button">
                                Process
                            </button>
                        </li>
                    </ul>

                    <div class="tab-content" id="pills-tabContent">
                        <div aria-labelledby="pills-task-tab" class="tab-pane fade show active" id="pills-task"
                             role="tabpanel">
                            <div th:if="${formHtml}">
                                <div class='alert alert-info' th:if="${canComplete}">
                                    Please,<br/>
                                    Fill out the form and press the <b>Submit</b> button.
                                </div>

                                <div id="form-container" th:utext="${formHtml}">HTML</div>
                            </div>

                            <table class="table" th:if="!${formHtml}">
                                <tr>
                                    <td width="20%"><b>Name</b></td>
                                    <td th:text="${task.activity.name}">NAME</td>
                                </tr>
                                <tr>
                                    <td><b>Title</b></td>
                                    <td th:text="${task.activity.title}">TITLE</td>
                                </tr>
                                <tr th:if="${task.activity.description}">
                                    <td><b>Description</b></td>
                                    <td th:text="${task.activity.description}">TASK</td>
                                </tr>
                            </table>

                            <form method="post" th:action="'/tasks/' + ${task.id} + '/complete'"
                                  th:if="${task.activity.type.name == 'MANUAL'} AND ${canComplete}">
                                <div class="padding d-grid gap-2">
                                    <button class="btn btn-primary btn-lg" id="btn-complete"
                                            onclick="return confirm('Are you sure the task is completed?');"
                                            type="submit">
                                        Complete the Task
                                    </button>
                                </div>
                            </form>
                        </div>

                        <div aria-labelledby="pills-files-tab" class="tab-pane fade" id="pills-files"
                             role="tabpanel"
                             th:data-url="'/files/widgets/list?workflow-instance-id=' + ${task.workflowInstance.id}">
                        </div>
                        <div aria-labelledby="pills-process-tab" class="tab-pane fade" id="pills-process"
                             role="tabpanel"
                             th:data-url="'/workflows/widgets/image?workflow-instance-id=' + ${task.workflowInstance.id}">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="widget">
                <div class="widget-body">
                    <table class="table">
                        <tr>
                            <td width="30%"><b>Assignee</b></td>
                            <td th:text="${task.assignee?.displayName}">ASSIGNEE</td>
                        </tr>
                        <tr>
                            <td><b>Status</b></td>
                            <td>
                                <div th:replace="~{__components/workflow :: workflow-status(${task.status})}"></div>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Type</b></td>
                            <td>
                                <span
                                    th:replace="~{__components/workflow :: activity-type-icon(${task.activity.type})}"></span>
                                <span th:text="${task.activity.type.name()}">TYPE</span>
                            </td>
                        </tr>
                        <tr th:if="${task.startedAt}">
                            <td><b>Started</b></td>
                            <td th:text="${task.startedAtText}">START</td>
                        </tr>
                        <tr th:if="${task.doneAt}">
                            <td><b>Done</b></td>
                            <td th:text="${task.doneAtText}">DONE</td>
                        </tr>
                        <tr>
                            <td><b>Modified At</b></td>
                            <td th:text="${task.modifiedAtText}">MODIFIED_AT</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<div th:replace="~{__components/highlightjs :: prettity('json')}"></div>
</body>
</html>
