<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="widget">
                <div class="widget-body">
                    <div class="alert alert-success">
                        The task <b th:text="${task.activity.titleOrName}">TASK</b> has been completed successfully.
                        <br/>
                        Thank you!
                    </div>
                    <div class="text-center">
                        <a class="btn btn-secondary" href="/" id="btn-ok">Back to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
