<div class="widget">
    <div class="widget-body">
        <div class="section-item">
            <table class="table">
                <tr>
                    <td><b>Form</b></td>
                    <td>
                        <a th:href="'${form.url}?workflow-instance-id' + ${workflowInstance.id}"
                           th:text="${form.longTitle}">WORKFLOW</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">

                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
