<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="container">
    <h1>
        <img align="absmiddle" height="48" src="/image/message.png" width="48"/>
        Create New Message
    </h1>
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/message :: message-breadcrumb(null)}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">

            <form class="form" method="post" th:action="@{/settings/messages/add-new}" th:object="${form}">
                <div class="form-body">
                    <div class="section">
                        <div class="section-body">
                            <div th:replace="~{__components/layout :: error-message(${error})}"></div>

                            <div class="section-item">
                                <label class="title">Name <span class="required">*</span></label>
                                <input maxlength="10" required th:field="*{name}"/>
                            </div>
                            <div class="section-item">
                                <label class="title">Subject <span class="required">*</span></label>
                                <input maxlength="255" required th:field="*{subject}"/>
                            </div>
                            <div class="section-item">
                                <label class="title">Body <span class="required">*</span></label>
                                <div class="description">Enter the content of the message in HTML format</div>
                                <textarea required rows="10" th:field="*{body}"></textarea>
                            </div>
                            <div class="section-item">
                                <label class="title">Active</label>
                                <select th:field="*{active}">
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-footer">
                    <button type="submit">Submit</button>
                    <a class="btn-cancel" href="/settings/messages">Cancel</a>
                </div>

            </form>
        </div>

    </div>
</div>
</body>
</html>
