<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="container">
    <h1>
        <img align="absmiddle" height="48" src="/image/message.png" width="48"/>
        <span th:text="${message.name}">NAME</span>
    </h1>
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/message :: message-breadcrumb(${message})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-8">

            <div class="widget">
                <div class="widget-body">
                    <div class="widget-toolbar">
                        <a class="btn-edit btn btn-secondary"
                           th:href="'/settings/messages/' + ${message.id} + '/edit'">Edit</a>
                        <a class="btn-delete btn btn-danger float-right"
                           onclick="return confirm('Are you sure you want to delete the message?')"
                           th:href="'/settings/messages/' + ${message.id} + '/delete'">Delete</a>
                    </div>

                    <div th:replace="~{__components/layout :: error-message(${error})}"></div>

                    <table class="table">
                        <tr>
                            <td width="20%"><b>Name</b></td>
                            <td th:text="${message.name}">NAME</td>
                        </tr>
                        <tr>
                            <td><b>Description</b></td>
                            <td th:text="${message.description}">DESCRIPTION</td>
                        </tr>
                        <tr>
                            <td><b>Subject</b></td>
                            <td th:text="${message.subject}">TITLE</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="widget">
                <div class="widget-header">
                    <div class="widget-title">Body</div>
                </div>
                <div class="widget-body">
                    <pre>
                        <code class="language-html" th:text="${message.body}"></code>
                    </pre>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="widget">
                <div class="widget-body">
                    <table class="table table-striped">
                        <tr>
                            <td><b>Active</b></td>
                            <td>
                                <span th:if="${message.active}">Yes</span>
                                <span th:if="!${message.active}">No</span>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Created</b></td>
                            <td th:text="${message.createdAtText}">CREATED</td>
                        </tr>
                        <tr>
                            <td><b>Modified</b></td>
                            <td th:text="${message.modifiedAtText}">CREATED</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<div th:replace="~{__components/highlightjs :: prettity('html')}"></div>

</body>
</html>
