<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('room')}"></div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/room :: breadcrumb(${room})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form class="form" method="post" th:action="@{'/rooms/' + ${room.id} + '/update'}" th:object="${form}">
                <div class="form-body">
                    <div class="section">
                        <div class="section-body">
                            <div th:replace="~{__components/layout :: error-message(${error})}"></div>

                            <div class="section-item">
                                <label class="title">Type <span class="required">*</span></label>
                                <select th:field="*{type}">
                                    <option value=""></option>
                                    <option th:each="type : ${types}"
                                            th:text="#{'room-type.' + ${type}}"
                                            th:value="${type.name}"
                                    >
                                        TYPE
                                    </option>
                                </select>
                            </div>
                            <div class="section-item">
                                <label class="title">Lease Type <span class="required">*</span></label>
                                <select required th:field="*{leaseType}">
                                    <option value=""></option>
                                    <option th:each="type : ${leaseTypes}"
                                            th:if="${type.name != 'UNKNOWN'}"
                                            th:text="#{'lease-type.' + ${type}}"
                                            th:value="${type.name}"
                                    >
                                        LEASE TYPE
                                    </option>
                                </select>
                            </div>
                            <div class="section-item">
                                <label class="title">Furnishes <span class="required">*</span></label>
                                <select required th:field="*{furnishedType}">
                                    <option value=""></option>
                                    <option th:each="type : ${furnishedTypes}"
                                            th:if="${type.name != 'UNKNOWN'}"
                                            th:text="#{'furnished-type.' + ${type}}"
                                            th:value="${type.name}"
                                    >
                                        FURNISHED TYPE
                                    </option>
                                </select>
                            </div>

                            <div class="section-item">
                                <label class="title">Bedrooms</label>
                                <select th:field="*{numberOfRooms}">
                                    <option th:each="i : ${rooms}"
                                            th:text="${i}"
                                            th:value="${i}">
                                        TYPE
                                    </option>
                                </select>
                            </div>
                            <div class="section-item">
                                <label class="title">Baths</label>
                                <select th:field="*{numberOfBathrooms}">
                                    <option th:each="i : ${rooms}"
                                            th:text="${i}"
                                            th:value="${i}">
                                        00
                                    </option>
                                </select>
                            </div>
                            <div class="section-item">
                                <label class="title">Beds</label>
                                <select th:field="*{numberOfBeds}">
                                    <option th:each="i : ${rooms}"
                                            th:text="${i}"
                                            th:value="${i}">
                                        00
                                    </option>
                                </select>
                            </div>
                            <div class="section-item">
                                <label class="title">Max Guests</label>
                                <select th:field="*{maxGuests}">
                                    <option th:each="i : ${rooms}"
                                            th:text="${i}"
                                            th:value="${i}">
                                        00
                                    </option>
                                </select>
                            </div>
                            <div class="section-item">
                                <label class="title">Area (m<sup>2</sup>)</label>
                                <input step="0" th:field="*{area}" type="number"/>
                            </div>


                            <div class="section-item">
                                <label class="title">Price per night</label>
                                <input step="0" th:field="*{pricePerNight}" type="number"/>
                            </div>
                            <div class="section-item">
                                <label class="title">Price per month</label>
                                <input step="0" th:field="*{pricePerMonth}" type="number"/>
                            </div>

                            <div class="section-item">
                                <label class="title">Checkin Time</label>
                                <select th:field="*{checkinTime}">
                                    <option value=""></option>
                                    <option th:each="time : ${checkInOutTimes}"
                                            th:text="${time}"
                                            th:value="${time}"
                                    >
                                        00:00
                                    </option>
                                </select>
                            </div>
                            <div class="section-item">
                                <label class="title">Checkout Time</label>
                                <select th:field="*{checkoutTime}">
                                    <option value=""></option>
                                    <option th:each="time : ${checkInOutTimes}"
                                            th:text="${time}"
                                            th:value="${time}"
                                    >
                                        00:00
                                    </option>
                                </select>
                            </div>

                            <div class="section-item">
                                <label class="title">Currency: <span class="required">*</span></label>
                                <select th:field="*{currency}">
                                    <option th:each="currency : ${currencies}"
                                            th:text="${currency.displayName}"
                                            th:value="${currency.currencyCode}"
                                    >CURRENCY
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section"
                     data-city-id="cityId"
                     data-component-id=address
                     data-country-id="country"
                     data-neighborhood-id="neighborhoodId"
                >
                    <div class="section-header">
                        <h3 class="section-title">Address</h3>
                    </div>
                    <div class="section-body">
                        <div class="section-item">
                            <label class="title">Country</label>
                            <select th:field="*{country}">
                                <option value=""></option>
                                <option th:each="country : ${countries}"
                                        th:text="${country.displayCountry}"
                                        th:value="${country.country}"
                                >
                                    COUNTRY
                                </option>
                            </select>
                        </div>
                        <div class="section-item">
                            <label class="title">City</label>
                            <select th:field="*{cityId}">
                                <option selected
                                        th:if="${city}"
                                        th:text="${city?.name}"
                                        th:value="${city?.id}">
                                    CITY
                                </option>
                            </select>
                        </div>
                        <div class="section-item">
                            <label class="title">Neighborhood</label>
                            <select th:field="*{neighborhoodId}">
                                <option selected
                                        th:if="${neighborhood}"
                                        th:text="${neighborhood?.name}"
                                        th:value="${neighborhood?.id}">
                                    neighborhood
                                </option>
                            </select>
                        </div>
                        <div class="section-item">
                            <label class="title">Street</label>
                            <input th:field="*{street}"/>
                        </div>
                        <div class="section-item">
                            <label class="title">Postal Code</label>
                            <input maxlength="30" th:field="*{postalCode}"/>
                        </div>
                    </div>
                </div>

                <div class="form-footer">
                    <button type="submit">Submit</button>
                    <a class="btn-cancel" th:href="'/rooms/' + ${room.id}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener(
        'DOMContentLoaded',
        function () {
            kokiEditor.ready();
        },
        false
    );
</script>
</body>
</html>
