<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('room')}"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/room :: breadcrumb(${room})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body room-summary">
                    <div class="flex flex-space-between">
                        <h1 class="entity-title">
                            <img align="absmiddle" src="/image/room.png" width="48"/>
                            <span th:text="${room.title}">NAME</span>
                        </h1>
                    </div>
                    <div class=" d-none d-md-flex">
                        <div th:replace="~{__components/room :: summary(${room})}"></div>
                    </div>
                    <div th:replace="~{__components/layout :: error-message(${error})}"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body">
                    <h2>Select Hero Image</h2>
                    <div>
                        Select the main image of the room
                    </div>
                    <div class="margin-top text-center" id="hero-image-picker">
                        <div class="hero-image-container text-center margin-right margin-bottom border"
                             th:each="image : ${images}"
                             th:id="'image-' + ${image.id}">
                            <img class="hero-image" th:src="${image.contentUrl}"/>
                            <div class="padding-small">
                                <a class="btn btn-sm btn-light btn-select"
                                   th:href="'/rooms/' + ${room.id} + '/hero-image-picker/select?file-id=' + ${image.id}"
                                   th:if="${room.managedBy(user)}">
                                    Select
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="text-center margin-top">
                        <a class="btn-cancel btn btn-sm btn-light" th:href="'/rooms/' + ${room.id}">
                            Cancel
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
