<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('room')}"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/room :: breadcrumb(null)}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body">
                    <div class="flex flex-space-between margin-bottom">
                        <div>
                            <a class="btn-create btn btn-primary btn-sm" href="/rooms/create"
                               th:if="${user?.hasPermission('room:manage')}">
                                Create New Room
                            </a>
                        </div>
                        <div>
                            <select class="btn btn-sm btn-light" id="filter-type"
                                    onchange="koki_rooms_on_filter_changed()"
                                    style="width: auto"
                                    th:if="!${types.isEmpty()}"
                            >
                                <option value="">All Types</option>
                                <option th:each="tt : ${types}"
                                        th:selected="${tt} == ${type}"
                                        th:text="#{'room-type.' + ${tt}}"
                                        th:value="${tt}"
                                >
                                    TYPE
                                </option>
                            </select>
                            <select class="btn btn-sm btn-light" id="filter-status"
                                    onchange="koki_rooms_on_filter_changed()"
                                    style="width: auto"
                                    th:if="!${statuses.isEmpty()}"
                            >
                                <option value="">All Statuses</option>
                                <option th:each="tt : ${statuses}"
                                        th:selected="${tt} == ${status}"
                                        th:text="#{'room-status.' + ${tt}}"
                                        th:value="${tt}"
                                >
                                    STATUS
                                </option>
                            </select>
                        </div>
                    </div>

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th width="15%"></th>
                            <th>Description</th>
                            <th width="10%">Status</th>
                            <th width="15%">Type</th>
                            <th width="15%">Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="room" th:each="room : ${rooms}">
                            <div th:replace="~{__components/room :: columns(${room})}"></div>
                        </tr>
                        <tr th:replace="~{__components/room :: load-more(${moreUrl})}"></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{__components/bootstrap :: toast(${toast})}"></div>
<script>
    function koki_rooms_on_filter_changed() {
        const type = document.getElementById('filter-type').value;
        const status = document.getElementById('filter-status').value;

        document.location.href = '/rooms?' +
            (type && type.length > 0 ? '&type=' + type : '') +
            (status && status.length > 0 ? '&status=' + status : '');
    }
</script>
</body>
</html>
