<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('room')}"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/room :: breadcrumb(${room})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body container-fluid">
                    <div class="row">
                        <div class="col-12 col-md-3 margin-bottom">
                            <div th:replace="~{__components/layout :: error-message(${error})}"></div>

                            <form class="form" method="post" th:action="@{'/rooms/' + ${room.id} + '/map'}"
                                  th:object="${form}">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a class="btn-back" th:href="'/rooms/' + ${room.id}">
                                                <i class="fa-solid fa-arrow-left-long"></i>
                                                <b>Back</b>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr th:if="${room.address}">
                                        <td>
                                            <b>Address</b>
                                            <div th:utext="${room.address.toHtml()}">ADDRESS</div>
                                            <div th:if="${room.neighborhood}" th:text="${room.neighborhood.name}">
                                                NEIGHBORHOOD
                                            </div>
                                        </td>
                                    </tr>
                                    <tr th:if="${room.hasGeoLocation}">
                                        <td>
                                            <b>Current Location</b>
                                            <div>
                                                <span th:text="${room.latitude}">LAT</span>
                                                <span class="margin-left" th:text="${room.longitude}">LONG</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>New Location</b>
                                            <div class="flex flex-space-between">
                                                <input readonly required th:field="*{latitude}"/>
                                                <input readonly required th:field="*{longitude}"/>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <button type="submit">Save GeoLocation</button>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                        <div class="col-12 col-md-9">
                            <div class="map-toolbar padding">
                                <button class="btn btn-small btn-light" id="btn-google-map"
                                        onclick="open_in_google_map()">
                                    Open GoogleMap
                                </button>
                                <button class="btn btn-small btn-light" id="btn-lat-long" onclick="set_lat_long()">
                                    Set Position
                                </button>
                            </div>
                            <div data-component-id="map"
                                 data-zoom=13
                                 id="map"
                                 style="height:800px"
                                 th:data-latitude="${latitude}"
                                 th:data-longitude="${longitude}"
                                 th:data-on-click="on_map_click"
                                 th:data-on-ready="on_map_ready"
                                 th:data-show-marker="${room.hasGeoLocation}"
                                 th:data-zoom="${zoom}"
                            ></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="~{__components/bootstrap :: toast(${toast})}"></div>
<div th:replace="~{__components/bootstrap :: modal}"></div>

<script>
    let map = null;
    let marker = null;
    let lat = null;
    let long = null;
    let icon = null;

    function open_in_google_map() {
        console.log('open_in_google_map()', lat, long);

        if (lat && long) {
            const zoom = document.getElementById("map").getAttribute("data-zoom");
            const url = 'https://maps.google.com/maps?t=m&z=' + zoom + '&q=loc:' + lat + '+' + long;
            console.log('Opening ', url);
            window.open(url, '_blank').focus();
        }
    }

    function set_lat_long() {
        console.log('set_lat_long()');

        const latlong = prompt('Enter the position [Format: <latitude>, <longitude>]');
        if (latlong) {
            const parts = latlong.split(',');
            if (parts.length === 2) {
                // Change the lat/long
                _change_lat_long(parts[0].trim(), parts[1].trim(), true);
            } else {
                alert(latlong + ' is not a valid position');
            }
        }
    }

    function on_map_click(e) {
        console.log('on_map_click()', e);
        _change_lat_long(e.latlng.lat, e.latlng.lng, false);
    }

    function on_map_ready(id, mmap) {
        console.log('on_map_ready()', id, mmap);

        map = mmap;
        lat = document.getElementById("map").getAttribute("data-latitude");
        long = document.getElementById("map").getAttribute("data-longitude");
        icon = new L.Icon({
            iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
            shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });
    }

    function _change_lat_long(latitude, longitude, recenter) {
        console.log('_change_lat_long', latitude, longitude);

        lat = latitude;
        long = longitude;
        document.getElementById('latitude').value = latitude;
        document.getElementById('longitude').value = longitude;

        // Remove previous marker
        if (marker) {
            map.removeLayer(marker);
        }

        // Add new marker
        marker = L.marker([lat, long], {icon: icon});
        map.addLayer(marker);
        marker._icon.classList.add("success");

        // Recenter
        if (recenter) {
            map.panTo(new L.LatLng(lat, long));
        }
    }
</script>
</body>
</html>
