<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('room')}"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/room :: breadcrumb(${room})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body room-summary">
                    <div class="flex flex-space-between">
                        <h1 class="entity-title">
                            <img align="absmiddle" src="/image/room.png"/>
                            <span th:text="${room.title}">NAME</span>
                        </h1>
                        <div>
                            <a class="btn-edit btn btn-light btn-sm"
                               th:href="'/rooms/' + ${room.id} + '/edit'"
                               th:if="${user?.hasPermission('room:manage')}">Edit</a>

                            <a class="btn-delete btn btn-danger btn-sm"
                               onclick="return confirm('Are you sure you want to delete the room?')"
                               th:href="'/rooms/' + ${room.id} + '/delete'"
                               th:if="${user?.hasPermission('room:manage')}">Delete</a>
                        </div>
                    </div>

                    <div class="flex">
                        <div class="margin-right-2x">
                            <b>Title</b><br/>
                            <span th:text="${room.title}">TITLE</span>
                        </div>
                        <div class="margin-right-2x">
                            <b>Status</b><br/>
                            <div th:replace="~{__components/room :: status(${room.status})}"></div>
                        </div>
                        <div class="margin-right-2x">
                            <b>Type</b><br/>
                            <span th:text="#{'room-type.' + ${room.type}}">TYPE</span>
                        </div>
                        <div class="margin-right-2x">
                            <b>Price/night</b><br/>
                            <span th:text="${room.pricePerNight}">$$</span>
                        </div>
                    </div>
                    <div th:replace="~{__components/layout :: error-message(${error})}"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="row">
            <div class="col-12 col-md-7">
                <div class="widget">
                    <div class="widget-body">
                        <div th:replace="~{__components/module :: tabs('main', true)}"></div>
                        <div
                            th:replace="~{__components/module :: tabs-content('main', true, ${room}, ${module})}"></div>
                        <table class="table hidden" id="tab-details-content">
                            <tr>
                                <td>DETAILS</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5">
                <div class="widget">
                    <div class="widget-body">
                        <div th:replace="~{__components/module :: tabs('side', false)}"></div>
                        <div
                            th:replace="~{__components/module :: tabs-content('side', false, ${room}, ${module})}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="~{__components/bootstrap :: toast(${toast})}"></div>

</body>
</html>
