<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('room')}"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/room :: breadcrumb(${room})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body room-summary">
                    <div class="flex flex-space-between">
                        <h1 class="entity-title">
                            <img align="absmiddle" src="/image/room.png" width="48"/>
                            <span th:text="${room.title}">NAME</span>
                        </h1>
                        <div th:if="!${room.readOnly}">
                            <a class="btn-edit btn btn-light btn-sm"
                               th:href="'/rooms/' + ${room.id} + '/edit'"
                               th:if="${user?.hasPermission('room:manage')}">Edit</a>

                            <a class="btn-publish btn btn-primary btn-sm"
                               onclick="return confirm('Are you sure you want to publish this listing online?')"
                               th:href="'/rooms/' + ${room.id} + '/publish'"
                               th:if="${room.draft} AND ${user?.hasPermission('room:manage')}">Publish Online</a>

                            <a class="btn-delete btn btn-danger btn-sm"
                               onclick="return confirm('Are you sure you want to delete?')"
                               th:href="'/rooms/' + ${room.id} + '/delete'"
                               th:if="${room.draft} AND ${user?.hasPermission('room:manage')}">Delete</a>
                        </div>
                    </div>

                    <div class="flex">
                        <div class="margin-right-2x">
                            <b>Title</b><br/>
                            <span th:text="${room.title}">TITLE</span>
                        </div>
                        <div class="margin-right-2x">
                            <b>Status</b><br/>
                            <div th:replace="~{__components/room :: status(${room.status})}"></div>
                        </div>
                        <div class="margin-right-2x">
                            <b>Type</b><br/>
                            <div th:replace="~{__components/room :: type(${room.type})}"></div>
                        </div>
                        <div class="margin-right-2x">
                            <b>Price/night</b><br/>
                            <span th:text="${room.pricePerNight}">$$</span>
                        </div>
                    </div>
                    <div th:replace="~{__components/layout :: error-message(${error})}"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body">
                    <div th:replace="~{__components/module :: tabs('main', true)}"></div>
                    <div
                        th:replace="~{__components/module :: tabs-content('main', true, ${room}, ${module})}"></div>

                    <div class="hidden" id="tab-details-content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 col-md-7">
                                    <div th:replace="~{__components/room :: details(${room})}"></div>
                                </div>
                                <div class="col-12 col-md-5">
                                    <div data-component-id="map"
                                         id="map"
                                         style="height:600px"
                                         th:data-latitude="${room.hasGeoLocation} ? ${room.latitude} : ${room.address?.city?.latitude}"
                                         th:data-longitude="${room.hasGeoLocation} ? ${room.longitude} : ${room.address?.city?.longitude}"
                                         th:data-show-marker="${room.hasGeoLocation}"
                                         th:data-zoom="${room.hasGeoLocation} ? 18 : 13"
                                    ></div>
                                    <div class="margin-top-small text-center">
                                        <a class="btn-map btn btn-sm btn-light"
                                           th:href="'/rooms/' + ${room.id} + '/map'"
                                           th:if="!${room.readOnly} AND ${user?.hasPermission('room:manage')}"
                                        >
                                            <span
                                                th:if="!${room.latitude} AND !${room.longitude}">Set Geolocation</span>
                                            <span
                                                th:if="${room.latitude} OR ${room.longitude}">Update Geolocation</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="~{__components/bootstrap :: toast(${toast})}"></div>
<div th:replace="~{__components/bootstrap :: modal}"></div>
</body>
</html>
