<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="container">
    <h1>
        <img align="absmiddle" height="48" src="/image/service.png" width="48"/>
        Create New Service
    </h1>
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/service :: service-breadcrumb(null)}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">

            <form class="form" method="POST" th:action="@{/settings/services/add-new}" th:object="${form}">
                <div class="form-body">
                    <div class="section">
                        <div class="section-body">
                            <div th:replace="~{__components/layout :: error-message(${error})}"></div>

                            <div class="section-item">
                                <label class="title">Name <span class="required">*</span></label>
                                <input maxlength="10" required th:field="*{name}"/>
                            </div>
                            <div class="section-item">
                                <label class="title">Title <span class="required">*</span></label>
                                <input maxlength="255" required th:field="*{title}"/>
                            </div>
                            <div class="section-item">
                                <label class="title">Description</label>
                                <textarea rows="3" th:field="*{description}"></textarea>
                            </div>
                            <div class="section-item">
                                <label class="title">URL <span class="required">*</span></label>
                                <input required th:field="*{baseUrl}" type="url"/>
                            </div>
                            <div class="section-item">
                                <label class="title">Authorization <span class="required">*</span></label>
                                <select required th:field="*{authorizationType}">
                                    <option value=""></option>
                                    <option value="NONE">None</option>
                                    <option value="BASIC">Basic Authorization</option>
                                    <option value="API_KEY">API Key</option>
                                </select>
                            </div>
                            <div class="section-item auth-basic">
                                <label class="title">Username <span class="required">*</span></label>
                                <input required th:field="*{username}"/>
                            </div>
                            <div class="section-item auth-basic">
                                <label class="title">Password <span class="required">*</span></label>
                                <input id="password" name="password" required th:value="${form.password}"
                                       type="password"/>
                            </div>
                            <div class="section-item auth-api-key">
                                <label class="title">API Key <span class="required">*</span></label>
                                <input id="apiKey" name="apiKey" required th:value="${form.apiKey}" type="password"/>
                            </div>
                            <div class="section-item">
                                <label class="title">Active</label>
                                <select th:field="*{active}">
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-footer">
                    <button type="submit">Submit</button>
                    <a class="btn-cancel" href="/settings/services">Cancel</a>
                </div>

            </form>
        </div>

    </div>
</div>

<div th:replace="~{__components/service :: service-script()}"></div>

</body>
</html>
