<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="container">
    <h1>
        <img align="absmiddle" height="48" src="/image/service.png" width="48"/>
        Services
    </h1>
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/service :: service-breadcrumb(null)}"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body">
                    <div class="widget-toolbar">
                        <a class="btn-create btn btn-secondary" href="/settings/services/create">New Service</a>
                    </div>

                    <table class="table table-striped" th:if="${services}">
                        <tr>
                            <th width="10%">Name</th>
                            <th width="40%">Title</th>
                            <th>Modified</th>
                            <th>Active</th>
                            <th></th>
                        </tr>
                        <tr class="service" th:each="service : ${services}">
                            <td>
                                <a th:href="'/settings/services/' + ${service.id}" th:text="${service.name}">NAME</a>
                            </td>
                            <td th:text="${service.title}">TITLE</td>
                            <td th:text="${service.modifiedAtText}">MODIFIED</td>
                            <td>
                                <span th:if="${service.active}">Yes</span>
                                <span th:if="!${service.active}">No</span>
                            </td>
                            <td class="toolbar">
                                <a class="btn-view" th:href="'/settings/services/' + ${service.id}">View</a>
                                <a class="btn-edit" th:href="'/settings/services/' + ${service.id} + '/edit'">Edit</a>
                            </td>
                        </tr>
                    </table>

                    <div class="empty text-center" th:if="!${services}">
                        No service!
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
</body>

</html>
