<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">

<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="container">
    <div class="row">
        <div class="col-12 margin-top-4x padding">
            <h1>The Key for your New Start</h1>
            <p>Find house, apartment for rent</p>
        </div>
    </div>
    <div class="row">
        <div class="box col-10 offset-1 col-md-4 border border-shadow border-rounded text-center padding">
            <h1>Rent a Home</h1>
            <p>Find house, apartment for rent</p>
            <b>
                <a class="btn btn-primary" href="/l">Start Now</a>
            </b>
        </div>
    </div>
</div>

<link rel="stylesheet" th:href="${page.assetUrl} + '/css/page/home.css'"/>

</body>

</html>
