<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="settings-container">
    <div class="settings-sidebar">
        <div th:replace="~{__components/settings :: settings-menu('account')}"></div>
    </div>
    <div class="settings-content padding">
        <div
            th:replace="~{__components/settings :: settings-title('Account Types', '/settings/accounts/types')}"></div>

        <table class="table">
            <tr>
                <td width="20%"><b>Name</b></td>
                <td th:text="${type.name}">NAME</td>
            </tr>
            <tr>
                <td><b>Title</b></td>
                <td th:text="${type.title}">TITLE</td>
            </tr>
            <tr>
                <td><b>Active</b></td>
                <td>
                    <span th:if="${type.active}">Yes</span>
                    <span th:if="!${type.active}">No</span>
                </td>
            </tr>
            <tr th:if="${type.description}">
                <td><b>Description</b></td>
                <td th:text="${type.description}">Description</td>
            </tr>
        </table>
    </div>
</div>


</body>
</html>
