<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="settings-container">
    <div class="settings-sidebar">
        <div th:replace="~{__components/settings :: settings-menu('tenant')}"></div>
    </div>
    <div class="settings-content">
        <ul>
            <li class="menu-item">
                <h3>Tenant</h3>
            </li>
            <li class="menu-item">
                <a class="btn-business" href="/settings/tenant/business">
                    <h5>Business Entity</h5>
                    <div>Manage your business information</div>
                </a>
            </li>
            <li class="menu-item">
                <a class="btn-type" href="/settings/tenant/types">
                    <h5>Object Types</h5>
                    <div>Manage data types</div>
                </a>
            </li>
            <li class="menu-item">
                <a class="btn-about" href="/settings/tenant/about">
                    <h5>About</h5>
                    <div>View details about your site</div>
                </a>
            </li>
        </ul>
    </div>
</div>


</body>
</html>
