<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('accounts')}"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/account :: account-breadcrumb(null)}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body">
                    <div class="flex flex-space-between">
                        <div class="btn-group border margin-bottom">
                            <button aria-expanded="false"
                                    class="btn dropdown-toggle padding"
                                    data-bs-toggle="dropdown"
                                    type="button">
                                <img height="24" src="/image/account.png" width="24"/>
                                <span th:if="${collection} == '1'">All Accounts</span>
                                <span th:if="${collection} == '2'">Accounts I Manage</span>
                                <span th:if="${collection} == '3'">Accounts I Created</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li th:if="${collection} != '1'">
                                    <a class="dropdown-item" href="/accounts?col=1">All Accounts</a>
                                </li>
                                <li th:if="${collection} != '2'">
                                    <a class="dropdown-item" href="/accounts?col=2">Accounts I Manage</a>
                                </li>
                                <li th:if="${collection} != '3'">
                                    <a class="dropdown-item" href="/accounts?col=3">Accounts I Created</a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <a class="btn-create btn btn-light btn-sm" href="/accounts/create">Create New Account</a>
                        </div>
                    </div>

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Phone</th>
                            <th>Mobile</th>
                            <th>Email</th>
                            <th>Modified</th>
                            <th>Manager</th>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="account" th:each="account : ${accounts}">
                            <div th:replace="~{__components/account :: columns(${account})}"></div>
                        </tr>
                        <tr th:replace="~{__components/account :: load-more(${moreUrl})}"></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
