<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('account')}"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/account :: account-breadcrumb(null)}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body">
                    <div class="flex flex-space-between margin-bottom">
                        <div>
                            <a class="btn-create btn btn-primary btn-sm" href="/accounts/create"
                               th:if="${user?.canManage('account')} OR ${user.hasFullAccess('account')}">
                                Create New Account
                            </a>
                        </div>
                        <div>
                            <select class="btn btn-sm btn-light" id="filter-type-id"
                                    onchange="koki_accounts_on_filter_changed()"
                                    style="width: auto"
                                    th:classappend="${types.isEmpty()} ? 'hidden'"
                            >
                                <option value="">All Types</option>
                                <option th:each="type : ${types}"
                                        th:selected="${type.id} == ${typeId}"
                                        th:text="${type.title}"
                                        th:value="${type.id}"
                                >TYPE
                                </option>
                            </select>
                        </div>
                    </div>

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th class="d-none d-lg-table-cell" th:if="!${types.isEmpty()}">Type</th>
                            <th class="d-none d-md-table-cell">Email</th>
                            <th class="d-none d-sm-table-cell">Mobile</th>
                            <th class="d-none d-lg-table-cell">Phone</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="account entity" th:each="account : ${accounts}">
                            <div th:replace="~{__components/account :: columns(${account}, !${types.isEmpty()})}"></div>
                        </tr>
                        <tr th:replace="~{__components/account :: load-more(${moreUrl})}"></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{__components/bootstrap :: toast(${toast})}"></div>
<script>
    function koki_accounts_on_filter_changed() {
        const typeId = document.getElementById('filter-type-id').value;

        document.location.href = '/accounts?' +
            (typeId && typeId.length > 0 ? '&type-id=' + typeId : '');
    }
</script>
</body>
</html>
