.dropzone {
    background: #f8f8f8;
    border: 1px solid gray !important;
    border-radius: 0 !important;
    min-height: auto !important;
    padding: 1em !important;
}

.dropzone .dz-message {
    margin: 0 !important;
}
