<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>


<div class="agent-info-container">
    <div class="agent-info-details">
        <div class="margin-top">&nbsp;</div>

        <!-- PICTURE -->
        <div class="flex">
            <img class="user-photo"
                 th:alt="${agent.user.displayName}"
                 th:src="${agent.user.photoThumbnailUrl} ? ${agent.user.photoThumbnailUrl} : '/image/no-photo.png'"
            />
            <div class="margin-left">
                <h1 th:text="${agent.user.displayName}">NAME</h1>
                <div th:text="${agent.user.employer}">EMPLOYER</div>
                <div class="text-small gray" th:if="${agent.user.city}" th:text="${agent.user.city.name}">CITY</div>
            </div>
        </div>

        <!-- METRICS -->
        <div class="margin-top" id="metric-container"
             th:if="${overallSalesMetrics} OR ${overallRentalMetrics} OR ${landMetrics}">
            <hr/>
            <div
                th:replace="~{__components/listing :: listing-price-metrics(${overallSalesMetrics}, ${overallRentalMetrics}, ${landMetrics})}"></div>
        </div>

        <!-- ABOUT -->
        <div class="margin-top">
            <hr/>
            <h2 th:text="#{page.agent.show.about(${agent.user.firstName})}">ABOUT</h2>
            <div th:utext="${agent.user.biographyHtml}">BIO</div>
            <div class="margin-top flex flex-wrap flex-space-between">
                <div th:if="${agent.user.mobile}">
                    <i class="fa-solid fa-phone"></i>
                    <a th:href="${agent.user.mobileUrl}" th:text="${agent.user.mobileText}">WEBSITE</a>
                </div>
                <div th:if="${agent.user.email}">
                    <i class="fa-solid fa-envelope"></i>
                    <a th:href="${agent.user.emailUrl}" th:text="${agent.user.email}">EMAIL</a>
                </div>
                <div th:if="${agent.user.websiteUrl}">
                    <i class="fa-solid fa-link"></i>
                    <a target="_blank" th:href="${agent.user.websiteUrl}" th:text="#{page.agent.website}">PHONE</a>
                </div>
            </div>

            <!-- LINKS -->
            <div class="margin-top flex">
                <a class="margin-right" target="_blank"
                   th:href="${agent.user.facebookUrl}"
                   th:if="${agent.user.facebookUrl}">
                    <img height="48" th:src="${page.assetUrl} + '/image/social/facebook.png'" width="48"/></a>

                <a class="margin-right" target="_blank"
                   th:href="${agent.user.instagramUrl}"
                   th:if="${agent.user.instagramUrl}">
                    <img height="48" th:src="${page.assetUrl} + '/image/social/instagram.png'" width="48"/></a>

                <a class="margin-right" target="_blank"
                   th:href="${agent.user.youtubeUrl}"
                   th:if="${agent.user.youtubeUrl}">
                    <img height="48" th:src="${page.assetUrl} + '/image/social/youtube.png'" width="48"/></a>

                <a class="margin-right" target="_blank"
                   th:href="${agent.user.twitterUrl}"
                   th:if="${agent.user.twitterUrl}">
                    <img height="48" th:src="${page.assetUrl} + '/image/social/twitter.png'" width="48"/></a>

                <a target="_blank" th:href="${agent.user.tiktokUrl}"
                   th:if="${agent.user.tiktokUrl}">
                    <img height="48" th:src="${page.assetUrl} + '/image/social/tiktok.png'" width="48"/></a>
            </div>
        </div>

        <!-- FOR RENT -->
        <div class="margin-top" id="rental-listing-container" th:if="${rentalListings}">
            <hr/>
            <h2 th:text="#{page.agent.section.for_rent(${agent.user.firstName})}">ACTIVE</h2>
            <div th:replace="~{__components/listing :: listing-carousel(${rentalListings}, true)}"></div>
            <div class="text-right">
                <b>
                    <a th:href="${rentalMoreUrl}" th:text="#{button.view_more_properties}">VIEW_ALL</a>
                </b>
            </div>
        </div>

        <!-- FOR SALE -->
        <div class="margin-top" id="sale-listing-container" th:if="${saleListings}">
            <hr/>
            <h2 th:text="#{page.agent.section.for_sale(${agent.user.firstName})}">ACTIVE</h2>
            <div th:replace="~{__components/listing :: listing-carousel(${saleListings}, true)}"></div>
            <div class="text-right">
                <b>
                    <a th:href="${saleMoreUrl}" th:text="#{button.view_more_properties}">VIEW_ALL</a>
                </b>
            </div>
        </div>

        <!-- PRICE TRENDS -->
        <div class="margin-top-2x" id="price-trend-container"
             th:if="${salesMetrics} OR ${rentalMetrics} OR ${landMetrics}">
            <hr/>
            <h2 th:text="#{page.agent.section.pricing(${agent.user.firstName})}">Pricing Information</h2>

            <div
                th:replace="~{__components/listing :: listing-price-trend(${salesMetrics}, ${rentalMetrics}, ${landMetrics})}"></div>
        </div>

        <!-- NEIGHBOURHOODS -->
        <div class="margin-top" id="neighbourhood-container" th:if="${neighbourhoods}">
            <hr/>
            <h2 th:text="#{page.agent.section.neighbourhood(${agent.user.firstName})}">TITLE</h2>
            <div class="flex flex-wrap">
                <div class="col-6 col-lg-4" th:each="neighbourhood : ${neighbourhoods}">
                    <a th:href="${neighbourhood.publicUrl}" th:text="${neighbourhood.name}">NAME</a>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTACT AGENT -->
    <div class="listing-contact-details">
        <div
            th:replace="~{__components/agent :: agent-contact-sidebar(${agent.id}, ${agent.user}, ${messageUrl}, ${agent.id}, 'AGENT')}"></div>
    </div>
</div>

<!-- TOAST -->
<div class="d-flex justify-content-center align-items-center w-100 h-100 position-fixed top-0 start-0"
     th:if="${toastMessage}">
    <div aria-atomic="true" aria-live="assertive" class="toast text-bg-primary" data-bs-animation="true"
         data-bs-autohide="true" data-bs-delay="5000" id="toast-message" role="alert"
    >
        <div class="d-flex">
            <div class="toast-body">
                <i class="fa-solid fa-circle-check text-bg-success"></i>
                <span class="margin-left" th:text="${toastMessage}">MESSAGE</span>
            </div>
            <button aria-label="Close" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    type="button"></button>
        </div>
    </div>
</div>

<div th:replace="~{__components/bootstrap :: modal}"></div>

<script th:inline="javascript">
    document.addEventListener(
        'DOMContentLoaded',
        function () {
            const elt = document.getElementById('toast-message');
            if (elt) {
                const toast = new bootstrap.Toast(elt);
                toast.show();
            }
        },
        false
    );

</script>
</body>
</html>
