<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>


<div class="agent-info-container">
    <div class="agent-info-details">
        <div class="margin-top">&nbsp;</div>

        <!-- PICTURE -->
        <div class="flex">
            <img class="user-photo"
                 th:alt="${agent.user.displayName}"
                 th:src="${agent.user.photoUrl} ? ${agent.user.photoUrl} : '/image/no-photo.png'"
            />
            <div class="margin-left">
                <h1 th:text="${agent.user.displayName}">NAME</h1>
                <div th:text="${agent.user.employer}">EMPLOYER</div>
                <div class="text-small gray" th:if="${agent.user.city}" th:text="${agent.user.city.name}">CITY</div>
            </div>
        </div>

        <!-- METRICS -->
        <div class="margin-top" id="metric-container" th:if="${agent.activeSaleMetric} OR ${agent.activeRentalMetric}">
            <hr/>
            <table class="w-100">
                <tr th:if="${agent.activeSaleMetric}">
                    <td class="text-center" th:classappend="${agent.activeRentalMetric} ? 'padding-bottom'">
                        <span th:text="#{page.place.for_sale}">Sales</span>:
                        <b class="margin-right-small" th:text="${agent.activeSaleMetric.total}">000</b>
                    </td>
                    <td class="text-center" th:classappend="${agent.activeRentalMetric} ? 'padding-bottom'">
                        <span th:text="#{page.place.average_price}">Average Price</span>:
                        <b class="margin-right-small" th:text="${agent.activeSaleMetric.averagePrice.shortText}">$$$</b>
                    </td>
                </tr>
                <tr th:if="${agent.activeRentalMetric}">
                    <td class="text-center">
                        <span th:text="#{page.place.for_rent}">Rentals</span>:
                        <b class="margin-right-small" th:text="${agent.activeRentalMetric.total}">000</b>
                    </td>
                    <td class="text-center">
                        <span th:text="#{page.place.average_price}">Average Price</span>:
                        <b class="margin-right-small"
                           th:text="${agent.activeRentalMetric.averagePrice.shortText}">$$$</b>
                    </td>
                </tr>
            </table>
        </div>


        <!-- ABOUT -->
        <div class="margin-top">
            <hr/>
            <h2 th:text="#{page.agent.show.about(${agent.user.firstName})}">ABOUT</h2>
            <div th:utext="${agent.user.biographyHtml}">BIO</div>
            <div class="margin-top">
                <div class="margin-top-small" th:if="${agent.user.mobile}">
                    <i class="fa-solid fa-mobile-screen-button"></i>
                    <span th:text="${agent.user.mobileText}">MOBILE</span>
                </div>
                <div th:if="${agent.user.email}">
                    <i class="fa-solid fa-envelope"></i>
                    <a th:href="'mailto:' + ${agent.user.email}" th:text="${agent.user.email}">EMAIL</a>
                </div>
                <div class="margin-top-small" target="_blank" th:if="${agent.user.websiteUrl}">
                    <i class="fa-solid fa-link"></i>
                    <a th:href="${agent.user.websiteUrl}" th:text="#{page.agent.website}">WEBSITE</a>
                </div>
            </div>

            <!-- LINKS -->
            <div class="margin-top flex">
                <a class="margin-right" target="_blank"
                   th:href="${agent.user.facebookUrl}"
                   th:if="${agent.user.facebookUrl}">
                    <img height="48" th:src="${page.assetUrl} + '/image/social/facebook.png'" width="48"/></a>

                <a class="margin-right" target="_blank"
                   th:href="${agent.user.instagramUrl}"
                   th:if="${agent.user.instagramUrl}">
                    <img height="48" th:src="${page.assetUrl} + '/image/social/instagram.png'" width="48"/></a>

                <a class="margin-right" target="_blank"
                   th:href="${agent.user.youtubeUrl}"
                   th:if="${agent.user.youtubeUrl}">
                    <img height="48" th:src="${page.assetUrl} + '/image/social/youtube.png'" width="48"/></a>

                <a class="margin-right" target="_blank"
                   th:href="${agent.user.twitterUrl}"
                   th:if="${agent.user.twitterUrl}">
                    <img height="48" th:src="${page.assetUrl} + '/image/social/twitter.png'" width="48"/></a>

                <a target="_blank" th:href="${agent.user.tiktokUrl}"
                   th:if="${agent.user.tiktokUrl}">
                    <img height="48" th:src="${page.assetUrl} + '/image/social/tiktok.png'" width="48"/></a>
            </div>
        </div>

        <!-- FOR RENT -->
        <div class="margin-top" id="rental-listing-container" th:if="${rentalListings}">
            <hr/>
            <h2 th:text="#{page.agent.section.for_rent(${agent.user.firstName})}">ACTIVE</h2>
            <div th:replace="~{__components/listing :: listing-carousel(${rentalListings}, true)}"></div>
        </div>

        <!-- FOR SALE -->
        <div class="margin-top" id="sale-listing-container" th:if="${saleListings}">
            <hr/>
            <h2 th:text="#{page.agent.section.for_sale(${agent.user.firstName})}">ACTIVE</h2>
            <div th:replace="~{__components/listing :: listing-carousel(${saleListings}, true)}"></div>
        </div>

        <!-- SOLD -->
        <div class="margin-top" id="sold-listing-container" th:if="${soldListings}">
            <hr/>
            <h2 th:text="#{page.agent.section.sold(${agent.user.firstName})}">TITLE</h2>
            <div class="margin-bottom" id="map-container">
                <div data-component-id="map"
                     data-disable-scroll-wheel-zoom="true"
                     id="map" th:data-latitude="${mapCenterPoint?.latitude}"
                     th:data-longitude="${mapCenterPoint?.longitude}"
                     th:data-on-ready="on_map_ready"
                     th:data-show-marker="${mapCenterPoint} ? true : false"
                     th:data-zoom="14"
                >
                </div>
            </div>
            <div th:replace="~{__components/listing :: listing-carousel(${soldListings}, false)}"></div>
        </div>

        <!-- NEIGHBOURHOODS -->
        <div class="margin-top" id="neighbourhood-container" th:if="${neighbourhoods}">
            <hr/>
            <h2 th:text="#{page.agent.section.neighbourhood(${agent.user.firstName})}">TITLE</h2>
            <div class="flex flex-wrap">
                <div class="col-6 col-lg-4" th:each="neighbourhood : ${neighbourhoods}">
                    <a th:href="${neighbourhood.publicUrl}" th:text="${neighbourhood.name}">NAME</a>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTACT AGENT -->
    <div class="listing-contact-details">
        <div class="listing-contact-details-inner">
            <div class="agent-info">
                <img th:if="${agent.user.photoUrl}" th:src="${agent.user.photoUrl}"/>
                <div>
                    <h2 th:text="${agent.user.displayName}">AGENT</h2>
                    <div th:text="${agent.user.employer}">EMPLOYER</div>
                </div>
            </div>

            <div class="message" th:text="#{page.lead.agent-message-default}">
                MESSAGE
            </div>

            <button class="btn btn-primary" data-component-id="modal-button" href="#" id="btn-send-message"
                    th:data-modal-body-url="'/leads/create?agent-id=' + ${agent.id}"
                    th:data-modal-title="#{page.lead.modal.title}"
                    th:text="#{button.send_message}">
                Send Message
            </button>
        </div>
    </div>
</div>

<!-- TOAST -->
<div class="d-flex justify-content-center align-items-center w-100 h-100 position-fixed top-0 start-0"
     th:if="${toastMessage}">
    <div aria-atomic="true" aria-live="assertive" class="toast text-bg-primary" data-bs-animation="true"
         data-bs-autohide="true" data-bs-delay="5000" id="toast-message" role="alert"
    >
        <div class="d-flex">
            <div class="toast-body">
                <i class="fa-solid fa-circle-check text-bg-success"></i>
                <span class="margin-left" th:text="${toastMessage}">MESSAGE</span>
            </div>
            <button aria-label="Close" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    type="button"></button>
        </div>
    </div>
</div>

<div th:replace="~{__components/bootstrap :: modal}"></div>
<script th:inline="javascript">
    const json = JSON.parse(/*[[${mapMarkersJson}]]*/ '');

    function on_map_ready(id, map) {
        console.log(json);

        for (var i = 0; i < json.length; i++) {
            let item = json[i];
            const icon = L.AwesomeMarkers.icon({
                icon: 'home',
                markerColor: item.sold ? 'gray' : '#1d7edf',
                prefix: 'fa'
            })

            let marker = L.marker([item.latitude, item.longitude], {icon: icon});
            marker.on('mouseover', () => {
                const html = `<div class="map-listing-card" id="map-listing-card-${item.id}">
                    <a href="${item.url}" target="_blank">
                        <div class="flex">
                            <div class="listing-image">
                                <img src="${item.heroImageUrl}" />
                            </div>
                            <div class="listing-details">
                                <b class="listing-price">${item.price}</b>
                                <div class="flex">
                                   <div>${item.bedrooms}</div>
                                   <div class="margin-left-small">${item.area}</div>
                                </div>
                                <div class="gray">${item.location}</div>
                                <div class="text-danger margin-top-small"><b>${item.status}</b></div>
                            </div>
                        </div>
                    </a>
                </div>`;
                marker.bindPopup(html);
                marker.openPopup();
            });
            map.addLayer(marker);
        }
    }

    document.addEventListener(
        'DOMContentLoaded',
        function () {
            const elt = document.getElementById('toast-message');
            if (elt) {
                const toast = new bootstrap.Toast(elt);
                toast.show();
            }
        },
        false
    );

</script>
</body>
</html>
