<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('listing')}"></div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <form class="form" method="post" th:action="@{/listings/edit/amenities}" th:object="${form}">
                <input th:field="*{id}" type="hidden"/>
                <div class="form-body">
                    <div class="section">
                        <div class="section-body">
                            <div class="section-item">
                                <h2 th:text="#{page.listing.edit.amenities.title}">TITLE</h2>
                                <div th:text="#{page.listing.edit.amenities.description}">DESCRIPTION</div>
                            </div>
                            <div class="section-item">
                                <label class="title" th:text="#{page.listing.furniture-type}">TYPE</label>
                                <select class="form-select" th:field="*{furnitureType}">
                                    <option th:each="furnitureType : ${furnitureTypes}"
                                            th:text="#{'furniture-type.' + ${furnitureType}}"
                                            th:value="${furnitureType}">
                                        TYPE
                                    </option>
                                </select>
                            </div>
                            <div class="section-item">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12 col-md-4 margin-bottom"
                                             th:each="category : ${amenityCategories}">
                                            <b th:text="${category.name}">CATEGORY</b>
                                            <ul class="amenities">
                                                <li class="amenity"
                                                    th:each="amenity : ${amenitiesByCategoryId[category.id]}">
                                                    <div class="form-check">
                                                        <input class="form-check-input"
                                                               th:id="'amenity-' + ${amenity.id}"
                                                               th:value="${amenity.id}"
                                                               type="checkbox">
                                                        <label class="form-check-label"
                                                               th:checked="${form.amenityIds.contains(amenity.id)}"
                                                               th:for="'amenity-' + ${amenity.id}"
                                                               th:text="${amenity.name}"
                                                        >
                                                            AMENITY
                                                        </label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="section-item flex flex-space-between">
                                <a class="btn btn-light"
                                   th:href="'/listings/edit?id=' + ${form.id}"
                                   th:text="#{button.previous}"
                                >PREV</a>

                                <button class="btn btn-primary" th:text="#{button.next}" type="submit">NEXT</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

</body>
</html>
