<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('listing')}"></div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <form class="form" method="post" th:action="@{/listings/create}" th:object="${form}">
                <div class="form-body">
                    <div class="section">
                        <div class="section-body">
                            <div class="section-item">
                                <h2 class="margin-none" th:text="#{page.listing.create.title}">TITLE</h2>
                            </div>

                            <div class="section-item">
                                <label class="title" th:text="#{page.listing.listing-type}">TYPE</label>
                                <div class="btn-group margin-top-small" role="group">
                                    <div th:each="listingType : ${listingTypes}"
                                         th:if="${listingType.name() != 'UNKNOWN'}"
                                         th:remove="tag">
                                        <input autocomplete="off" class="btn-check" name="listingType"
                                               th:id="'chk-listing-type-' + ${listingType}"
                                               th:value="${listingType}"
                                               type="radio">
                                        <label class="btn btn-outline-primary"
                                               th:for="'chk-listing-type-' + ${listingType}"
                                               th:id="'lbl-listing-type-' + ${listingType}"
                                               th:text="#{'listing-type.' + ${listingType}}"
                                        >Checkbox 1</label>
                                    </div>
                                </div>
                            </div>
                            <div class="section-item">
                                <label class="title" th:text="#{page.listing.property-type}">TYPE</label>
                                <div class="margin-top-small" data-toggle="buttons">
                                    <div th:each="propertyType : ${propertyTypes}"
                                         th:if="${propertyType.name() != 'UNKNOWN'}"
                                         th:remove="tag">
                                        <input autocomplete="off" class="btn-check" name="propertyType"
                                               th:id="'chk-property-type-' + ${propertyType}"
                                               th:value="${propertyType}"
                                               type="radio">
                                        <label class="btn btn-outline-primary margin-bottom-small"
                                               th:for="'chk-property-type-' + ${propertyType}"
                                               th:id="'lbl-property-type-' + ${propertyType}"
                                               th:text="#{'property-type.' + ${propertyType}}"
                                        >Checkbox 1</label>
                                    </div>
                                </div>
                            </div>

                            <div class="section-item text-right">
                                <button class="btn btn-primary w-100-mobile" disabled id="btn-next"
                                        th:text="#{button.next}" type="submit">
                                    NEXT
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let listingType = 0;
    let propertyType = 0;

    document.querySelectorAll(".btn-check")
        .forEach((item) => {
            item.addEventListener("change", on_change);
        });

    function on_change() {
        console.log('on_change()', event.target);

        const elt = event.target;
        const name = elt.getAttribute("name");
        if (name === "listingType") {
            listingType = 1;
        } else if (name === "propertyType") {
            propertyType = 1;
        }

        const btn = document.getElementById('btn-next');
        btn.disabled = (listingType === 0) || (propertyType === 0);
    }
</script>
</body>
</html>
