<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="container-fluid padding-bottom-8x">

    <div class="row">
        <div class="col-12">
            <!-- SUMMARY -->
            <div class="widget">
                <div class="widget-body">
                    <div th:replace="~{__components/listing :: listing-summary(${listing})}"></div>
                </div>
            </div>

            <!-- PUBLIC URL -->
            <div class="widget margin-top-small" id="public-url" th:if="${listing.publicUrl}">
                <div class="widget-header">
                    <h3 class="widget-title">Public Address</h3>
                </div>
                <div class="widget-body">
                    <table class="table-striped table">
                        <tr>
                            <th>Public URL</th>
                            <td>
                                <a class="text-small" target="_blank" th:href="${listing.publicUrl}"
                                   th:text="${listing.publicUrl}">
                                    URL
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <!-- WEBSITE -->
            <div class="widget margin-top-small" id="website-container" th:if="${website}">
                <div class="widget-header">
                    <h3 class="widget-title">
                        <a aria-controls="collapse-website" aria-expanded="false"
                           data-bs-toggle="collapse" href="#collapse-website" role="button">
                            Website
                        </a>
                    </h3>
                </div>
                <div class="widget-body collapse" id="collapse-website">
                    <table class="table">
                        <tr>
                            <th>ID</th>
                            <td th:text="${website.id}">000</td>
                        </tr>
                        <tr>
                            <th>Base URL</th>
                            <td>
                                <a target="_blank" th:href="${website.baseUrl}" th:text="${website.baseUrl}">URL</a>
                            </td>
                        </tr>
                        <tr>
                            <th>Home URLs</th>
                            <td>
                                <div th:each="url : ${website.homeUrls}">
                                    <a target="_blank" th:href="${url}" th:text="${url}">URL</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Listing URL Prefix</th>
                            <td><code th:text="${website.listingUrlPrefix}">XXX</code></td>
                        </tr>
                        <tr>
                            <th>Content CSS Selector</th>
                            <td><code th:text="${website.contentSelector}">XXX</code></td>
                        </tr>
                        <tr>
                            <th>Image CSS Selector</th>
                            <td><code th:text="${website.imageSelector}">XXX</code></td>
                        </tr>
                    </table>
                </div>
            </div>

            <!-- WEBPAGE -->
            <div class="widget margin-top-small" id="webpage-container" th:if="${webpage}">
                <div class="widget-header">
                    <h3 class="widget-title">
                        <a aria-controls="collapse-webpage" aria-expanded="false"
                           data-bs-toggle="collapse" href="#collapse-webpage" role="button">
                            Webpage
                        </a>
                    </h3>
                </div>
                <div class="collapse widget-body" id="collapse-webpage">
                    <table class="table">
                        <tr>
                            <th>ID</th>
                            <td th:text="${webpage.id}">000</td>
                        </tr>
                        <tr>
                            <th>Source</th>
                            <td><a target="_blank" th:href="${webpage.url}" th:text="${webpage.url}">URL</a></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="card">
                                    <div class="card-header">
                                        <a aria-controls="collapse-content" aria-expanded="false"
                                           data-bs-toggle="collapse" href="#collapse-image" role="button">
                                            Images
                                            <span th:text="'(' + ${webpage.imageUrls.size()} + ')'">00</span>
                                        </a>
                                    </div>
                                    <div class="collapse" id="collapse-image">
                                        <div class="card-body flex flex-wrap">
                                            <a target="_blank" th:each="url : ${webpage.imageUrls}" th:href="${url}">
                                                <img class="margin-right-small margin-bottom-small"
                                                     style="max-width: 150px; max-height: 150px"
                                                     th:src="${url}"
                                                />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="card">
                                    <div class="card-header">
                                        <a aria-controls="collapse-content" aria-expanded="false"
                                           data-bs-toggle="collapse" href="#collapse-content" role="button">
                                            Content
                                        </a>
                                    </div>
                                    <div class="collapse" id="collapse-content">
                                        <div class="card-body">
                                            <pre>
                                                <code class='language-json' th:text="${webpage.content}">TEXT</code>
                                            </pre>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <!-- AI -->
            <div class="widget margin-top-small" id="ai-listing-container" th:if="${aiListing}">
                <div class="widget-header">
                    <h3 class="widget-title">
                        <a aria-controls="collapse-ai-listing" aria-expanded="false"
                           data-bs-toggle="collapse" href="#collapse-ai-listing" role="button">
                            AI
                        </a>
                    </h3>
                </div>
                <div class="collapse widget-body" id="collapse-ai-listing">
                    <table class="table">
                        <tr>
                            <td>
                                <div class="card">
                                    <div class="card-header">
                                        <a aria-controls="collapse-ai-listing-text" aria-expanded="false"
                                           data-bs-toggle="collapse" href="#collapse-ai-listing-text" role="button">
                                            Input
                                        </a>
                                    </div>
                                    <div class="collapse" id="collapse-ai-listing-text">
                                        <div class="card-body">
                                            <pre>
                                                <code class='language-json' th:text="${aiListing.text}">TEXT</code>
                                            </pre>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="card">
                                    <div class="card-header">
                                        <a aria-controls="collapse-ai-listing-result" aria-expanded="false"
                                           data-bs-toggle="collapse" href="#collapse-ai-listing-result" role="button">
                                            Result
                                        </a>
                                    </div>
                                    <div class="collapse" id="collapse-ai-listing-result">
                                        <div class="card-body">
                                            <pre>
                                                <code class='language-json' th:text="${aiListing.result}">RESULT</code>
                                            </pre>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="~{__components/highlightjs :: prettity('json')}"></div>
</body>
</html>
