<div id="listing-description-section" th:if="${listing.description}">
    <h4 th:text="#{page.listing.show.description}">NAME</h4>
    <div th:utext="${listing.descriptionHtml}">VALUE</div>
    <hr/>
</div>

<div id="listing-general-section">
    <h4>
        <span th:text="#{page.listing.show.general}">GENERAL</span>
        <a class="text-small btn-section-edit"
           th:href="'/listings/edit?id=' + ${listing.id}"
           th:if="${listing.canManage(user)} AND ${listing.statusDraft}"
           th:text="#{button.edit}"
        >EDIT</a>
    </h4>
    <div class="flex flex-wrap">
        <div class="col-6 col-md-4 padding-bottom-small">
            <b class="text-small" th:text="#{page.listing.property-type}">KEY</b>
            <div th:text="#{'property-type.' + ${listing.propertyType}}">VALUE</div>
        </div>
        <div class="col-6 col-md-4 padding-bottom-small" th:if="${listing.bedrooms}">
            <b class="text-small" th:text="#{page.listing.bedrooms}">KEY</b>
            <div th:text="${listing.bedrooms}">VALUE</div>
        </div>
        <div class="col-6 col-md-4 padding-bottom-small" th:if="${listing.bathrooms}">
            <b class="text-small" th:text="#{page.listing.bathrooms}">KEY</b>
            <div th:text="${listing.bathrooms}">VALUE</div>
        </div>
        <div class="col-6 col-md-4 padding-bottom-small" th:if="${listing.halfBathrooms}">
            <b class="text-small" th:text="#{page.listing.half-bathrooms}">KEY</b>
            <div th:text="${listing.halfBathrooms}">VALUE</div>
        </div>
        <div class="col-6 col-md-4 padding-bottom-small" th:if="${listing.floors}">
            <b class="text-small" th:text="#{page.listing.floors}">KEY</b>
            <div th:text="${listing.floors}">VALUE</div>
        </div>
        <div class="col-6 col-md-4 padding-bottom-small" th:if="${listing.level}">
            <b class="text-small" th:text="#{page.listing.level}">KEY</b>
            <div th:text="${listing.level}">VALUE</div>
        </div>
        <div class="col-6 col-md-4 padding-bottom-small" th:if="${listing.unit}">
            <b class="text-small" th:text="#{page.listing.unit}">KEY</b>
            <div th:text="${listing.unit}">VALUE</div>
        </div>
        <div class="col-6 col-md-4 padding-bottom-small" th:if="${listing.basementType}">
            <b class="text-small" th:text="#{page.listing.basement}">KEY</b>
            <div th:text="#{'basement-type.' + ${listing.basementType}}">VALUE</div>
        </div>
        <div class="col-6 col-md-4 padding-bottom-small" th:if="${listing.propertyArea}">
            <b class="text-small" th:text="#{page.listing.property-area}">KEY</b>
            <div>
                <span th:text="${listing.propertyArea}">000</span>
                <span>m<sup>2</sup></span>
            </div>
        </div>
        <div class="col-6 col-md-4 padding-bottom-small" th:if="${listing.lotArea}">
            <b class="text-small" th:text="#{page.listing.lot-area}">KEY</b>
            <div>
                <span th:text="${listing.lotArea}">000</span>
                <span>m<sup>2</sup></span>
            </div>
        </div>
        <div class="col-6 col-md-4 padding-bottom-small" th:if="${listing.parkingType}">
            <b class="text-small" th:text="#{page.listing.parking-type}">KEY</b>
            <div th:text="#{'parking-type.' + ${listing.parkingType}}">VALUE</div>
        </div>
        <div class="col-6 col-md-4 padding-bottom-small" th:if="${listing.parkings}">
            <b class="text-small" th:text="#{page.listing.parkings}">KEY</b>
            <div th:text="${listing.parkings}">VALUE</div>
        </div>
        <div class="col-6 col-md-4 padding-bottom-small" th:if="${listing.fenceType}">
            <b class="text-small" th:text="#{page.listing.fence}">KEY</b>
            <div th:text="#{'fence-type.' + ${listing.fenceType}}">VALUE</div>
        </div>
        <div class="col-6 col-md-4  margin-bottom-small" th:if="${listing.year}">
            <b class="text-small" th:text="#{page.listing.year}">KEY</b>
            <div th:text="${listing.year}">VALUE</div>
        </div>
        <div class="col-6 col-md-4  margin-bottom-small" th:if="${listing.daysInMarket}">
            <b class="text-small" th:text="#{page.listing.days-in-market}">KEY</b>
            <div th:if="${listing.daysInMarket <= 1}" th:text="#{page.listing.days-in-market-today}">VALUE</div>
            <div th:if="${listing.daysInMarket > 1}">
                <span th:text="${listing.daysInMarket}">00</span>
                <span th:text="#{page.listing.days-in-market-suffix}">DAYS</span>
            </div>
        </div>
    </div>
    <hr/>
</div>

<div id="listing-amenity-section">
    <h4>
        <span th:text="#{page.listing.show.amenities}">AMENITIES</span>
        <a class="text-small btn-section-edit"
           th:href="'/listings/edit/amenities?id=' + ${listing.id}"
           th:if="${listing.canManage(user)} AND ${listing.statusDraft}"
           th:text="#{button.edit}"
        >EDIT</a>
    </h4>
    <div class="row" th:if="${listing.furnitureType}">
        <div class="col-12">
            <b class="text-small" th:text="#{page.listing.furniture-type}">KEY</b>
            <div th:text="#{'furniture-type.' + ${listing.furnitureType}}">FURNITURE</div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-4 padding-top-small"
             th:each="category : ${amenityCategories}"
             th:if="!${listing.amenitiesByCategoryId(category.id).isEmpty()}"
        >
            <b class="text-small" th:text="${category.name}">CATEGORY</b>
            <ul class="margin-none">
                <li th:each="amenity : ${listing.amenitiesByCategoryId(category.id)}"
                    th:text="${amenity.name}">
                    AMENITY
                </li>
            </ul>
        </div>
    </div>
    <hr/>
</div>

<div id="listing-address-section">
    <h4>
        <span th:text="#{page.listing.show.address}">ADDRESS</span>
        <a class="text-small btn-section-edit"
           th:href="'/listings/edit/address?id=' + ${listing.id}"
           th:if="${listing.canManage(user)} AND ${listing.statusDraft}"
           th:text="#{button.edit}"
        >EDIT</a>
    </h4>
    <div class="row" th:if="${listing.furnitureType}">
        <div class="col-12 padding-bottom-small" th:utext="${listing.address.toHtml(true)}">COUNTRY</div>
    </div>
    <hr/>
</div>

<div id="listing-geo-location-section">
    <h4>
        <span th:text="#{page.listing.show.geo-location}">GEO LOCATION</span>
        <a class="text-small btn-section-edit"
           th:href="'/listings/edit/geo-location?id=' + ${listing.id}"
           th:if="${listing.canManage(user)} AND ${listing.statusDraft}"
           th:text="#{button.edit}"
        >EDIT</a>
    </h4>
    <div class="row" th:if="${listing.geoLocation}">
        <div>
            <a class="btn btn-sm btn-light" target="_blank"
               th:href="${listing.geoLocation.url}"
               th:text="#{button.view-map}">MAP</a>
        </div>
    </div>
    <div class="row" th:if="!${listing.geoLocation}">
        <i th:text="#{page.listing.show.no-geo-location}">NONE</i>
    </div>
    <hr/>
</div>

<div id="listing-remarks-section">
    <h4>
        <span th:text="#{page.listing.show.remarks}">REMARKS</span>
        <a class="text-small btn-section-edit"
           th:href="'/listings/edit/remarks?id=' + ${listing.id}"
           th:if="${listing.canManage(user)} AND ${listing.statusDraft}"
           th:text="#{button.edit}"
        >EDIT</a>
    </h4>
    <div>
        <div class="margin-bottom-small">
            <b class="text-small" th:text="#{page.listing.public-remarks}">KEY</b>
            <div>
                <span th:if="${listing.publicRemarks}" th:text="${listing.publicRemarks}">VALE</span>
                <i th:if="!${listing.publicRemarks}" th:text="#{page.listing.show.no-remark}">NONE</i>
            </div>
        </div>
        <div class="margin-bottom-small">
            <b class="text-small" th:text="#{page.listing.agent-remarks}">KEY</b>
            <div>
                <span th:if="${listing.agentRemarks}" th:text="${listing.agentRemarks}">VALE</span>
                <i th:if="!${listing.agentRemarks}" th:text="#{page.listing.show.no-remark}">NONE</i>
            </div>
        </div>
    </div>
    <hr/>
</div>

<div id="listing-price-section">
    <h4>
        <span th:text="#{page.listing.show.price}">PRICE</span>
        <a class="text-small btn-section-edit"
           th:href="'/listings/edit/price?id=' + ${listing.id}"
           th:if="${listing.canManage(user)} AND ${listing.statusDraft}"
           th:text="#{button.edit}"
        >EDIT</a>
    </h4>
    <div class="flex flex-wrap">
        <div class="col-6 col-md-4 margin-bottom-small" th:if="${listing.price}">
            <b class="text-small" th:text="#{page.listing.price}">KEY</b>
            <div>
                <span th:text="${listing.price.displayText}">00</span>
            </div>
        </div>
        <div class="col-6 col-md-4 margin-bottom-small" th:if="${listing.visitFees}">
            <b class="text-small" th:text="#{page.listing.visit-fees}">KEY</b>
            <div>
                <span th:text="${listing.visitFees}">00</span>
            </div>
        </div>
        <div class="col-6 col-md-4" id="seller-agent-commission"
             th:if="${listing.sellerAgentCommission} AND ${listing.canManage(user)}">
            <b class="text-small" th:text="#{page.listing.seller-agent-commission}">KEY</b>
            <div>
                <span th:text="${listing.sellerAgentCommission}">0.0</span>
                <span>%</span>
            </div>
            <div class="text-small" th:text="${listing.sellerAgentCommissionMoney}">$$</div>
        </div>
        <div class="col-6 col-md-4 margin-bottom-small" th:if="${listing.buyerAgentCommission}">
            <b class="text-small" th:text="#{page.listing.buyer-agent-commission}">KEY</b>
            <div>
                <span th:text="${listing.buyerAgentCommission}">0.0</span>
                <span>%</span>
            </div>
            <div class="text-small" th:text="${listing.buyerAgentCommissionMoney}">$$</div>
        </div>
    </div>
    <hr/>
</div>

<div id="listing-leasing-section" th:if="${listing.listingTypeRental}">
    <h4>
        <span th:text="#{page.listing.show.leasing}">LEASING</span>
        <a class="text-small btn-section-edit"
           th:href="'/listings/edit/leasing?id=' + ${listing.id}"
           th:if="${listing.canManage(user)} AND ${listing.statusDraft}"
           th:text="#{button.edit}"
        >EDIT</a>
    </h4>
    <div class="flex flex-wrap">
        <div class="col-6 col-md-4 margin-bottom-small" th:if="${listing.leaseTerm}">
            <b class="text-small" th:text="#{page.listing.lease-terms}">KEY</b>
            <div>
                <span th:text="${listing.leaseTerm}">00</span>
                <span th:text="#{page.listing.unit-months}">00</span>
            </div>
        </div>
        <div class="col-6 col-md-4 margin-bottom-small" th:if="${listing.advanceRent}">
            <b class="text-small" th:text="#{page.listing.advance-rent}">KEY</b>
            <div>
                <span th:text="${listing.advanceRent}">00</span>
                <span th:text="#{page.listing.unit-months}">00</span>
            </div>
            <div class="text-small" th:if="${listing.advanceRentMoney}" th:text="${listing.advanceRentMoney}">
                $$$
            </div>
        </div>
        <div class="col-6 col-md-4 margin-bottom-small" th:if="${listing.securityDeposit}">
            <b class="text-small" th:text="#{page.listing.security-deposit}">KEY</b>
            <div th:text="${listing.securityDeposit}">$$$</div>
        </div>
        <div class="col-6 col-md-4 margin-bottom-small" th:if="${listing.noticePeriod}">
            <b class="text-small" th:text="#{page.listing.notice-period}">KEY</b>
            <div>
                <span th:text="${listing.noticePeriod}">00</span>
                <span th:text="#{page.listing.unit-months}">00</span>
            </div>
        </div>
    </div>
    <hr/>
</div>

<div id="listing-seller-section" th:if="${listing.canManage(user)}">
    <h4>
        <span th:text="#{page.listing.show.seller}">SELLER</span>
        <a class="text-small btn-section-edit"
           th:href="'/listings/edit/seller?id=' + ${listing.id}"
           th:if="${listing.canManage(user)} AND ${listing.statusDraft}"
           th:text="#{button.edit}"
        >EDIT</a>
    </h4>
    <div class="margin-bottom-small" th:if="${listing.sellerName}">
        <b class="text-small" th:text="#{page.listing.seller}">KEY</b>
        <div th:text="${listing.sellerName}">RAY</div>
        <div th:if="${listing.sellerEmail}" th:text="${listing.sellerEmail}">EMAIL</div>
        <div th:if="${listing.sellerPhone}" th:text="${listing.sellerPhone}">PHONE</div>
    </div>
    <hr th:if="${listing.statusSuccessfulTransaction}"/>
</div>

<div id="listing-sale-section" th:if="${listing.statusSuccessfulTransaction}">
    <h4 th:text="#{page.listing.show.sales-information}">SALES</h4>

    <div class="margin-bottom-small buyer-contact-info" th:if="${listing.canManage(user)}">
        <b class="text-small" th:if="${listing.listingTypeSale}" th:text="#{page.listing.buyer}">KEY</b>
        <b class="text-small" th:if="${listing.listingTypeRental}" th:text="#{page.listing.tenant}">KEY</b>

        <div th:text="${listing.buyerName}">RAY</div>
        <div th:if="${listing.buyerEmail}" th:text="${listing.buyerEmail}">EMAIL</div>
        <div th:if="${listing.buyerPhone}" th:text="${listing.buyerPhone}">PHONE</div>
    </div>
    <div class="flex flex-wrap margin-bottom-small">
        <div class="col-6 col-md-4 margin-bottom-small" th:if="${listing.transactionDate}">
            <b class="text-small" th:text="#{page.listing.transaction-date}">DATE</b>
            <div th:text="${listing.transactionDateText}">YYYY-MM-DD</div>
        </div>
        <div class="col-6 col-md-4 margin-bottom-small" th:if="${listing.transactionPrice}">
            <b class="text-small" th:text="#{page.listing.transaction-price}">KEY</b>
            <div class="listing-price">
                <span th:text="${listing.transactionPrice.displayText}">$$</span>
            </div>
        </div>
        <div class="col-6 col-md-4 margin-bottom-small" th:if="${listing.buyerAgentUser}">
            <b class="text-small" th:text="#{page.listing.agent}">KEY</b>
            <div class="flex">
                <img height="32"
                     th:src="${listing.buyerAgentUser.photoUrl} ? ${listing.buyerAgentUser.photoUrl} : '/image/no-photo.png'"
                     width="32"/>
                <div class="margin-left">
                    <b class="margin-none" th:text="${listing.buyerAgentUser.displayName}">NAME</b>
                    <div th:text="${listing.buyerAgentUser.employer}">EMPLOYER</div>
                </div>
            </div>
        </div>
    </div>
</div>
