<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('listing')}"></div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/listing :: listing-breadcrumb(${listing})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form class="form" method="post" th:action="@{/listings/edit/seller}" th:object="${form}">
                <input th:field="*{id}" type="hidden"/>

                <div class="form-body">
                    <div class="section">
                        <div class="section-body">
                            <div class="section-item">
                                <h2 th:text="#{page.listing.edit.seller.title}">TITLE</h2>
                                <div th:text="#{page.listing.edit.seller.description}">DESCRIPTION</div>
                            </div>
                            <div class="section-item">
                                <select
                                    data-component-id="select2"
                                    data-url="/contacts/selector/search"
                                    th:field="*{sellerContactId}">
                                    <option th:if="${seller}"
                                            th:text="${seller.name}"
                                            th:value="${seller.id}">
                                        ACCOUNT
                                    </option>
                                </select>
                                <div class="form-text margin-top-small">
                                    <i class="fa-solid fa-lock"></i>
                                    <span class="margin-top-small"
                                          th:text="#{page.listing.edit.seller.privacy}">PRIVACY
                                    </span>
                                </div>
                            </div>

                            <div class="section-item flex flex-space-between">
                                <button class="btn btn-primary w-49-mobile" th:text="#{button.submit}" type="submit">
                                    SUBMIT
                                </button>
                                <a class="btn btn-light w-49-mobile" onclick="history.back()"
                                   th:text="#{button.cancel}"
                                >PREV</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

</body>
</html>
