<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('listing')}"></div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/listing :: listing-breadcrumb(${listing})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form class="form" method="post" th:action="@{/listings/edit/price}" th:object="${form}">
                <input th:field="*{id}" type="hidden"/>
                <input th:field="*{currency}" type="hidden"/>

                <div class="form-body">
                    <div class="section">
                        <div class="section-body">
                            <div class="section-item">
                                <h2 th:text="#{page.listing.edit.price.title}">TITLE</h2>
                                <div th:if="${form.listingType.name() == 'RENTAL'}"
                                     th:text="#{page.listing.edit.price-rental.description}">DESCRIPTION
                                </div>
                                <div th:if="${form.listingType.name() == 'SALE'}"
                                     th:text="#{page.listing.edit.price-sale.description}">DESCRIPTION
                                </div>
                            </div>
                            <div class="section-item">
                                <label class="title">
                                    <span th:if="${form.listingType.name() == 'SALE'}" th:text="#{page.listing.price}">PRICE</span>
                                    <span th:if="${form.listingType.name() == 'RENTAL'}"
                                          th:text="#{page.listing.rental-price}">PRICE</span>
                                </label>
                                <div class="input-group">
                                    <input class="form-control" step="0" th:field="*{price}" type="number"/>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span th:text="${tenant.currencySymbol}">XXX</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section-item">
                                <label class="title" th:text="#{page.listing.visit-fees}">TERMS</label>
                                <div class="text-small" th:text="#{page.listing.visit-fees-help}"></div>

                                <div class="input-group">
                                    <input class="form-control" step="0" th:field="*{visitFees}" type="number"/>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span th:text="${tenant.currencySymbol}">XXX</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section-item">
                                <label class="title" th:text="#{page.listing.seller-agent-commission}">LEASE</label>
                                <div class="text-small"
                                     th:text="#{page.listing.seller-agent-commission-help}">HELP
                                </div>
                                <div class="input-group">
                                    <input class="form-control"
                                           step="0.01" th:field="*{sellerAgentCommission}" type="number"/>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span>%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section-item">
                                <label class="title" th:text="#{page.listing.buyer-agent-commission}">LEASE</label>
                                <div class="text-small"
                                     th:text="#{page.listing.buyer-agent-commission-help}">HELP
                                </div>
                                <div class="input-group">
                                    <input class="form-control"
                                           step="0.01" th:field="*{buyerAgentCommission}" type="number"/>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span>%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="section-item flex flex-space-between">
                                <a class="btn btn-light w-49-mobile"
                                   th:href="'/listings/edit/remarks?id=' + ${form.id}"
                                   th:text="#{button.previous}"
                                >PREV</a>
                                <button class="btn btn-primary w-49-mobile" th:text="#{button.next}"
                                        type="submit">NEXT
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

</body>
</html>
