<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('listing')}"></div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/listing :: listing-breadcrumb(${listing})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form class="form" method="post" th:action="@{/listings/edit/geo-location}" th:object="${form}">
                <input th:field="*{id}" type="hidden"/>
                <input th:field="*{latitude}" type="hidden"/>
                <input th:field="*{longitude}" type="hidden"/>

                <div class="form-body">
                    <div class="section">
                        <div class="section-body">
                            <div class="section-item">
                                <h2 th:text="#{page.listing.edit.geo-location.title}">TITLE</h2>
                                <div th:text="#{page.listing.edit.geo-location.description}">DESCRIPTION</div>
                            </div>
                            <div class="section-item">
                                <label class="title" th:text="#{page.listing.address}">ADDRESS</label>
                                <div th:utext="${listing.address.toHtml()}">ADDRESS</div>
                            </div>
                            <div class="section-item">
                                <div class="flex">
                                    <a class="btn btn-light btn-sm" href="javascript: get_current_lat_long()">
                                        <i class="fa-solid fa-location-dot"></i>
                                        <span th:text="#{button.set_current_position}">POSITION</span>
                                    </a>
                                    <a class="btn btn-light btn-sm margin-left" href="javascript: reset_lat_long()"
                                       id="btn-reset-position"
                                       th:data-latitude="${listing.geoLocation?.latitude}"
                                       th:data-longitude="${listing.geoLocation?.longitude}"
                                       th:if="${listing.geoLocation}"
                                    >
                                        <span th:text="#{button.reset_position}">POSITION</span>
                                    </a>
                                </div>
                                <div class="margin-top">
                                    <div id="map-container">
                                        <div data-component-id="map"
                                             data-on-click="on_map_click"
                                             data-on-ready="on_map_ready"
                                             id="map"
                                             th:data-latitude="${centerPoint?.latitude}"
                                             th:data-longitude="${centerPoint?.longitude}"
                                             th:data-show-marker="${listing.geoLocation} ? 'true' : 'false'"
                                             th:data-zoom="18"
                                        >
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="section-item flex flex-space-between">
                                <a class="btn btn-light w-49-mobile"
                                   th:href="'/listings/edit/address?id=' + ${form.id}"
                                   th:text="#{button.previous}"
                                >PREV</a>
                                <button class="btn btn-primary w-49-mobile" th:text="#{button.next}"
                                        type="submit">NEXT
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<script>
    var map = null;

    function on_map_ready(id, zmap) {
        console.log('on_map_ready', id, zmap);

        map = zmap;
    }

    function on_map_click(evt) {
        console.log('on_map_click', evt);

        map_set_marker(evt.latlng.lat, evt.latlng.lng);
    }

    function map_set_marker(lat, long) {
        // Record position
        document.getElementById('latitude').value = lat;
        document.getElementById('longitude').value = long;

        // Move the marker
        map.eachLayer(function (layer) {
            if (layer instanceof L.Marker) {
                map.removeLayer(layer);
            }
        });
        marker = L.marker([lat, long]);
        map.addLayer(marker);
    }

    function get_current_lat_long() {
        if ("geolocation" in navigator) {
            navigator.geolocation.getCurrentPosition(function (position) {
                console.log('Position fetched', position);
                map_set_marker(position.coords.latitude, position.coords.longitude);
            }, function (error) {
                // Handle errors here
                alert('Unable to fetch the geo-location');
                switch (error.code) {
                    case error.PERMISSION_DENIED:
                        console.error("User denied the request for Geolocation.");
                        break;
                    case error.POSITION_UNAVAILABLE:
                        console.error("Location information is unavailable.");
                        break;
                    case error.TIMEOUT:
                        console.error("The request to get user location timed out.");
                        break;
                    default:
                        console.error("An unknown error occurred.", error);
                        break;
                }
            });
        } else {
            // Geolocation is not available in this browser
            console.error("Geolocation is not supported by this browser.");
        }
    }

    function reset_lat_long() {
        const btn = document.getElementById('btn-reset-position');
        const lat = btn.getAttribute('data-latitude');
        const long = btn.getAttribute('data-longitude');

        map_set_marker(lat, long);
    }
</script>
</body>
</html>
