<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('listing')}"></div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/listing :: listing-breadcrumb(${listing})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form class="form" method="post" th:action="@{/listings/edit/address}" th:object="${form}">
                <input th:field="*{id}" type="hidden"/>
                <div class="form-body">
                    <div class="section"
                         data-city-id="cityId"
                         data-component-id=address
                         data-country-id="country"
                         data-neighborhood-id="neighbourhoodId"
                    >
                        <div class="section-body">
                            <div class="section-item">
                                <h2 th:text="#{page.listing.edit.address.title}">TITLE</h2>
                                <div th:text="#{page.listing.edit.address.description}">DESCRIPTION</div>
                            </div>
                            <div class="section-item">
                                <label class="title">
                                    <span th:text="#{page.listing.country}">COUNTRY</span>
                                    <span class="required">*</span>
                                </label>
                                <select required th:field="*{country}">
                                    <option value=""></option>
                                    <option th:each="country : ${countries}"
                                            th:text="${country.displayCountry}"
                                            th:value="${country.country}"
                                    >COUNTRY
                                    </option>
                                </select>
                            </div>
                            <div class="section-item">
                                <label class="title">
                                    <span th:text="#{page.listing.city}">TYPE</span>
                                    <span class="required">*</span>
                                </label>
                                <div class="margin-top-small">
                                    <select required th:field="*{cityId}">
                                        <option selected
                                                th:if="${city}"
                                                th:text="${cityName}"
                                                th:value="${city.id}">
                                            CITY
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="section-item">
                                <label class="title">
                                    <span th:text="#{page.listing.neighbourhood}">TYPE</span>
                                    <span class="required">*</span>
                                </label>
                                <div class="margin-top-small">
                                    <select required th:field="*{neighbourhoodId}">
                                        <option selected
                                                th:if="${neighbourhood}"
                                                th:text="${neighbourhoodName}"
                                                th:value="${neighbourhood.id}">
                                            CITY
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="section-item">
                                <label class="title">
                                    <span th:text="#{page.listing.street}">STREET</span>
                                </label>
                                <input class="form-control" maxlength="100" th:field="*{street}"/>
                            </div>

                            <div class="section-item flex flex-space-between">
                                <button class="btn btn-primary w-49-mobile"
                                        th:text="#{button.submit}"
                                        type="submit">
                                    NEXT
                                </button>
                                <a class="btn btn-light w-49-mobile" onclick="history.back()"
                                   th:text="#{button.cancel}">
                                    PREV
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

</body>
</html>
