<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('listing')}"></div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/listing :: listing-breadcrumb(${listing})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form class="form" method="post" th:action="@{/listings/edit/remarks}" th:object="${form}">
                <input th:field="*{id}" type="hidden"/>
                <div class="form-body">
                    <div class="section">
                        <div class="section-body">
                            <div class="section-item">
                                <h2 th:text="#{page.listing.edit.remarks.title}">TITLE</h2>
                                <div th:text="#{page.listing.edit.remarks.description}">DESCRIPTION</div>
                            </div>
                            <div class="section-item">
                                <label class="title" th:text="#{page.listing.public-remarks}">TYPE</label>
                                <div class="form-text" th:text="#{page.listing.public-remarks-help}">HELP</div>
                                <textarea class="form-control" maxlength="1000" rows="3"
                                          th:field="*{publicRemarks}"></textarea>
                            </div>
                            <div class="section-item">
                                <label class="title" th:text="#{page.listing.agent-remarks}">TYPE</label>
                                <div class="form-text" th:text="#{page.listing.agent-remarks-help}">HELP</div>
                                <textarea class="form-control" maxlength="1000" rows="3"
                                          th:field="*{agentRemarks}"></textarea>
                            </div>

                            <div class="section-item flex flex-space-between">
                                <button class="btn btn-primary w-49-mobile" th:text="#{button.submit}"
                                        type="submit"
                                >SUBMIT
                                </button>
                                <a class="btn btn-light w-49-mobile" onclick="history.back()"
                                   th:text="#{button.cancel}"
                                >PREV</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

</body>
</html>
