<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('listing')}"></div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/listing :: listing-breadcrumb(${listing})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form class="form" method="post" th:action="@{/listings/edit/geo-location}" th:object="${form}">
                <input th:field="*{id}" type="hidden"/>
                <input th:field="*{latitude}" type="hidden"/>
                <input th:field="*{longitude}" type="hidden"/>

                <div class="form-body">
                    <div class="section">
                        <div class="section-body">
                            <div class="section-item">
                                <h2 th:text="#{page.listing.edit.geo-location.title}">TITLE</h2>
                                <div th:text="#{page.listing.edit.geo-location.description}">DESCRIPTION</div>
                            </div>
                            <div class="section-item">
                                <label class="title" th:text="#{page.listing.address}">ADDRESS</label>
                                <div th:utext="${listing.address.toHtml()}">ADDRESS</div>
                            </div>
                            <div class="section-item">
                                <div class="flex">
                                    <a class="btn btn-sm btn-light" href="javascript: get_current_lat_long()">
                                        <span th:text="#{button.set_current_position}">POSITION</span>
                                    </a>
                                    <a class="btn btn-sm btn-light margin-left-small"
                                       href="javascript: map_reset_lat_long()"
                                       id="btn-reset-position"
                                       th:data-latitude="${listing.geoLocation?.latitude}"
                                       th:data-longitude="${listing.geoLocation?.longitude}"
                                       th:if="${listing.geoLocation}">
                                        <span th:text="#{button.reset_position}">POSITION</span>
                                    </a>
                                </div>
                                <div class="flex margin-top-small">
                                    <a class="btn btn-light btn-sm"
                                       href="javascript: open_google_map()"
                                       id="btn-google-map">
                                        <i class="fa-solid fa-map"></i>
                                        <span>Google Map</span>
                                    </a>
                                    <a class="btn btn-light btn-sm margin-left-small"
                                       href="javascript: input_lat_long()"
                                       id="btn-latlng"
                                       th:data-text="#{page.listing.edit.geo-location.input}">
                                        <i class="fa-solid fa-location-dot"></i>
                                        <span th:text="#{button.lat_lng}">LAT/LONG</span>
                                    </a>
                                </div>

                                <div class="margin-top">
                                    <div id="map-container">
                                        <div data-component-id="map"
                                             data-on-click="on_map_click"
                                             data-on-ready="on_map_ready"
                                             id="map"
                                             th:data-latitude="${centerPoint?.latitude}"
                                             th:data-longitude="${centerPoint?.longitude}"
                                             th:data-show-marker="${listing.geoLocation} ? 'true' : 'false'"
                                             th:data-zoom="18"
                                        >
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="section-item flex flex-space-between">
                                <button class="btn btn-primary w-49-mobile" th:text="#{button.submit}"
                                        type="submit">
                                    SUBMIT
                                </button>
                                <a class="btn btn-light w-49-mobile" onclick="history.back()"
                                   th:text="#{button.cancel}"
                                >PREV</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<script>
    var map = null;

    function on_map_ready(id, zmap) {
        console.log('on_map_ready', id, zmap);

        map = zmap;
    }

    function on_map_click(evt) {
        console.log('on_map_click', evt);

        map_set_marker(evt.latlng.lat, evt.latlng.lng, false);
    }

    function map_set_marker(lat, long, flyTo) {
        // Record position
        document.getElementById('latitude').value = lat;
        document.getElementById('longitude').value = long;

        // Move the marker
        map.eachLayer(function (layer) {
            if (layer instanceof L.Marker) {
                map.removeLayer(layer);
            }
        });
        marker = L.marker([lat, long]);
        map.addLayer(marker);

        if (flyTo) {
            map.flyTo([lat, long]);
        }
    }

    function get_current_lat_long() {
        if ("geolocation" in navigator) {
            navigator.geolocation.getCurrentPosition(function (position) {
                console.log('Position fetched', position);
                map_set_marker(position.coords.latitude, position.coords.longitude, true);
            }, function (error) {
                // Handle errors here
                alert('Unable to fetch the geo-location');
                switch (error.code) {
                    case error.PERMISSION_DENIED:
                        console.error("User denied the request for Geolocation.");
                        break;
                    case error.POSITION_UNAVAILABLE:
                        console.error("Location information is unavailable.");
                        break;
                    case error.TIMEOUT:
                        console.error("The request to get user location timed out.");
                        break;
                    default:
                        console.error("An unknown error occurred.", error);
                        break;
                }
            });
        } else {
            // Geolocation is not available in this browser
            console.error("Geolocation is not supported by this browser.");
        }
    }

    function map_reset_lat_long() {
        const btn = document.getElementById('btn-reset-position');
        const lat = btn.getAttribute('data-latitude');
        const long = btn.getAttribute('data-longitude');

        map_set_marker(lat, long, true);
    }

    function open_google_map() {
        let lat = document.getElementById('latitude').value;
        let long = document.getElementById('longitude').value;
        if (!lat && lat.length === 0 && !long && long.length === 0) { // Fallback to map center point
            lat = document.getElementById('map').getAttribute('data-latitude');
            long = document.getElementById('map').getAttribute('data-longitude');
        }

        const url = lat && lat.length > 0 && long && long.length > 0
            ? `https://maps.google.com/maps?t=m&q=loc:${lat}+${long}`
            : "https://maps.google.com"

        window.open(url, '_blank');
    }

    function input_lat_long() {
        const text = document.getElementById('btn-latlng').getAttribute('data-text');
        const latlng = prompt(text);
        const parts = latlng.split(',');
        if (parts.length === 2) {
            const lat = parts[0].trim();
            const long = parts[1].trim();
            map_set_marker(lat, long, true);
        } else {
            document.error(latlng + ' is not a valid position');
        }
    }

</script>
</body>
</html>
