<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('listing')}"></div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <form class="form" method="post" th:action="@{/listings/edit/geo-location}" th:object="${form}">
                <input th:field="*{id}" type="hidden"/>
                <input th:data-default="${listing.address?.neighbourhood} ? ${listing.address.neighbourhood.latitude}"
                       th:field="*{latitude}"
                       type="hidden"
                />
                <input th:data-default="${listing.address?.neighbourhood} ? ${listing.address.neighbourhood.longitude}"
                       th:field="*{longitude}"
                       type="hidden"
                />

                <div class="form-body">
                    <div class="section">
                        <div class="section-body">
                            <div class="section-item">
                                <h2 th:text="#{page.listing.edit.geo-location.title}">TITLE</h2>
                                <div th:text="#{page.listing.edit.geo-location.description}">DESCRIPTION</div>
                            </div>
                            <div class="section-item">
                                <label class="title" th:text="#{page.listing.listing-number}">NUMBER</label>
                                <div th:text="*{listingNumber}">00000</div>
                            </div>
                            <div class="section-item">
                                <label class="title" th:text="#{page.listing.latitude_longitude}">LATITUDE</label>
                                <div class="text-small" th:utext="#{page.listing.latitude_longitude-help}">LATITUDE
                                </div>
                                <input id="lat_long"
                                       oninput="on_lat_long_changed()"
                                       pattern="^-?([0-8]?[0-9]|90)\.\d{1,15},\s*-?((1?[0-7]?|[0-9]?[0-9])?[0-9]|180)\.\d{1,15}$"
                                       th:placeholder="#{page.listing.latitude_longitude}"
                                       th:value="${listing.geoLocation} ? ${listing.geoLocation.latitude} + ',' + ${listing.geoLocation.longitude}"
                                />
                                <div class="margin-top flex">
                                    <a class="btn btn-light btn-sm" href="javascript: get_current_lat_long()">
                                        <i class="fa-solid fa-location-dot"></i>
                                        <span th:text="#{button.set_current_position}">POSITION</span>
                                    </a>

                                    <a class="btn btn-light btn-sm margin-left-small"
                                       href="javascript: open_google_map()"
                                       id="btn-google-map"
                                    >
                                        <i class="fa-solid fa-map"></i>
                                        <span th:text="#{button.open_google_map}">POSITION</span>
                                    </a>
                                </div>
                            </div>

                            <div class="section-item flex flex-space-between">
                                <a class="btn btn-light w-49-mobile"
                                   th:href="'/listings/edit/address?id=' + ${form.id}"
                                   th:text="#{button.previous}"
                                >PREV</a>
                                <button class="btn btn-primary w-49-mobile" th:text="#{button.next}"
                                        type="submit">NEXT
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<script>
    function get_current_lat_long() {
        if ("geolocation" in navigator) {
            navigator.geolocation.getCurrentPosition(function (position) {
                console.log('Position fetched', position);
                document.getElementById('lat_long').value = position.coords.latitude + ',' + position.coords.longitude;
                on_lat_long_changed();
            }, function (error) {
                // Handle errors here
                switch (error.code) {
                    case error.PERMISSION_DENIED:
                        console.error("User denied the request for Geolocation.");
                        break;
                    case error.POSITION_UNAVAILABLE:
                        console.error("Location information is unavailable.");
                        break;
                    case error.TIMEOUT:
                        console.error("The request to get user location timed out.");
                        break;
                    default:
                        console.error("An unknown error occurred.", error);
                        break;
                }
            });
        } else {
            // Geolocation is not available in this browser
            console.error("Geolocation is not supported by this browser.");
        }
    }

    function open_google_map() {
        let lat = document.getElementById('latitude').value;
        let long = document.getElementById('longitude').value;
        if (!lat && lat.length === 0 && !long && long.length === 0) {
            lat = document.getElementById('latitude').getAttribute('data-default');
            long = document.getElementById('longitude').getAttribute('data-default');
        }

        const url = lat && lat.length > 0 && long && long.length > 0
            ? `https://maps.google.com/maps?t=m&q=loc:${lat}+${long}`
            : "https://maps.google.com"

        window.open(url, '_blank');
    }

    function on_lat_long_changed() {
        console.log('on_lat_long_changed()');

        const latlong = document.getElementById('lat_long').value;
        const parts = latlong.split(',');
        if (parts.length === 2) {
            document.getElementById('latitude').value = parts[0].trim();
            document.getElementById('longitude').value = parts[1].trim();
        } else {
            document.error(latlong + ' is not a valid position');
        }
    }
</script>
</body>
</html>
