<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('listing')}"></div>

<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body">
                    <div class="flex flex-space-between">
                        <div>
                            <a class="btn-create btn btn-primary btn-sm" href="/listings/create"
                               th:if="${user?.canManage('listing')} OR ${user.hasFullAccess('listing')}"
                               th:text="#{button.create_listing}">
                                NEW
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" th:if="!${draftListings.isEmpty()}">
        <div class="col-12">
            <div th:replace="~{__components/listing :: listing-list-widget(${draftListings}, 'DRAFT')}"></div>
        </div>
    </div>
    <div class="row" th:if="!${activeListings.isEmpty()}">
        <div class="col-12">
            <div th:replace="~{__components/listing :: listing-list-widget(${activeListings}, 'ACTIVE')}"></div>
        </div>
    </div>
    <div class="row" th:if="!${offerlistings.isEmpty()}">
        <div class="col-12">
            <div
                th:replace="~{__components/listing :: listing-list-widget(${offerlistings}, 'ACTIVE_WITH_OFFER')}"></div>
        </div>
    </div>
    <div class="row" th:if="!${pendingListings.isEmpty()}">
        <div class="col-12">
            <div th:replace="~{__components/listing :: listing-list-widget(${pendingListings}, 'PENDING')}"></div>
        </div>
    </div>
</div>

</body>
</html>
