<div th:if="${listings}" th:remove="tag">
    <tr class="listing" th:each="listing : ${listings.items}">
        <div th:replace="~{__components/listing :: listing-row(${listing}, ${sold}, ${showCommission}, ${showAgent})}">
        </div>
    </tr>
    <tr id="listing-load-more" th:if="${moreUrl}">
        <td class="text-center" colspan="7">
            <button
                class="btn btn-sm btn-light w-100-mobile"
                data-component-id="load-more"
                data-container-id="listing-load-more"
                th:data-url="${moreUrl}"
                th:text="#{button.load_more}"
            >
                Load more...
            </button>
        </td>
    </tr>
</div>
