<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('listing')}"></div>

<div class="container-fluid padding-bottom-8x">
    <div class="row margin-top-4x">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="widget">
                <div class="widget-body text-center">
                    <h1 class="margin-none success">
                        <i class="fa-solid fa-circle-check"></i>
                    </h1>
                    <div class="margin-top text-larger"
                         th:utext="#{page.listing.publish.published(${listing.id},${listing.listingNumber})}">
                        DESCRIPTION
                    </div>
                    <div class="margin-top"
                         th:utext="#{page.listing.publish.published.on-market}">
                        ON_MARKET
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
