<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('listing')}"></div>

<div class="container-fluid padding-bottom-8x">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/listing :: listing-breadcrumb(${listing})}"></div>
        </div>
    </div>

    <div class="row">
        <!-- SUMMARY -->
        <div class="col-12 col-md-6 col-lg-8">
            <div class="widget">
                <div class="widget-body">
                    <div th:replace="~{__components/listing :: listing-summary(${listing})}"></div>
                </div>
            </div>
        </div>

        <!-- PRICE TREND -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="widget background-highlight" th:if="${priceTrendMetric}">
                <div class="widget-body">
                    <div
                        th:replace="~{__components/listing :: listing-price-trend-table(${listing}, ${priceTrendMetric}, ${priceTrendLocation})}"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body">
                    <h1 th:text="#{page.listing.publish.title}">TITLE</h1>
                    <div th:utext="#{page.listing.publish.description}">DESCRIPTION</div>

                    <form class="form" method="post" th:action="@{/listings/publish}" th:object="${form}">
                        <input th:field="*{id}" type="hidden"/>

                        <div class="alert alert-warning">
                            <div class="form-check">
                                <input class="form-check-input" id="chk-confirm" required
                                       type="checkbox"/>
                                <label class="form-check-label" for="chk-confirm"
                                       th:text="#{page.listing.publish.confirmation}">CONFIRMATION</label>
                            </div>
                        </div>

                        <div class="flex flex-space-between">
                            <button class="btn btn-primary w-49-mobile" disabled id="btn-publish"
                                    th:text="#{button.publish}"
                                    type="submit">
                                PUBLISH
                            </button>

                            <a class="btn btn-light margin-left w-49-mobile" th:href="'/listings/' + ${listing.id}"
                               th:text="#{button.cancel}">CANCEL</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("chk-confirm").addEventListener("click", on_approve);

    function on_approve() {
        console.log('on_approve()');

        const elt = document.getElementById("chk-confirm");
        const btn = document.getElementById('btn-publish');
        btn.disabled = !elt.checked;
    }

    function on_details_loaded() {
        console.log('on_details_loaded()');
        koki.w.map.init(); // Initialize the map
    }
</script>

</body>
</html>
