<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('listing')}"></div>

<div class="container-fluid padding-bottom-8x">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/listing :: listing-breadcrumb(${listing})}"></div>
        </div>
    </div>

    <div class="row" th:if="${listing.canManage(user)}">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body flex flex-space-between">
                    <div class="flex">
                        <div>
                            <button class="btn btn-light btn-sm"
                                    data-component-id="share-button"
                                    id="btn-share"
                                    th:data-modal-title="#{button.share}"
                                    th:data-modal-url="'/share/modal?url=' + ${listing.publicUrl}"
                                    th:data-url="${listing.publicUrl}"
                                    th:if="${listing.publicUrl} AND (${listing.statusActive} OR ${listing.statusSold})"
                            >
                                <i class="fa-solid fa-share-nodes"></i>
                                <span th:text="#{button.share}">SHARE</span>
                            </button>
                        </div>
                    </div>
                    <div class="flex flex-wrap">
                        <div>
                            <a class="btn btn-light btn-sm" id="btn-map" target="_blank"
                               th:href="${listing.geoLocation.url}"
                               th:if="${listing.geoLocation}"
                            >
                                <i class="fa-regular fa-compass"></i>
                                <span th:text="#{button.view-map}">DIRECTION</span>
                            </a>
                        </div>
                        <div class="margin-left-small" th:if="${listing.canManage(user)}">
                            <a class="btn btn-primary btn-sm" id="btn-publish"
                               th:href="'/listings/publish?id=' + ${listing.id}"
                               th:if="${listing.statusDraft}"
                               th:text="#{button.publish}"
                            >PUBLISH</a>

                            <a class="btn btn-danger btn-sm" id="btn-status"
                               th:href="'/listings/status?id=' + ${listing.id}"
                               th:if="${listing.statusOnMarket} OR ${listing.statusDraft}"
                               th:text="#{button.close}"
                            >STATUS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- SUMMARY -->
        <div class="col-12 col-md-6 col-lg-8">
            <div class="widget">
                <div class="widget-body">
                    <div th:replace="~{__components/listing :: listing-summary(${listing})}"></div>
                </div>
            </div>
        </div>

        <!-- AGENT CARD -->
        <div class="col-12 col-md-6 col-lg-4" th:if="${listing.sellerAgentUser}">
            <div class="widget">
                <div class="widget-body">
                    <div
                        th:replace="~{__components/user :: user-card(${listing.sellerAgentUser}, ${messageUrl})}"></div>

                    <div class="flex margin-top-small" th:if="!${listing.statusDraft} AND ${toggles.modules.offer}">
                        <div>
                            <img class="user-photo-empty" th:src="${page.assetUrl} + '/image/empty.png'"/>
                        </div>
                        <div class="w-100 margin-left-small">
                            <a class="btn btn-sm btn-light w-100" id="btn-offer"
                               th:href="'/offers/create?listing-id=' + ${listing.id}"
                               th:if="${listing.canMakeOffer(user)} AND ${toggles.modules.offer}"
                               th:text="#{button.make_offer}">
                                MAKE_OFFER
                            </a>
                            <div class="urgency text-small margin-top-small" th:if="${totalActiveOffers > 0}">
                                <span th:if="${totalActiveOffers == 1}"
                                      th:text="#{page.listing.show.1-active-offer}">000</span>
                                <span th:if="${totalActiveOffers > 1} AND ${totalActiveOffers <= 9}"
                                      th:text="#{page.listing.show.n-active-offers(${totalActiveOffers})}">000</span>
                                <span th:if="${totalActiveOffers > 9}"
                                      th:text="#{page.listing.show.n-plus-active-offers(${totalActiveOffers - 1})}">000</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="widget background-highlight" th:if="${priceTrendMetric}">
                <div class="widget-body">
                    <div
                        th:replace="~{__components/listing :: listing-price-trend-table(${listing}, ${priceTrendMetric}, ${priceTrendLocation})}"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- TABS -->
    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body">
                    <!-- PILLS -->
                    <ul class="nav nav-pills mb-3" id="tab-main" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button aria-controls="pills-details" aria-selected="true" class="nav-link active"
                                    data-bs-target="#pills-details" data-bs-toggle="pill" id="pills-details-tab"
                                    role="tab" type="button">
                                Details
                            </button>
                        </li>
                        <li class="nav-item" role="presentation" th:each="tab : ${page.tabs.get('main')}">
                            <button aria-selected="false" class="nav-link" data-bs-toggle="pill" role="tab"
                                    th:aria-controls="'pills-' + ${tab.name}"
                                    th:data-bs-target="'#pills-' + ${tab.name}"
                                    th:id="'pills-' + ${tab.name} + '-tab'"
                                    th:if="${tab.tabUrl} AND !${excludedTabs?.contains(tab.name)}"
                                    type="button">
                                <span class="name" th:text="#{'module.' + ${tab.name}}">TAB</span>
                                <div th:replace="~{__components/module :: tab-counter-badge(${listing}, ${tab})}"></div>
                            </button>
                        </li>
                        <li class="nav-item" role="presentation" th:if="${listing.statusActive}">
                            <button aria-controls="pills-qr-code" class="nav-link"
                                    data-bs-target="#pills-qr-code" data-bs-toggle="pill" id="pills-qr-code-tab"
                                    role="tab" type="button">
                                QR Code
                            </button>
                        </li>
                    </ul>

                    <!-- CONTENT -->
                    <div class="tab-content" th:id="'tab-' + ${name} + '-content'">
                        <!-- DETAILS TAB -->
                        <div aria-labelledby="pills-details-tab" class="tab-pane fade show active"
                             id="pills-details"
                             role="tabpanel"
                             th:data-url="'/listings/tab/details?id=' + ${listing.id}">
                        </div>

                        <!-- MODULE TABS -->
                        <div class="tab-pane fade" role="tabpanel"
                             th:aria-labelledby="'pills-' + ${tab.name} + '-tab'"
                             th:data-url="${tab.toTabUrl(listing.id, module, listing.readOnly)}"
                             th:each="tab : ${page.tabs.get('main')}"
                             th:id="'pills-' + ${tab.name}"
                             th:if="${tab.tabUrl} AND !${excludedTabs?.contains(tab.name)}"
                        >
                        </div>

                        <!-- QR CODE TAB -->
                        <div aria-labelledby="pills-qr-code-tab" class="tab-pane fade" id="pills-qr-code"
                             role="tabpanel"
                             th:if="${listing.statusActive}">

                            <div class="text-center" th:fragment="listing-qr-code(listing)">
                                <div class="margin-top" th:if="${listing.qrCodeUrl}">
                                    <img class="qr-code padding border" height="300"
                                         th:src="${listing.qrCodeUrl}"
                                         width="300"/>
                                    <div class="margin-top">
                                        <a class="btn btn-sm btn-light" download="" id="btn-download-qr-code"
                                           th:href="${listing.qrCodeUrl}">
                                            <i class="fa-solid fa-download"></i>
                                            <span th:text="#{button.download}">Download</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="margin-top" th:if="!${listing.qrCodeUrl}">
                                    <form method="post" th:action="'/listings/generate-qr-code?id=' + ${listing.id}">
                                        <div class="error" th:text="#{page.listing.show.qr-code-none}">No QR code</div>
                                        <button class="btn btn-sm btn-light margin-top" id="btn-generate-qr-code"
                                                th:if="${listing.canManage(user)}"
                                                type="submit">
                                            <i class="fa-solid fa-qrcode"></i>
                                            <span th:text="#{button.generate_qr_code}">Download</span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- DEBUG INFO -->
    <div class="alert alert-warning margin-top" id="debug-container" th:if="${user.canDebug()}">
        <a class="w-100 btn btn-secondary" target="_blank" th:href="'/listings/debug?id=' + ${listing.id}">
            <i class="fa-solid fa-bug"></i>
            <span>DEBUG INFO</span>
        </a>
        <div class="col-12 text-small margin-top text-right" th:if="${webpage}">
            Source:
            <a class="webpage-source" target="_blank" th:href="${webpage.url}" th:text="${webpage.url}">
                URL
            </a>
        </div>
    </div>

    <!-- STICKY BAR -->
    <div class="d-block d-md-none border sticky-bar-bottom"
         th:if="${messageUrl} OR (${toggles.modules.offer} AND ${listing.canMakeOffer(user)})">
        <div class="flex flex-space-between">
            <div class="w-100 padding-small" th:if="${messageUrl}">
                <a class="btn btn-whatsapp w-100" data-component-id="modal-button"
                   id="btn-whatsapp-sticky"
                   target="_blank"
                   th:href="${messageUrl}"
                >
                    <i class="fa-brands fa-whatsapp"></i>
                    <span class="text-small" th:text="#{button.whatsapp}">WHATSAPP</span>
                </a>
            </div>
            <div class="w-100 padding-small" th:if="${listing.canMakeOffer(user)} AND ${toggles.modules.offer}">
                <a class="btn btn-light w-100" id="btn-offer-sticky"
                   th:href="'/offers/create?listing-id=' + ${listing.id}">
                    <i class="fa-solid fa-plus"></i>
                    <span class="text-small" th:text="#{button.offer}">OFFER</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{__components/bootstrap :: modal}"></div>

</body>
</html>
