<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('listing')}"></div>

<div class="container-fluid padding-bottom-8x">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/listing :: listing-breadcrumb(${listing})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body flex flex-space-between">
                    <div>&nbsp;</div>
                    <div class="flex flex-wrap">
                        <div class="margin-top-small margin-right-small">
                            <a class="btn btn-light btn-sm" id="btn-direction" target="_blank"
                               th:href="${listing.geoLocationUrl}"
                               th:if="${listing.geoLocationUrl}"
                            >
                                <i class="fa-regular fa-compass"></i>
                                <span th:text="#{button.direction}">DIRECTION</span>
                            </a>
                            <button class="btn btn-light btn-sm" id="btn-share"
                                    th:data-share-message="#{page.listing.show.share-message}"
                                    th:data-share-url="${listing.publicUrl}"
                                    th:if="${listing.publicUrl}"
                            >
                                <i class="fa-solid fa-share-nodes"></i>
                                <span th:text="#{button.share}">SHARE</span>
                            </button>
                        </div>
                        <div class="margin-top-small margin-right-small  margin-bottom-small"
                             th:if="${listing.canManage(user)}">
                            <a class="btn btn-light btn-sm" id="btn-edit"
                               th:href="'/listings/edit?id=' + ${listing.id}"
                               th:text="#{button.edit}"
                            >EDIT</a>

                            <a class="btn btn-primary btn-sm" id="btn-publish"
                               th:href="'/listings/publish?id=' + ${listing.id}"
                               th:if="${listing.statusDraft}"
                               th:text="#{button.publish}"
                            >PUBLISH</a>

                            <a class="btn btn-danger btn-sm" id="btn-status"
                               th:href="'/listings/status?id=' + ${listing.id}"
                               th:if="!${listing.statusDraft}"
                               th:text="#{button.status}"
                            >STATUS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-8">
            <div class="widget">
                <div class="widget-body">
                    <div th:replace="~{__components/listing :: listing-summary(${listing})}"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 d-none d-md-block" th:if="${listing.sellerAgentUser}">
            <div class="widget">
                <div class="widget-body flex">
                    <img height="128"
                         th:src="${listing.sellerAgentUser.photoUrl} ? ${listing.sellerAgentUser.photoUrl} : '/image/no-photo.png'"
                         width="128"/>
                    <div class="margin-left">
                        <h5 class="margin-none" th:text="${listing.sellerAgentUser.displayName}">NAME</h5>
                        <div class="text-small">
                            <span th:if="${listing.sellerAgentUser.employer}"
                                  th:text="${listing.sellerAgentUser.employer}">EMPLOYER</span>
                        </div>
                        <div class="text-small margin-top-small" th:if="${listing.sellerAgentUser.mobile}">
                            <i class="fa-solid fa-phone"></i>
                            <span th:text="${listing.sellerAgentUser.mobile}">+1 (514) 7580000</span>
                        </div>
                        <div class="margin-top">
                            <button class="btn btn-primary" id="compose-message" th:if="${composeUrl}">
                                <i class="fa-solid fa-envelope"></i>
                                <span th:text="#{button.message}">MESSAGE</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body">
                    <ul class="nav nav-pills mb-3" id="tab-main" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button aria-controls="pills-content" aria-selected="true" class="nav-link active"
                                    data-bs-target="#pills-details" data-bs-toggle="pill" id="pills-details-tab"
                                    role="tab" type="button">
                                Details
                            </button>
                        </li>
                        <li class="nav-item" role="presentation" th:each="tab : ${page.tabs.get('main')}">
                            <button aria-selected="false" class="nav-link" data-bs-toggle="pill" role="tab"
                                    th:aria-controls="'pills-' + ${tab.name}"
                                    th:data-bs-target="'#pills-' + ${tab.name}"
                                    th:id="'pills-' + ${tab.name} + '-tab'"
                                    th:if="${tab.tabUrl}"
                                    th:text="#{'module.' + ${tab.name}}"
                                    type="button">
                                TAB
                            </button>
                        </li>
                    </ul>

                    <div class="tab-content" th:id="'tab-' + ${name} + '-content'">
                        <div aria-labelledby="pills-details-tab" class="tab-pane fade show active"
                             id="pills-details"
                             role="tabpanel" th:data-url="'/listings/tab/details?id=' + ${listing.id}">
                        </div>

                        <div class="tab-pane fade" role="tabpanel"
                             th:aria-labelledby="'pills-' + ${tab.name} + '-tab'"
                             th:data-url="${tab.toTabUrl(listing.id, module, listing.readOnly)}"
                             th:each="tab : ${page.tabs.get('main')}"
                             th:id="'pills-' + ${tab.name}"
                             th:if="${tab.tabUrl}"
                        >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-block d-md-none border contact-sticky-bar" th:if="${listing.sellerAgentUser}">
        <div class="flex padding-small">
            <img height="64"
                 th:src="${listing.sellerAgentUser.photoUrl} ? ${listing.sellerAgentUser.photoUrl} : '/image/no-photo.png'"
                 width="64"/>
            <div class="margin-left-small">
                <b class="margin-none" th:text="${listing.sellerAgentUser.displayName}">NAME</b><br/>
                <button class="btn btn-primary margin-top-small" id="compose-message-sticky" th:if="${composeUrl}">
                    <i class="fa-solid fa-envelope"></i>
                    <span th:text="#{button.message}">MESSAGE</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{__components/bootstrap :: modal}"></div>

<script th:if="${composeUrl} AND ${listing.sellerAgentUser}" th:inline="javascript">
    document.getElementById('compose-message').addEventListener('click', compose_message);
    document.getElementById('compose-message-sticky').addEventListener('click', compose_message);

    function compose_message() {
        kokiMessage.compose(
            /*[[${listing.sellerAgentUser.id}]]*/ '',
            /*[[${listing.id}]]*/ '',
            'LISTING',
        );
    }
</script>

<script>
    const btnShare = document.getElementById('btn-share');
    if (btnShare) {
        btnShare.addEventListener('click', share_listing);
    }

    function share_listing() {
        if (navigator.share) {
            navigator.share({
                text: btnShare.getAttribute('data-share-message'),
                url: btnShare.getAttribute('data-share-url')
            });
        }
    }
</script>
</body>
</html>
