<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('listing')}"></div>

<div class="container-fluid padding-bottom-8x">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/listing :: listing-breadcrumb(${listing})}"></div>
        </div>
    </div>

    <div>
        <div class="col-12">
            <div class="widget">
                <div class="widget-body flex flex-space-between">
                    <div>&nbsp;</div>
                    <div class="flex flex-wrap">
                        <div>
                            <a class="btn btn-light btn-sm" id="btn-map" target="_blank"
                               th:href="${listing.geoLocation.url}"
                               th:if="${listing.geoLocation}"
                            >
                                <i class="fa-regular fa-compass"></i>
                                <span th:text="#{button.view-map}">DIRECTION</span>
                            </a>
                        </div>
                        <div class="margin-left-small" th:if="${listing.canManage(user)}">
                            <a class="btn btn-light btn-sm" id="btn-edit"
                               th:href="'/listings/edit?id=' + ${listing.id}"
                               th:if="${listing.statusDraft}"
                               th:text="#{button.edit}"
                            >EDIT</a>

                            <a class="btn btn-primary btn-sm" id="btn-publish"
                               th:href="'/listings/publish?id=' + ${listing.id}"
                               th:if="${listing.statusDraft}"
                               th:text="#{button.publish}"
                            >PUBLISH</a>

                            <a class="btn btn-danger btn-sm" id="btn-status"
                               th:href="'/listings/status?id=' + ${listing.id}"
                               th:if="${listing.statusOnMarket}"
                               th:text="#{button.close}"
                            >STATUS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-8">
            <div class="widget">
                <div class="widget-body">
                    <div th:replace="~{__components/listing :: listing-summary(${listing})}"></div>
                </div>
            </div>

            <div class="widget margin-top-small" th:if="${listing.publicUrl} AND !${listing.statusDraft}">
                <div class="widget-body">
                    <div class="flex flex-wrap w-100 text-small">
                        <div class="margin-right-small">
                            <b th:text="#{page.listing.public-url}">Public Address</b>
                        </div>
                        <a class="text-small" target="_blank"
                           th:alt="${listing.publicUrl}"
                           th:href="${listing.publicUrl}">
                            <div class="background-lightgray padding-left-small padding-right-small"
                                 th:text="${listing.publicUrl}">
                            </div>
                        </a>
                    </div>
                    <div class="margin-top-small">
                        <button class="btn btn-light btn-sm" data-component-id="share-button"
                                id="btn-share"
                                th:data-modal-title="#{button.share}"
                                th:data-modal-url="'/share/modal?url=' + ${listing.publicUrl}"
                                th:data-url="${listing.publicUrl}"
                                th:if="${listing.publicUrl}"
                        >
                            <i class="fa-solid fa-share-nodes"></i>
                            <span th:text="#{button.share}">SHARE</span>
                        </button>
                        <a class="text-small margin-left btn btn-sm btn-light" id="btn-open" target="_blank"
                           th:alt="${listing.publicUrl}"
                           th:href="${listing.publicUrl}"
                           th:text="#{button.open}">
                            ADDRESS
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4" th:if="${listing.sellerAgentUser}">
            <div class="widget">
                <div class="widget-body">
                    <div
                        th:replace="~{__components/user :: user-card(${listing.sellerAgentUser}, ${toggles.modules.message} AND ${listing.canSendMessage(user)})}"></div>

                    <div class="flex margin-top-small">
                        <div>
                            <img class="user-photo-empty" th:src="${page.assetUrl} + '/image/empty.png'"/>
                        </div>
                        <div class="w-100 margin-left-small">
                            <a class="btn btn-sm btn-light w-100" id="btn-offer"
                               th:href="'/offers/create?listing-id=' + ${listing.id}"
                               th:if="${listing.canMakeOffer(user)} AND ${toggles.modules.offer}"
                               th:text="#{button.make_offer}">
                                MAKE_OFFER
                            </a>
                            <div class="urgency text-small margin-top-small" th:if="${totalActiveOffers > 0}">
                                <span th:if="${totalActiveOffers == 1}"
                                      th:text="#{page.listing.show.1-active-offer}">000</span>
                                <span th:if="${totalActiveOffers > 1} AND ${totalActiveOffers <= 9}"
                                      th:text="#{page.listing.show.n-active-offers(${totalActiveOffers})}">000</span>
                                <span th:if="${totalActiveOffers > 9}"
                                      th:text="#{page.listing.show.n-plus-active-offers(${totalActiveOffers - 1})}">000</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body">
                    <ul class="nav nav-pills mb-3" id="tab-main" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button aria-controls="pills-content" aria-selected="true" class="nav-link active"
                                    data-bs-target="#pills-details" data-bs-toggle="pill" id="pills-details-tab"
                                    role="tab" type="button">
                                Details
                            </button>
                        </li>
                        <li class="nav-item" role="presentation" th:each="tab : ${page.tabs.get('main')}">
                            <button aria-selected="false" class="nav-link" data-bs-toggle="pill" role="tab"
                                    th:aria-controls="'pills-' + ${tab.name}"
                                    th:data-bs-target="'#pills-' + ${tab.name}"
                                    th:id="'pills-' + ${tab.name} + '-tab'"
                                    th:if="${tab.tabUrl} AND !${excludedTabs?.contains(tab.name)}"
                                    type="button">
                                <span class="name" th:text="#{'module.' + ${tab.name}}">TAB</span>
                                <div th:replace="~{__components/module :: tab-counter-badge(${listing}, ${tab})}"></div>
                            </button>
                        </li>
                    </ul>

                    <div class="tab-content" th:id="'tab-' + ${name} + '-content'">
                        <div aria-labelledby="pills-details-tab" class="tab-pane fade show active"
                             id="pills-details"
                             role="tabpanel" th:data-url="'/listings/tab/details?id=' + ${listing.id}">
                        </div>

                        <div class="tab-pane fade" role="tabpanel"
                             th:aria-labelledby="'pills-' + ${tab.name} + '-tab'"
                             th:data-url="${tab.toTabUrl(listing.id, module, listing.readOnly)}"
                             th:each="tab : ${page.tabs.get('main')}"
                             th:id="'pills-' + ${tab.name}"
                             th:if="${tab.tabUrl} AND !${excludedTabs?.contains(tab.name)}"
                        >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-block d-md-none border sticky-bar-bottom"
         th:if="(${toggles.modules.message} AND ${listing.canSendMessage(user)}) OR (${toggles.modules.offer} AND ${listing.canMakeOffer(user)})">
        <div class="flex flex-space-between">
            <div class="w-100 padding-small" th:if="${listing.canSendMessage(user)} AND ${toggles.modules.message}">
                <a class="btn btn-whatsapp w-100" data-component-id="modal-button"
                   id="btn-whatsapp-sticky"
                   target="_blank"
                   th:href="${listing.sellerAgentUser.whatsappUrl}"
                >
                    <i class="fa-brands fa-whatsapp"></i>
                    <span class="text-small" th:text="#{button.whatsapp}">WHATSAPP</span>
                </a>
            </div>
            <div class="w-100 padding-small" th:if="${listing.canSendMessage(user)} AND ${toggles.modules.message}">
                <a class="btn btn-primary w-100" data-component-id="modal-button"
                   id="btn-call-sticky"
                   th:href="${listing.sellerAgentUser.mobileUrl}"
                >
                    <i class="fa-solid fa-phone"></i>
                    <span class="text-small" th:text="#{button.call}">CALL</span>
                </a>
            </div>
            <div class="w-100 padding-small" th:if="${listing.canMakeOffer(user)} AND ${toggles.modules.offer}">
                <a class="btn btn-light w-100" id="btn-offer-sticky"
                   th:href="'/offers/create?listing-id=' + ${listing.id}">
                    <i class="fa-solid fa-plus"></i>
                    <span class="text-small" th:text="#{button.offer}">OFFER</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{__components/bootstrap :: modal}"></div>

</body>
</html>
