<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('listing')}"></div>

<div class="container-fluid padding-bottom-8x">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/listing :: listing-breadcrumb(${listing})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form class="form" method="post" th:action="@{/listings/status/close}" th:object="${form}">
                <input th:field="*{id}" type="hidden"/>
                <input th:field="*{status}" type="hidden"/>
                <input th:field="*{country}" type="hidden"/>

                <div class="section">
                    <div class="section-body">
                        <div class="section-item">
                            <h1 th:text="#{page.listing.status.title}">TITLE</h1>
                            <div th:utext="#{page.listing.status.description}">DESCRIPTION</div>
                        </div>
                        <div class="section-item" th:if="${error}">
                            <div class="alert alert-danger" th:utext="${error}">ERROR</div>
                        </div>
                        <div class="section-item">
                            <label class="title" th:text="#{page.listing.new-status}">Status</label>
                            <span th:replace="~{__components/listing :: listing-status-badge(${form.status})}"></span>
                        </div>

                        <div class="section-item" th:if="${sale}">
                            <label class="title">
                                <span th:if="*{listingType.name() == 'RENTAL'}" th:text="#{page.listing.tenant}">
                                    TENANT
                                </span>
                                <span th:if="*{listingType.name() != 'RENTAL'}" th:text="#{page.listing.buyer}">
                                    TENANT
                                </span>
                                <span class="required">*</span>
                            </label>
                            <div class="margin-top-small alert alert-warning flex">
                                <div class="alert-icon-container">
                                    <i class="fa-solid fa-lock"></i>
                                </div>
                                <div class="margin-left" th:utext="#{page.listing.status.buyer.privacy}">
                                    PRIVACY
                                </div>
                            </div>

                            <input class="form-control" maxlength="100" required th:field="*{buyerName}"
                                   th:placeholder="#{page.listing.name}"/>

                            <input class="form-control margin-top-small margin-bottom-small" maxlength="255"
                                   required
                                   th:field="*{buyerEmail}"
                                   th:placeholder="#{page.listing.email}" type="email"/>

                            <input class="form-control" required th:data-country="${form.country}"
                                   th:field="*{buyerPhone}"
                                   type="tel"/>
                        </div>
                        <div class="section-item" th:if="${sale}">
                            <label class="title">
                                <span th:if="${form.listingType.name() == 'SALE'}"
                                      th:text="#{page.listing.transaction-price}">SALE</span>
                                <span th:if="${form.listingType.name() == 'RENTAL'}"
                                      th:text="#{page.listing.transaction-rental-price}">RENTAL</span>

                                <span th:if="${form.listingType.name() == 'RENTAL'}"
                                      th:text="#{page.listing.rental-price-suffix} ">PER MONTH</span>
                                <span class="required">*</span>
                            </label>
                            <div class="input-group">
                                <input class="form-control" required step="0" th:field="*{transactionPrice}"
                                       type="number"/>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span th:text="${tenant.currencySymbol}">XXX</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section-item" th:if="${sale}">
                            <label class="title">
                                <span th:text="#{page.listing.transaction-date}">TX_DATE</span>
                                <span class="required">*</span>
                            </label>
                            <input class="form-control" required th:field="*{transactionDate}" type="date"/>
                        </div>

                        <div class="section-item" th:if="${sale}">
                            <label class="title" th:text="#{page.listing.buyer-agent}">AGENT</label>
                            <div class="text-small" th:text="#{page.listing.buyer-agent-help}">HELP</div>
                            <select th:field="*{buyerAgentUserId}"></select>
                            <script
                                th:replace="~{__components/user :: user-selector('buyerAgentUserId', null, 'listing:manage')}"></script>
                        </div>

                        <div class="section-item">
                            <label class="title" th:text="#{page.listing.comment}">LEASE</label>
                            <textarea class="form-control" maxlength="1000" rows="3" th:field="*{comment}"></textarea>
                        </div>
                        <div class="section-item">
                            <div class="alert alert-warning">
                                <div class="form-check">
                                    <input class="form-check-input" id="chk-confirm" required type="checkbox">
                                    <label class="form-check-label" for="chk-confirm"
                                           th:text="#{page.listing.status.confirmation}">CONFIRMATION</label>
                                </div>
                            </div>
                        </div>

                        <div class="section-item flex flex-space-between">
                            <a class="btn btn-light w-49-mobile"
                               th:href="'/listings/status?id=' + ${listing.id}"
                               th:text="#{button.previous}">
                                PREVIOUS
                            </a>

                            <button class="btn btn-danger w-49-mobile" disabled id="btn-next"
                                    th:text="#{button.close}"
                                    type="submit">
                                SUBMIT
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById("chk-confirm").addEventListener("click", on_approve);

    function on_approve() {
        console.log('on_approve()');

        const elt = document.getElementById("chk-confirm");
        const btn = document.getElementById('btn-next');
        btn.disabled = !elt.checked;
    }
</script>
</body>
</html>
