<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="agent-card(agent)">
    <a th:href="${agent.publicUrl}" th:title="${agent.user.displayName}">
        <div class="flex border padding border-rounded margin-bottom background-white">
            <img class="user-photo"
                 th:src="${agent.user.photoUrl} ? ${agent.user.photoUrl} : '/image/no-photo.png'"/>

            <div class="margin-left">
                <b class="text-larger" th:text="${agent.user.displayName}">NAME</b><br/>
                <div class="flex">
                    <div th:text="${agent.user.employer}">EMPLOYER</div>
                </div>

                <div class="flex" th:if="${agent.activeSaleMetric} OR ${agent.activeRentalMetric}">
                    <div class="margin-right" th:if="${agent.activeSaleMetric}">
                        <span th:text="#{page.place.for_sale}">SALE</span>:
                        <b class="margin-right-small" th:text="${agent.activeSaleMetric.total}">000</b>
                    </div>
                    <div th:if="${agent.activeRentalMetric}">
                        <span th:text="#{page.place.for_rent}">RENTAL</span>:
                        <b class="margin-right-small" th:text="${agent.activeRentalMetric.total}">000</b>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>

</body>
</html>
