<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="listing-status-badge(listing)" th:remove="tag">
    <span class="listing-status badge text-bg-primary"
          th:if="${listing.statusActive}"
          th:text="#{'listing-status.' + ${listing.status}}"
    >ACTIVE</span>

    <span class="listing-status badge text-bg-success"
          th:if="${listing.statusSold}"
          th:text="#{'listing-status.' + ${listing.status}} + ' ' + ${listing.soldAtText}"
    >SOLD</span>
</div>

</body>
</html>
