<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="listing-status-badge(listing)" th:remove="tag">
    <span class="listing-status badge"
          th:classappend="${listing.statusSold} ? 'text-bg-danger' : 'text-bg-primary'"
          th:text="#{'listing-status.' + ${listing.status}} + ' ' + ${listing.soldAtText}"
    >STATUS</span>
</div>

<div class="listing-carousel" th:fragment="listing-carousel(listings, showSummary)">
    <div th:each="listing : ${listings}" th:remove="tag">
        <div th:replace="~{__components/listing :: listing-card(${listing}, ${showSummary})}"></div>
    </div>
</div>

<div class="listing-card" th:data-id="${listing.id}" th:fragment="listing-card(listing, showSummary)">
    <a th:href="${listing.publicUrl}">
        <div class="listing-status-container">
            <div th:if="${listing.statusSold}" th:remove="tag">
                <div th:replace="~{__components/listing :: listing-status-badge(${listing})}"></div>
            </div>
        </div>
        <div class="hero-image-container flex flex-center">
            <img class="hero-image" height="200"
                 loading="lazy"
                 th:alt="${listing.title}"
                 th:src="${listing.heroImageUrl} ? ${listing.heroImageUrl} : '/image/no-image.png'"
                 th:title="${listing.title}"
                 width="300"
            />
        </div>
    </a>
    <div class="listing-details padding-small">
        <a th:href="${listing.publicUrl}">
            <b class="listing-price" th:if="!${listing.statusSold}" th:text="${listing.price.displayText}">$$$</b>

            <div class="text-small flex">
                <div th:if="!${listing.propertyTypeResidential}"
                     th:text="#{'property-type.' + ${listing.propertyType}}">
                    APARTMENT
                </div>
                <div class="padding-left-small" th:if="!${listing.propertyTypeResidential}">-</div>
                <div th:replace="~{__components/listing :: listing-bed-bath-area(${listing})}"></div>
            </div>

            <div class="text-small address margin-top" th:text="${listing.address.street}">STREET</div>
            <div class="text-small address" th:if="${listing.address}">
                <span th:text="${listing.address?.neighbourhood?.name}">XXX</span>
                <span th:if="${listing.address?.neighbourhood} AND ${listing.address?.city}">-</span>
                <span th:text="${listing.address?.city?.name}">XXX</span>
            </div>

            <div class="margin-top text-small summary" th:if="${showSummary} AND ${listing.summary}"
                 th:text="${listing.summary}">SUMMARY
            </div>
        </a>
    </div>
</div>

<div class="flex" th:fragment="listing-bed-bath-area(listing)">
    <div th:if="${listing.bedrooms}">
        <span th:text="${listing.bedrooms}">00</span>
        <span th:text="#{page.listing.bedrooms-short}">BED</span>
    </div>
    <div class="padding-left-small" th:if="${listing.bedrooms} AND ${listing.bathrooms}">-</div>
    <div class="padding-left-small" th:if="${listing.bathrooms}">
        <span th:text="${listing.bathrooms}">00</span>
        <span th:text="#{page.listing.bathrooms-short}">BATH</span>
    </div>
    <div class="padding-left-small"
         th:if="(${listing.bedrooms} OR ${listing.bathrooms}) AND (${listing.lotArea} OR ${listing.propertyArea})">
        -
    </div>
    <div class="padding-left-small" th:if="${listing.lotArea} OR ${listing.propertyArea}">
        <span th:if="${listing.lotArea}" th:text="${listing.lotArea}">00</span>
        <span th:if="!${listing.lotArea}" th:text="${listing.propertyArea}">00</span>
        m<sup>2</sup>
    </div>
</div>

<div th:fragment="listing-price-trend(saleMetrics, rentalMetrics, landMetrics)">
    <table class="table table-striped" th:if="${saleMetrics}">
        <tr>
            <th colspan="2" th:text="#{page.listing.metric.section.residential.sale}">Residential - Sales</th>
        </tr>
        <tr th:each="metric : ${salesMetricsPerRoom}" th:if="${metric.bedrooms}">
            <td>
                <a th:href="${metric.searchUrl}">
                    <span th:if="${metric.bedrooms == 1}" th:text="#{page.listing.metric.1_bedroom}">1_BEDROOM</span>
                    <span th:if="${metric.bedrooms > 1}" th:text="#{page.listing.metric.n_bedroom(${metric.bedrooms})}">>N_BEDROOM</span>
                </a>
            </td>
            <td class="text-right">
                <b th:text="${metric.priceRangeText}">$$$</b>
            </td>
        </tr>
    </table>

    <table class="table table-striped" th:if="${rentalMetrics}">
        <tr>
            <th colspan="2" th:text="#{page.listing.metric.section.residential.rental}">Residential - Rentals</th>
        </tr>
        <tr th:each="metric : ${rentalMetricsPerRoom}" th:if="${metric.bedrooms}">
            <td>
                <a th:href="${metric.searchUrl}">
                    <span th:if="${metric.bedrooms == 1}" th:text="#{page.listing.metric.1_bedroom}">1_BEDROOM</span>
                    <span th:if="${metric.bedrooms > 1}" th:text="#{page.listing.metric.n_bedroom(${metric.bedrooms})}">>N_BEDROOM</span>
                </a>
            </td>
            <td class="text-right">
                <b th:text="${metric.priceRangeText}">$$$</b>
            </td>
        </tr>
    </table>

    <table class="table table-striped" th:if="${landMetrics}">
        <tr>
            <th colspan="2" th:text="#{page.listing.metric.section.land}">LAND</th>
        </tr>
        <tr>
            <td>
                <a th:href="${landMetrics.searchUrl}" th:text="#{page.listing.metric.price}">PRICE</a>
            </td>
            <td class="text-right">
                <b th:text="${landMetrics.priceRangeText}">$$$</b>
            </td>
        </tr>
        <tr th:if="${landMetrics?.pricePerSquareMeter}">
            <td th:utext="#{page.listing.price_per_m2}">Price per m<sup>2</sup></td>
            <td class="text-right">
                <b th:text="${landMetrics.pricePerSquareMeter.shortText}">$$$</b>
            </td>
        </tr>
    </table>
</div>

<div th:fragment="listing-price-metrics(saleMetrics, rentalMetrics, landMetrics)">
    <table class="w-100">
        <tr th:if="${saleMetrics}">
            <td class="text-center">
                <span th:text="#{page.listing.metric.for_sale}">FOR_SALE</span>:
                <b class="margin-right-small" th:text="${saleMetrics.total}">000</b>
            </td>
            <td class="text-center">
                <span th:text="#{page.listing.metric.price}">PRICE</span>:
                <b class="margin-right-small" th:text="${saleMetrics.priceRangeText}">$$$</b>
            </td>
        </tr>
        <tr th:if="${rentalMetrics}">
            <td class="text-center">
                <span th:text="#{page.listing.metric.for_rental}">RENTAL</span>:
                <b class="margin-right-small" th:text="${rentalMetrics.total}">000</b>
            </td>
            <td class="text-center">
                <span th:utext="#{page.listing.metric.price}">PRICE</span>:
                <b class="margin-right-small"
                   th:text="${rentalMetrics.priceRangeText}">$$$</b>
            </td>
        </tr>
        <tr th:if="${landMetrics}">
            <td class="text-center">
                <span th:text="#{page.listing.metric.section.land}">LAND</span>:
                <b class="margin-right-small" th:text="${landMetrics.total}">000</b>
            </td>
            <td class="text-center">
                <span th:utext="#{page.listing.price_per_m2}">PRICE_PER_M2</span>:
                <b class="margin-right-small"
                   th:text="${landMetrics.pricePerSquareMeter.shortText}">$$$</b>
            </td>
        </tr>
    </table>
</div>

<div th:fragment="listing-footer-links(listingType, city, cities, neighbourhoods, similarNeighbourhoods)"
     th:remove="tag">
    <!-- SIMILAR NEIGHBOURHOODS -->
    <div class="similar-neighbourhood-container margin-bottom-2x" th:if="${similarNeighbourhoods}">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h2 th:text="#{'page.listing.footer.similar_neighbourhoods.' + ${listingType.name()}}">TITLE</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-lg-4 margin-bottom-small" th:each="neighbourhood: ${similarNeighbourhoods}">
                    <a th:href="'/search?listing-type=' + ${listingType} + '&location-id=' + ${neighbourhood.id}">
                        <b th:if="${listingType.name() == 'RENTAL'}"
                           th:text="#{page.listing.footer.properties_at_area.RENTAL(${neighbourhood.name})}">PLACE</b>
                        <b th:if="${listingType.name() == 'SALE'}"
                           th:text="#{page.listing.footer.properties_at_area.SALE(${neighbourhood.name})}">PLACE</b>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- NEIGHBORHOOD -->
    <div class="other-cities-container margin-bottom-2x" th:if="${neighbourhoods} AND ${city}">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h2>
                        <span th:if="${listingType.name() == 'RENTAL'}"
                              th:text="#{page.listing.footer.neighbourhoods.RENTAL(${city.name})}"></span>
                        <span th:if="${listingType.name() == 'SALE'}"
                              th:text="#{page.listing.footer.neighbourhoods.SALE(${city.name})}"></span>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-lg-4 margin-bottom-small" th:each="neighbourhood: ${neighbourhoods}">
                    <a th:href="'/search?listing-type=' + ${listingType} + '&location-id=' + ${neighbourhood.id}">
                        <b th:if="${listingType.name() == 'RENTAL'}"
                           th:text="#{page.listing.footer.properties_at_area.RENTAL(${neighbourhood.name})}">PLACE</b>
                        <b th:if="${listingType.name() == 'SALE'}"
                           th:text="#{page.listing.footer.properties_at_area.SALE(${neighbourhood.name})}">PLACE</b>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- OTHER CITIES -->
    <div class="other-cities-container" th:if="${cities}">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h2 th:text="#{'page.listing.footer.cities.' + ${listingType}}">TITLE</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-lg-4 margin-bottom-small" th:each="cc: ${cities}">
                    <a th:href="'/search?listing-type=' + ${listingType} + '&location-id=' + ${cc.id}">
                        <b th:if="${listingType.name() == 'RENTAL'}"
                           th:text="#{page.listing.footer.properties_at_area.RENTAL(${cc.name})}">PLACE</b>
                        <b th:if="${listingType.name() == 'SALE'}"
                           th:text="#{page.listing.footer.properties_at_area.SALE(${cc.name})}">PLACE</b>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
