<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="widget" th:fragment="account-breadcrumb(account)">
    <div class="widget-body">
        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item" th:if="${account}"><a href="/accounts">Accounts</a></li>
                <li class="breadcrumb-item active" th:if="${account}">
                    <img align="absmiddle" height="24" th:src="${page.assetUrl} + '/image/account.png'" width="24"/>
                    <span th:text="${account.name}">ACCOUNT</span>
                </li>
                <li class="breadcrumb-item active" th:if="!${account}">Accounts</li>
            </ol>
        </nav>
    </div>
</div>

<tr class="account" th:fragment="columns(account, showType)" th:remove="tag">
    <td>
        <a th:href="'/accounts/' + ${account.id}" th:text="${account.name}">NAME</a>
    </td>
    <td class="d-none d-lg-table-cell" th:if="${showType}">
        <a th:href="'/accounts/' + ${account.id}" th:text="${account.accountType?.title}">ACCOUNT TYPE</a>
    </td>
    <td class="d-none d-md-table-cell">
        <a th:href="'/accounts/' + ${account.id}" th:text="${account.email}">EMAIL</a>
    </td>
    <td class="d-none d-sm-table-cell">
        <a th:href="'/accounts/' + ${account.id}" th:text="${account.mobileFormatted}">MOBILE</a>
    </td>
    <td class="d-none d-lg-table-cell">
        <a th:href="'/accounts/' + ${account.id}" th:text="${account.phoneFormatted}">PHONE</a>
    </td>
    <td class="d-none d-lg-table-cell">
        <a th:href="'/accounts/' + ${account.id}" th:text="${account.managedBy?.displayName}">MANAGER</a>
    </td>
</tr>

<tr id="account-load-more" th:fragment="load-more(moreUrl)" th:if="${moreUrl}">
    <td class="text-center" colspan="5">
        <a href="javascript: koki_load_more('account-load-more')" th:data-url="${moreUrl}">Load more...</a>
    </td>
</tr>

</body>
