<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="widget" th:fragment="agent-breadcrumb(agent)">
    <div class="widget-body">
        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item" th:if="${agent}"><a href="/agents" th:text="#{module.agent}">AGENTS</a></li>
                <li class="breadcrumb-item active" th:if="${agent}">
                    <span th:text="${agent.user.displayName}">AGENT</span>
                </li>
                <li class="breadcrumb-item active" th:if="!${agent}" th:text="#{module.agent}">AGENTS</li>
            </ol>
        </nav>
    </div>
</div>

<div class="flex border padding border-rounded margin-bottom background-white" th:fragment="agent-card(agent)">
    <img class="user-photo"
         th:src="${agent.user.photoUrl} ? ${agent.user.photoUrl} : '/image/no-photo.png'"/>

    <div class="margin-left">
        <b class="text-larger" th:text="${agent.user.displayName}">NAME</b><br/>
        <div class="flex">
            <div th:text="${agent.user.employer}">EMPLOYER</div>
            <div class="margin-left-small margin-right-small"
                 th:if="${agent.user.employer} AND ${agent.user.city}">-
            </div>
            <div class="gray" th:if="${agent.user.city}" th:text="${agent.user.city.name}">
                LOCATION
            </div>
        </div>

        <div class="margin-top flex" th:if="${agent.totalSales > 0} OR ${agent.totalRentals > 0}">
            <div class="flex margin-right-2x" th:if="${agent.totalSales > 0}">
                <b th:text="${agent.totalSales}">000</b>
                <span th:text="#{page.agent.sold}">SALES</span>
            </div>

            <div th:if="${agent.totalRentals > 0}">
                <b th:text="${agent.totalRentals}">000</b>
                <span th:text="#{page.agent.rented}">RENTALS</span>
            </div>
        </div>
    </div>
</div>
</body>
