<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="widget" th:fragment="contact-breadcrumb(contact)">
    <div class="widget-body">
        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item" th:if="${contact}"><a href="/contacts">Contacts</a></li>
                <li class="breadcrumb-item active" th:if="${contact}">
                    <span th:text="${contact.name}">CONTACT</span>
                </li>
                <li class="breadcrumb-item active" th:if="!${contact}">Contacts</li>
            </ol>
        </nav>
    </div>
</div>

<tr th:fragment="columns(contact, showAccount, showType)" th:remove="tag">
    <td>
        <a target="_blank" th:href="'/contacts/' + ${contact.id}">
            <div th:text="${contact.name}">NAME</div>

            <table border="0" class="d-block d-md-none text-small">
                <tr th:if="${contact.email}">
                    <th>
                        <i class="fa-regular fa-envelope"></i>
                    </th>
                    <td class="padding-left" th:text="${contact.email}">EMAIL</td>
                </tr>
                <tr th:if="${contact.mobile}">
                    <th>
                        <i class="fa-solid fa-mobile-screen-button"></i>
                    </th>
                    <td class="padding-left" th:text="${contact.mobileFormatted}">EMAIL</td>
                </tr>
                <tr th:if="${contact.phone}">
                    <th>
                        <i class="fa-solid fa-phone"></i>
                    </th>
                    <td class="padding-left" th:text="${contact.phoneFormatted}">EMAIL</td>
                </tr>
            </table>
        </a>
    </td>
    <td class="d-none d-lg-table-cell" th:if="${showType}">
        <a target="_blank" th:href="'/contacts/' + ${contact.id}" th:text="${contact.contactType?.title}">
            TYPE
        </a>
    </td>
    <td class="d-none d-md-table-cell">
        <a target="_blank" th:href="'/contacts/' + ${contact.id}" th:text="${contact.email}">EMAIL</a>
    </td>
    <td class="d-none d-md-table-cell">
        <a target="_blank" th:href="'/contacts/' + ${contact.id}" th:text="${contact.mobileFormatted}">MOBILE</a>
    </td>
    <td class="d-none d-md-table-cell">
        <a target="_blank" th:href="'/contacts/' + ${contact.id}" th:text="${contact.phoneFormatted}">PHONE</a>
    </td>
    <td class="d-none d-md-table-cell" th:if="${showAccount}">
        <a target="_blank" th:href="'/contacts/' + ${contact.id}" th:text="${contact.account?.name}">ACCOUNT</a>
    </td>
    <td class="d-none d-md-table-cell" th:if="${user?.hasFullAccess('contact')}">
        <a target="_blank" th:href="'/contacts/' + ${contact.id}" th:text="${contact.createdBy?.displayName}">OWNER</a>
    </td>
</tr>


<div th:fragment="contact-card(contact)">
    <div>
        <b th:text="${contact.name}">NAME</b>
    </div>
    <div th:if="${contact.email}" th:text="${contact.email}">EMAIL</div>
    <div class="flex margin-top-small">
        <div class="margin-right" th:if="${contact.whatsappUrl}">
            <a class="btn btn-whatsapp btn-sm" th:href="${contact.whatsappUrl}">
                <i class="fa-brands fa-whatsapp"></i>
                <span th:text="#{button.whatsapp}">Whatsapp</span>
            </a>
        </div>
        <div class="margin-right" th:if="${contact.mobile}">
            <a class="btn btn-light btn-sm" th:href="${contact.mobileUrl}">
                <i class="fa-solid fa-mobile-screen-button"></i>
                <span th:text="#{button.call}">XXXX</span>
            </a>
        </div>
        <div th:if="${contact.phone} AND !${contact.mobile}">
            <a class="btn btn-light btn-sm" th:href="${contact.mobileUrl}" th:if="${contact.mobile}">
                <i class="fa-solid fa-phone"></i>
                <span th:text="#{button.call}">XXXX</span>
            </a>
        </div>
    </div>
</div>
</body>
