<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="widget" th:fragment="contact-breadcrumb(contact)">
    <div class="widget-body">
        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item" th:if="${contact}"><a href="/contacts">Contacts</a></li>
                <li class="breadcrumb-item active" th:if="${contact}">
                    <span th:text="${contact.name}">CONTACT</span>
                </li>
                <li class="breadcrumb-item active" th:if="!${contact}">Contacts</li>
            </ol>
        </nav>
    </div>
</div>

<tr th:fragment="columns(contact, showAccount, showType)" th:remove="tag">
    <td>
        <a target="_blank" th:href="'/contacts/' + ${contact.id}">
            <div th:text="${contact.name}">NAME</div>

            <table border="0" class="d-block d-md-none text-small">
                <tr th:if="${contact.email}">
                    <th>Email:</th>
                    <td class="padding-left" th:text="${contact.email}">EMAIL</td>
                </tr>
                <tr th:if="${contact.mobile}">
                    <th>Mobile:</th>
                    <td class="padding-left" th:text="${contact.mobileFormatted}">EMAIL</td>
                </tr>
                <tr th:if="${contact.phone}">
                    <th>Phone:</th>
                    <td class="padding-left" th:text="${contact.phoneFormatted}">EMAIL</td>
                </tr>
            </table>
        </a>
    </td>
    <td class="d-none d-lg-table-cell" th:if="${showType}">
        <a target="_blank" th:href="'/contacts/' + ${contact.id}" th:text="${contact.contactType?.title}">
            TYPE
        </a>
    </td>
    <td class="d-none d-md-table-cell">
        <a target="_blank" th:href="'/contacts/' + ${contact.id}" th:text="${contact.email}">EMAIL</a>
    </td>
    <td class="d-none d-md-table-cell">
        <a target="_blank" th:href="'/contacts/' + ${contact.id}" th:text="${contact.mobileFormatted}">MOBILE</a>
    </td>
    <td class="d-none d-md-table-cell">
        <a target="_blank" th:href="'/contacts/' + ${contact.id}" th:text="${contact.phoneFormatted}">PHONE</a>
    </td>
    <td class="d-none d-lg-table-cell" th:if="${showAccount}">
        <a target="_blank" th:href="'/contacts/' + ${contact.id}" th:text="${contact.account?.name}">ACCOUNT</a>
    </td>
    <td class="d-none d-lg-table-cell" th:if="${user?.hasFullAccess('contact')}">
        <a target="_blank" th:href="'/contacts/' + ${contact.id}" th:text="${contact.createdBy?.displayName}">OWNER</a>
    </td>
</tr>

<tr id="contact-load-more" th:fragment="load-more(moreUrl)" th:if="${moreUrl}">
    <td class="text-center" th:colspan="7">
        <a href="javascript: koki_load_more('contact-load-more')" th:data-url="${moreUrl}">Load more...</a>
    </td>
</tr>

</body>
