<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="email" th:fragment="columns(email)" th:remove="tag">
    <div>
        <span th:text="${email.createdAtMoment}">00:00</span>
        <a class="entity-title" th:href="'javascript: koki_emails_open(\'' + ${email.id} + '\')'">
            <b th:text="${email.subject}">SUBJECT</b>
        </a>
        <i class="fa-solid fa-paperclip" th:if="${email.hasAttachment}"></i>
    </div>
    <div class="margin-top text-small">
        <div th:if="${email.sender}">
            From: <span th:text="${email.sender.displayName}">FROM</span>
        </div>
        <div>
            To: <span th:replace="~{__components/email :: recipient(${email})}"></span>
        </div>
    </div>
    <div class="margin-top email-body" th:text="${email.summary}">SUMMARY</div>
</div>

<div class="text-center padding" id="email-load-more" th:fragment="load-more(moreUrl)" th:if="${moreUrl}">
    <a href="javascript: koki_load_more('email-load-more')" th:data-url="${moreUrl}">Load more...</a>
</div>

<span th:fragment="recipient(email)">
    <a class="entity-title"
       th:href="'/accounts/' + ${email.recipient.id}"
       th:if="${email.recipient.type.name == 'ACCOUNT'}"
    >
        <img height="24" src="/image/account.png" width="24"/>
        <span th:text="${email.recipient.name}">RECIPIENT</span>
    </a>
    <a class="entity-title"
       th:href="'/contacts/' + ${email.recipient.id}"
       th:if="${email.recipient.type.name == 'CONTACT'}"
    >
        <img height="24" src="/image/contact.png" width="24"/>
        <span th:text="${email.recipient.name}">RECIPIENT</span>
    </a>
    <span th:if="${email.recipient.type.name == 'UNKNOWN'}" th:text="${email.recipient.name}">RECIPIENT</span>
</span>

</body>
