<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="widget" th:fragment="employee-breadcrumb(employee)">
    <div class="widget-body">
        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item" th:if="${employee}"><a href="/employees">Employees</a></li>
                <li class="breadcrumb-item active" th:if="${employee}">
                    <img align="absmiddle" height="24" src="/image/employee.png" width="24"/>
                    <span th:text="${employee.user.displayName}">EMPLOYEE</span>
                </li>
                <li class="breadcrumb-item active" th:if="!${employee}">Employees</li>
            </ol>
        </nav>
    </div>
</div>

<tr class="employee" th:fragment="columns(employee)" th:remove="tag">
    <td>
        <a th:href="'/employees/' + ${employee.user.id}" th:text="${employee.user.displayName}">NAME</a>
    </td>
    <td th:text="${employee.employeeType?.title}">EMPLOYEE_TYPE</td>
    <td th:text="#{'employee-status.' + ${employee.status}}">STATUS</td>
    <td th:text="${employee.jobTitle}">CONTACT TYPE</td>
    <td class="toolbar">
        <a class="btn-view" th:href="'/employees/' + ${employee.id}"
           th:if="${user?.hasPermission('employee')}">View</a>

        <a class="btn-edit" th:href="'/employees/' + ${employee.id} + '/edit'"
           th:if="${user?.hasPermission('employee:manage')}">Edit</a>
    </td>
</tr>

<tr id="employee-load-more" th:fragment="load-more(moreUrl)" th:if="${moreUrl}">
    <td class="text-center" colspan="4">
        <a href="javascript: koki_load_more('employee-load-more')" th:data-url="${moreUrl}">Load more...</a>
    </td>
</tr>

</body>
