<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<span th:class="'fiv-viv fiv-icon-' + ${file.extension}" th:fragment="file-icon(file)">
</span>

<tr class="file" th:fragment="columns(file)" th:remove="tag">
    <td>
        <div th:replace="~{__components/file :: file-icon(${file})}"></div>
    </td>
    <td>
        <a class="btn-download" target="_blank" th:href="'/files/' + ${file.id} + '/download'">
            <span class="badge text-bg-success margin-right-small"
                  th:each="label : ${file.labels}"
                  th:text="${label.displayName}"
            >LABEL</span>
            <span th:text="${file.name}">NAME</span>
        </a>
    </td>
    <td th:text="${file.contentLengthText}">SIZE</td>
    <td th:text="${file.languageText}">LANGUAGE</td>
    <td>
        <span th:if="${file.createdBy}" th:text="${file.createdBy.displayName}">CREATED</span>
    </td>
    <td th:text="${file.createdAtMoment}">CREATED</td>
    <td class="toolbar text-right">
        <a class="btn-email" th:href="'javascript: koki_emails_compose(' + ${file.id} + ')'"
           th:if="${user?.hasPermission('email:send')}">Email</a>

        <a class="btn-delete"
           th:href="'javascript: koki_files_delete(' + ${file.id} + ')'"
           th:if="${user?.hasPermission('file:delete')}">Delete</a>
    </td>
</tr>

<tr id="file-load-more" th:fragment="load-more(moreUrl)" th:if="${moreUrl}">
    <td class="text-center" colspan="7">
        <a href="javascript: koki_load_more('file-load-more')" th:data-url="${moreUrl}">Load more...</a>
    </td>
</tr>

</body>
