<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="widget" th:fragment="form-breadcrumb(form)">
    <div class="widget-body">
        <a href="/">Home</a>
        &gt;
        <a href="/settings">Settings</a>
        &gt;
        <a href="/settings/forms" th:if="${form}">Forms</a>
        <span th:if="${form}">&gt;</span>
        <span th:if="${form}" th:text="${form.longTitle}">TITLE</span>
        <span th:if="!${form}">Forms</span>
    </div>
</div>

<tr class="submission" th:fragment="submission-columns(submission)" th:remove="tag">
    <td th:text="${submission.submittedAtText}">SUMITTED</td>
    <td th:text="${submission.submittedBy?.displayName}">SUBMITTED</td>
    <td>
        <a class="btn-view" target="_new" th:href="${submission.url}">View</a>
    </td>
</tr>

<tr id="submission-load-more" th:fragment="submission-load-more(moreUrl)" th:if="${moreUrl}">
    <td class="text-center" th:colspan="3">
        <a href="javascript: koki_load_more('submission-load-more')" th:data-url="${moreUrl}">Load more...</a>
    </td>
</tr>

<div class="widget" th:fragment="form-submission-breadcrumb(submission)">
    <div class="widget-body">
        <a href="/">Home</a>
        &gt;
        <a href="/settings">Settings</a>
        &gt;
        <a href="/settings/forms">Forms</a>
        &gt;
        <a th:href="'/settings/forms/' + ${submission.form.id}" th:text="${submission.form.longTitle}">FORM</a>
        &gt;
        <span>Submissions</span>
    </div>
</div>

</body>
