<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="widget" th:fragment="form-breadcrumb(form)">
    <div class="widget-body">
        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item" th:if="${form}"><a href="/forms">Forms</a></li>
                <li class="breadcrumb-item active" th:if="${form}">
                    <img align="absmiddle" height="24" src="/image/form.png" width="24"/>
                    <span th:text="${form.name}">FORM</span>
                </li>
                <li class="breadcrumb-item active" th:if="!${form}">Forms</li>
            </ol>
        </nav>
    </div>
</div>

<tr class="form" th:fragment="columns(form)" th:remove="tag">
    <td>
        <a th:href="'/forms/' + ${form.id} " th:text="${form.name}">NAME</a>
    </td>
    <td align="center">
        <span th:if="${form.active}">Yes</span>
        <span th:if="!${form.active}">No</span>
    </td>
</tr>

<tr id="form-load-more" th:fragment="load-more(moreUrl)" th:if="${moreUrl}">
    <td class="text-center" colspan="2">
        <a href="javascript: koki_load_more('form-load-more')" th:data-url="${moreUrl}">Load more...</a>
    </td>
</tr>

</body>
