<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<a class="image" th:fragment="image-card(image, readOnly)"
   th:href="'/images/' + ${image.id}"
   th:id="'image-' + ${image.id}"
>
    <div class="image-frame">
        <img th:src="${image.contentUrl}"/>
    </div>
    <div th:if="!${image.approved}" th:remove="tag">
        <div th:replace="~{__components/file :: status(${image.status})}"></div>
    </div>
</a>

<div class="w-100 text-center" id="image-load-more" th:fragment="load-more(moreUrl)" th:if="${moreUrl}">
    <button
        class="btn btn-sm btn-light w-100-mobile"
        data-component-id='load-more'
        data-container-id="image-load-more"
        th:data-url="${moreUrl}"
    >
        Load more...
    </button>
</div>

</body>
