<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="widget" th:fragment="breadcrumb(image, owner, ownerModule)">
    <div class="widget-body">
        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item" th:if="${ownerModule} AND ${ownerModule.homeUrl}">
                    <a href="${ownerModule.homeUrl}" th:text="${ownerModule.title}">MODULE</a>
                </li>
                <li class="breadcrumb-item" th:if="${ownerModule} AND ${ownerModule.homeUrl}">
                    <a th:href="${ownerModule.homeUrl} + '/' + ${owner.id} + '&tab=image'"
                       th:text="${owner.title}">OWNER</a>
                </li>
                <li class="breadcrumb-item" th:if="${image}"><a href="/images">Images</a></li>
                <li class="breadcrumb-item active" th:if="${image}">
                    <span th:if="${image.title}" th:text="${image.title}">IMAGE</span>
                    <span th:if="!${image.title}" th:text="${image.name}">IMAGE</span>
                </li>
                <li class="breadcrumb-item active" th:if="!${image}">Forms</li>
            </ol>
        </nav>
    </div>
</div>

<tr class="file" th:fragment="columns(file, readOnly, ownerId, ownerType)" th:remove="tag">
    <td>
        <a th:href="'/images/' + ${file.id} + '?read-only=' + ${readOnly} + '&owner-id=' + ${ownerId} + '&owner-type=' + ${ownerType}">
            <img class="img-fluid" th:src="${file.contentUrl}"/>
        </a>
    </td>
    <td>
        <a th:href="'/images/' + ${file.id} + '?read-only=' + ${readOnly} + '&owner-id=' + ${ownerId} + '&owner-type=' + ${ownerType}">
            <span th:text="${file.name}">NAME</span>
        </a>
    </td>
    <td>
        <a th:href="'/images/' + ${file.id} + '?read-only=' + ${readOnly} + '&owner-id=' + ${ownerId} + '&owner-type=' + ${ownerType}">
            <span th:text="${file.contentLengthText}">000</span>
        </a>
    </td>
    <td>
        <a th:href="'/images/' + ${file.id} + '?read-only=' + ${readOnly} + '&owner-id=' + ${ownerId} + '&owner-type=' + ${ownerType}">
            <span th:if="${file.createdBy}" th:text="${file.createdBy.displayName}">CREATED</span>
        </a>
    </td>
    <td>
        <a th:href="'/images/' + ${file.id} + '?read-only=' + ${readOnly} + '&owner-id=' + ${ownerId} + '&owner-type=' + ${ownerType}">
            <span th:text="${file.createdAtMoment}">MOMENT</span>
        </a>
    </td>
</tr>

<tr id="image-load-more" th:fragment="load-more(moreUrl)" th:if="${moreUrl}">
    <td class="text-center" colspan="5">
        <button
            class="btn btn-sm btn-light"
            data-component-id='load-more'
            data-container-id="image-load-more"
            th:data-url="${moreUrl}"
        >
            Load more...
        </button>
    </td>
</tr>

</body>
