<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="widget" th:fragment="lead-breadcrumb(lead)">
    <div class="widget-body">
        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/" th:text="#{module.home}">Home</a>
                </li>
                <li class="breadcrumb-item" th:if="${lead}">
                    <a href="/leads" th:text="#{module.lead}">MODULE</a>
                </li>
                <li class="breadcrumb-item active" th:if="${lead}">
                    <span th:text="${lead.displayName}">NAME</span>
                </li>
                <li class="breadcrumb-item active" th:if="!${lead}" th:text="#{module.lead}">MODULE</li>
            </ol>
        </nav>
    </div>
</div>

<div th:fragment="lead-status-badge(lead)" th:remove="tag">
    <span class="lead-status badge text-bg-danger"
          th:if="${lead.status.name() == 'NEW'}"
          th:text="#{'lead-status.' + ${lead.status}}">NEW</span>

    <span class="lead-status badge text-bg-primary"
          th:if="${lead.status.name() == 'CONTACTED'}"
          th:text="#{'lead-status.' + ${lead.status}}">ACTIVE</span>

    <span class="lead-status badge text-bg-primary"
          th:if="${lead.status.name() == 'CONTACT_LATER'}"
          th:text="#{'lead-status.' + ${lead.status}} + ' - ' + ${lead.nextContactAtText}">ACTIVE</span>

    <span class="lead-status badge text-bg-primary"
          th:if="${lead.status.name() == 'VISIT_SET'}"
          th:text="#{'lead-status.' + ${lead.status}} + ' - ' + ${lead.nextVisitAtText}">ACTIVE</span>

    <span class="lead-status badge text-bg-success"
          th:if="${lead.status.name() == 'CLIENT'}"
          th:text="#{'lead-status.' + ${lead.status}}">SOLD</span>

    <span class="lead-status badge text-bg-secondary"
          th:if="${lead.status == 'UNQUALIFIED'} OR ${lead.status == 'UNRESPONSIVE'}"
          th:text="#{'lead-status.' + ${lead.status}}">UNQUALIFIED</span>
</div>

<tr th:fragment="lead-row(lead)" th:remove="tag">
    <td class="text-small" width="1%">
        <a th:href="'/leads/' + ${lead.id}">
            <i class="fa-solid fa-circle lead-status-new margin-top-small"
               th:if="${lead.statusNew}"></i>
        </a>
    </td>
    <td>
        <a th:href="'/leads/' + ${lead.id}">
            <span th:text="${lead.displayName}">NAME</span>
            <table class="text-small d-block d-md-none"
                   th:if="${lead.nextContactAtText} OR ${lead.nextVisitAtText}">
                <tr th:if="${lead.nextContactAtText}">
                    <td><i class="fa-solid fa-mobile-screen-button"></i></td>
                    <td class="margin-left" th:text="${lead.nextContactAtText}">yyyy-MM-dd</td>
                </tr>
                <tr th:if="${lead.nextVisitAtText}">
                    <td><i class="fa-solid fa-calendar-days"></i></td>
                    <td class="margin-left" th:text="${lead.nextVisitAtText}">yyyy-MM-dd</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div th:replace="~{__components/lead :: lead-status-badge(${lead})}"></div>
                    </td>
                </tr>
            </table>
        </a>
    </td>
    <td class="d-none d-md-table-cell">
        <div th:replace="~{__components/lead :: lead-status-badge(${lead})}"></div>
    </td>
    <td class="d-none d-md-table-cell" th:text="#{'lead-source.' + ${lead.source}}">SOURCE</td>
    <td class="text-right">
        <a th:href="'/leads/' + ${lead.id}" th:text="${lead.createdAtText}">YYYY-MM-DD</a>
    </td>
</tr>
</body>
