<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="widget" th:fragment="lead-breadcrumb(lead)">
    <div class="widget-body">
        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/" th:text="#{module.home}">Home</a>
                </li>
                <li class="breadcrumb-item" th:if="${lead}">
                    <a href="/leads" th:text="#{module.lead}">MODULE</a>
                </li>
                <li class="breadcrumb-item active" th:if="${lead}">
                    <span th:text="${lead.user.displayName}">NAME</span>
                </li>
                <li class="breadcrumb-item active" th:if="!${lead}" th:text="#{module.lead}">MODULE</li>
            </ol>
        </nav>
    </div>
</div>

<div th:fragment="lead-status-badge(lead)" th:remove="tag">
    <span class="lead-status badge text-bg-warning"
          th:if="${lead.status.name() == 'NEW'}"
          th:text="#{'lead-status.' + ${lead.status}}">NEW</span>

    <span class="lead-status badge text-bg-primary"
          th:if="${lead.status.name() == 'CONTACTED'}"
          th:text="#{'lead-status.' + ${lead.status}}">ACTIVE</span>

    <span class="lead-status badge text-bg-primary"
          th:if="${lead.status.name() == 'CONTACT_LATER'}"
          th:text="#{'lead-status.' + ${lead.status}} + ' - ' + ${lead.nextContactAtText}">ACTIVE</span>

    <span class="lead-status badge text-bg-primary"
          th:if="${lead.status.name() == 'VISIT_SET'}"
          th:text="#{'lead-status.' + ${lead.status}} + ' - ' + ${lead.nextVisitAtText}">ACTIVE</span>

    <span class="lead-status badge text-bg-success"
          th:if="${lead.status.name() == 'CLIENT'}"
          th:text="#{'lead-status.' + ${lead.status}}">SOLD</span>

    <span class="lead-status badge text-bg-secondary"
          th:if="${lead.status == 'UNQUALIFIED'} OR ${lead.status == 'UNRESPONSIVE'}"
          th:text="#{'lead-status.' + ${lead.status}}">UNQUALIFIED</span>
</div>

<div th:fragment="lead-status-button(lead)" th:remove="tag">
    <a class="btn btn-sm btn-warning lead-status" th:href="'/leads/status?id=' + ${lead.id}"
       th:if="${lead.status.name() == 'NEW'}">
        <span th:text="#{'lead-status.' + ${lead.status}}">STATUS</span>
        <i class="fa-solid fa-caret-down"></i>
    </a>

    <a class="btn btn-sm btn-primary lead-status" th:href="'/leads/status?id=' + ${lead.id}"
       th:if="${lead.status.name() == 'VISIT_SET'} OR ${lead.status.name() == 'CONTACT_LATER'} OR ${lead.status.name() == 'CONTACTED'}">
        <span th:text="#{'lead-status.' + ${lead.status}}">STATUS</span>
        <i class="fa-solid fa-caret-down"></i>
    </a>

    <a class="btn btn-sm btn-success lead-status" th:href="'/leads/status?id=' + ${lead.id}"
       th:if="${lead.status.name() == 'CLIENT'}">
        <span th:text="#{'lead-status.' + ${lead.status}}">STATUS</span>
        <i class="fa-solid fa-caret-down"></i>
    </a>

    <a class="btn btn-sm btn-secondary lead-status" th:href="'/leads/status?id=' + ${lead.id}"
       th:if="${lead.status == 'UNQUALIFIED'} OR ${lead.status == 'UNRESPONSIVE'}">
        <span th:text="#{'lead-status.' + ${lead.status}}">STATUS</span>
        <i class="fa-solid fa-caret-down"></i>
    </a>
</div>

<tr th:fragment="lead-row(lead, showStatus)" th:remove="tag">
    <td>
        <a th:href="'/leads/' + ${lead.id}">
            <span th:text="${lead.user.displayName}">NAME</span>
            <table class="text-small d-block d-md-none"
                   th:if="${lead.nextContactAtText} OR ${lead.nextVisitAtText}">
                <tr th:if="${lead.nextContactAtText}">
                    <td><i class="fa-solid fa-mobile-screen-button"></i></td>
                    <td class="margin-left" th:text="${lead.nextContactAtText}">yyyy-MM-dd</td>
                </tr>
                <tr th:if="${lead.nextVisitAtText}">
                    <td><i class="fa-solid fa-calendar-days"></i></td>
                    <td class="margin-left" th:text="${lead.nextVisitAtText}">yyyy-MM-dd</td>
                </tr>
                <tr th:if="${lead.user.location}">
                    <td><i class="fa-solid fa-location-dot"></i></td>
                    <td class="margin-left" th:text="${lead.user.location}">LOCATION</td>
                </tr>
                <tr th:if="${showStatus}">
                    <td colspan="2">
                        <div th:replace="~{__components/lead :: lead-status-badge(${lead})}"></div>
                    </td>
                </tr>
            </table>
        </a>
    </td>
    <td class="d-none d-md-table-cell" th:if="${showStatus}">
        <a th:href="'/leads/' + ${lead.id}">
            <div th:replace="~{__components/lead :: lead-status-badge(${lead})}"></div>
        </a>
    </td>
    <td class="d-none d-md-table-cell">
        <a th:href="'/leads/' + ${lead.id}" th:text="${lead.user.location}">ADDRESS</a>
    </td>
    <td class="d-none d-md-table-cell">
        <a th:href="'/leads/' + ${lead.id}" th:text="#{'lead-source.' + ${lead.source}}">SOURCE</a>
    </td>
    <td class="text-right">
        <a th:href="'/leads/' + ${lead.id}" th:text="${lead.createdAtText}">YYYY-MM-DD</a>
    </td>
</tr>

<tr th:fragment="lead-message(msg)" th:remove="tag">
    <td class="border margin-bottom border-rounded padding">
        <div th:utext="${msg.contentHtml}">CONTENT</div>
        <div class="margin-top text-small">
            <b th:text="#{page.lead.sent-at} + ': '">SENT</b>
            <span th:text="${msg.createdAt}">YYY-MM-DD</span>
        </div>
        <div class="margin-top-small text-small" th:if="${message.visitRequestedAt}">
            <b th:text="#{page.lead.visit-request-at} + ': '">VISIT</b>
            <span th:text="${msg.visitRequestedAtText}">YYY-MM-DD</span>
        </div>
    </td>
</tr>
</body>
