<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="widget" th:fragment="listing-breadcrumb(listing)">
    <div class="widget-body">
        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/" th:text="#{module.home}">HOME</a></li>
                <li class="breadcrumb-item" th:if="${listing}"><a href="/listings"
                                                                  th:text="#{module.listing}">LISTING</a></li>
                <li class="breadcrumb-item active" th:if="${listing}">
                    <span th:text="${listing.listingNumber}">NUMBER</span>
                </li>
                <li class="breadcrumb-item active" th:if="!${listing}" th:text="#{module.listing}">Accounts</li>
            </ol>
        </nav>
    </div>
</div>


<div th:fragment="listing-status-badge(status)" th:remove="tag">
    <span class="badge text-bg-secondary"
          th:if="${status.name() == 'DRAFT'}"
          th:text="#{'listing-status.' + ${status}}">A LOUER</span>

    <span class="badge text-bg-warning" th:if="${status.name() == 'PUBLISHING'}"
          th:text="#{'listing-status.' + ${status}}">PUBLISHING</span>

    <span class="badge text-bg-primary"
          th:if="${status.name() == 'ACTIVE'} OR ${status.name() == 'ACTIVE_WITH_OFFER'} OR ${status.name() == 'PENDING'}"
          th:text="#{'listing-status.' + ${status}}">A LOUER</span>

    <span class="badge text-bg-success" th:if="${status.name() == 'RENTED'} OR ${status.name() == 'SOLD'}"
          th:text="#{'listing-status.' + ${status}}">A LOUER</span>

    <span class="badge text-bg-danger"
          th:if="${status == 'EXPIRED'} OR ${status.name() == 'WITHDRAWN'} OR ${status.name() == 'CANCELLED'}"
          th:text="#{'listing-status.' + ${status}}">A LOUER</span>
</div>

<div th:fragment="listing-type-badge(type)" th:remove="tag">
    <span class="badge text-bg-info margin-right" th:text="#{'listing-type.' + ${type}}">A LOUER</span>
</div>

<tr th:fragment="listing-row(listing)" th:remove="tag">
    <td class="d-none d-sm-table-cell" width="1%">
        <a class="text-nowrap" th:href="'/listings/' + ${listing.id}">
            <span th:text="'#' + ${listing.listingNumber}">00000</span>
        </a>
    </td>
    <td class="d-none d-md-table-cell" width="10%">
        <a th:href="'/listings/' + ${listing.id}" th:text="#{'property-type.' + ${listing.propertyType}}">
            PROPERTY_TYPE
        </a>
    </td>
    <td class="d-none d-md-table-cell" width="10%">
        <a th:href="'/listings/' + ${listing.id}">
            <span th:replace="~{__components/listing :: listing-status-badge(${listing.status})}"></span>
        </a>
    </td>
    <td width="30%">
        <a th:href="'/listings/' + ${listing.id}">
            <div class="d-block d-sm-none text-small">
                <div class="flex flex-space-between">
                    <div>
                        <span th:text="'#' + ${listing.listingNumber}">00000</span>
                    </div>
                    <b class="text-nowrap listing-price d-block d-sm-none">
                        <span th:text="${listing.price.displayText}">$$</span>
                    </b>
                </div>
            </div>
            <div class="d-block d-md-none text-small">
                <span class="margin-right-small"
                      th:text="#{'property-type.' + ${listing.propertyType}}">PROPERTY_TYPE</span>
                <span th:replace="~{__components/listing :: listing-status-badge(${listing.status})}"></span>
            </div>
            <div>
                <span th:if="${listing.address?.neighbourhood}"
                      th:text="${listing.address.neighbourhood.name}">
                    NEIGHBORHOOD
                </span>
                <span th:if="${listing.address?.neighbourhood}">,</span>
                <span th:if="${listing.address?.city}"
                      th:text="${listing.address.city.name}">
                    NEIGHBORHOOD
                </span>
            </div>
            <div class="d-block d-lg-none text-small">
                <div class="flex">
                    <div class="margin-right" th:if="${listing.bedrooms}">
                        <span th:text="${listing.bedrooms}">00</span>
                        <i class="fa-solid fa-bed"></i>
                    </div>
                    <div class="margin-right" th:if="${listing.bathrooms}">
                        <span th:text="${listing.bathrooms}">00</span>
                        <i class="fa-solid fa-bath"></i>
                    </div>
                    <div class="margin-right" th:if="${listing.lotArea} OR ${listing.propertyArea}">
                        <span th:if="${listing.propertyArea}" th:text="${listing.propertyArea}">00</span>
                        <span th:if="${listing.lotArea} AND !${listing.propertyArea}" th:text="${listing.lotArea}">
                            00
                        </span>
                        m<sup>2</sup>
                    </div>
                    <div th:if="${listing.totalActiveMessages} AND ${listing.totalActiveMessages > 0}">
                        <i class="fa-regular fa-message"></i>
                    </div>
                </div>
            </div>
        </a>
    </td>
    <td class="d-none d-lg-table-cell">
        <a th:href="'/listings/' + ${listing.id}">
            <div class="flex">
                <div class="margin-right" th:if="${listing.bedrooms}">
                    <span th:text="${listing.bedrooms}">00</span>
                    <i class="fa-solid fa-bed"></i>
                </div>
                <div class="margin-right" th:if="${listing.bathrooms}">
                    <span th:text="${listing.bathrooms}">00</span>
                    <i class="fa-solid fa-bath"></i>
                </div>
                <div class="margin-right" th:if="${listing.lotArea} OR ${listing.propertyArea}">
                    <span th:if="${listing.propertyArea}" th:text="${listing.propertyArea}">00</span>
                    <span th:if="${listing.lotArea} AND !${listing.propertyArea}" th:text="${listing.lotArea}">
                            00
                        </span>
                    m<sup>2</sup>
                </div>
                <div th:if="${listing.totalActiveMessages} AND ${listing.totalActiveMessages > 0}">
                    <i class="fa-regular fa-message"></i>
                </div>
            </div>
        </a>
    </td>
    <td class="text-right text-nowrap d-none d-sm-table-cell">
        <a th:href="'/listings/' + ${listing.id}">
            <div class="text-nowrap listing-price">
                <span th:text="${listing.price.displayText}">$$</span>
            </div>
        </a>
    </td>
</tr>

<div th:fragment="listing-table(items)" th:if="!${items.isEmpty()}">
    <table class="table table-striped">
        <tr class="listing" th:each="listing : ${items}">
            <div th:replace="~{__components/listing :: listing-row(${listing})}"></div>
        </tr>
    </table>
</div>

<div th:fragment="listing-summary(listing)" th:remove="tag">
    <div>
        <span th:replace="~{__components/listing :: listing-type-badge(${listing.listingType})}"></span>
        <span th:replace="~{__components/listing :: listing-status-badge(${listing.status})}"></span>
    </div>
    <div class="margin-top-small">
        <h1 class="margin-none listing-price" th:if="${listing.price}">
            <span th:text="${listing.price.displayText}">0000</span>
        </h1>

        <div class="margin-top-small">
            <span th:text="#{'property-type.' + ${listing.propertyType}}">PROPERTY_TYPE</span>
            <span th:if="${listing.furnitureType}">-</span>
            <span th:if="${listing.furnitureType}"
                  th:text="#{'furniture-type.' + ${listing.furnitureType}}">
                                FURNITURE_TYPE</span>
        </div>
        <div class="text-larger" th:if="${listing.address}" th:utext="${listing.address.toHtml(false)}">
            ADDRESS
        </div>
        <div class="text-small margin-top-small">
            <span th:text="#{page.listing.number}">#</span>:
            <span th:text="${listing.listingNumber}">00000</span>
        </div>
        <div class="margin-top-small">
            <div class="float-right">
                <div class="flex">
                    <div class="text-center" th:if="${listing.bedrooms}">
                        <b th:text="${listing.bedrooms}">00</b>
                        <div class="text-small" th:text="#{page.listing.bedrooms}">BEDROOMS</div>
                    </div>
                    <div class="text-center margin-left" th:if="${listing.bathrooms}">
                        <b th:text="${listing.bathrooms}">00</b>
                        <div class="text-small" th:text="#{page.listing.bathrooms}">BATHROOMS</div>
                    </div>
                    <div class="text-center margin-left"
                         th:if="${listing.lotArea} OR ${listing.propertyArea}">
                        <b th:if="${listing.propertyArea}" th:text="${listing.propertyArea}">00</b>
                        <b th:if="${listing.lotArea} AND !${listing.propertyArea}"
                           th:text="${listing.lotArea}">
                            00
                        </b>
                        <div class="text-small">m<sup>2</sup></div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

</body>
</html>
