<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="widget" th:fragment="listing-breadcrumb(listing)">
    <div class="widget-body">
        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/" th:text="#{module.home}">HOME</a>
                </li>
                <li class="breadcrumb-item" th:if="${listing}">
                    <a href="/listings" th:text="#{module.listing}">MODULE</a>
                </li>
                <li class="breadcrumb-item active" th:if="${listing}">
                    <span th:text="${listing.listingNumber}">NUMBER</span>
                </li>
                <li class="breadcrumb-item active" th:if="!${listing}" th:text="#{module.listing}">MODULE</li>
            </ol>
        </nav>
    </div>
</div>

<div th:fragment="listing-status-badge(listing)" th:remove="tag">
    <span class="listing-status badge text-bg-secondary"
          th:if="${listing.status.name() == 'DRAFT'}"
          th:text="#{'listing-status.' + ${listing.status}}">DRAFT</span>

    <span class="listing-status badge text-bg-warning"
          th:if="${listing.status.name() == 'PUBLISHING'} OR ${listing.status.name() == 'PENDING'}"
          th:text="#{'listing-status.' + ${listing.status}}">PUBLISHING</span>

    <span class="listing-status badge text-bg-primary"
          th:if="${listing.status.name() == 'ACTIVE'} OR ${listing.status.name() == 'ACTIVE_WITH_CONTINGENCIES'}"
          th:text="#{'listing-status.' + ${listing.status}}">ACTIVE</span>

    <span class="listing-status badge text-bg-success"
          th:if="${listing.status.name() == 'RENTED'} OR ${listing.status.name() == 'SOLD'}"
          th:text="#{'listing-status.' + ${listing.status}} + ' ' + ${listing.soldAtText}">SOLD</span>

    <span class="listing-status badge text-bg-danger"
          th:if="${listing.status == 'EXPIRED'} OR ${listing.status.name() == 'WITHDRAWN'} OR ${listing.status.name() == 'CANCELLED'}"
          th:text="#{'listing-status.' + ${listing.status}}">CANCELLED</span>
</div>

<div th:fragment="listing-type-badge(listing)" th:remove="tag">
    <span class="listing-type badge text-bg-light"
          th:text="#{'listing-type.' + ${listing.listingType}}">A LOUER</span>
</div>

<div th:fragment="listing-table(items, sold, showAgent, showCommission, moreUrl)" th:if="!${items.isEmpty()}">
    <table class="table">
        <tr class="d-none d-md-table-row">
            <th colspan="2"></th>
            <th th:text="#{page.listing.status}">STATUS</th>
            <th th:if="${showAgent}" th:text="#{page.listing.agent}">AGENT</th>
            <th class="text-right" th:if="${sold}" th:text="#{page.listing.sale-price}">PRICE</th>
            <th class="text-right" th:if="!${sold}" th:text="#{page.listing.price}">PRICE</th>
            <th class="text-right" th:if="${showCommission}" th:text="#{page.listing.commission}">COMMISSION</th>
        </tr>
        <tr class="listing" th:each="listing : ${items}">
            <div
                th:replace="~{__components/listing :: listing-row(${listing}, ${sold}, ${showAgent}, ${showCommission})}"></div>
        </tr>
        <tr id="listing-load-more" th:if="${moreUrl}">
            <td class="text-center" colspan="9">
                <button
                    class="btn btn-sm btn-light w-100-mobile"
                    data-component-id="load-more"
                    data-container-id="listing-load-more"
                    th:data-url="${moreUrl}"
                    th:text="#{button.load_more}"
                >
                    Load more...
                </button>
            </td>
        </tr>
    </table>
</div>

<tr th:fragment="listing-row(listing, sold, showAgent, showCommission)" th:remove="tag">
    <td width="1%">
        <div class="hero-image text-center">
            <a th:href="'/listings/' + ${listing.id}">
                <img th:src="${listing.heroImageUrl} ? ${listing.heroImageUrl} : '/image/no-image.png'"/>
            </a>
        </div>
    </td>
    <td>
        <a th:href="'/listings/' + ${listing.id}">
            <div th:utext="${listing.address?.toHtml(false)}">ADDRESS</div>
            <div class="text-small">
                <div class="margin-top-small">
                    <span th:text="#{'property-type.' + ${listing.propertyType}}">PROPERTY_TYPE</span>
                    <span th:if="${listing.furnitureType}">-</span>
                    <span th:if="${listing.furnitureType}" th:text="#{'furniture-type.' + ${listing.furnitureType}}">
                        FURNITURE_TYPE
                    </span>
                </div>
                <div th:replace="~{__components/listing :: listing-bed-bath-area(${listing})}"></div>
            </div>

            <div class="margin-top-small flex">
                <div class="margin-right-small" th:if="!${listing.statusSold}">
                    <div th:replace="~{__components/listing :: listing-type-badge(${listing})}"></div>
                </div>
                <div class="d-block d-md-none">
                    <div class="flex">
                        <div>
                            <div th:replace="~{__components/listing :: listing-status-badge(${listing})}"></div>
                        </div>
                    </div>
                </div>
            </div>

            <table border="0" class="d-block d-md-none text-small margin-top-small">
                <tr th:if="${sold} AND ${listing.salePrice}">
                    <th th:text="#{page.listing.sale-price}">TRANSACTION_PRICE</th>
                    <td class="listing-price padding-left-small">
                        <b th:text="${listing.salePrice.displayText}">$$$</b>
                    </td>
                </tr>
                <tr th:if="!${sold} AND ${listing.price}">
                    <th th:text="#{page.listing.price}">CLOSED</th>
                    <td class="listing-price padding-left-small">
                        <b th:text="${listing.price.displayText}">$$$</b>
                    </td>
                </tr>
                <tr th:if="${showCommission} AND ${listing.salePrice}">
                    <th th:text="#{page.listing.commission}">COMMISSION</th>
                    <td class="padding-left-small">
                        <span class="listing-price" th:text="${listing.commission(user)?.displayText}">$$$</span>
                    </td>
                </tr>
                <tr th:if="${showAgent} AND ${listing.sellerAgentUser}">
                    <td colspan="2">
                        <div
                            th:replace="~{__components/user :: user-small-card(${listing.sellerAgentUser}, false)}"></div>
                    </td>
                </tr>
            </table>
        </a>
    </td>
    <td class="d-none d-md-table-cell">
        <a th:href="'/listings/' + ${listing.id}">
            <div th:replace="~{__components/listing :: listing-status-badge(${listing})}"></div>
            <!--
                <div th:replace="~{__components/offer :: offer-party-badge(${listing.transactionParty})}"></div>
            -->
        </a>
    </td>
    <td class="d-none d-md-table-cell" th:if="${showAgent}">
        <a th:href="'/listings/' + ${listing.id}">
            <div th:replace="~{__components/user :: user-small-card(${listing.sellerAgentUser}, false)}"></div>
        </a>
    </td>
    <td class="text-right text-nowrap d-none d-md-table-cell" th:if="${sold}">
        <a class="text-nowrap listing-price"
           th:href="'/listings/' + ${listing.id}"
           th:if="${listing.salePrice}">
            <b class="listing-price" th:text="${listing.salePrice.displayText}">$$</b>
        </a>
    </td>
    <td class="text-right text-nowrap d-none d-md-table-cell" th:if="!${sold}">
        <a class="text-nowrap listing-price"
           th:href="'/listings/' + ${listing.id}"
           th:if="${listing.price}">
            <b class="listing-price" th:text="${listing.price.displayText}">$$</b>
        </a>
    </td>
    <td class="text-right text-nowrap d-none d-md-table-cell" th:if="${showCommission}">
        <span class="listing-price" th:text="${listing.commission(user)?.displayText}">$$$</span>
    </td>
</tr>

<div class="flex" th:fragment="listing-bed-bath-area(listing)">
    <div class="padding-right-small" th:if="${listing.bedrooms}">
        <span th:text="${listing.bedrooms}">00</span>
        <span th:text="#{page.listing.bedrooms-short}">BED</span>
    </div>
    <div class="padding-right-small" th:if="${listing.bedrooms} AND ${listing.bathrooms}">-</div>
    <div class="padding-right-small" th:if="${listing.bathrooms}">
        <span th:text="${listing.bathrooms}">00</span>
        <span th:text="#{page.listing.bathrooms-short}">BATH</span>
    </div>
    <div class="padding-right-small"
         th:if="(${listing.bedrooms} OR ${listing.bathrooms}) AND (${listing.lotArea} OR ${listing.propertyArea})">
        -
    </div>
    <div th:if="${listing.lotArea} OR ${listing.propertyArea}">
        <span th:if="${listing.lotArea}" th:text="${listing.lotArea}">00</span>
        <span th:if="!${listing.lotArea}" th:text="${listing.propertyArea}">00</span>
        m<sup>2</sup>
    </div>
</div>

<div th:fragment="listing-summary(listing)" th:remove="tag">
    <div class="flex">
        <div class="margin-right-small" th:if="!${listing.statusSold}">
            <span th:replace="~{__components/listing :: listing-type-badge(${listing})}"></span>
        </div>
        <div>
            <span th:replace="~{__components/listing :: listing-status-badge(${listing})}"></span>
        </div>
    </div>
    <div class="margin-top-small">
        <h1 class="margin-none listing-price" th:if="${listing.price}">
            <span th:if="!${listing.statusSold}" th:text="${listing.price.displayText}">0000</span>
            <span th:if="${listing.statusSold}" th:text="${listing.salePrice.displayText}">0000</span>
        </h1>

        <div class="margin-top-small">
            <span th:text="#{'property-type.' + ${listing.propertyType}}">PROPERTY_TYPE</span>
            <span th:if="${listing.furnitureType}">-</span>
            <span th:if="${listing.furnitureType}"
                  th:text="#{'furniture-type.' + ${listing.furnitureType}}">
                FURNITURE_TYPE
            </span>
        </div>
        <div class="text-larger" th:if="${listing.address}" th:utext="${listing.address.toHtml(false)}">
            ADDRESS
        </div>
        <div class="text-small margin-top-small">
            <span th:text="#{page.listing.number}">#</span>:
            <span th:text="${listing.listingNumber}">00000</span>
        </div>
        <div class="margin-top-small flex flex-space-between">
            <div>
                <div th:if="${listing.price} AND ${listing.commission(user)}">
                    <b class="text-small" th:text="#{page.listing.commission}">COMMISSION</b><br/>
                    <span class="listing-price" th:text="${listing.commission(user)}">$$$</span>
                </div>
            </div>
            <div class="flex">
                <div class="text-center" th:if="${listing.bedrooms}">
                    <b th:text="${listing.bedrooms}">00</b>
                    <div class="text-small" th:text="#{page.listing.bedrooms}">BEDROOMS</div>
                </div>
                <div class="text-center margin-left-small" th:if="${listing.bathrooms}">
                    <b th:text="${listing.bathrooms}">00</b>
                    <div class="text-small" th:text="#{page.listing.bathrooms}">BATHROOMS</div>
                </div>
                <div class="text-center margin-left-small" th:if="${listing.lotArea} OR ${listing.propertyArea}">
                    <b th:text="${listing.lotArea} ? ${listing.lotArea} : ${listing.propertyArea}">00</b>
                    <div class="text-small">m<sup>2</sup></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="listing-item" th:fragment="listing-item(listing)">
    <div class="flex">
        <div class="hero-image text-center">
            <img
                th:src="${listing.heroImageUrl} ? ${listing.heroImageUrl} : '/image/no-image.png'"/>
        </div>
        <div class="margin-left text-small">
            <div th:if="${listing.address}" th:utext="${listing.address.toHtml(false)}">ADDRESS</div>
            <div>
                <span th:text="#{page.listing.number}">#</span>
                <span th:text="${listing.listingNumber}">###</span>
            </div>
            <div>
                <div th:replace="~{__components/listing :: listing-bed-bath-area(${listing})}"></div>
            </div>
        </div>
    </div>
</div>

<div class="listing-card" th:data-id="${listing.id}" th:fragment="listing-card(listing)">
    <a th:href="'/listings/' + ${listing.id}">
        <div class="listing-status-container">
            <div th:if="!${listing.statusSold}" th:remove="tag">
                <div th:replace="~{__components/listing :: listing-type-badge(${listing})}"></div>
            </div>
            <div th:if="${listing.statusSold}" th:remove="tag">
                <div th:replace="~{__components/listing :: listing-status-badge(${listing})}"></div>
            </div>
        </div>
        <div class="hero-image-container flex flex-center">
            <img class="hero-image" th:src="${listing.heroImageUrl} ? ${listing.heroImageUrl} : '/image/no-image.png'"/>
        </div>
    </a>
    <div class="listing-details padding-small">
        <a th:href="'/listings/' + ${listing.id}">
            <b class="listing-price" th:if="!${listing.statusSold}" th:text="${listing.price.displayText}">$$$</b>
            <b class="listing-price" th:if="${listing.statusSold}" th:text="${listing.salePrice.displayText}">$$$</b>

            <div class="text-small flex">
                <div th:if="!${listing.propertyTypeResidential}"
                     th:text="#{'property-type.' + ${listing.propertyType}}">
                    APARTMENT
                </div>
                <div class="padding-left-small padding-right-small" th:if="!${listing.propertyTypeResidential}">-</div>
                <div th:replace="~{__components/listing :: listing-bed-bath-area(${listing})}"></div>
            </div>

            <div class="text-small address margin-top" th:text="${listing.address?.street}">STREET</div>
            <div class="text-small address">
                <span th:text="${listing.address?.neighbourhood?.name}">XXX</span>
                <span th:if="${listing.address?.neighbourhood} AND ${listing.address?.city}">-</span>
                <span th:text="${listing.address?.city?.name}">XXX</span>
            </div>

            <div class="margin-top" th:if="${listing.sellerAgentUser}">
                <div th:replace="~{__components/user :: user-small-card(${listing.sellerAgentUser}, false)}"></div>
            </div>
        </a>
    </div>
</div>

<div class="listing-carousel" th:fragment="listing-carousel(listings)">
    <div th:each="listing : ${listings}" th:remove="tag">
        <div th:replace="~{__components/listing :: listing-card(${listing})}"></div>
    </div>
</div>

<div class="listing-filter-container" th:fragment="listing-filters(form, locations)">
    <!-- Listing Type -->
    <div class="listing-filter">
        <span th:if="${form.listingType == 'SALE'}" th:text="#{listing-type.SALE}">TYPE</span>
        <span th:if="${form.listingType == 'RENTAL'}" th:text="#{listing-type.RENTAL}">TYPE</span>
        <span th:if="${form.listingType == 'SOLD'}" th:text="#{listing-status.SOLD}">TYPE</span>
    </div>

    <!-- Location -->
    <div class="listing-filter" th:if="${locations}">
        <span class="listing-filter-badge" th:each="location : ${locations}" th:text="${location.name}">LOCATION</span>
    </div>

    <!-- Rooms -->
    <div class="listing-filter" th:if="${form.bedrooms?.length() > 0}">
        <b th:text="#{page.listing.bedrooms-short} + ':'">BEDROOM</b>
        <span th:text="${form.bedrooms}">00</span>
    </div>
    <div class="listing-filter" th:if="${form.bathrooms?.length() > 0}">
        <b th:text="#{page.listing.bathrooms-short} + ':'">BATHROOM</b>
        <span th:text="${form.bathrooms}">00</span>
    </div>

    <!-- Property Types -->
    <div class="listing-filter" th:if="!${form.propertyTypes.isEmpty()}">
        <span class="listing-filter-badge"
              th:each="propertyType : ${form.propertyTypes}"
              th:text="#{'property-type.' + ${propertyType}}">
            TYPE
        </span>
    </div>

    <!-- Price -->
    <div class="listing-filter" th:if="${form.minPrice} OR ${form.maxPrice}">
        <b th:text="#{page.listing.price-short} + ':'">PRICE</b>
        <div th:if="${form.minPrice} AND ${form.maxPrice}" th:remove="tag">
            <span th:text="${form.minPriceText}">$$</span>
            -
            <span th:text="${form.maxPriceText}">$$</span>
        </div>
        <div th:if="!${form.maxPrice}" th:remove="tag">
            <span th:text="${form.minPriceText} + '+'">$$</span>
        </div>
        <div th:if="!${form.minPrice}" th:remove="tag">
            <span th:text="#{page.listing.list.up-to}">UP_TO</span>
            <span th:text="${form.maxPriceText}">$$</span>
        </div>
    </div>

    <!-- Lot -->
    <div class="listing-filter" th:if="${form.minLotArea} OR ${form.maxLotArea}">
        <b th:text="#{page.listing.lot} + ':'">PRICE</b>
        <div th:if="${form.minLotArea} AND ${form.maxLotArea}" th:remove="tag">
            <span th:text="${form.minLotAreaText}">$$</span>
            -
            <span th:text="${form.maxLotAreaText}">$$</span>
            <span>m<sup>2</sup></span>
        </div>
        <div th:if="!${form.maxLotArea}" th:remove="tag">
            <span th:text="${form.minLotAreaText} + '+'">$$</span>
            <span>m<sup>2</sup></span>
        </div>
        <div th:if="!${form.minLotArea}" th:remove="tag">
            <span th:text="#{page.listing.list.up-to}">UP_TO</span>
            <span th:text="${form.maxPriceText}">$$</span>
            <span>m<sup>2</sup></span>
        </div>
    </div>

    <!-- Property -->
    <div class="listing-filter" th:if="${form.minPropertyArea} OR ${form.maxPropertyArea}">
        <b th:text="#{page.listing.lot} + ':'">PRICE</b>
        <div th:if="${form.minPropertyArea} AND ${form.maxPropertyArea}" th:remove="tag">
            <span th:text="${form.minPropertyAreaText}">$$</span>
            -
            <span th:text="${form.maxPropertyAreaText}">$$</span>
            <span>m<sup>2</sup></span>
        </div>
        <div th:if="!${form.maxPropertyArea}" th:remove="tag">
            <span th:text="${form.minPropertyAreaText} + '+'">$$</span>
            <span>m<sup>2</sup></span>
        </div>
        <div th:if="!${form.minPropertyArea}" th:remove="tag">
            <span th:text="#{page.listing.list.up-to}">UP_TO</span>
            <span th:text="${form.maxPriceText}">$$</span>
            <span>m<sup>2</sup></span>
        </div>
    </div>
</div>

</body>
</html>
