<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<tr th:fragment="columns(message, showSubject)" th:remove="tag">
    <td th:class="'message-status-' + ${message.status}">
        <a th:href="'javascript: kokiMessage.show(' + ${message.id} + ')'">
            <span th:text="${message.createdAtMoment}">DATE</span>
        </a>
    </td>
    <td width="1%">
        <img align="absmiddle" class="margin-left-small"
             th:if="${message.country}"
             th:src="${message.countryFlag}"
        />
    </td>
    <td th:class="'message-status-' + ${message.status}">
        <a th:href="'javascript: kokiMessage.show(' + ${message.id} + ')'">
            <span th:text="${message.senderName}">SENDER</span>
        </a>
    </td>
    <td class="d-none d-sm-table-cell" th:classappend="'message-status-' + ${message.status}" th:if="${showSubject}">
        <a th:href="'javascript: kokiMessage.show(' + ${message.id} + ')'" th:if="${message.owner}">
            <span th:text="${message.owner.title}">TITLE</span>
        </a>
    </td>
</tr>

<tr id="message-load-more" th:fragment="load-more(moreUrl)" th:if="${moreUrl}">
    <td class="text-center" colspan="3">
        <button
            class="btn btn-sm btn-light"
            data-component-id="load-more"
            data-container-id="message-load-more"
            th:data-url="${moreUrl}"
        >
            Load more...
        </button>
    </td>
</tr>

</body>
