<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<span th:fragment="type-icon(type)">
    <i class="fa-solid fa-phone" th:if="${type.name() == 'CALL'}"></i>
    <i class="fa-solid fa-list-check" th:if="${type.name() == 'TASK'}"></i>
    <i class="fa-solid fa-calendar-days" th:if="${type.name() == 'EVENT'}"></i>
    <i class="fa-solid fa-people-group" th:if="${type.name() == 'IN_PERSON_MEETING'}"></i>
    <i class="fa-solid fa-video" th:if="${type.name() == 'ONLINE_MEETING'}"></i>
</span>

<div class="note" th:fragment="columns(note, readOnly)" th:remove="tag">
    <div>
        <div class="note-subject">
            <span th:text="${note.modifiedAtMoment}">00:00</span>
            <a class="subject entity-title"
               data-close-callback="_koki_notes_on_viewer_closed"
               data-component-id="modal-button"
               data-modal-body-large="true"
               data-open-callback="_koki_notes_on_viewer_opened"
               th:data-modal-body-url="'/notes/' + ${note.id}"
            >
                <span th:replace="~{__components/note :: type-icon(${note.type})}"></span>
                <b th:text="${note.subject}">SUBJECT</b>
            </a>
        </div>
        <div class="text-small" th:if="${note.modifiedBy}">
            By:
            <span th:text="${note.modifiedBy?.displayName}">DISPLAY NANME</span>
        </div>
        <div class="text-small" th:if="${note.duration > 0}">
            Duration:
            <span th:text="${note.durationText}">DURATION</span>
        </div>

    </div>
    <div class="margin-top note-body" th:text="${note.summary}">SUMMARY</div>
    <div class="margin-top margin-bottom">
        <a class="btn-view"
           data-close-callback="_koki_notes_on_viewer_closed"
           data-component-id="modal-button"
           data-modal-body-large="true"
           data-open-callback="_koki_notes_on_viewer_opened"
           th:data-modal-body-url="'/notes/' + ${note.id}"
        >
            View
        </a>

        <a class="btn-edit margin-left"
           data-close-callback="_koki_notes_on_modal_closed"
           data-component-id="modal-button"
           data-modal-body-large="true"
           data-open-callback="_koki_notes_on_modal_opened"
           th:data-modal-body-url="'/notes/' + ${note.id} + '/edit'"
           th:if="!${readOnly} AND ${user?.hasPermission('note:manage')}"
        >
            Edit
        </a>

        <a class="btn-delete margin-left"
           th:href="'javascript: koki_notes_delete(' + ${note.id} + ')'"
           th:if="!${readOnly} AND ${user?.hasPermission('note:delete')}">Delete</a>
    </div>
</div>

<tr id="note-load-more" th:fragment="load-more(moreUrl)" th:if="${moreUrl}">
    <td class="text-center" colspan="6">
        <a href="javascript: koki_load_more('note-load-more')" th:data-url="${moreUrl}">Load more...</a>
    </td>
</tr>

</body>
