<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="widget" th:fragment="payment-breadcrumb(payment)">
    <div class="widget-body">
        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item" th:if="${payment}"><a href="/payments">Payments</a></li>
                <li class="breadcrumb-item active" th:if="${payment}">
                    <img align="absmiddle" height="24" src="/image/payment.png" width="24"/>
                    <span th:text="${payment.id}">ID</span>
                </li>
                <li class="breadcrumb-item active" th:if="!${payment}">Payments</li>
            </ol>
        </nav>
    </div>
</div>

<tr class="payment" th:fragment="columns(payment, showInvoice)" th:remove="tag">
    <td th:text="${payment.createdAtText}">DATE</td>
    <td th:if="${showInvoice}">
        <a target="_blank"
           th:href="'/invoices/' + ${payment.invoice.id}"
           th:if="${user?.hasPermission('invoice')}"
           th:text="${payment.invoice.number}">
            INVOICE-NUMBER
        </a>
        <span th:if="!${user?.hasPermission('invoice')}" th:text="${payment.invoice.number}">INVOICE-NUMBER</span>
    </td>
    <td th:text="#{'transaction-type.' + ${payment.type.name}}">TYPE</td>
    <td>
        <span th:replace="~{__components/payment :: payment-method-type(${payment.paymentMethodType.name})}"></span>
    </td>
    <td class="text-center">
        <span th:replace="~{__components/payment :: payment-status(${payment.status.name})}"></span>
    </td>
    <td class="text-right"
        th:classappend="${payment.type.name} == 'REFUND' ? 'darkred'"
        th:text="${payment.amount}">
        $$$
    </td>
    <td class="toolbar">
        <a class="btn-view" th:href="'/payments/' + ${payment.id}">View</a>
    </td>
</tr>

<tr id="payment-load-more" th:fragment="load-more(moreUrl)" th:if="${moreUrl}">
    <td class="text-center" colspan="6">
        <a href="javascript: koki_load_more('payment-load-more')" th:data-url="${moreUrl}">Load more...</a>
    </td>
</tr>

<div th:fragment="payment-status(status)">
    <span class="badge text-bg-success"
          th:if="${status == 'SUCCESSFUL'}"
          th:text="#{'transaction-status.' + ${status}}">transaction</span>

    <span class="badge text-bg-danger"
          th:if="${status == 'FAILED'}"
          th:text="#{'transaction-status.' + ${status}}">CANCELLED</span>

    <span class="badge text-bg-warning"
          th:if="${status != 'SUCCESSFUL'} AND ${status != 'FAILED'}"
          th:text="#{'transaction-status.' + ${status}}">PENDING</span>
</div>

<div th:fragment="payment-method-type(type)">
    <span th:replace="~{__components/payment :: payment-method-icon(${type})}"></span>
    <span th:text="#{'payment-method-type.' + ${type}}">TYPE</span>
</div>

<div th:fragment="payment-method-icon(type)" th:remove="tag">
    <i class="fa-solid fa-money-bill-1" th:if="${type == 'CASH'}"></i>
    <i class="fa-solid fa-money-check" th:if="${type == 'CHECK'}"></i>

    <img height="24" src="/image/payment/interac.png" th:if="${type == 'INTERAC'}" width="24"/>

    <i class="fa-solid fa-credit-card" th:if="${type == 'CREDIT_CARD'}"></i>
    <i class="fa-solid fa-mobile-screen" th:if="${type == 'MOBILE'}"></i>
    <i class="fa-solid fa-building-columns" th:if="${type == 'BANK'}"></i>
    <i class="fa-brands fa-paypal" th:if="${type == 'PAYPAL'}"></i>
</div>

</body>
</html>
