<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="header(invoice)">
    <div class="text-small">
        Invoice #<b th:text="${invoice.number}">0000</b>
    </div>
    <div th:if="!${invoice.paid}">
        <h1 th:text="${invoice.amountDue}">$$$</h1>
    </div>
    <div th:if="${invoice.paid}">
        <div th:replace="~{__components/invoice :: invoice-status(${invoice.status.name})}"></div>
    </div>
</div>

<table class="table" th:fragment="invoice(invoice)">
    <tr th:each="item : ${invoice.items}">
        <td valign="top">
            <div th:text="${item.description}">ITEM</div>
            <div class="text-small" th:if="${item.quantity > 1}">
                Quantity: <span th:text="${item.quantity}">1111</span>
            </div>
        </td>
        <td align="right" valign="top">
            <div th:text="${item.subTotal}">$$$</div>
            <div class="text-small" th:if="${item.quantity > 1}">
                Quantity: <span th:text="${item.quantity}">1111</span>
            </div>
        </td>
    </tr>
    <tr th:each="item : ${invoice.taxes}">
        <td valign="top">
            <span th:text="${item.salesTax.name}">ITEM</span>
            (<span th:text="${item.salesTax.rateText}">%%%</span>)
        </td>
        <td align="right" valign="top">
            <div th:text="${item.amount}">$$$</div>
        </td>
    </tr>
</table>

<div th:fragment="buttons(invoice, paynowId, paymentMethodTypes)">
    <h5 class="text-center">Pay With</h5>
    <form id="paynow-form" method="POST" onclick="return koki_paynow_form_on_submit()"
          th:action="'/paynow/' + ${paynowId} + '.' + ${invoice.id} + '?payment-method-type=' + ${type.name}"
          th:each="type : ${paymentMethodTypes}">

        <button class="btn btn-primary w-100 margin-top"
                th:classappend="'btn-checkout-' + ${type.name.toLowerCase()}"
                type="submit">
            <div class="flex">
                <div class="text-larger" style="width: 50px">
                    <div th:replace="~{__components/payment :: payment-method-icon(${type.name})}"></div>
                </div>
                <div class="text-larger" th:text="#{'payment-method-type.' + ${type.name}}">
                    TYPE
                </div>
            </div>
        </button>

    </form>
    <script>
        function koki_paynow_form_on_submit() {
            document.querySelectorAll('#paynow-form button').forEach((elt) => {
                elt.enabled = false;
            });
        }
    </script>
</div>

</body>
