<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<body>

<div class="widget" th:fragment="breadcrumb(room)">
    <div class="widget-body">
        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item" th:if="${room}"><a href="/rooms">Rooms</a></li>
                <li class="breadcrumb-item active" th:if="${room}">
                    <img align="absmiddle" height="24" th:src="${page.assetUrl} + '/image/room.png'" width="24"/>
                    <span th:if="${room.title}" th:text="${room.title}">ROOM</span>
                    <span th:if="!${room.title}" th:text="#{'room-type.' + ${room.type}}">TYPE</span>
                </li>
                <li class="breadcrumb-item active" th:if="!${room}">Rooms</li>
            </ol>
        </nav>
    </div>
</div>

<tr class="room" th:fragment="columns(room,showAccount)" th:remove="tag">
    <td class="text-center d-none d-sm-table-cell">
        <a th:href="'/rooms/' + ${room.id}">
            <img class="hero-image"
                 th:classappend="!${room.heroImage} ? 'hero-image-empty'"
                 th:src="${room.heroImage} ? ${room.heroImage.contentUrl} : ${page.assetUrl} + '/image/room.png'"/>
        </a>
    </td>
    <td class="d-table-cell d-xl-none">
        <span th:replace="~{__components/room :: status-icon(${room.status})}"></span>
    </td>
    <td>
        <a th:href="'/rooms/' + ${room.id}">
            <div class="margin-bottom-small flex" th:if="${room.title}">
                <b th:text="${room.title}">TITLE</b>
            </div>
            <div class="flex">
                <div>
                    <span th:text="${room.numberOfRooms}">00</span> bedroom(s)
                </div>
                <div class="margin-left-small">
                    -
                    <span th:text="${room.numberOfBathrooms}">00</span> bath(s)
                </div>
                <div class="margin-left-small d-none d-lg-table-cell" th:if="${room.numberOfBeds > 0}">
                    -
                    <span th:text="${room.numberOfBeds}">00</span> bed(s)
                </div>
                <div class="margin-left-small d-none d-lg-table-cell" th:if="${room.maxGuests > 0}">
                    -
                    <span th:text="${room.maxGuests}">00</span> guest(s)
                </div>
            </div>
            <div class="margin-top-small flex text-secondary">
                <div th:if="${room.neighborhood}" th:text="${room.neighborhood.name}">NEIGHBORHOOD</div>
                <div th:if="${room.address?.city}">
                    <span th:if="${room.neighborhood}">-</span>
                    <span th:text="${room.address?.city?.name}">CITY</span>
                </div>
            </div>
        </a>
    </td>
    <td class="d-none d-xl-table-cell" th:if="${showAccount}">
        <a th:href="'/rooms/' + ${room.id}" th:text="${room.account.name}">
            ACCOUNT
        </a>
    </td>
    <td class="d-none d-xl-table-cell text-nowrap">
        <a th:href="'/rooms/' + ${room.id}">
            <div th:replace="~{__components/room :: status(${room.status})}"></div>
        </a>
    </td>
    <td class="d-none d-lg-table-cell text-nowrap">
        <a th:href="'/rooms/' + ${room.id}">
            <div th:replace="~{__components/room :: type(${room.type})}"></div>
        </a>
    </td>
    <td class="text-right">
        <a th:href="'/rooms/' + ${room.id}">
            <div class="margin-bottom" th:if="${room.pricePerNight}">
                <div class="text-nowrap" th:text="${room.pricePerNight}">$$</div>
                <div class="text-small">per night</div>
            </div>
            <div th:if="${room.pricePerMonth}">
                <div class="text-nowrap" th:text="${room.pricePerMonth}">$$</div>
                <div class="text-small">per month</div>
            </div>
        </a>
    </td>
</tr>

<tr id="room-load-more" th:fragment="load-more(moreUrl)" th:if="${moreUrl}">
    <td class="text-center" colspan="5">
        <button
            class="btn btn-sm btn-light"
            data-component-id='load-more'
            data-container-id="room-load-more"
            th:data-url="${moreUrl}"
        >
            Load more...
        </button>
    </td>
</tr>

<div th:fragment="status(status)">
    <span th:replace="~{__components/room :: status-icon(${status})}"></span>
    <span th:text="#{'room-status.' + ${status}}">STATUS</span>
</div>

<div th:fragment="status-icon(status)" th:remove="tag">
    <i class="fa-solid fa-circle fa-xs gray" th:if="${status.name} == 'DRAFT'"></i>
    <i class="fa-solid fa-circle fa-xs success" th:if="${status.name} == 'PUBLISHED'"></i>
    <i class="fa-solid fa-circle fa-xs warning" th:if="${status.name} == 'PUBLISHING'"></i>
</div>

<div th:fragment="type(type)">
    <i class="fa-solid fa-house" th:if="${type.name} == 'HOUSE'"></i>
    <i class="fa-solid fa-building" th:if="${type.name} == 'APARTMENT'"></i>
    <i class="fa-solid fa-hotel" th:if="${type.name} == 'HOTEL'"></i>
    <i class="fa-solid fa-bed" th:if="${type.name} == 'ROOM'"></i>
    <i class="fa-solid fa-hotel" th:if="${type.name} == 'HOTEL_ROOM'"></i>
    <span th:text="#{'room-type.' + ${type}}">TYPE</span>
</div>

<div class="flex" th:fragment="summary(room)">
    <div class="margin-right-2x" th:if="${room.title}">
        <b>Title</b><br/>
        <span th:text="${room.title}">TITLE</span>
    </div>
    <div class="margin-right-2x">
        <b>Status</b><br/>
        <div th:replace="~{__components/room :: status(${room.status})}"></div>
    </div>
    <div class="margin-right-2x">
        <b>Type</b><br/>
        <div th:replace="~{__components/room :: type(${room.type})}"></div>
    </div>
    <div class="margin-right-2x" th:if="${room.hasPrice}">
        <b>Price</b><br/>
        <div th:if="${room.pricePerNight}">
            <span class="text-nowrap" th:text="${room.pricePerNight}">$$</span>
            <span class="text-small">per night</span>
        </div>
        <div th:if="${room.pricePerMonth}">
            <span class="text-nowrap" th:text="${room.pricePerMonth}">$$</span>
            <span class="text-small">per month</span>
        </div>
    </div>
</div>

<div th:fragment="lease-term(duration, term)">
    <div th:if="${room.leaseTermNegotiable}">
        <span th:text="#{lease-term.NEGOTIABLE}">NEGOTIABLE</span>
    </div>
    <div th:if="!${room.leaseTermNegotiable}">
        <span th:text="${room.leaseTermDuration}">00</span>
        <span class="text-lower" th:text="#{'lease-term.' + ${room.leaseTerm}}">TERM</span>
    </div>
</div>

<table class="table" th:fragment="details(room)">
    <tr>
        <td><b>Hero Image</b></td>
        <td>
            <div class="hero-image-container text-center border">
                <a target="_blank" th:href="${room.heroImage.contentUrl}" th:if="${room.heroImage}">
                    <img class="hero-image"
                         th:alt="${room.heroImage.title}"
                         th:src="${room.heroImage.contentUrl}"/>
                </a>
                <div th:if="!${room.heroImage}">
                    <img class="hero-image-empty" th:src="${page.assetUrl} + '/image/room.png'" width="48"/>
                </div>
                <div class="padding-small" th:if="${user?.hasPermission('room:manage')} AND ${room.published}">
                    <a class="btn-hero-image btn btn-sm btn-light margin-left"
                       th:href="'/rooms/' + ${room.id} + '/hero-image-picker'">
                        <span th:if="${room.heroImage}">Change</span>
                        <span th:if="!${room.heroImage}">Select</span>
                    </a>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td><b>Account</b></td>
        <td>
            <a class="entity-title"
               th:href="'/accounts/' + ${room.account.id}"
               th:if="${user?.hasPermission('account')}"
            >
                <img align="absmiddle" height="24" src="/image/account.png" width="24"/>
                <span th:text="${room.account.name}">ACCOUNT</span>
            </a>
            <span th:if="!${user?.hasPermission('account')}" th:text="${room.account.name}">ACCOUNT</span>
        </td>
    </tr>
    <tr th:if="${room.title}">
        <td width="15%"><b>Title</b></td>
        <td th:text="${room.title}">TITLE</td>
    </tr>
    <tr th:if="${room.summary}">
        <td><b>Summary</b></td>
        <td th:text="${room.summary}">SUMMARY</td>
    </tr>
    <tr>
        <td><b>Type</b></td>
        <td>
            <div th:replace="~{__components/room :: type(${room.type})}"></div>
        </td>
    </tr>
    <tr th:if="${room.leaseType.name != 'UNKNOWN'}">
        <td><b>Lease Type</b></td>
        <td th:text="#{'lease-type.' + ${room.leaseType}}">TYPE</td>
    </tr>
    <tr th:if="${room.furnishedType.name != 'UNKNOWN'}">
        <td><b>Furnished</b></td>
        <td th:text="#{'furnished-type.' + ${room.furnishedType}}">TYPE</td>
    </tr>
    <tr>
        <td><b>Status</b></td>
        <td>
            <div th:replace="~{__components/room :: status(${room.status})}"></div>
        </td>
    </tr>
    <tr>
        <td><b>Bedrooms</b></td>
        <td th:text="${room.numberOfRooms}">00</td>
    </tr>
    <tr>
        <td><b>Baths</b></td>
        <td th:text="${room.numberOfBathrooms}">00</td>
    </tr>
    <tr th:if="${room.numberOfBeds > 0}">
        <td><b>Beds</b></td>
        <td th:text="${room.numberOfBeds}">00</td>
    </tr>
    <tr th:if="${room.maxGuests > 0}">
        <td><b>Max Guests</b></td>
        <td th:text="${room.maxGuests}">00</td>
    </tr>
    <tr th:if="${room.area > 0}">
        <td><b>Area</b></td>
        <td>
            <span th:text="${room.area}">00</span>
            m<sup>2</sup>
        </td>
    </tr>

    <tr>
        <td><b>Price</b></td>
        <td>
            <div th:if="${room.pricePerNight}">
                <span th:text="${room.pricePerNight}">$$</span>/night
            </div>
            <div th:if="${room.pricePerMonth}">
                <span th:text="${room.pricePerMonth}">$$</span>/month
            </div>
        </td>
    </tr>
    <tr th:if="${room.visitFees}">
        <td><b>Visit Fees</b></td>
        <td th:text="${room.visitFees}">$$</td>
    </tr>

    <tr th:if="${room.checkinTime}">
        <td><b>Checkin Time</b></td>
        <td th:text="${room.checkinTime}">00:00</td>
    </tr>
    <tr th:if="${room.checkoutTime}">
        <td><b>Checkout Time</b></td>
        <td th:text="${room.checkoutTime}">00:00</td>
    </tr>
    <tr th:if="${room.leaseTermDuration} OR ${room.leaseTermNegotiable}">
        <td><b>Lease Terms</b></td>
        <td>
            <div th:replace="~{__components/room :: lease-term(${room.leaseTermDuration}, ${room.leaseTerm.name()})}">
            </div>
        </td>
    </tr>
    <tr th:if="${room.advanceRent}">
        <td><b>Advance Rent</b></td>
        <td>
            <span th:text="${room.advanceRent}">00</span> month(s)
        </td>
    </tr>
    <tr th:if="${room.yearOfConstruction}">
        <td><b>Year of Construction</b></td>
        <td th:text="${room.yearOfConstruction}">YYY</td>
    </tr>
    <tr th:if="${room.dateOfAvailability}">
        <td><b>Date of Availability</b></td>
        <td th:text="${room.dateOfAvailabilityText}">YYY</td>
    </tr>

    <tr th:if="${room.address}">
        <td><b>Address</b></td>
        <td th:utext="${room.address.toHtml()}">ADDRESS</td>
    </tr>
    <tr th:if="${room.neighborhood}">
        <td><b>Neighborhood</b></td>
        <td th:utext="${room.neighborhood.name}">NEIBORHOOD</td>
    </tr>
    <tr th:if="${room.description}">
        <td><b>Description</b></td>
        <td th:utext="${room.descriptionHtml}">00</td>
    </tr>
    <tr>
        <td><b>Created</b></td>
        <td>
            <span th:text="${room.createdAtText}">DATE</span>
            <span th:if="${room.createdBy}">by</span>
            <span th:if="${room.createdBy}" th:text="${room.createdBy.displayName}">MODIFIED BY</span>
        </td>
    </tr>
    <tr>
        <td><b>Modified</b></td>
        <td>
            <span th:text="${room.modifiedAtText}">DATE</span>
            <span th:if="${room.modifiedBy}">by</span>
            <span th:if="${room.modifiedBy}" th:text="${room.modifiedBy.displayName}">MODIFIED BY</span>
        </td>
    </tr>
    <tr th:if="${room.publishedAt}">
        <td><b>Published</b></td>
        <td>
            <span th:text="${room.publishedAtText}">DATE</span>
            <span th:if="${room.publishedBy}">by</span>
            <span th:if="${room.publishedBy}" th:text="${room.publishedBy.displayName}">MODIFIED BY</span>
        </td>
    </tr>
</table>

</body>
