<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<body>

<div class="widget" th:fragment="breadcrumb(room)">
    <div class="widget-body">
        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item" th:if="${room}"><a href="/rooms">Rooms</a></li>
                <li class="breadcrumb-item active" th:if="${room}">
                    <img align="absmiddle" height="24" src="/image/room.png" width="24"/>
                    <span th:if="${room.title}" th:text="${room.title}">ROOM</span>
                    <span th:if="!${room.title}" th:text="#{'room-type.' + ${room.type}}">TYPE</span>
                </li>
                <li class="breadcrumb-item active" th:if="!${room}">Rooms</li>
            </ol>
        </nav>
    </div>
</div>

<tr class="room" th:fragment="columns(room)" th:remove="tag">
    <td>
        <a th:href="'/rooms/' + ${room.id}" th:if="${room.heroImage}">
            <img class="img-fluid" th:src="${room.heroImage.contentUrl}"/>
        </a>
    </td>
    <td>
        <a th:href="'/rooms/' + ${room.id}">
            <div>
                <b th:text="${room.title}">TITLE</b>
            </div>
            <div class="margin-top-small">
                <span th:text="${room.maxGuests}">00</span> Guest
                -
                <span th:text="${room.numberOfRooms}">00</span> bedrooms
                -
                <span th:text="${room.numberOfBeds}">00</span> beds
                -
                <span th:text="${room.numberOfBathrooms}">00</span> baths
            </div>
            <div class="margin-top-small" th:if="${room.summary}" th:text="${room.summary}">SUMMARY</div>
        </a>
    </td>
    <td>
        <a th:href="'/rooms/' + ${room.id}">
            <div th:replace="~{__components/room :: status(${room.status})}"></div>
        </a>
    </td>
    <td>
        <a th:href="'/rooms/' + ${room.id}">
            <div th:replace="~{__components/room :: type(${room.type})}"></div>
        </a>
    </td>
    <td>
        <a th:href="'/rooms/' + ${room.id}">
            <div th:if="${room.pricePerNight}">
                <span th:text="${room.pricePerNight}">$$</span>
                <span class="text-small">per night</span>
            </div>
            <div th:if="${room.pricePerMonth}">
                <span th:text="${room.pricePerMonth}">$$</span>
                <span class="text-small">per month</span>
            </div>
        </a>
    </td>
</tr>

<tr id="room-load-more" th:fragment="load-more(moreUrl)" th:if="${moreUrl}">
    <td class="text-center" colspan="5">
        <button
            class="btn btn-sm btn-light"
            data-component-id='load-more'
            data-container-id="room-load-more"
            th:data-url="${moreUrl}"
        >
            Load more...
        </button>
    </td>
</tr>

<div th:fragment="status(status)">
    <i class="fa-solid fa-circle fa-xs success" th:if="${status.name} == 'PUBLISHED'"></i>
    <i class="fa-solid fa-circle fa-xs warning" th:if="${status.name} == 'PUBLISHING'"></i>
    <span th:text="#{'room-status.' + ${status}}">STATUS</span>
</div>

<div th:fragment="type(type)">
    <i class="fa-solid fa-house" th:if="${type.name} == 'HOUSE'"></i>
    <i class="fa-solid fa-building" th:if="${type.name} == 'APARTMENT'"></i>
    <i class="fa-solid fa-hotel" th:if="${type.name} == 'HOTEL'"></i>
    <i class="fa-solid fa-bed" th:if="${type.name} == 'ROOM'"></i>
    <span th:text="#{'room-type.' + ${type}}">TYPE</span>
</div>

<table class="table" th:fragment="details(room)">
    <tr>
        <td><b>Account</b></td>
        <td>
            <a class="entity-title"
               th:href="'/accounts/' + ${room.account.id}"
               th:if="${user?.hasPermission('account')}"
            >
                <img align="absmiddle" height="24" src="/image/account.png" width="24"/>
                <span th:text="${room.account.name}">ACCOUNT</span>
            </a>
            <span th:if="!${user?.hasPermission('account')}" th:text="${room.account.name}">ACCOUNT</span>
        </td>
    </tr>
    <tr th:if="${room.title}">
        <td width="15%"><b>Title</b></td>
        <td th:text="${room.title}">TITLE</td>
    </tr>
    <tr th:if="${room.summary}">
        <td><b>Summary</b></td>
        <td th:text="${room.summary}">SUMMARY</td>
    </tr>
    <tr>
        <td><b>Type</b></td>
        <td>
            <div th:replace="~{__components/room :: type(${room.type})}"></div>
        </td>
    </tr>
    <tr th:if="${room.leaseType.name != 'UNKNOWN'}">
        <td><b>Lease Type</b></td>
        <td th:text="#{'lease-type.' + ${room.leaseType}}">TYPE</td>
    </tr>
    <tr th:if="${room.furnishedType.name != 'UNKNOWN'}">
        <td><b>Furnished</b></td>
        <td th:text="#{'furnished-type.' + ${room.furnishedType}}">TYPE</td>
    </tr>
    <tr>
        <td><b>Status</b></td>
        <td>
            <div th:replace="~{__components/room :: status(${room.status})}"></div>
        </td>
    </tr>
    <tr>
        <td><b>Bedrooms</b></td>
        <td th:text="${room.numberOfRooms}">00</td>
    </tr>
    <tr>
        <td><b>Baths</b></td>
        <td th:text="${room.numberOfBathrooms}">00</td>
    </tr>
    <tr>
        <td><b>Beds</b></td>
        <td th:text="${room.numberOfBeds}">00</td>
    </tr>
    <tr>
        <td><b>Max Guests</b></td>
        <td th:text="${room.maxGuests}">00</td>
    </tr>
    <tr th:if="${room.area > 0}">
        <td><b>Area</b></td>
        <td>
            <span th:text="${room.area}">00</span>
            m<sup>2</sup>
        </td>
    </tr>
    <tr>
        <td><b>Price</b></td>
        <td>
            <div th:if="${room.pricePerNight}">
                <span th:text="${room.pricePerNight}">$$</span>/night
            </div>
            <div th:if="${room.pricePerMonth}">
                <span th:text="${room.pricePerMonth}">$$</span>/month
            </div>
        </td>
    </tr>
    <tr th:if="${room.checkinTime}">
        <td><b>Checkin Time</b></td>
        <td th:text="${room.checkinTime}">00:00</td>
    </tr>
    <tr th:if="${room.checkoutTime}">
        <td><b>Checkout Time</b></td>
        <td th:text="${room.checkoutTime}">00:00</td>
    </tr>
    <tr th:if="${room.address}">
        <td><b>Address</b></td>
        <td th:utext="${room.address.toHtml()}">ADDRESS</td>
    </tr>
    <tr th:if="${room.neighborhood}">
        <td><b>Neighborhood</b></td>
        <td th:utext="${room.neighborhood.name}">NEIBORHOOD</td>
    </tr>
    <tr th:if="${room.description}">
        <td><b>Description</b></td>
        <td th:utext="${room.descriptionHtml}">00</td>
    </tr>
    <tr>
        <td><b>Created</b></td>
        <td>
            <span th:text="${room.createdAtText}">DATE</span>
            <span th:if="${room.createdBy}">by</span>
            <span th:if="${room.createdBy}" th:text="${room.createdBy.displayName}">MODIFIED BY</span>
        </td>
    </tr>
    <tr>
        <td><b>Modified</b></td>
        <td>
            <span th:text="${room.modifiedAtText}">DATE</span>
            <span th:if="${room.modifiedBy}">by</span>
            <span th:if="${room.modifiedBy}" th:text="${room.modifiedBy.displayName}">MODIFIED BY</span>
        </td>
    </tr>
    <tr th:if="${room.publishedAt}">
        <td><b>Published</b></td>
        <td>
            <span th:text="${room.publishedAtText}">DATE</span>
            <span th:if="${room.publishedBy}">by</span>
            <span th:if="${room.publishedBy}" th:text="${room.publishedBy.displayName}">MODIFIED BY</span>
        </td>
    </tr>
</table>

</body>
