<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>


<ul th:fragment="settings-menu(current)">
    <li class="menu-item">
        <h3>Settings</h3>
    </li>
    <li class="menu-item"
        th:classappend="${current == module.name} ? 'active'"
        th:each="module : ${tenant.modules}"
        th:if="${module.settingsUrl} AND ${user?.canAdmin(module)} AND ${module.name != 'security'} AND ${module.name != 'tenant'}"
    >
        <a th:class="'btn-' + ${module.name}" th:href="${module.settingsUrl}" th:text="${module.title}">TITLE</a>
    </li>

    <!-- Should be the last -->
    <li class="menu-item"
        th:classappend="${current == 'security'} ? 'active'"
        th:if="${user?.hasPermission('security:admin')}"
    >
        <a class="btn-security" href="/settings/security">Security</a>
    </li>
    <li class="menu-item"
        th:classappend="${current == 'tenant'} ? 'active'"
        th:if="${user?.hasPermission('tenant:admin')}"
    >
        <a class="btn-tenant" href="/settings/tenant">Tenant</a>
    </li>
</ul>

<ul th:fragment="settings-title(title, backUrl)">
    <li class="menu-item">
        <h3 class="flex">
            <span>
                <a class="btn-back" th:href="${backUrl}">
                    <i class="fa-solid fa-arrow-left"></i>
                </a>
            </span>
            <span class="margin-left" th:text="${title}">TITLE</span>
        </h3>
    </li>
</ul>

<ul th:fragment="settings-title-with-icon(title, backUrl, iconClass)">
    <li class="menu-item">
        <h3 class="flex">
            <span>
                <a class="btn-back" th:href="${backUrl}">
                    <i class="fa-solid fa-arrow-left"></i>
                </a>
            </span>
            <div class="margin-left">
                <i th:class="${iconClass}"></i>
                <span th:text="${title}">TITLE</span>
            </div>
        </h3>
    </li>
</ul>


<div th:fragment="enabled-badge(enabled)" th:remove="tag">
    <span class="badge text-bg-success" th:if="${enabled}">Enabled</span>
    <span class="badge text-bg-danger" th:if="!${enabled}">Disabled</span>
</div>

</body>
</html>
