<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="widget" th:fragment="tax-breadcrumb(tax)">
    <div class="widget-body">
        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item" th:if="${tax}"><a href="/taxes">Taxes</a></li>
                <li class="breadcrumb-item active" th:if="${tax}">
                    <img align="absmiddle" height="24" src="/image/tax.png" width="24"/>
                    <span th:text="${tax.name}">NAME</span>
                </li>
                <li class="breadcrumb-item active" th:if="!${tax}">Taxes</li>
            </ol>
        </nav>
    </div>
</div>

<tr class="tax" th:fragment="columns(tax, showAccount)" th:remove="tag">
    <td>
        <a th:href="'/taxes/' + ${tax.id}" th:text="${tax.fiscalYear}">NAME</a>
    </td>
    <td th:text="${tax.taxType.title}">TYPE</td>
    <td>
        <span th:replace="~{__components/tax :: tax-status(${tax.status.name})}"></span>
    </td>
    <td th:text="${tax.startAtText}">START_DATE</td>
    <td th:if="${showAccount}">
        <a th:href="'/accounts/' + ${tax.account.id}" th:text="${tax.account.name}">ACCOUNT</a>
    </td>
    <td th:text="${tax.accountant?.displayName}">ACCOUNTANT</td>
    <td th:text="${tax.technician?.displayName}">ACCOUNTANT</td>
    <td th:text="${tax.assignee?.displayName}">ASSIGNEE</td>
    <td class="toolbar" th:if="!${smallView}">
        <a class="btn-view" th:href="'/taxes/' + ${tax.id}"
           th:if="${user?.hasPermission('tax')}">View</a>

        <a class="btn-edit" th:href="'/taxes/' + ${tax.id} + '/edit'"
           th:if="${user?.hasPermission('tax:manage')}">Edit</a>
    </td>
</tr>

<tr id="tax-load-more" th:fragment="load-more(moreUrl, showAccount)" th:if="${moreUrl}">
    <td class="text-center" th:colspan="${showAccount} ? 9 : 8">
        <a href="javascript: koki_load_more('tax-load-more')" th:data-url="${moreUrl}">Load more...</a>
    </td>
</tr>

<div th:fragment="tax-status(status)">
    <span class="badge text-bg-secondary"
          th:if="${status == 'NEW'}"
          th:text="#{'tax-status.' + ${status}}">NEW</span>

    <span class="badge text-bg-success"
          th:if="${status == 'DONE'}"
          th:text="#{'tax-status.' + ${status}}">DONE</span>

    <span class="badge text-bg-warning"
          th:if="${status == 'SIGNING'} OR ${status == 'SUBMITTING'}"
          th:text="#{'tax-status.' + ${status}}">DONE</span>

    <span class="badge text-bg-info"
          th:if="${status != 'NEW'} AND ${status != 'PREPARING'} AND ${status != 'DONE'}  AND ${status != 'SUBMITTING'}"
          th:text="#{'tax-status.' + ${status}}">NEW</span>
</div>

<tr th:fragment="tax-product-columns(taxProduct)" th:remove="tag">
    <td>
        <a target="_blank" th:href="'/products/' + ${taxProduct.product.id}" th:text="${taxProduct.product.name}">PRODUCT</a>
    </td>
    <td th:text="${taxProduct.unitPrice}">$$$</td>
    <td th:text="${taxProduct.quantity}">1111</td>
    <td th:text="${taxProduct.subTotal}">$$$</td>
    <td class="toolbar">
        <a class="btn-edit" th:href="'javascript: koki_taxes_edit_product(' + ${taxProduct.id} + ')'"
           th:if="${user?.hasPermission('tax:manage')}">Edit</a>

        <a class="btn-delete" th:href="'javascript: koki_taxes_remove_product(' + ${taxProduct.id} + ')'"
           th:if="${user?.hasPermission('tax:manage')}">Remove</a>
    </td>
</tr>

</body>
