<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<span th:fragment="user-status(status)" th:if="${status}" th:text="#{'user-status.' + ${status.name}}">
    STATUS
</span>

<script th:fragment="user-selector(id, roleId, permission)" th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function () {
        const selector = /*[[${id}]]*/ '';
        const roleId = /*[[${roleId}]]*/ -1;
        const permission = /*[[${permission}]]*/ '';

        let url = '/users/selector/search?'
            + (roleId ? '&role-id=' + roleId : '');

        const parts = permission ? permission.split(",") : null;
        if (parts && parts.length > 0) {
            for (var i = 0; i < parts.length; i++) {
                url = url + '&permission=' + encodeURIComponent(parts[i]);
            }
        }

        $('#' + selector).select2({
            ajax: {
                url: url,
                dataType: 'json',
                delay: 1000,
                processResults: function (item) {
                    const xitems = item.map(function (item) {
                        return {
                            id: item.id,
                            text: item.displayName,
                        }
                    });
                    return {
                        results: xitems
                    };
                }
            },
            placeholder: 'Select an user',
            allowClear: true,
            tokenSeparators: [','],
            minimumInputLength: 3,
        });
    });
</script>

<div class="text-small flex" th:fragment="user-small-card(me, sendMessage)" th:if="${me}">
    <img class="user-photo-small" th:src="${me.photoUrl} ? ${me.photoUrl} : '/image/no-photo.png'"/>
    <div class="margin-left-small">
        <b th:text="${me.displayName}">NAME</b><br/>
        <div th:text="${me.employer}">EMPLOYER</div>
        <div class="flex margin-top-small" th:if="${sendMessage}">
            <div class="margin-right" th:if="${me.whatsappUrl}">
                <a class="btn btn-light btn-sm" th:href="${me.whatsappUrl}">
                    <i class="fa-brands fa-whatsapp"></i>
                    <span th:text="#{button.whatsapp}">Whatsapp</span>
                </a>
            </div>
            <div th:if="${me.mobile}">
                <a class="btn btn-light btn-sm" th:href="${me.mobileUrl}">
                    <i class="fa-solid fa-mobile-screen-button"></i>
                    <span th:text="#{button.call}">XXXX</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="flex" th:fragment="user-card(me, sendMessage)" th:if="${me}">
    <img class="user-photo" th:src="${me.photoUrl} ? ${me.photoUrl} : '/image/no-photo.png'"/>
    <div class="margin-left-small w-100">
        <h5 class="margin-none" th:text="${me.displayName}">NAME</h5>
        <div th:text="${me.employer}">EMPLOYER</div>
        <div class="margin-top-small" th:if="${sendMessage} AND ${me.whatsappUrl}">
            <a class="btn btn-sm btn-whatsapp w-100" id="btn-whatsapp" target="_blank" th:href="${me.whatsappUrl}">
                <i class="fa-brands fa-whatsapp"></i>
                <span th:text="#{button.whatsapp}">Whatsapp</span>
            </a>
        </div>
        <div class="margin-top-small" th:if="${sendMessage} AND ${me.mobile}">
            <a class="btn btn-sm btn-primary w-100" id="btn-call" th:href="${me.mobileUrl}">
                <i class="fa-solid fa-mobile-screen-button"></i>
                <span th:text="#{button.call}">XXXX</span>
            </a>
        </div>
    </div>
</div>

</body>
