<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<span th:fragment="activity-type-icon(activity)">
    <i class="fa-regular fa-circle" th:if="${activity.type.name == 'START'}"></i>
    <i class="fa-regular fa-circle-dot" th:if="${activity.type.name == 'STOP'}"></i>
    <i class="fa-solid fa-user" th:if="${activity.type.name == 'USER'}"></i>
    <i class="fa-solid fa-hand" th:if="${activity.type.name == 'MANUAL'}"></i>
    <i class="fa-solid fa-gear" th:if="${activity.type.name == 'SERVICE'}"></i>

    <i class="fa-solid fa-envelope" th:if="${activity.type.name == 'EMAIL'}"></i>
    <i class="fa-solid fa-cloud-arrow-up" th:if="${activity.type.name == 'UPLOAD'}"></i>
</span>

</body>
