/* ==== AGENT INFO ====== */
.agent-info-container {
    width: 1200px;
    margin: 1em auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.agent-info-details {
    width: 800px;
    margin-bottom: 10em;
}

.agent-info-details h1 {
    margin-bottom: 0;
}

.agent-info a img {
    text-decoration: none;
}

.agent a {
    text-decoration: none;
    color: black;
}

/* ======================================================================== */
/*                                                                          */
/*  MEDIA QUERIES                                                           */
/*                                                                          */
/* ======================================================================== */
/* Large */
@media only screen and (max-width: 992px) and (orientation: portrait) {
    .agent-info-container {
        width: 100%;
        padding: 0 1em;
    }
}

/* Medium */
@media only screen and (max-width: 768px) and (orientation: portrait) {
    .agent-info-container {
        display: block;
    }

    .agent-info-details {
        width: 100%;
    }

    #map-container #map {
        width: 100%;
        height: 400px;
    }
}

/* Small */
@media only screen and (max-width: 576px) {
    #map-container #map {
        width: 100%;
        height: 680px;
    }
}




