/* ==== AGENT INFO ====== */
.agent-info-container {
    width: 1200px;
    margin: 1em auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.agent-info-details {
    width: 800px;
    margin-bottom: 10em;
}

.agent-info a h2 {
    color: #1D7EDF;
    text-decoration: underline;
}

.agent-info a img {
    text-decoration: none;
}

#map-container #map {
    width: 100%;
    height: 600px;
}

#map-container #map .map-listing-icon {
    padding: .5em;
    color: #fff;
    border: 1px solid #fff;
    background: green;
    width: auto !important;
    height: auto !important;
    text-wrap: nowrap;
    border-radius: .5em;
    font-weight: bold;
}

.leaflet-popup-content {
    margin: .5em;
    padding: 0;
    width: 200px;
}

.leaflet-popup-content .map-listing-card-details {
    overflow: clip;
    text-wrap: nowrap;
}

.leaflet-popup-content .map-listing-card a {
    color: #444;
    text-decoration: none;
}

.leaflet-popup-content .map-listing-card img {
    max-height: 48px;
    max-width: 48px;
}


/* ======================================================================== */
/*                                                                          */
/*  MEDIA QUERIES                                                           */
/*                                                                          */
/* ======================================================================== */
/* Large */
@media only screen and (max-width: 992px) and (orientation: portrait) {
    .agent-info-container {
        width: 100%;
        padding: 0 1em;
    }
}

/* Medium */
@media only screen and (max-width: 768px) and (orientation: portrait) {
    .agent-info-container {
        display: block;
    }

    #map-container #map {
        width: 100%;
        height: 400px;
    }
}

/* Small */
@media only screen and (max-width: 576px) {
    #map-container #map {
        width: 100%;
        height: 300px;
    }
}




