/* === VARIABLES ===== */
:root {
    --bg-main: #f8f8f8;
    --bg-darker: #f0f0f0;
    --bg-primary: #E4EDF7;
    --bg-white: white;
    --bg-whatsapp: #075E54;
    --bg-whatsapp-hover: #25D366;

    --border-color-main: gray;
    --border-color-light: lightgray;
    --border-radius: 1em;
    --border-radius-small: 0.5em;

    --text-main: #555;
    --text-darker: #000;
    --text-primary: #1D7EDF;
    --text-white: white;

    --color-success: darkgreen;
    --color-danger: darkred;
    --color-warning: darkorange;
    --color-info: blue;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-main: #1E1E1E;
        --bg-darker: #000000;
        --bg-primary: #E4EDF7;
        --bg-white: #2A2E33;

        --border-color-main: #545B64;

        --text-main: #f8f8f8;
        --text-darker: white;

        --color-error: #FFBABA;
        --color-info: #1D7EDF;
    }

    /*=== Bootstrap ===*/
    .modal-content {
        background-color: var(--bg-white);
        color: var(--text-main)
    }

    .modal-header {
        border-bottom: 1px solid var(--border-color-main);
    }

    .modal-header .btn-close {
        filter: invert(1);
    }

    .modal-header .modal-title {
        color: var(--text-darker);
    }

    .table {
        border: 1px solid var(--border-color-main);
    }

    .table tr > * {
        background: var(--bg-main) !important;
        color: var(--text-main) !important;
    }

    .table-striped > tbody > tr:nth-child(odd) > * {
        background: var(--bg-darker) !important;
        color: var(--text-main) !important;
    }
}

/* === CORE ===== */
body {
    background: var(--bg-main);
    color: var(--text-main);
    margin-top: 4.8em;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

a {
    color: var(--text-primary);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-darker);
    font-weight: 500 !important;
}

b, strong {
    font-weight: 500 !important;
}

.flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-space-evenly {
    justify-content: space-evenly;
}

.hidden {
    display: none;
}

.background-white {
    background: var(--bg-white);
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-space-between {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-top {
    vertical-align: top;
}

.text-small {
    font-size: small;
}

.text-smaller {
    font-size: smaller;
}

.text-larger {
    font-size: larger;
}

.text-x-large {
    font-size: x-large;
}

.text-lower {
    text-transform: lowercase;
}

.text-nowrap {
    text-wrap: nowrap;
}

.padding {
    padding: 1em;
}

.padding-2x {
    padding: 2em;
}

.padding-4x {
    padding: 4em;
}

.padding-small {
    padding: 0.5em;
}

.padding-top {
    padding-top: 1em;
}

.padding-top-2x {
    padding-top: 2em;
}

.padding-top-small {
    padding-top: 0.5em;
}

.padding-bottom {
    padding-bottom: 1em;
}

.padding-bottom-2x {
    padding-bottom: 2em;
}

.padding-bottom-4x {
    padding-bottom: 4em;
}

.padding-left {
    padding-left: 1em;
}

.padding-left-small {
    padding-left: 0.5em;
}

.padding-right {
    padding-right: 1em;
}

.padding-right-small {
    padding-right: 0.5em;
}

.padding-none {
    padding: 0;
}

.margin {
    margin: 1em;
}

.margin-small {
    margin: 0.5em;
}

.margin-2x {
    margin: 2em;
}

.margin-none {
    margin: 0;
}

.margin-top {
    margin-top: 1em;
}

.margin-top-small {
    margin-top: 0.5em;
}

.margin-top-2x {
    margin-top: 2em;
}

.margin-top-4x {
    margin-top: 4em;
}

.margin-bottom {
    margin-bottom: 1em;
}

.margin-bottom-small {
    margin-top: 0.5em;
}

.margin-bottom-2x {
    margin-bottom: 2em;
}

.margin-bottom-4x {
    margin-bottom: 4em;
}

.margin-left {
    margin-left: 1em;
}

.margin-left-small {
    margin-left: .5em;
}

.margin-right {
    margin-right: 1em;
}

.margin-right-small {
    margin-right: 0.5em;
}

.margin-right-2x {
    margin-right: 2em;
}

/* === NAVBAR ====== */
.navbar {
    border-bottom: 1px solid var(--border-color-main);
    background: var(--bg-white);
}

.navbar .brand-name {
    padding: .5em !important;
    font-size: .8em !important;
    font-weight: bold !important;
}

.navbar img.brand-logo {
    margin-left: .5em !important;
    height: 50px;
}

.navbar .nav-link {
    border: 1px solid var(--border-color-main);
    margin-right: .5em;
}

.navbar .dropdown-menu {
    position: fixed;
    float: none;
    left: auto;
    width: 350px;
    right: 10px;
    border-radius: 0;
    margin-top: -1em;
}

.navbar .dropdown-menu .user-hi {
    font-weight: bold;
    font-size: 1.2em;
}

/* === ERROR PAGE ====== */
.error-container h1 {
    font-size: 8em;
}

/* === FOOTER ====== */
#footer {
    border-top: 1px solid var(--border-color-main);
    padding: 2em 0 10em 0;
    margin-top: 4em;
    background: var(--bg-darker);
    font-size: small;
}

#footer h2 {
    font-size: 1.25em;
}

/* === FORMS ====== */
textarea:read-only,
input:read-only {
    background: var(--bg-darker);
}

*:user-invalid,
.user-invalid,
select:user-invalid + .select2-container > span.selection > span.select2-selection,
select:user-invalid + .select2-container--focus > span.selection > span.select2-selection {
    border: 2px solid var(--color-danger) !important;
}

@supports not selector(:user-invalid) {
    input:invalid,
    select:invalid,
    textarea:invalid,
    select:invalid + .select2-container > span.selection > span.select2-selection,
    select:invalid + .select2-container--focus > span.selection > span.select2-selection {
        border: 2px solid var(--color-danger);
    }
}

.error {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.info {
    color: var(--color-info);
}

.required {
    color: var(--color-danger);
}

.form-header {
    background: var(--bg-white);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color-main);
    padding: 1em;
}

.form-footer {
    background: var(--bg-white);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color-main);
    margin-top: 1em;
    padding: 1em;
}

.float-right {
    float: right;
}

.section {
    background: var(--bg-white);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color-main);
    margin-top: 1em;
}

.section-read-only {
    background: var(--bg-darker);
}

.section-header {
    background: var(--bg-darker);
    border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
    border-bottom: 1px solid var(--border-color-main);
    padding: .5em;
}

.section-header .section-title {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.section-item {
    padding: 1em;
    border-bottom: 1px solid var(--border-color-main);
}

.section-item:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.section-item table.table:last-child {
    margin-bottom: 0;
}

.section-item label.title {
    font-weight: bold;
    font-size: larger;
    display: block
}

.section-item .description {
    font-size: small;
}

.section-item textarea,
.section-item input,
.section-item select {
    padding: .5em;
}

.section-item textarea,
.section-item input:not([type]),
.section-item input[type=tel],
.section-item input[type=text],
.section-item input[type=email],
.section-item input[type=password],
.section-item input[type=url],
.section-item select {
    width: 100%;
}

.section-item .file-upload-container input[type=file] {
    display: none;
}

.section-item .file-upload-container .filename {
    margin-left: 1em;
}

.file-upload-container .file-upload-container .btn-close {
    margin-left: 0.5em;
}

.checkbox-container,
.radio-container {
    display: flex;
    justify-content: space-between;
}

/* === USER ===== */
.user-photo {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.user-photo-empty {
    width: 64px;
    height: 1px;
}

.user-photo-small {
    width: 32px;
    height: 32px;
    border-radius: var(--border-radius-small);
}


.navbar {
    border-bottom: 1px solid var(--border-color-main);
    background: var(--bg-white);
}

.navbar .brand-name {
    padding: .5em !important;
    font-size: .8em !important;
    font-weight: bold !important;
}

.navbar img.brand-logo {
    margin-left: .5em !important;
    height: 50px;
}

.navbar .nav-link {
    border: 1px solid var(--border-color-main);
    margin-right: .5em;
}

.navbar .dropdown-menu {
    position: fixed;
    float: none;
    left: auto;
    width: 350px;
    right: 10px;
    border-radius: 0;
    margin-top: -1em;
}

.navbar .dropdown-menu .user-hi {
    font-weight: bold;
    font-size: 1.2em;
}


/* === Breadcrumb === */
ul.breadcrumb {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.breadcrumb li {
    display: inline-block;
    margin-left: .5em;
}

ul.breadcrumb li:first-child {
    margin-left: 0;
}

/* ============================= */
/* bootstrap                     */
/* ============================= */
.badge {
    border-radius: var(--border-radius);
}

.bg-success a,
.bg-danger a,
.bg-primary a {
    color: var(--text-white);
}

.border {
    border: 1px solid var(--border-color-main) !important;
}

.border-rounded {
    border-radius: var(--border-radius);
}

.border-light {
    border: 1px solid var(--border-color-main) !important;
}

.border-right {
    border-right: 1px solid var(--border-color-main) !important;
}

.border-top {
    border-top: 1px solid var(--border-color-main) !important;
}

.btn-light {
    border: 1px solid var(--border-color-main);
}

.btn-whatsapp {
    background: var(--bg-whatsapp);
    color: var(--text-white);
    border: 1px solid var(--border-color-main);
}

.btn-whatsapp:hover {
    background: var(--bg-whatsapp-hover);
    color: var(--text-main);
}

.form-control {
    font-weight: 300;
}

a.btn-back {
    color: var(--text-main)
}

.text-bg-light {
    color: var(--text-main);
    border: 1px solid var(--border-color-main);
}

.text-nowrap {
    text-wrap: nowrap;
}

.widget-body ol.breadcrumb {
    margin-bottom: 0;
    padding-bottom: 0
}

.modal-dialog .form {
    margin: -1em;
}

.modal-dialog form input,
.modal-dialog form select {
    width: 100%;
    padding: 0.5em;
}

.text-warning {
    color: var(--color-warning) !important;
}

.text-info {
    color: var(--color-info) !important;
}

/* ============================= */
/* Map - Leafjet                 */
/* ============================= */
#map-container #map {
    width: 100%;
    height: 600px;
}

#map-container #map .map-listing-icon {
    padding: .5em;
    color: var(--text-white);
    border: 1px solid var(--border-color-main);
    background: var(--color-success);
    width: auto !important;
    height: auto !important;
    text-wrap: nowrap;
    border-radius: var(--border-radius);
    font-weight: bold;
}

.leaflet-container {
    font-family: "Outfit", sans-serif;
}

.leaflet-popup-content {
    margin: 0;
    padding: 0;
    width: 300px;
}

.leaflet-popup-content .map-listing-card-details {
    overflow: clip;
    text-wrap: nowrap;
}

.leaflet-popup-content .map-listing-card a {
    color: var(--text-main);
    text-decoration: none;
}

.leaflet-popup-content .map-listing-card .listing-image {
    height: 100px;
    width: 100px;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.leaflet-popup-content .map-listing-card .listing-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.leaflet-popup-content .map-listing-card .listing-details {
    padding: 1em;
}
