.hero-image-container {
    width: 100%;
    height: 534px;
    display: flex;
}

.hero-image-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hero-image-container .hero-1 {
    width: 50%;
    padding-right: 2px;
    overflow: hidden;
}

.hero-image-container .hero-2 {
    width: 50%;
}

.hero-image-container .hero-21 {
    width: 100%;
    display: flex;
}

.hero-image-container .hero-21 div:first-child {
    padding-right: 2px;
}

.hero-image-container .hero-21 div {
    padding-bottom: 2px;
}

.hero-image-container .hero-22 {
    width: 100%;
    display: flex;
}

.hero-image-container .hero-22 div:first-child {
    padding-right: 2px;
}


.hero-image-container .hero-21 > div,
.hero-image-container .hero-22 > div {
    width: 50%;
    height: 267px;
    overflow: hidden;
}

.image-counter {
    background: var(--bg-white);
    color: var(--text-main);
    padding: 5px;
    border: 1px solid var(--border-color-main);
    border-radius: var(--border-radius-small);
    position: absolute;
    left: .5em;
    margin-top: -3em;
    display: inline-block;
    z-index: 100;
    font-size: small;
}

.image-counter a {
    text-decoration: none;
    color: var(--text-main);
}

/** ===== LISTING INFO STYLES ===== */
.listing-info-container {
    width: 1200px;
    margin: 1em auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.listing-info-details {
    width: 800px;
}

.listing-info-container #listing-map {
    height: 680px;
}

#koki-modal img {
    max-width: 100%;
    max-height: 534px;
}

#listing-amenities-modal h3 {
    font-size: 1.25em;
}


/** ===== LISTING SEARCH STYLES ===== */
.listing-search-container {
    width: 1250px;
    margin: 6em auto 0 auto;
}

.listing-search-container .location-filter {
    width: 30%;
    margin-right: 1em;
}

.listing-search-container .select2-selection__rendered {
    line-height: 33px !important;
}

.listing-search-container .select2-container .select2-selection--single {
    height: 33px !important;
}

.listing-search-container .select2-selection__arrow {
    height: 33px !important;
}

/** ===== LISTING CONTACT DETAILS STYLES ===== */
.listing-contact-details {
    width: 380px;
}

.listing-contact-details-inner {
    background: var(--bg-white);
    box-shadow: 0 4px 25px #00000014;
    border: none;
    border-radius: var(--border-radius);
    padding: 1em;
    position: sticky;
    top: 6.5em;
    width: 100%;
}

.listing-contact-details-inner .agent-info {
    display: flex;
    margin-bottom: 1em;
}

.listing-contact-details-inner .agent-info a {
    /*text-decoration: none;*/
    /*color: inherit;*/
}

.listing-contact-details-inner .agent-info a h2 {
    padding-right: 0.5em;
}

.listing-contact-details-inner .agent-info h2 {
    margin-bottom: 0;
    font-size: 1.25em;
}

.listing-contact-details-inner .agent-info img {
    border-radius: 50%;
    height: 64px;
    width: 64px;
    object-fit: cover;
    margin-right: 1em;
}

.listing-contact-details-inner .message {
    padding: 1em;
    margin-bottom: 1em;
    background: var(--bg-darker);
    border-radius: var(--border-radius);
    text-align: left;
}

.listing-contact-details-inner .btn {
    width: 100%;
    margin-top: 1em;
}


/* ===== LISTING BADGE STYLES ===== */
.listing-status {
    text-transform: uppercase;
}

.listing-type {
    text-transform: uppercase;
}


/* ===== PLACE CARD ===== */
.place-card {
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color-light);
    background: var(--bg-white);
    text-overflow: clip;
    width: 302px;
    height: 308px;
    padding: 1em
}

.place-card a.info {
    text-decoration: none;
    color: var(--text-main)
}

.place-card .place-name {
    text-align: center;
    color: var(--text-darker);
    font-weight: bold;
    overflow: hidden;
}

.place-intro {
    height: 211px;
    overflow: hidden;
    margin-bottom: .5em;
}

/* ===== LISTING CAROUSEL ===== */
.listing-carousel {
    display: flex;
    overflow-y: auto;
    padding-bottom: 1em;
}

.listing-carousel .listing-card {
    margin-right: .5em;
}

.listing-carousel .listing-card:last-child {
    margin-right: 0;
}

/* ===== LISTING LIST ===== */
.listing-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1240px;
    margin: 0 auto;
}

.listing-list .listing-card,
.listing-list .place-card {
    margin-bottom: .5em;
}


/* ===== LISTING CARD ===== */
.listing-card {
    border-radius: var(--border-radius);
    background: var(--bg-white);
    border: 1px solid var(--border-color-light);
}

.listing-card .listing-status-container {
    position: relative;
    margin-left: .2em;
    margin-top: .2em;
    z-index: 1000;
    display: inline;
}

.listing-card .hero-image-container {
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-darker);
    margin-top: -1.5em;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.listing-card img.hero-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.listing-card .listing-details {
    border-radius: 0 0 var(--border-radius-small) var(--border-radius-small);
    width: 300px;
}

.listing-card .summary {
    height: 6em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.listing-card .listing-details a {
    text-decoration: none;
    color: inherit;
}

.listing-card .address {
    overflow: hidden;
    height: 1.25em;
}

.neighbourhood-card {
    border-radius: var(--border-radius);
    background: var(--bg-white);
    border: 1px solid var(--border-color-main);
    padding: 1em;
}

.neighbourhood-card a.info {
    color: var(--text-main);
    text-decoration: none;
}

/** ===== LISTING IMAGES ===== */
.modal-body .image-container {
    margin: 0 -1em;
    padding: 0.5em;
    border-bottom: 1px solid var(--border-color-main);
}

.modal-body .image-container:first-child {
    margin-top: -1em;
}

.modal-body .image-container:last-child {
    border-bottom: none;
}


/* ======================================================================== */
/*                                                                          */
/*  MEDIA QUERIES                                                           */
/*                                                                          */
/* ======================================================================== */
/* Large Tablet */
@media only screen and (max-width: 992px) and (orientation: portrait) {
    .listing-info-container {
        width: 100%;
        padding: 0 0.5em;
    }

    .listing-info-details {
        width: 70%;
    }

    .listing-contact-details {
        width: 25%;
    }

    .listing-search-container {
        width: 100%;
        padding: 0 0.5em;
    }

    .listing-list {
        max-width: 920px;
    }
}

/* Mini Tablet */
@media only screen and (max-width: 768px) and (orientation: portrait) {
    .listing-info-container {
        display: block;
    }

    .listing-search-container .location-filter {
        width: 100%;
        margin-right: 0;
        margin-bottom: 0.5em;
    }

    .listing-info-details {
        width: 100%;
    }

    .listing-contact-details {
        position: fixed;
        top: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        margin-left: 0;
        z-index: 1000;
    }

    .listing-contact-details-inner {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-radius: 0 0 0 0;
        box-shadow: none;
    }

    .listing-contact-details-inner .agent-info {
        margin-bottom: 0;
    }

    .listing-contact-details-inner .agent-info div,
    .listing-contact-details-inner .agent-info h2 {
        font-size: small;
        margin-bottom: 0;
        max-width: 150px;
        overflow: hidden;
        text-wrap: nowrap;
    }

    .listing-contact-details-inner .location-info {
        display: none;
    }

    .listing-contact-details-inner .agent-info img {
        width: 32px;
        height: 32px;
        margin-right: 0.5em;
    }

    .listing-contact-details-inner .message {
        display: none;
    }

    .listing-contact-details-inner .btn {
        width: auto;
        margin-top: 0;
    }

    .listing-list {
        max-width: 620px;
    }
}

/* Mobile phone */
@media only screen and (max-width: 576px) {
    .listing-field-name {
        display: block;
    }

    .listing-amenity:nth-child(even) {
        text-align: right;
    }

    .hero-image-container {
        height: 319px;
    }

    .hero-image-container img {
        border: none
    }

    .hero-image-container .hero-1 {
        width: 100%;
    }

    .hero-image-container .hero-2 {
        display: none;
    }

    .listing-list {
        width: 320px;
    }
}
