<form class="form" id="frm-room-unit" method="post" th:action="${submitUrl}" th:object="${form}">
    <input th:field="*{roomId}" type="hidden"/>

    <table class="table">
        <tr>
            <td width="20%"><b>Number:<span class="required">*</span></b></td>
            <td>
                <input maxlength="10" required th:field="*{number}"/>
            </td>
        </tr>
        <tr>
            <td><b>Floor: <span class="required">*</span></b></td>
            <td>
                <select th:field="*{floor}">
                    <option
                        th:each="floor,iterator : ${floors}"
                        th:text="${floor}"
                        th:value="${iterator.index}"
                    >
                        00
                    </option>
                </select>

            </td>
        </tr>
        <tr>
            <td><b>Status: <span class="required">*</span></b></td>
            <td>
                <select th:field="*{status}">
                    <option th:each="status : ${statuses}"
                            th:if="${status.name() != 'UNKNOWN'}"
                            th:text="#{'room-unit-status.' + ${status.name()}}"
                            th:value="${status.name()}"
                    >
                        STATUS
                    </option>
                </select>
            </td>
        </tr>
    </table>
    <button class="btn btn-primary margin-right" id='btn-room-unit-submit' type="submit">Save</button>
    <a class="btn-cancel margin-top" id='btn-room-unit-cancel'>Close</a>
</form>
