<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="settings-container">
    <div class="settings-sidebar">
        <div th:replace="~{__components/settings :: settings-menu('security')}"></div>
    </div>
    <div class="settings-content padding">
        <div th:replace="~{__components/settings :: settings-title('Roles', '/settings/roles')}"></div>

        <form class="form" method="post" th:action="@{'/settings/roles/' + ${role.id} + '/update'}"
              th:object="${form}">
            <div th:replace="~{__components/layout :: error-message(${error})}"></div>
            <table class="table">
                <tr>
                    <td width="20%"><b>Name<span class="required">*</span></b></td>
                    <td>
                        <input maxlength="10" required th:field="*{name}"/>
                    </td>
                </tr>
                <tr>
                    <td><b>Title<span class="required">*</span></b></td>
                    <td>
                        <input maxlength="100" required th:field="*{title}"/>
                    </td>
                </tr>
                <tr>
                    <td><b>Active</b></td>
                    <td>
                        <select th:field="*{active}">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><b>Description</b></td>
                    <td>
                        <textarea rows="3" th:field="*{description}"></textarea>
                    </td>
                </tr>
                <tr th:if="!${tenant.permissions.isEmpty()}">
                    <td><b>Permissions</b></td>
                    <td>
                        <div class="overflow-auto border" style="height: 23em;">
                            <table class="table table-striped">
                                <tr th:each="permission : ${tenant.permissions}">
                                    <td class="padding-right" width="1%">
                                        <input name="permissionIds"
                                               th:checked="!${form.permissionIds.isEmpty()} AND ${form.permissionIds.contains(permission.id)}"
                                               th:id="'permission-' + ${permission.id}"
                                               th:value="${permission.id}"
                                               type="checkbox"
                                        />
                                    </td>
                                    <td th:text="${permission.name}">NAME</td>
                                    <td th:text="${permission.description}">DESCRIPTION</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
            <button type="submit">Submit</button>
        </form>

    </div>
</div>


</body>
</html>
