<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="settings-container">
    <div class="settings-sidebar">
        <div th:replace="~{__components/settings :: settings-menu('security')}"></div>
    </div>
    <div class="settings-content padding">
        <div th:replace="~{__components/settings :: settings-title('Roles', '/settings/security')}"></div>

        <a class="btn btn-secondary btn-create" href="/settings/roles/create">Create Role</a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Active</th>
                <th>Modified</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr class="role" th:each="role : ${roles}">
                <td>
                    <a class="btn-view" th:href="'/settings/roles/' + ${role.id}">
                        <span th:text="${role.name}">NAME</span>
                        -
                        <span th:text="${role.title}">TITLE</span>
                    </a>
                </td>
                <td>
                    <span th:if="${role.active}">Yes</span>
                    <span th:if="!${role.active}">No</span>
                </td>
                <td th:text="${role.modifiedAtText}">MODIFIED</td>
                <td class="toolbar">
                    <a class="btn-view" th:href="'/settings/roles/' + ${role.id}">View</a>
                    <a class="btn-edit" th:href="'/settings/roles/' + ${role.id} + '/edit'">Edit</a>
                </td>
            </tr>
            <tr id="role-load-more" th:if="${moreUrl}">
                <td class="text-center" colspan="4">
                    <a href="javascript: koki_load_more('role-load-more')" th:data-url="${moreUrl}">Load More...</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:if="${toast}">
    <div
        th:replace="~{__components/bootstrap :: toast('role-toast', ${toast})}"></div>
</div>
</body>
</html>
