<div class="padding-small" id="message-composer">
    <form id="message-composer-form" method="POST" th:action="@{/messages/conversations/messages}" th:object="${form}">
        <div th:each="participant : ${conversation.participants}" th:if="${participant.id != user?.id}" th:remove="tag">
            <div th:replace="~{__components/user :: user-small-card(${participant})}"></div>
        </div>
        <textarea class="form-control margin-top-small w-100" maxlength="1000" required rows="2"
                  th:field="*{body}"
                  th:placeholder="#{page.message.conversation.message-placeholder}"></textarea>
        <button class="btn btn-sm btn-primary margin-top w-100"
                onclick="submit_composer_form()"
                th:text="#{button.send}"
        >SEND
        </button>
        <input th:field="*{conversationId}" type="hidden"/>
    </form>
</div>
<div class="padding" id="message-list">
    <div class="padding-small margin-bottom border-light border-rounded message" th:each="message:${messages}">
        <div th:replace="~{__components/message :: message-bubble(${message})}"></div>
    </div>
</div>
