<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="settings-container">
    <div class="settings-sidebar">
        <div th:replace="~{__components/settings :: settings-menu('ai')}"></div>
    </div>
    <div class="settings-content">
        <div
            th:replace="~{__components/settings :: settings-title('AI Settings', '/settings/ai')}"></div>

        <div th:replace="~{__components/layout :: error-message(${error})}"></div>
        <form class="form" method="post" onsubmit="return on_submit()" th:action="@{/settings/ai/save}"
              th:object="${form}">
            <table class="table">
                <tr>
                    <td width="20%"><b>Model <span class="required">*</span></b></td>
                    <td>
                        <select onchange="koki_ai_model_changed()" th:field="*{model}">
                            <option value="">None</option>
                            <option th:each="model : ${models}"
                                    th:text="#{'ai-model.' + ${model}}"
                                    th:value="${model}">
                                TYPE
                            </option>
                        </select>
                    </td>
                </tr>
                <tr class="gemini" th:classappend="${form.model} != 'GEMINI' ? 'hidden'">
                    <td><b>API Key <span class="required">*</span></b></td>
                    <td>
                        <input maxlength="100" th:field="*{geminiApiKey}" th:required="${form.model} == 'GEMINI'"/>
                    </td>
                </tr>
                <tr class="gemini" th:classappend="${form.model} != 'GEMINI' ? 'hidden'">
                    <td><b>Model <span class="required">*</span></b></td>
                    <td>
                        <select th:field="*{geminiModel}" th:required="${form.model} == 'GEMINI'">
                            <option value=""></option>
                            <option value="gemini-2.0-flash">Gemini 2.0 Flash</option>
                            <option value="gemini-2.0-flash-lite">Gemini 2.0 Flash Lite</option>
                            <option value="gemini-1.5-flash">Gemini 1.5 Flash</option>
                            <option value="gemini-1.5-flash-8b">Gemini 1.5 Flash-8B</option>
                            <option value="gemini-1.5-pro">Gemini 1.5 Pro</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button id="btn-submit" type="submit">Submit</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<script>
    function on_submit() {
        const form = document.querySelector("form");
        if (form.checkValidity()) {
            document.getElementById('btn-submit').disabled = true;
        }
        return true
    }

    function koki_ai_model_changed() {
        const type = document.getElementById('model').value;
        const gemini = (type === 'GEMINI');
        document.querySelectorAll('.gemini').forEach((elt) => {
            if (gemini) {
                elt.classList.remove('hidden');
            } else {
                elt.classList.add('hidden');
            }
        });
        document.querySelectorAll('.gemini input, .gemini select').forEach((elt) => {
            elt.required = gemini;
        });
    }
</script>
</body>
</html>
