<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="settings-container">
    <div class="settings-sidebar">
        <div th:replace="~{__components/settings :: settings-menu('ai')}"></div>
    </div>
    <div class="settings-content">
        <ul>
            <li class="menu-item">
                <h3>AI</h3>
            </li>
        </ul>

        <table class="table">
            <tr>
                <td width="20%"><b>Model</b></td>
                <td>
                    <div th:replace="~{__components/ai :: ai-model(${form.model})}"></div>
                </td>
            </tr>
            <tr th:if="${form.model == 'GEMINI'}">
                <td><b>Model</b></td>
                <td th:text="${form.geminiModel}">MODEL</td>
            </tr>
            <tr th:if="${form.model == 'DEEPSEEK'}">
                <td><b>Model</b></td>
                <td th:text="${form.deepseekModel}">MODEL</td>
            </tr>
            <tr>
                <td colspan="2">
                    <a class="btn-edit btn btn-sm btn-secondary" href="/settings/ai/edit">Configure</a>
                </td>
            </tr>
        </table>

    </div>
</div>

<div th:replace="~{__components/bootstrap :: toast(${toast})}"></div>
</body>
</html>
