<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="room" th:data-id="${room.id}" th:fragment="card(room)">
    <div class="room-image">
        <img th:alt="${room.title}" th:src="${room.heroImage?.contentUrl}"/>
    </div>
    <div class="room-details">
        <h2 class="text-primary price margin-none" th:if="${room.pricePerMonth}">
            <span th:text="${room.pricePerMonth}">$$$</span>
            <span class="text-small">per month</span>
        </h2>
        <h2 class="text-primary price margin-none" th:if="!${room.pricePerMonth} AND ${room.pricePerNight}">
            <span th:text="${room.pricePerNight}">$$$</span>
            <span class="text-small">per night</span>
        </h2>
        <div>
            <b th:text="#{'room-type.' + ${room.type.name()}}">TYPE</b>
            -
            <span th:text="${room.publishedAtMoment}">YYYYMM</span>
        </div>
        <ul>
            <li th:if="${room.type.name() == 'HOTEL_ROOM'}">
                <i class="fa-solid fa-hotel"></i>
                <span th:text="${room.account.name}">HOTEL</span>
            </li>
            <li>
                <i class="fa-solid fa-bed"></i>
                <span th:text="${room.numberOfRooms}">00</span>
                <span>Bedroom(s)</span>
            </li>
            <li th:if="${room.area > 0}">
                <i class="fa-regular fa-square-full"></i>
                <span th:text="${room.area}">00</span>
                <span>m<sup>2</sup></span>
            </li>
            <li>
            </li>
        </ul>
        <div>
            <i class="fa-solid fa-location-dot"></i>
            <span th:if="${room.neighborhood}" th:text="${room.neighborhood.name}">XXX</span>
            <span th:if="${room.neighborhood}">-</span>
            <span th:text="${room.address?.city?.name}">XXX</span>
        </div>
    </div>
</div>

<div th:fragment="lease-term(duration, term)" th:remove="tag">
    <span th:if="${room.leaseTermNegotiable}" th:text="#{lease-term.NEGOTIABLE}">NEGOTIABLE</span>

    <span th:if="!${room.leaseTermNegotiable}" th:text="${room.leaseTermDuration}">00</span>
    <span class="text-lower" th:if="!${room.leaseTermNegotiable}"
          th:text="#{'lease-term.' + ${room.leaseTerm}}">TERM</span>
</div>

</body>
</html>
