<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="settings-container">
    <div class="settings-sidebar">
        <div th:replace="~{__components/settings :: settings-menu('invoice')}"></div>
    </div>
    <div class="settings-content padding">
        <div
            th:replace="~{__components/settings :: settings-title('Invoice', '/settings')}"></div>

        <table class="table">
            <tr>
                <td width="30%"><b>Start Invoice Number</b></td>
                <td th:text="${form.startNumber}">NUMBER</td>
            </tr>
            <tr>
                <td><b>Payment Terms</b></td>
                <td>
                    <div th:if="${form.dueDays == 0}">Pay Upon Receiption</div>
                    <div th:if="${form.dueDays > 0}">
                        <span th:text="${form.dueDays}">00</span>
                        days
                    </div>
                </td>
            </tr>
        </table>
        <div class="margin-top">
            <a class="btn-edit btn btn-secondary" href="/settings/invoices/edit">Configure</a>
        </div>
    </div>
</div>


</body>
</html>
