<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="settings-container">
    <div class="settings-sidebar">
        <div th:replace="~{__components/settings :: settings-menu('invoice')}"></div>
    </div>
    <div class="settings-content">
        <div th:replace="~{__components/settings :: settings-title('Email Notification', '/settings/invoices')}"></div>

        <div th:replace="~{__components/layout :: error-message(${error})}"></div>
        <form class="form" method="post" th:action="@{/settings/invoices/notifications/save}" th:object="${form}">
            <table class="table">
                <tr>
                    <td colspan="2">
                        <h4>When an invoice is approved</h4>
                    </td>
                </tr>
                <tr id="tr-subject">
                    <td><b>Subject <span class="required">*</span></b></td>
                    <td>
                        <input required th:field="*{subject}"/>
                    </td>
                </tr>
                <tr id="tr-body">
                    <td><b>Body <span class="required">*</span></b></td>
                    <td>
                        <textarea rows="15" th:field="*{body}"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">Save</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<div th:replace="~{__components/codemirror :: html-editor('body', ${form.body})}"></div>
</body>
</html>
