<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="settings-container">
    <div class="settings-sidebar">
        <div th:replace="~{__components/settings :: settings-menu('invoice')}"></div>
    </div>
    <div class="settings-content">
        <div
            th:replace="~{__components/settings :: settings-title('Invoice', '/settings')}"></div>

        <table class="table table-striped border-light">
            <tr>
                <td colspan="2">
                    <h4 class="margin-none">General</h4>
                </td>
            </tr>
            <tr>
                <td width="30%"><b>Start Invoice Number</b></td>
                <td th:text="${form.startNumber}">NUMBER</td>
            </tr>
            <tr>
                <td><b>Payment Terms</b></td>
                <td>
                    <div th:if="${form.dueDays == 0}">Pay Upon Reception</div>
                    <div th:if="${form.dueDays > 0}">
                        <span th:text="${form.dueDays}">00</span>
                        days
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a class="btn-edit btn btn-sm btn-secondary" href="/settings/invoices/edit">Configure</a>
                </td>
            </tr>
        </table>

        <p>&nbsp;</p>

        <table class="table table-striped border-light">
            <tr>
                <td colspan="3">
                    <h4 class="margin-none">Email Notifications</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <b>When an invoice is approved</b>
                        <span
                            th:replace="~{__components/settings :: enabled-badge(${notification.enabled})}"></span>
                    </div>
                    <div class="text-small margin-left margin-top-small" th:if="${notification.subject}">
                        Subject: <span th:text="${notification.subject}">SUBJECT</span>
                    </div>
                </td>
                <td align="right">
                    <a class="btn btn-sm btn-light btn-configure"
                       href="/settings/invoices/notifications"
                       th:if="${notification.enabled}">
                        Configure
                    </a>
                    <a class="btn btn-sm btn-primary btn-notification-enable"
                       href="/settings/invoices/notifications/enable?status=true"
                       th:if="!${notification.enabled}">
                        Enable
                    </a>
                    <a class="btn btn-sm btn-danger btn-notification-disable"
                       href="/settings/invoices/notifications/enable?status=false"
                       th:if="${notification.enabled}">
                        Disable
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>

<div th:replace="~{__components/bootstrap :: toast(${toast})}"></div>
</body>
</html>
