<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="settings-container">
    <div class="settings-sidebar">
        <div th:replace="~{__components/settings :: settings-menu('invoice')}"></div>
    </div>
    <div class="settings-content padding">
        <div
            th:replace="~{__components/settings :: settings-title('Invoice', '/settings')}"></div>

        <table class="table border-light">
            <tr>
                <td colspan="2">
                    <h4 class="margin-none">General</h4>
                </td>
            </tr>
            <tr>
                <td width="30%"><b>Start Invoice Number</b></td>
                <td th:text="${form.startNumber}">NUMBER</td>
            </tr>
            <tr>
                <td><b>Payment Terms</b></td>
                <td>
                    <div th:if="${form.dueDays == 0}">Pay Upon Reception</div>
                    <div th:if="${form.dueDays > 0}">
                        <span th:text="${form.dueDays}">00</span>
                        days
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a class="btn-edit btn btn-secondary" href="/settings/invoices/edit">Configure</a>
                </td>
            </tr>
        </table>

        <p>&nbsp;</p>

        <table class="table border-light">
            <tr>
                <td colspan="3">
                    <h4 class="margin-none">Email Notifications</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <b>When an invoice is approved</b>
                    <div class="text-small margin-left">
                        Subject: <span th:text="${openedNotification.subject}">SUBJECT</span>
                    </div>
                </td>
                <td align="right">
                    <span class="badge text-bg-success" th:if="${openedNotification.enabled}">Enabled</span>
                    <span class="badge text-bg-danger" th:if="!${openedNotification.enabled}">Disabled</span>
                </td>
                <td align="right">
                    <a class="btn btn-sm btn-light btn-notification-opened"
                       href="/settings/invoices/notifications/opened"
                       th:if="${openedNotification.enabled}">
                        Configure
                    </a>
                    <a class="btn btn-sm btn-primary btn-notification-opened-enable"
                       href="/settings/invoices/notifications/enable?status=true&type=opened"
                       th:if="!${openedNotification.enabled}">
                        Enable
                    </a>
                    <a class="btn btn-sm btn-danger btn-notification-opened-disable"
                       href="/settings/invoices/notifications/enable?status=false&type=opened"
                       th:if="${openedNotification.enabled}">
                        Disable
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <b>When an invoice is paid</b>
                    <div class="text-small margin-left">
                        Subject: <span th:text="${paidNotification.subject}">SUBJECT</span>
                    </div>
                </td>
                <td align="right">
                    <span class="badge text-bg-success" th:if="${paidNotification.enabled}">Enabled</span>
                    <span class="badge text-bg-danger" th:if="!${paidNotification.enabled}">Disabled</span>
                </td>
                <td align="right">
                    <a class="btn btn-sm btn-light btn-notification-paid"
                       href="/settings/invoices/notifications/paid"
                       th:if="${paidNotification.enabled}">
                        Configure
                    </a>
                    <a class="btn btn-sm btn-primary btn-notification-paid-enable"
                       href="/settings/invoices/notifications/enable?status=true&type=paid"
                       th:if="!${paidNotification.enabled}">
                        Enable
                    </a>
                    <a class="btn btn-sm btn-danger btn-notification-paid-disable"
                       href="/settings/invoices/notifications/enable?status=false&type=paid"
                       th:if="${paidNotification.enabled}">
                        Disable
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>

<div th:replace="~{__components/bootstrap :: toast(${toast})}"></div>
</body>
</html>
