<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('home')}"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="widget-container" data-url="workflows/widgets/task-queue"></div>
        </div>
        <div class="col-8">
            <div class="widget-container" data-url="workflows/widgets/my-tasks"></div>

            <div class="widget-container" data-url="workflows/widgets/my-cases"></div>
        </div>
    </div>
</div>
</body>

</html>
