<div class="widget" th:if="${workflows}">
    <div class="widget-header">
        <div class="widget-title">Workflows</div>
    </div>
    <div class="widget-body">
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Title</th>
                <th></th>
            </tr>
            <tr th:each="workflow : ${workflows}">
                <td th:text="${workflow.name}">NAME</td>
                <td th:text="${workflow.title}">TITLE</td>
                <td>
                    <a th:href="${workflow.url}">View</a>
                </td>
            </tr>
        </table>
    </div>
</div>
