<div class="widget forms-widget">
    <div class="widget-body">
        <table class="table table-striped" th:if="${logs}">
            <tr>
                <th width="20%">Date</th>
                <th width="1%"></th>
                <th>Activity</th>
                <th>Message</th>
                <th></th>
            </tr>
            <tr th:each="log : ${logs}">
                <td th:text="${log.createdAtText}">CREATED</td>
                <td class="text-center">
                    <i class="fa-lg fa-solid fa-circle-info" th:if="${log.type.name == 'INFO'}"></i>
                    <i class="fa-lg fa-solid fa-circle-exclamation error" th:if="${log.type.name == 'ERROR'}"></i>
                </td>
                <td>
                    <a th:href="${log.activityInstance.url}"
                       th:if="${log.activityInstance}"
                       th:text="${log.activityInstance.activity.name}"
                    >ACTIVITY</a>
                </td>
                <td th:text="${log.message}">MESSAGE</td>
                <td>
                    <a target="_new" th:href="${log.url}">View</a>
                </td>
            </tr>
        </table>

        <div class="text-center empty-message" th:if="!${logs}">No Log</div>
    </div>
</div>
