<div class="widget my-tasks-widget">
    <div class="widget-header">
        <div class="widget-title">My Cases</div>
    </div>
    <div class="widget-body">
        <table class="table table-striped" th:if="${workflowInstances}">
            <tr>
                <th>Title</th>
                <th>Workflow</th>
                <th>Status</th>
                <th>Due</th>
            </tr>
            <tr th:each="workflowInstance : ${workflowInstances}">
                <td>
                    <a th:href="${workflowInstance.url}" th:text="${workflowInstance.title}">TITLE</a>
                </td>
                <td th:text="${workflowInstance.workflow.name}">WORKFLOW</td>
                <td>
                    <div
                        th:replace="~{__components/workflow :: workflow-status(${workflowInstance.status})}"></div>
                </td>
                <td>
                    <span th:if="${workflowInstance.createdAt}" th:text="${workflowInstance.dueAtText}">DUE</span>
                </td>
            </tr>
        </table>

        <div class="text-center" th:if="!${workflowInstances}">No case</div>
    </div>
</div>
