<div class="widget my-tasks-widget">
    <div class="widget-header">
        <div class="widget-title">My Tasks</div>
    </div>
    <div class="widget-body">
        <table class="table table-striped" th:if="${activityInstances}">
            <tr>
                <th>Task</th>
                <th>Workflow</th>
                <th>Status</th>
                <th>Modified</th>
            </tr>
            <tr th:each="activityInstance : ${activityInstances}">
                <td>
                    <a th:href="${activityInstance.url}"
                       th:text="${activityInstance.activity.title}">
                        ACTIVITY
                    </a>
                </td>
                <td th:text="${activityInstance.workflowInstance.title}">TITLE</td>
                <td>
                    <div
                        th:replace="~{__components/workflow :: workflow-status(${activityInstance.status})}"></div>
                </td>
                <td th:text="${activityInstance.modifiedAtText}">MODIFIED</td>
            </tr>
        </table>

        <div class="text-center" th:if="!${activityInstances}">No task assigned to me</div>
    </div>
</div>
