<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="settings-container">
    <div class="settings-sidebar">
        <div th:replace="~{__components/settings :: settings-menu('security')}"></div>
    </div>
    <div class="settings-content">
        <div th:replace="~{__components/settings :: settings-title('Users', '/settings/users')}"></div>

        <form class="form" method="post" th:action="@{/settings/users/add-new}" th:object="${form}">
            <div th:replace="~{__components/layout :: error-message(${error})}"></div>
            <table class="table">
                <tr>
                    <td width="20%"><b>Full Name<span class="required">*</span></b></td>
                    <td>
                        <input maxlength="50" required th:field="*{displayName}"/>
                    </td>
                </tr>
                <tr>
                    <td><b>Username<span class="required">*</span></b></td>
                    <td>
                        <input maxlength="50" required th:field="*{username}"/>
                    </td>
                </tr>
                <tr>
                    <td><b>Email<span class="required">*</span></b></td>
                    <td>
                        <input maxlength="255" required th:field="*{email}"/>
                    </td>
                </tr>
                <tr>
                    <td><b>Password<span class="required">*</span></b></td>
                    <td>
                        <input pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required
                               th:field="*{password}"
                               type="password"/>
                        <div class="margin-top-small text-small" th:text="#{page.signup.password.help}">
                            EMAIL_HELP
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><b>Confirm Password<span class="required">*</span></b></td>
                    <td>
                        <input id="confirm-password" required type="password"/>
                    </td>
                </tr>
                <tr>
                    <td><b>Language</b></td>
                    <td>
                        <select th:field="*{language}">
                            <option value=""></option>
                            <option th:each="language : ${languages}"
                                    th:text="${language.displayName}"
                                    th:value="${language.language}">
                                LANGUAGE
                            </option>
                        </select>
                    </td>
                </tr>
                <tr th:if="!${roles.isEmpty()}">
                    <td><b>Roles</b></td>
                    <td>
                        <table class="table table-striped">
                            <tr th:each="role : ${roles}">
                                <td class="padding-right" width="1%">
                                    <input name="roleIds"
                                           th:checked="!${form.roleIds.isEmpty()} AND ${form.roleIds.contains(role.id)}"
                                           th:id="'role-' + ${role.id}"
                                           th:value="${role.id}"
                                           type="checkbox"
                                    />
                                </td>
                                <td>
                                    <span th:if="${role.title}" th:text="${role.title}">TITLE</span>
                                    <span th:if="!${role.title}" th:text="${role.name}">NAME</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">Submit</button>
                    </td>
                </tr>
            </table>
        </form>

    </div>
</div>

<script th:inline="javascript">
    $('#language').select2();

    const newPassword = document.getElementById('password');
    const confirmPassword = document.getElementById('confirm-password');

    function validatePasswords() {
        if (newPassword.value !== confirmPassword.value) {
            confirmPassword.setCustomValidity(/*[[#{error.user.password-mismatch}]]*/ '');
        } else {
            confirmPassword.setCustomValidity('');
        }
    }

    newPassword.addEventListener('change', validatePasswords);
    confirmPassword.addEventListener('keyup', validatePasswords);
</script>

</body>
</html>
