<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="settings-container">
    <div class="settings-sidebar">
        <div th:replace="~{__components/settings :: settings-menu('security')}"></div>
    </div>
    <div class="settings-content padding">
        <div th:replace="~{__components/settings :: settings-title('Users', '/settings/users')}"></div>

        <form class="form" method="post" th:action="@{/settings/users/add-new}" th:object="${form}">
            <div th:replace="~{__components/layout :: error-message(${error})}"></div>
            <table class="table">
                <tr>
                    <td width="20%"><b>Name<span class="required">*</span></b></td>
                    <td>
                        <input maxlength="100" required th:field="*{displayName}"/>
                    </td>
                </tr>
                <tr>
                    <td><b>Email<span class="required">*</span></b></td>
                    <td>
                        <input maxlength="100" required th:field="*{email}"/>
                    </td>
                </tr>
                <tr>
                    <td><b>Password<span class="required">*</span></b></td>
                    <td>
                        <input required th:field="*{password}" type="password"/>
                    </td>
                </tr>
            </table>
            <button type="submit">Submit</button>
        </form>

    </div>
</div>


</body>
</html>
