<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="settings-container">
    <div class="settings-sidebar">
        <div th:replace="~{__components/settings :: settings-menu('security')}"></div>
    </div>
    <div class="settings-content">
        <div th:replace="~{__components/settings :: settings-title('Users', '/settings/users')}"></div>

        <form class="form" method="post" th:action="@{'/settings/users/' + ${me.id} + '/update'}" th:object="${form}">
            <div th:replace="~{__components/layout :: error-message(${error})}"></div>
            <table class="table">
                <tr>
                    <td width="20%"><b>Name<span class="required">*</span></b></td>
                    <td>
                        <input maxlength="100" required th:field="*{displayName}"/>
                    </td>
                </tr>
                <tr>
                    <td><b>Email<span class="required">*</span></b></td>
                    <td>
                        <input maxlength="100" required th:field="*{email}"/>
                    </td>
                </tr>
                <tr>
                    <td><b>Status</b></td>
                    <td>
                        <select th:field="*{status}">
                            <option th:each="value : ${me.status.values()}"
                                    th:text="#{'user-status.' + ${value.name()}}"
                                    th:value="${value.name()}">
                                OPTION
                            </option>
                        </select>
                    </td>
                </tr>
                <tr th:if="!${roles.isEmpty()}">
                    <td><b>Roles</b></td>
                    <td>
                        <table class="table table-striped">
                            <tr th:each="role : ${roles}">
                                <td class="padding-right" width="1%">
                                    <input name="roleIds"
                                           th:checked="!${form.roleIds.isEmpty()} AND ${form.roleIds.contains(role.id)}"
                                           th:id="'role-' + ${role.id}"
                                           th:value="${role.id}"
                                           type="checkbox"
                                    />
                                </td>
                                <td>
                                    <span th:if="${role.title}" th:text="${role.title}">TITLE</span>
                                    <span th:if="!${role.title}" th:text="${role.name}">NAME</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">Submit</button>
                    </td>
                </tr>
            </table>
        </form>

    </div>
</div>


</body>
</html>
