<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="settings-container">
    <div class="settings-sidebar">
        <div th:replace="~{__components/settings :: settings-menu('security')}"></div>
    </div>
    <div class="settings-content">
        <form action="/settings/users" method="get" th:object="${form}">
            <div th:replace="~{__components/settings :: settings-title('Users', '/settings/security')}"></div>
            <div class="flex flex-space-between padding">
                <div>
                    <a class="btn btn-sm btn-primary" href="/settings/users/create" id="btn-create">
                        <i class="fa-solid fa-plus"></i>
                        <span>User</span>
                    </a>
                </div>
                <div class="input-group" style="width:auto">
                    <input class="form-control" name="keyword" placeholder="Enter your keyword" th:field="*{keyword}"/>
                    <button class="btn btn-light btn-sm" id="btn-search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <span>Search</span>
                    </button>
                </div>
            </div>

            <div class="padding" th:if="!${users} AND *{keyword?.trim()?.length() > 0}">
                <div class="alert alert-warning">
                    No user found!
                </div>
            </div>

            <div class="padding-top border-top" th:if="${users}">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Full Name</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="user" th:each="me : ${users}">
                        <td th:text="${me.username}">USERNAME</td>
                        <td th:text="${me.email}">EMAIL</td>
                        <td th:text="${me.displayName}">NAME</td>
                        <td>
                            <span th:replace="~{__components/user :: user-status(${me.status})}"></span>
                        </td>
                        <td class="text-right">
                            <a class="btn-view btn btn-light btn-sm" th:href="'/settings/users/' + ${me.id}">View</a>
                            <a class="btn-edit btn btn-light btn-sm" th:href="'/settings/users/' + ${me.id} + '/edit'">Edit</a>
                        </td>
                    </tr>
                    <tr id="user-load-more" th:if="${moreUrl}">
                        <td class="text-center" colspan="5">
                            <a href="javascript: koki_load_more('user-load-more')" th:data-url="${moreUrl}">Load
                                More...</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>

</div>

<div th:replace="~{__components/bootstrap :: toast(${toast})}"></div>

</body>
</html>
