<tr class="user" th:each="me : ${users}">
    <td>
        <a th:href="'/settings/users/' + ${me.id}" th:text="${me.displayName}">NAME</a>
    </td>
    <td th:text="${me.email}">EMAIL</td>
    <td>
        <span th:replace="~{__components/user :: user-status(${me.status})}"></span>
    </td>
    <td th:text="${me.modifiedAtText}">MODIFIED</td>
    <td class="toolbar">
        <a class="btn-view" th:href="'/settings/users/' + ${me.id}">View</a>
        <a class="btn-edit" th:href="'/settings/users/' + ${me.id} + '/edit'">Edit</a>
    </td>
</tr>
<tr id="user-load-more" th:if="${moreUrl}">
    <td class="text-center" colspan="5">
        <a href="javascript: koki_load_more('user-load-more')" th:data-url="${moreUrl}">Load More...</a>
    </td>
</tr>
