<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="settings-container">
    <div class="settings-sidebar">
        <div th:replace="~{__components/settings :: settings-menu('security')}"></div>
    </div>
    <div class="settings-content padding">
        <div th:replace="~{__components/settings :: settings-title('Users', '/settings/users')}"></div>

        <form class="form" method="post" th:action="@{'/settings/users/' + ${me.id} + '/roles'}"
              th:object="${form}">
            <div th:replace="~{__components/layout :: error-message(${error})}"></div>
            <table class="table">
                <tr>
                    <td><b>Name</b></td>
                    <td th:text="${me.displayName}">TITLE</td>
                </tr>
                <tr>
                    <td><b>Email</b></td>
                    <td th:text="${me.email}">EMAIL</td>
                </tr>
                <tr>
                    <td><b>Roles</b></td>
                    <td>
                        <table class="table table-striped" th:if="!${roles.isEmpty()}">
                            <tr th:each="role : ${roles}">
                                <td width="1%">
                                    <input name="roleId"
                                           th:checked="${me.hasRole(role.id)}"
                                           th:value="${role.id}"
                                           type="checkbox"
                                    />
                                </td>
                                <td>
                                    <span th:text="${role.name}">NAME</span>
                                    -
                                    <span th:text="${role.title}">TITLE</span>
                                </td>
                            </tr>
                        </table>
                        <em th:if="${roles.isEmpty()}">No roles configured in the system</em>
                    </td>
                </tr>
            </table>

            <button th:if="!${roles.isEmpty()}" type="submit">Submit</button>
        </form>

    </div>
</div>


</body>
</html>
