<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="settings-container">
    <div class="settings-sidebar">
        <div th:replace="~{__components/settings :: settings-menu('security')}"></div>
    </div>
    <div class="settings-content">
        <div th:replace="~{__components/settings :: settings-title('Users', '/settings/users')}"></div>

        <div class="padding">
            <a class="btn btn-sm btn-secondary btn-edit" th:href="'/settings/users/' + ${me.id} + '/edit'">Edit</a>
        </div>
        <div th:replace="~{__components/layout :: error-message(${error})}"></div>

        <table class="table">
            <tr>
                <td width="20%"><b>Name</b></td>
                <td th:text="${me.displayName}">NAME</td>
            </tr>
            <tr>
                <td><b>Email</b></td>
                <td th:text="${me.email}">EMAIL</td>
            </tr>
            <tr th:if="${me.type.name != 'UNKNOWN'}">
                <td><b>Type</b></td>
                <td>
                    <span th:replace="~{__components/user :: user-type(${me.type})}"></span>
                </td>
            </tr>
            <tr>
                <td><b>Status</b></td>
                <td>
                    <span th:replace="~{__components/user :: user-status(${me.status})}"></span>
                </td>
            </tr>
            <tr th:if="${me.language}">
                <td><b>Language</b></td>
                <td th:text="${me.languageText}">LANG</td>
            </tr>
            <tr>
                <td><b>Roles</b></td>
                <td>
                    <table class="table table-striped" th:if="!${me.roles.isEmpty()}">
                        <tr th:each="role : ${me.roles}">
                            <td>
                                <a th:href="'/settings/roles/' + ${role.id}">
                                    <span th:if="${role.title}" th:text="${role.title}">TITLE</span>
                                    <span th:if="!${role.title}" th:text="${role.name}">NAME</span>
                                </a>
                            </td>
                        </tr>
                    </table>
                    <em th:if="${me.roles.isEmpty()}">User has no role</em>
                </td>
            </tr>
        </table>
    </div>
</div>

<div th:replace="~{__components/bootstrap :: toast(${toast})}"></div>
</body>
</html>
