<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('invoice')}"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/invoice :: invoice-breadcrumb()}"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Number</th>
                            <th>Date</th>
                            <th class="text-center">Status</th>
                            <th class="text-right">Total Amount</th>
                            <th class="text-right">Amount Due</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="invoice" th:each="invoice : ${invoices}">
                            <div th:replace="~{__components/invoice :: columns(${invoice})}"></div>
                        </tr>
                        <tr th:replace="~{__components/invoice :: load-more(${moreUrl})}"></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
