#main-container {
    display: flex;
    height: 92vh;
}

#map-container {
    width: 100%;
    height: 100%;
}

#room-list-container {
    height: 93vh;
    min-width: 600px;
    max-width: 600px;
    overflow-y: scroll;
}

#map-container #map {
    width: 100%;
    height: 100%;
}

#map-container #map .map-room-icon {
    padding: .5em;
    color: #fff;
    border: 1px solid #fff;
    background: green;
    width: auto !important;
    height: auto !important;
    text-wrap: nowrap;
    border-radius: .5em;
    font-weight: bold;
}


#room-list-header {
    background: #fff;
    padding: 1em;
    border-bottom: 1px solid gray;
}

#room-list-header h1 {
    font-size: 1.25em;
    margin: 0;
}

#room-list-container-inner {
    padding: 1em;
    overflow-y: scroll;
}

#room-list-container .room {
    border-radius: .5em;
    background: #fff;
    display: flex;
    margin-bottom: 1em;
    width: 100%
}

#room-list-container-inner a {
    text-decoration: none;
    color: #444;
}

#room-list-container-inner .room .price {
    font-size: 1.25em;
}

#room-list-container-inner .room-image {
    width: 250px;
    height: 167px;
    border-radius: .5em 0 0 .5em;
}

#room-list-container-inner .room-image img {
    border-radius: .5em 0 0 .5em;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#room-list-container-inner .room-details {
    padding: 1em;
    font-size: .75em;
}

#room-list-container-inner .room-details ul {
    list-style: none;
    padding: 0;
    margin: 0.5em 0;
}

#room-list-container-inner .room-details ul li {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.leaflet-popup-content {
    margin: 0 !important;
}

.leaflet-popup-content .map-room-card {
    width: 266px;
}

.leaflet-popup-content .map-room-card-details {
    margin: 1em;
    overflow: clip;
    text-wrap: nowrap;
}

.leaflet-popup-content .map-room-card a {
    color: #444;
    text-decoration: none;
}

.leaflet-popup-content .map-room-card img {
    width: 100%;
    height: 177px;
    border-radius: 10px 10px 0 0;
}

.leaflet-popup-content .map-room-card .price {
    font-size: larger;
    font-weight: bold;
}

.leaflet-popup-content .map-room-card .breadcrumb {
    margin-top: .5em;
}

.leaflet-popup-content .map-room-card .address {
    margin-top: .5em;
}

#view-switcher {
    background: #e4edf7;
    border: 1px solid gray;
    border-radius: .25em .25em .25em .25em;
    display: none;
    position: absolute;
    z-index: 1100;
    bottom: 1em;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: fit-content;
    box-shadow: .25em .25em rgb(200, 200, 200, .5);
}

#view-switcher ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#view-switcher ul li {
    margin: 0;
    padding: 0.5em;
    display: inline-block;
}

#view-switcher ul li.hidden {
    display: none;
}

#view-switcher ul li a {
    text-decoration: none;
    color: #1D7EDF;
}

/* ======================================================================== */
/*                                                                          */
/*  MEDIA QUERIES                                                           */
/*                                                                          */
/* ======================================================================== */
/* Large Tablet */
@media only screen and (max-width: 1024px) and (orientation: portrait) {
    #room-list-container {
        min-width: 450px;
        max-width: 450px;
    }

    #room-list-container .room {
        display: block;
        width: 100%;
    }

    #room-list-container-inner .room-image {
        border-radius: .5em 0.5em 0 0;
        width: 100%;
        height: 267px;
    }

    #room-list-container-inner .room-image img {
        border-radius: .5em 0.5em 0 0;
    }

    #room-list-container-inner .room-details ul li {
        display: inline-block;
        margin-right: 2em
    }
}

/* Mini Tablet */
@media only screen and (max-width: 820px) and (orientation: portrait) {
    #map-container #map {
        width: 100%;
        height: 100%;
    }

    #room-list-container {
        min-width: 100%;
        max-width: 100%;
    }

    #room-list-container .room {
        display: inline-block;
        width: 360px;
        height: 100%;
        margin-bottom: 1em;
    }

    #room-list-container-inner .room-image {
        width: 360px;
        height: 240px;
    }

    #view-switcher {
        display: block;
    }
}

/* Mobile phone */
@media only screen and (max-width: 479px) and (orientation: portrait) {
    #room-list-container .room {
        display: block;
        width: 100%;
    }

    #room-list-container-inner .room-image {
        width: 100%;
        height: 267px;
    }

    #room-list-container-inner .room-details ul li {
        display: inline-block;
        margin-right: 2em
    }
}
