name: koki-dto-pr

on:
    pull_request:
        paths:
            - 'modules/koki-dto/**'
            - 'modules/koki-dto/**/*.md'
            - '.github/workflows/koki-dto-pr.yml'

jobs:
    build:

        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v5

            -   name: JDK
                uses: actions/setup-java@v5
                with:
                    distribution: 'zulu'
                    java-version: 17

            -   name: Build
                env:
                    GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
                run: |
                    mvn -s settings.xml --non-recursive install
                    cd modules/koki-dto
                    mvn -s ../../settings.xml package
