name: koki-bot


on:
    push:
        branches:
            - master
        paths:
            - 'modules/koki-bot/**'
            - '!modules/koki-bot/*.md'
            - '.github/workflows/koki-bot-master.yml'

jobs:
    build:
        runs-on: ubuntu-latest

        services:
            rabbitmq:
                image: rabbitmq:4.2
                env:
                    RABBITMQ_DEFAULT_USER: guest
                    RABBITMQ_DEFAULT_PASS: guest
                ports:
                    - 5672:5672

        steps:
            -   uses: actions/checkout@v6
            -   name: JDK
                uses: actions/setup-java@v5
                with:
                    distribution: 'zulu'
                    java-version: 17

            -   name: Build
                env:
                    GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
                run: |
                    mvn -q -s settings.xml --non-recursive install
                    cd modules/koki-bot
                    mvn -Dspring.datasource.username=root -Dspring.datasource.password=root -q -s ../../settings.xml install

            -   name: Upload app bundle
                uses: actions/upload-artifact@v6
                with:
                    name: appbundle
                    path: modules/koki-bot/target/*.jar

            -   name: Upload JaCoCo Report
                uses: actions/upload-artifact@v6
                with:
                    name: jacoco
                    path: modules/koki-bot/target/site/jacoco/**/*

            -   name: Generate JaCoCo Badge
                uses: cicirello/jacoco-badge-generator@v2
                with:
                    generate-branches-badge: false
                    jacoco-csv-file: modules/koki-bot/target/site/jacoco/jacoco.csv
                    coverage-badge-filename: koki-bot-jacoco.svg

            -   name: Commit the badge (if it changed)
                continue-on-error: true
                run: |
                    if [[ `git status --porcelain` ]]; then
                      git config user.email "actions@github.com"
                      git config user.name "GitHub Actions"
                      git add -A
                      git commit -m "Autogenerated JaCoCo coverage badge"
                      git push
                    fi

            -   name: HerokuCLI
                run: |
                    curl https://cli-assets.heroku.com/install.sh | sh
                    heroku plugins:install @heroku-cli/plugin-java

            -   name: Get artifact
                uses: actions/download-artifact@v7
                with:
                    name: appbundle

            -   name: Heroku-Deploy-Test
                env:
                    HEROKU_APP: koki-bot-test
                    HEROKU_API_KEY: ${{secrets.HEROKU_API_KEY_TEST}}
                    AWS_ACCESS_KEY: ${{secrets.AWS_ACCESS_KEY_TEST}}
                    AWS_SECRET_KEY: ${{secrets.AWS_SECRET_KEY_TEST}}
                    CLOUDAMQP_URL: ${{secrets.CLOUDAMQP_URL_TEST}}
                run: |
                    heroku apps | grep ${HEROKU_APP} && echo 'app: ${HEROKU_APP} exists' ||  heroku apps:create ${HEROKU_APP}
                    heroku buildpacks:clear --app ${HEROKU_APP}
                    heroku buildpacks:add heroku/jvm --app ${HEROKU_APP}
                    heroku config:set --app ${HEROKU_APP} APP_PROFILE=test
                    heroku config:set --app ${HEROKU_APP} AWS_ACCESS_KEY=${AWS_ACCESS_KEY}
                    heroku config:set --app ${HEROKU_APP} AWS_SECRET_KEY=${AWS_SECRET_KEY}
                    heroku config:set --app ${HEROKU_APP} CLOUDAMQP_URL=${CLOUDAMQP_URL}
                    heroku addons -a ${HEROKU_APP} | grep papertrail && echo 'addon: papertrail exists' ||  heroku addons:create papertrail -a ${HEROKU_APP}
                    cp modules/koki-bot/system.properties .
                    cp modules/koki-bot/Procfile .
                    heroku deploy:jar koki-bot.jar --app ${HEROKU_APP}

            -   name: Health check
                env:
                    APP_URL: ${{secrets.KOKI_BOT_URL_TEST}}
                run: |
                    echo ${APP_URL}
                    curl -sSf ${APP_URL}/actuator/health >> /dev/null || curl -sSf ${APP_URL}/actuator/health >> /dev/null
