name: koki-portal-pr

on:
    pull_request:
        paths:
            - 'modules/koki-portal/**'
            - '!modules/koki-portal/*.md'
            - '.github/workflows/koki-portal-pr.yml'

jobs:
    build:
        runs-on: ubuntu-latest

        services:
            redis:
                image: redis
                options: >-
                    --health-cmd "redis-cli ping"
                    --health-interval 10s
                    --health-timeout 5s
                    --health-retries 5

        steps:
            -   uses: actions/checkout@v6
            -   name: JDK
                uses: actions/setup-java@v5
                with:
                    distribution: 'zulu'
                    java-version: 17

            -   name: Install Chromium
                run: sudo apt-get install chromium-browser

            -   name: Build
                env:
                    GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
                run: |
                    mvn -q -s settings.xml --non-recursive install
                    cd modules/koki-portal
                    mvn -s ../../settings.xml clean package -Dheadless=true

            -   name: Add coverage to PR
                id: jacoco
                uses: madrapps/jacoco-report@v1.7.2
                with:
                    paths: |
                        ${{ github.workspace }}/modules/koki-portal/target/site/jacoco/jacoco.xml
                    token: ${{ secrets.GITHUB_TOKEN }}
                    min-coverage-overall: 90
                    min-coverage-changed-files: 90
