name: koki-server


on:
    push:
        branches:
            - master
        paths:
            - 'modules/koki-server/**'
            - '.github/workflows/koki-server-master.yml'
            - '!modules/koki-server/**/*.md'

jobs:
    build:
        runs-on: ubuntu-latest

        services:
            mysql:
                image: mysql:9.5
                env:
                    MYSQL_USER: admin
                    MYSQL_PASSWORD: admin
                    MYSQL_ROOT_PASSWORD: root
                    MYSQL_DATABASE: koki
                ports:
                    - 3306:3306
            rabbitmq:
                image: rabbitmq:4.2
                env:
                    RABBITMQ_DEFAULT_USER: guest
                    RABBITMQ_DEFAULT_PASS: guest
                ports:
                    - 5672:5672
            redis:
                image: redis
                options: >-
                    --health-cmd "redis-cli ping"
                    --health-interval 10s
                    --health-timeout 5s
                    --health-retries 5

        steps:
            -   uses: actions/checkout@v5
            -   name: JDK
                uses: actions/setup-java@v5
                with:
                    distribution: 'zulu'
                    java-version: 17

            -   name: Build
                env:
                    GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
                    GEMINI_API_KEY: ${{secrets.GEMINI_API_KEY_TEST}}
                    STRIPE_API_KEY: ${{secrets.STRIPE_API_KEY_TEST}}
                    DEEPSEEK_API_KEY: ${{secrets.DEEPSEEK_API_KEY_TEST}}
                run: |
                    mvn -q -s settings.xml --non-recursive install
                    cd modules/koki-server
                    mvn -Dspring.datasource.username=root -Dspring.datasource.password=root -q -s ../../settings.xml install

            -   name: Upload app bundle
                uses: actions/upload-artifact@v5
                with:
                    name: appbundle
                    path: modules/koki-server/target/*.jar

            -   name: Upload JaCoCo Report
                uses: actions/upload-artifact@v5
                with:
                    name: jacoco
                    path: modules/koki-server/target/site/jacoco/**/*

            -   name: Generate JaCoCo Badge
                uses: cicirello/jacoco-badge-generator@v2
                with:
                    generate-branches-badge: false
                    jacoco-csv-file: modules/koki-server/target/site/jacoco/jacoco.csv
                    coverage-badge-filename: koki-server-jacoco.svg

            -   name: Commit the badge (if it changed)
                continue-on-error: true
                run: |
                    if [[ `git status --porcelain` ]]; then
                      git config user.email "actions@github.com"
                      git config user.name "GitHub Actions"
                      git add -A
                      git commit -m "Autogenerated JaCoCo coverage badge"
                      git push
                    fi

            -   name: HerokuCLI
                run: |
                    curl https://cli-assets.heroku.com/install.sh | sh
                    heroku plugins:install @heroku-cli/plugin-java

            -   name: Get artifact
                uses: actions/download-artifact@v6
                with:
                    name: appbundle

            -   name: Heroku-Deploy-Test
                env:
                    HEROKU_APP: koki-server-test
                    HEROKU_API_KEY: ${{secrets.HEROKU_API_KEY_TEST}}
                    AWS_ACCESS_KEY: ${{secrets.AWS_ACCESS_KEY_TEST}}
                    AWS_SECRET_KEY: ${{secrets.AWS_SECRET_KEY_TEST}}
                    CLOUDAMQP_URL: ${{secrets.CLOUDAMQP_URL_TEST}}
                    MYSQL_USERNAME: ${{secrets.MYSQL_USERNAME_TEST}}
                    MYSQL_PASSWORD: ${{secrets.MYSQL_PASSWORD_TEST}}
                    MYSQL_URL: ${{secrets.MYSQL_URL_TEST}}
                    SMTP_USER: ${{secrets.SMTP_USER_TEST}}
                    SMTP_PASSWORD: ${{secrets.SMTP_PASSWORD_TEST}}
                    SMTP_HOST: ${{secrets.SMTP_HOST_TEST}}
                    SMTP_PORT: ${{secrets.SMTP_PORT_TEST}}
                    GEMINI_API_KEY: ${{secrets.GEMINI_API_KEY_TEST}}
                    STRIPE_API_KEY: ${{secrets.STRIPE_API_KEY_TEST}}
                    DEEPSEEK_API_KEY: ${{secrets.DEEPSEEK_API_KEY_TEST}}
                    REDISCLOUD_URL: ${{secrets.REDISCLOUD_URL_TEST}}
                run: |
                    heroku apps | grep ${HEROKU_APP} && echo 'app: ${HEROKU_APP} exists' ||  heroku apps:create ${HEROKU_APP}
                    heroku buildpacks:clear --app ${HEROKU_APP}
                    heroku buildpacks:add heroku/jvm --app ${HEROKU_APP}
                    heroku config:set --app ${HEROKU_APP} APP_PROFILE=test
                    heroku config:set --app ${HEROKU_APP} AWS_ACCESS_KEY=${AWS_ACCESS_KEY}
                    heroku config:set --app ${HEROKU_APP} AWS_SECRET_KEY=${AWS_SECRET_KEY}
                    heroku config:set --app ${HEROKU_APP} CLOUDAMQP_URL=${CLOUDAMQP_URL}
                    heroku config:set --app ${HEROKU_APP} SPRING_DATABASE_USERNAME=${MYSQL_USERNAME}
                    heroku config:set --app ${HEROKU_APP} SPRING_DATABASE_PASSWORD=${MYSQL_PASSWORD}
                    heroku config:set --app ${HEROKU_APP} SPRING_DATABASE_URL=${MYSQL_URL}
                    heroku config:set --app ${HEROKU_APP} SMTP_USER=${SMTP_USER}
                    heroku config:set --app ${HEROKU_APP} SMTP_PASSWORD=${SMTP_PASSWORD}
                    heroku config:set --app ${HEROKU_APP} SMTP_HOST=${SMTP_HOST}
                    heroku config:set --app ${HEROKU_APP} SMTP_PORT=${SMTP_PORT}
                    heroku config:set --app ${HEROKU_APP} GEMINI_API_KEY=${GEMINI_API_KEY}
                    heroku config:set --app ${HEROKU_APP} DEEPSEEK_API_KEY=${DEEPSEEK_API_KEY}
                    heroku config:set --app ${HEROKU_APP} REDISCLOUD_URL=${REDISCLOUD_URL}
                    heroku addons -a ${HEROKU_APP} | grep papertrail && echo 'addon: papertrail exists' ||  heroku addons:create papertrail -a ${HEROKU_APP}
                    cp modules/koki-server/system.properties .
                    cp modules/koki-server/Procfile .
                    heroku deploy:jar koki-server.jar --app ${HEROKU_APP}

            -   name: Health check
                env:
                    APP_URL: ${{secrets.KOKI_SERVER_URL_TEST}}
                run: |
                    echo ${APP_URL}
                    curl -sSf ${APP_URL}/actuator/health >> /dev/null || curl -sSf ${APP_URL}/actuator/health >> /dev/null
