<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('contact')}"></div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/contact :: contact-breadcrumb(null)}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form class="form" method="post" th:action="@{/contacts/add-new}" th:object="${form}">
                <div class="form-body">
                    <div class="section">
                        <div class="section-body">
                            <div th:replace="~{__components/layout :: error-message(${error})}"></div>

                            <div class="section-item" th:if="${user?.hasAccess('account')}">
                                <label class="title">Account</label>
                                <select
                                    data-component-id="select2"
                                    data-url="/accounts/selector/search"
                                    th:field="*{accountId}"
                                >
                                    <option th:if="${account}"
                                            th:text="${account.name}"
                                            th:value="${account.id}">
                                        ACCOUNT
                                    </option>
                                </select>
                            </div>
                            <div class="section-item" th:if="${contactTypes}">
                                <label class="title">Contact Type <span class="required">*</span></label>
                                <select id="contactTypeId" name="contactTypeId" required>
                                    <option value=""></option>
                                    <option th:each="contactType : ${contactTypes}"
                                            th:selected="${contactType.id} == ${form.contactTypeId}"
                                            th:text="${contactType.title}"
                                            th:value="${contactType.id}">
                                        CONTACT TYPE
                                    </option>
                                </select>
                            </div>
                            <div class="section-item">
                                <label class="title">Salutation</label>
                                <select th:field="*{salutation}">
                                    <option value=""></option>
                                    <option value="Mr.">Mr.</option>
                                    <option value="Ms.">Ms.</option>
                                    <option value="Dr.">Dr.</option>
                                </select>
                            </div>
                            <div class="section-item">
                                <label class="title">First Name <span class="required">*</span></label>
                                <input maxlength="100" required th:field="*{firstName}"/>
                            </div>
                            <div class="section-item">
                                <label class="title">Last Name <span class="required">*</span></label>
                                <input maxlength="100" required th:field="*{lastName}"/>
                            </div>
                            <div class="section-item">
                                <label class="title">Email</label>
                                <input maxlength="100" th:field="*{email}" type="email"/>
                            </div>
                            <div class="section-item">
                                <label class="title">Mobile</label>
                                <input maxlength="30" th:field="*{mobile}" type="tel"/>
                            </div>
                            <div class="section-item">
                                <label class="title">Phone</label>
                                <input maxlength="30" th:field="*{phone}" type="tel"/>
                            </div>
                            <div class="section-item">
                                <label class="title">Contact me via</label>
                                <div class="text-small">Select your preferred communication method</div>
                                <select th:field="*{preferredCommunicationMethod}">
                                    <option th:each="method : ${communicationMethods}"
                                            th:text="#{'preferred-communication-method.' + ${method}}"
                                            th:value="${method}">
                                        METHOD
                                    </option>
                                </select>
                            </div>
                            <div class="section-item">
                                <label class="title">Language</label>
                                <select th:field="*{language}">
                                    <option value=""></option>
                                    <option th:each="language : ${languages}"
                                            th:text="${language.displayName}"
                                            th:value="${language.language}">
                                        LANGUAGE
                                    </option>
                                </select>
                            </div>
                            <div class="section-item">
                                <label class="title">Country</label>
                                <select th:field="*{country}">
                                    <option value=""></option>
                                    <option th:each="country : ${countries}"
                                            th:text="${country.displayCountry}"
                                            th:value="${country.country}"
                                    >COUNTRY
                                    </option>
                                </select>
                            </div>
                            <div class="section-item">
                                <label class="title">City</label>
                                <select data-city-id="cityId"
                                        data-component-id="address"
                                        data-country-id="country"
                                        th:field="*{cityId}"
                                >
                                    <option th:if="${city}" th:text="${cityName}" th:value="${city.id}"></option>
                                </select>
                            </div>
                            <div class="section-item">
                                <label class="title">Street</label>
                                <input th:field="*{street}"/>
                            </div>
                            <div class="section-item">
                                <label class="title">Postal Code</label>
                                <input maxlength="30" th:field="*{postalCode}"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-footer">
                    <button type="submit">Submit</button>
                    <a class="btn-cancel" href="/contacts">Cancel</a>
                </div>

            </form>
        </div>

    </div>
</div>

<script>
    $('#language').select2();
</script>
</body>
</html>
