<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('contacts')}"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/contact :: contact-breadcrumb(null)}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body">
                    <div class="widget-toolbar">
                        <a class="btn-create btn btn-secondary" href="/contacts/create">Create New Contact</a>
                    </div>

                    <table class="table table-striped" th:if="${contacts}">
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Phone</th>
                            <th>Mobile</th>
                            <th>Email</th>
                            <th>Modified</th>
                            <th>Account</th>
                            <td></td>
                        </tr>
                        <tr class="contact" th:each="contact : ${contacts}">
                            <div th:replace="~{__components/contact :: columns(${contact}, true)}"></div>
                        </tr>
                        <tr th:replace="~{__components/contact :: load-more(${moreUrl}, true)}"></tr>
                    </table>

                    <div class="text-center" th:if="!${contacts}">No contact</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
