<div class="tab-contacts">
    <div class="margin-bottom">
        <a class="btn btn-light btn-sm btn-add-contact"
           th:href="${addUrl}"
           th:if="${addUrl} AND ${user?.hasPermission('contact:manage')}"
        >Add New Contact</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th class="d-none d-lg-table-cell" th:if="!${types.isEmpty()}">Type</th>
            <th class="d-none d-md-table-cell">Email</th>
            <th class="d-none d-sm-table-cell">Phone</th>
            <th class="d-none d-md-table-cell">Mobile</th>
            <th class="d-none d-lg-table-cell" th:if="${showAccount}">Account</th>
        </tr>
        </thead>
        <tbody>
        <tr class="contact entity" th:each="contact : ${contacts}" th:if="${contacts}">
            <div th:replace="~{__components/contact :: columns(${contact}, ${showAccount}, !${types.isEmpty()})}"></div>
        </tr>
        <tr th:if="${contacts}" th:replace="~{__components/contact :: load-more(${moreUrl})}"></tr>
        </tbody>
    </table>
</div>
