<div class="tab-contacts">
    <div class="margin-bottom">
        <a class="btn btn-light btn-sm btn-add-contact"
           th:href="${addUrl}"
           th:if="${addUrl} AND ${user?.hasPermission('contact:manage')}"
        >Add New Contact</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Phone</th>
            <th>Mobile</th>
            <th>Email</th>
            <th th:if="${showAccount}">Account</th>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr class="contact" th:each="contact : ${contacts}" th:if="${contacts}">
            <div th:replace="~{__components/contact :: columns(${contact}, ${showAccount})}"></div>
        </tr>
        <tr th:if="${contacts}" th:replace="~{__components/contact :: load-more(${moreUrl}, ${showAccount})}"></tr>
        </tbody>
    </table>
</div>
