<div class="tab-contacts">
    <div class="margin-bottom">
        <a class="btn btn-light btn-sm btn-add-contact"
           th:href="${addUrl}"
           th:if="${addUrl} AND (${user?.hasPermission('contact:manage')} OR ${user?.hasFullAccess('contact')})"
        >Add New Contact</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr class="d-none d-md-table-row">
            <th th:text="#{page.contact.name}">Name</th>
            <th class="d-none d-lg-table-cell" th:if="!${types.isEmpty()}"
                th:text="#{page.contact.contact_type}">Type
            </th>
            <th class="d-none d-md-table-cell" th:text="#{page.contact.email}">Email</th>
            <th class="d-none d-md-table-cell" th:text="#{page.contact.mobile}">Mobile</th>
            <th class="d-none d-md-table-cell" th:text="#{page.contact.phone}">Phone</th>
            <th class="d-none d-lg-table-cell" th:if="${showAccount}" th:text="#{page.contact.account}">
                Account
            </th>
        </tr>
        </thead>
        <tbody>
        <tr class="contact entity" th:each="contact : ${contacts}" th:if="${contacts}">
            <div th:replace="~{__components/contact :: columns(${contact}, ${showAccount}, !${types.isEmpty()})}"></div>
        </tr>
        <tr id="contact-load-more" th:if="${moreUrl}">
            <td class="text-center" colspan="7">
                <button
                    class="btn btn-sm btn-light w-100-mobile"
                    data-component-id="load-more"
                    data-container-id="contact-load-more"
                    th:data-url="${moreUrl}"
                    th:text="#{button.load_more}"
                >
                    Load more...
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
