<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="container">
    <h1>
        <img align="absmiddle" height="48" src="/image/form.png" width="48"/>
        <span th:text="${data.longTitle}">NAME</span>
    </h1>
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/form :: form-breadcrumb(${data})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">

            <form class="form" method="post" th:action="@{'/settings/forms/' + ${data.id} + '/update'}"
                  th:object="${form}">
                <div class="form-body">
                    <div class="section">
                        <div class="section-body">
                            <div th:replace="~{__components/layout :: error-message(${error})}"></div>

                            <div class="section-item">
                                <label class="title">Form Descriptor <span class="required">*</span></label>
                                <div class="description">Enter the content of the form in JSON format</div>
                                <textarea required rows="15" th:field="*{json}"></textarea>
                            </div>
                            <div class="section-item">
                                <label class="title">Active</label>
                                <select th:field="*{active}">
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-footer">
                    <button type="submit">Submit</button>
                    <a class="btn-cancel" href="/settings/forms">Cancel</a>
                </div>
            </form>
        </div>

    </div>
</div>
</body>
</html>
