<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="container">
    <h1>
        <img align="absmiddle" height="48" src="/image/form.png" width="48"/>
        <span th:text="${data.longTitle}">NAME</span>
    </h1>
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/form :: form-breadcrumb(${data})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body">
                    <div class="alert alert-success">
                        The form has been successfully saved.
                    </div>
                    <div class="text-center">
                        <a class="btn btn-secondary btn-ok" href="/settings/forms">Back to Forms</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>
