<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>

<div class="container">
    <h1>
        <img align="absmiddle" height="48" src="/image/form.png" width="48"/>
        <span th:text="${form.longTitle}">NAME</span>
    </h1>
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/form :: form-breadcrumb(${form})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-8">

            <div class="widget">
                <div class="widget-body">
                    <div class="widget-toolbar">
                        <a class="btn-edit btn btn-secondary"
                           th:href="'/settings/forms/' + ${form.id} + '/edit'">Edit</a>
                        <a class="btn-delete btn btn-danger float-right"
                           onclick="return confirm('Are you sure you want to delete the form?')"
                           th:href="'/settings/forms/' + ${form.id} + '/delete'">Delete</a>
                    </div>

                    <div th:replace="~{__components/layout :: error-message(${error})}"></div>

                    <table class="table">
                        <tr>
                            <td width="20%"><b>Name</b></td>
                            <td th:text="${form.name}">NAME</td>
                        </tr>
                        <tr>
                            <td><b>Title</b></td>
                            <td th:text="${form.title}">TITLE</td>
                        </tr>
                        <tr>
                            <td><b>Description</b></td>
                            <td th:text="${form.description}">DESCRIPTION</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="widget">
                <div class="widget-body">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button aria-controls="pills-content" aria-selected="true" class="nav-link active"
                                    data-bs-target="#pills-content" data-bs-toggle="pill" id="pills-content-tab"
                                    role="tab" type="button">
                                Content
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button aria-controls="pills-submissions" aria-selected="false" class="nav-link"
                                    data-bs-target="#pills-submissions" data-bs-toggle="pill" id="pills-submissions-tab"
                                    role="tab" type="button">
                                Submissions
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button aria-controls="pills-share" aria-selected="false" class="nav-link"
                                    data-bs-target="#pills-share" data-bs-toggle="pill" id="pills-share-tab"
                                    role="tab" type="button">
                                Share
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div aria-labelledby="pills-content-tab" class="tab-pane fade show active" id="pills-content"
                             role="tabpanel">
                            <a class="btn-preview" target="_new" th:href="${form.previewUrl}">Preview</a>
                            <pre>
                                <code class="language-json" th:text="${form.content}"></code>
                            </pre>
                        </div>

                        <div aria-labelledby="pills-submissions-tab" class="tab-pane fade" id="pills-submissions"
                             role="tabpanel"
                             th:data-url="'/forms/widgets/submissions?form-id=' + ${form.id}">
                        </div>

                        <div aria-labelledby="pills-share-tab" class="tab-pane fade" id="pills-share" role="tabpanel">
                            <div class="share-panel">
                                <div class="flex">
                                    <div class="share-link" id="form-share"
                                         th:data-url="${form.shareUrl}"
                                         th:onclick="form_share_link()"
                                         th:text="${form.shareUrl}"
                                    >
                                        SHARE
                                    </div>
                                    <div>
                                        <a class="btn btn-primary btn-sm" href="javascript: form_share_link()">Copy</a>
                                    </div>
                                </div>
                            </div>
                            <script>
                                function form_share_link() {
                                    const div = document.getElementById('form-share');
                                    const url = div.getAttribute('data-url');

                                    navigator.clipboard.writeText(url);
                                    alert('Copied: ' + url);
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="widget">
                <div class="widget-body">
                    <table class="table table-striped">
                        <tr>
                            <td><b>Active</b></td>
                            <td>
                                <span th:if="${form.active}">Yes</span>
                                <span th:if="!${form.active}">No</span>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Created</b></td>
                            <td th:text="${form.createdAtText}">CREATED</td>
                        </tr>
                        <tr>
                            <td><b>Modified</b></td>
                            <td th:text="${form.modifiedAtText}">CREATED</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<div th:replace="~{__components/highlightjs :: prettity('json')}"></div>

</body>
</html>
