<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>

<div th:replace="~{__components/layout :: navbar}"></div>

<div class="padding-4x error-container">
    <h1>
        <i class="fa-solid fa-circle-exclamation" style="color:darkred"></i>
    </h1>
    <h3>This site is suspended!</h3>
    <div>
        If you are the owner of this side, please contact support for more information
    </div>
</div>

</body>

</html>
