<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('tax')}"></div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/tax :: tax-breadcrumb(${tax})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body">
                    <div th:replace="~{__components/tax :: tax-header(${tax}, false)}"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form class="form" method="post" th:action="@{'/taxes/' + ${tax.id} + '/assignee'}" th:object="${form}">
                <div class="form-body">
                    <div class="section">
                        <div class="section-body">
                            <div th:replace="~{__components/layout :: error-message(${error})}"></div>

                            <div class="section-item">
                                <label class="title">Assigned To</label>
                                <div th:if="${tax.assignee}" th:text="${tax.assignee.displayName}">NAME</div>
                                <div th:if="!${tax.assignee}"><i>Unassigned</i></div>
                            </div>

                            <div class="section-item">
                                <label class="title">Re-assigned To<span class="required">*</span></label>
                                <select required th:field="*{assigneeId}">
                                    <option th:if="${assignee}"
                                            th:selected="true"
                                            th:text="${assignee.displayName}"
                                            th:value="${assignee.id}"
                                    >ASSIGNEE
                                    </option>
                                </select>
                                <script
                                    th:replace="~{__components/user :: user-selector('assigneeId', null, 'tax:manage')}"></script>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-footer">
                    <button type="submit">Submit</button>
                    <a class="btn-cancel" th:href="'/taxes/' + ${tax.id}">Cancel</a>
                </div>

            </form>
        </div>

    </div>
</div>
</body>
</html>
