<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('taxes')}"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/tax :: tax-breadcrumb(null)}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body">
                    <div class="flex flex-space-between">
                        <div class="btn-group border margin-bottom">
                            <button aria-expanded="false"
                                    class="btn dropdown-toggle padding"
                                    data-bs-toggle="dropdown"
                                    type="button">
                                <img height="24" src="/image/tax.png" width="24"/>
                                <span th:if="${collection} == '1'">All Tax Reports</span>
                                <span th:if="${collection} == '2'">My Tax Reports</span>
                                <span th:if="${collection} == '3'">My assigned Tax Reports</span>
                                <span th:if="${collection} == '4'">My closed Tax Reports</span>
                                <span th:if="${collection} == '5'">All closed Tax Reports</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li th:if="${collection} != '1'">
                                    <a class="dropdown-item" href="/taxes?col=1">All Tax Reports</a>
                                </li>
                                <li th:if="${collection} != '2'">
                                    <a class="dropdown-item" href="/taxes?col=2">My Tax Reports</a>
                                </li>
                                <li th:if="${collection} != '3'">
                                    <a class="dropdown-item" href="/taxes?col=3">My assigned Tax Reports</a>
                                </li>
                                <li th:if="${collection} != '4'">
                                    <a class="dropdown-item" href="/taxes?col=4">My closed Tax Reports</a>
                                </li>
                                <li th:if="${collection} != '5'">
                                    <a class="dropdown-item" href="/taxes?col=5">All closed Tax Reports</a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <a class="btn-create btn btn-light btn-sm" href="/taxes/create">Create New Tax Report</a>
                        </div>
                    </div>

                    <table class="table table-striped" th:if="${taxes}">
                        <tr>
                            <th>Name</th>
                            <th>Account</th>
                            <th>Status</th>
                            <th>Accountant</th>
                            <th>Assigned To</th>
                            <th>Modified</th>
                            <td></td>
                        </tr>
                        <tr class="tax" th:each="tax : ${taxes}">
                            <div th:replace="~{__components/tax :: columns(${tax}, true, false)}"></div>
                        </tr>
                        <tr th:replace="~{__components/tax :: load-more(${moreUrl})}"></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
