<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('tax')}"></div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/tax :: tax-breadcrumb(${tax})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body">
                    <div class="alert alert-success">
                        The tax report has been successfully saved.
                    </div>
                    <div class="text-center">
                        <a class="btn btn-secondary btn-create margin-right"
                           th:href="${createUrl}"
                           th:if="${createUrl}">
                            Create Another Tax Report
                        </a>
                        <a class="btn btn-secondary btn-ok" href="/taxes">Back to Taxes</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>
