<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('tax')}"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/tax :: tax-breadcrumb(${tax})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="widget tax-summary">
                <div class="widget-body">
                    <div class="flex flex-space-between">
                        <h1 class="entity-title">
                            <img align="absmiddle" src="/image/tax.png"/>
                            <span th:text="${tax.name}">NAME</span>
                        </h1>
                        <div>
                            <a class="btn-edit btn btn-light btn-sm"
                               th:href="'/taxes/' + ${tax.id} + '/edit'"
                               th:if="${user?.hasPermission('tax:manage')}">Edit</a>

                            <a class="btn-status btn btn-light btn-sm"
                               th:href="'/taxes/' + ${tax.id} + '/status'"
                               th:if="${user?.hasPermission('tax:manage')}">Update Status</a>

                            <a class="btn-delete btn btn-danger btn-sm"
                               onclick="return confirm('Are you sure you want to delete the tax report?')"
                               th:href="'/taxes/' + ${tax.id} + '/delete'"
                               th:if="${user?.hasPermission('tax:delete')}">Delete</a>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="margin-right-2x">
                            <b>Fiscal Year</b><br/>
                            <span th:text="${tax.fiscalYear}">FISCAL YEAR</span>
                        </div>
                        <div class="margin-right-2x" th:if="${tax.taxType}">
                            <b>Type</b><br/>
                            <span th:text="${tax.taxType.title}">TAX TYPE</span>
                        </div>
                        <div class="margin-right-2x">
                            <b>Status</b><br/>
                            <span th:replace="~{__components/tax :: tax-status(${tax.status.name()})}">STATUS</span>
                        </div>
                        <div class="margin-right-2x">
                            <b>Account</b><br/>
                            <a class="entity-title" th:href="'/accounts/' + ${tax.account.id}">
                                <img align="absmiddle" height="24" src="/image/account.png" width="24"/>
                                <span th:text="${tax.account.name}">ACCOUNT</span>
                            </a>
                        </div>
                        <div class="margin-right-2x" th:if="${tax.assignee}">
                            <b>Assigned To</b><br/>
                            <span th:text="${tax.assignee.displayName}">ASSIGNEE</span>
                        </div>
                    </div>
                    <div th:replace="~{__components/layout :: error-message(${error})}"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="widget">
                <div class="widget-body">
                    <div th:replace="~{__components/module :: tabs('main', true)}"></div>
                    <div th:replace="~{__components/module :: tabs-content('main', true, ${tax}, ${module})}"></div>
                    <table class="table hidden" id="tab-details-content">
                        <tr>
                            <td width="20%"><b>Fiscal Year</b></td>
                            <td th:text="${tax.fiscalYear}">FISCAL YEAR</td>
                        </tr>
                        <tr th:if="${tax.taxType}">
                            <td><b>Type</b></td>
                            <td th:text="${tax.taxType?.title}">TYPE</td>
                        </tr>
                        <tr>
                            <td><b>Status</b></td>
                            <td>
                                <span th:replace="~{__components/tax :: tax-status(${tax.status.name()})}">STATUS</span>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Account</b></td>
                            <td>
                                <a class="entity-title" th:href="'/accounts/' + ${tax.account.id}">
                                    <img align="absmiddle" height="24" src="/image/account.png" width="24"/>
                                    <span th:text="${tax.account.name}">ACCOUNT</span>
                                </a>
                            </td>
                        </tr>

                        <tr th:if="${tax.assignee}">
                            <td><b>Assigned To</b></td>
                            <td th:text="${tax.assignee.displayName}">ASSIGNED_TO</td>
                        </tr>
                        <tr th:if="${tax.accountant}">
                            <td><b>Accountant</b></td>
                            <td th:text="${tax.accountant.displayName}">ACCOUNTANT</td>
                        </tr>
                        <tr th:if="${tax.technician}">
                            <td><b>Technician</b></td>
                            <td th:text="${tax.technician.displayName}">TECHNICIAN</td>
                        </tr>

                        <tr th:if="${tax.description}">
                            <td><b>Description</b></td>
                            <td th:text="${tax.description}">DESCRIPTION</td>
                        </tr>

                        <tr th:if="${tax.startAt}">
                            <td><b>Start Date</b></td>
                            <td th:text="${tax.startAtText}">DUE</td>
                        </tr>
                        <tr th:if="${tax.dueAt}">
                            <td><b>Due Date</b></td>
                            <td th:text="${tax.dueAtText}">DUE</td>
                        </tr>
                        <tr>
                            <td><b>Created</b></td>
                            <td>
                                <span th:text="${tax.createdAtText}">DATE</span>
                                <span th:if="${tax.createdBy}">by</span>
                                <span th:if="${tax.createdBy}" th:text="${tax.createdBy.displayName}">MODIFIED BY</span>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Modified</b></td>
                            <td>
                                <span th:text="${tax.modifiedAtText}">DATE</span>
                                <span th:if="${tax.modifiedBy}">by</span>
                                <span th:if="${tax.modifiedBy}"
                                      th:text="${tax.modifiedBy.displayName}">MODIFIED BY</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="widget">
                <div class="widget-body">
                    <div th:replace="~{__components/module :: tabs('side', false)}"></div>
                    <div th:replace="~{__components/module :: tabs-content('side', false, ${tax}, ${module})}"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{__components/bootstrap :: toast(${toast})}"></div>
<div th:replace="~{__components/bootstrap :: modal}"></div>
</body>
</html>
