<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('tax')}"></div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/tax :: tax-breadcrumb(${tax})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body">
                    <div th:replace="~{__components/tax :: tax-header(${tax}, false)}"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form class="form" method="post" th:action="@{'/taxes/' + ${tax.id} + '/status'}" th:object="${form}">
                <div class="form-body">
                    <div class="section">
                        <div class="section-body">
                            <div th:replace="~{__components/layout :: error-message(${error})}"></div>

                            <div class="section-item">
                                <label class="title">Current Status</label>
                                <span th:replace="~{__components/tax :: tax-status(${tax.status.name})}">STATUS</span>
                            </div>

                            <div class="section-item">
                                <label class="title">New Status</label>
                                <select onchange="return koki_tax_on_status_changed()" th:field="*{status}">
                                    <option th:each="status : ${statuses}"
                                            th:text="#{'tax-status.' + ${status.name()}}"
                                            th:value="${status.name()}">
                                        STATUS
                                    </option>
                                </select>
                            </div>

                            <div class="section-item document"
                                 th:classappend="${form.status.name} != 'GATHERING_DOCUMENTS' ? 'hidden'">
                                <label class="title">Form</label>
                                <select th:field="*{formId}">
                                    <option value="-1"></option>
                                    <option th:each="form : ${forms}"
                                            th:text="${form.code} + ': ' + ${form.name}"
                                            th:value="${form.id}">
                                        FORM
                                    </option>
                                </select>
                                <div class="text-small">
                                    Form to be filled by the client.<br/>
                                    This form will be automatically send to the client via email
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-footer">
                    <button type="submit">Submit</button>
                    <a class="btn-cancel" th:href="'/taxes/' + ${tax.id}">Cancel</a>
                </div>

            </form>
        </div>

    </div>
</div>

<script>
    function koki_tax_on_status_changed() {
        const status = document.getElementById('status').value;
        const doc = (status === 'GATHERING_DOCUMENTS');
        document.querySelectorAll('.document').forEach((elt) => {
            if (doc) {
                elt.classList.remove('hidden');
            } else {
                elt.classList.add('hidden');
            }
        });

    }
</script>
</body>
</html>
