<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{__components/layout :: head}"></div>
</head>

<body>
<div th:replace="~{__components/layout :: navbar}"></div>
<div th:replace="~{__components/layout :: menubar('taxes')}"></div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{__components/tax :: tax-breadcrumb(${tax})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="widget">
                <div class="widget-body">
                    <div class="flex">
                        <div class="margin-right-2x">
                            <b>Fiscal Year</b><br/>
                            <span th:text="${tax.fiscalYear}">FISCAL YEAR</span>
                        </div>
                        <div class="margin-right-2x" th:if="${tax.taxType}">
                            <b>Type</b><br/>
                            <span th:text="${tax.taxType.title}">TAX TYPE</span>
                        </div>
                        <div class="margin-right-2x">
                            <b>Status</b><br/>
                            <span th:replace="~{__components/tax :: tax-status(${tax.status.name()})}">STATUS</span>
                        </div>
                        <div class="margin-right-2x">
                            <b>Account</b><br/>
                            <a class="entity-title" th:href="'/accounts/' + ${tax.account.id}">
                                <img align="absmiddle" height="24" src="/image/account.png" width="24"/>
                                <span th:text="${tax.account.name}">ACCOUNT</span>
                            </a>
                        </div>
                        <div class="margin-right-2x" th:if="${tax.assignee}">
                            <b>Assigned To</b><br/>
                            <span th:text="${tax.assignee.displayName}">ASSIGNEE</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form class="form" method="post" th:action="@{'/taxes/' + ${tax.id} + '/status'}" th:object="${form}">
                <div class="form-body">
                    <div class="section">
                        <div class="section-body">
                            <div th:replace="~{__components/layout :: error-message(${error})}"></div>

                            <div class="section-item">
                                <label class="title">Status</label>
                                <select th:field="*{status}">
                                    <option th:each="status : ${statuses}"
                                            th:text="#{'tax-status.' + ${status.name()}}"
                                            th:value="${status.name()}">
                                        ASSIGNEE
                                    </option>
                                </select>
                                <script
                                    th:replace="~{__components/user :: user-selector('accountantId', null)}"></script>
                            </div>
                            <div class="section-item">
                                <label class="title">Assigned To</label>
                                <select th:field="*{assigneeId}">
                                    <option selected
                                            th:if="${assignee}"
                                            th:text="${assignee.displayName}"
                                            th:value="${assignee.id}">
                                        ASSIGNEE
                                    </option>
                                </select>
                                <script th:replace="~{__components/user :: user-selector('assigneeId', null)}"></script>
                            </div>

                            <div class="section-item">
                                <label class="title">Notes</label>
                                <div id="html-editor" style="height: 10em" th:utext="${form.notes}"></div>
                                <textarea name="notes" style="display: none" th:field="*{notes}"></textarea>
                                <script>
                                    const quill = new Quill(
                                        '#html-editor',
                                        {
                                            theme: 'snow',
                                            modules: {
                                                toolbar: [
                                                    ['bold', 'italic', 'underline', 'strike', 'link', {'color': []}],
                                                ]
                                            }
                                        }
                                    );
                                    quill.on('text-change', (delta, oldDelta, source) => {
                                        const notes = document.getElementById('notes');
                                        notes.value = document.querySelector('.ql-editor').innerHTML;
                                        console.log('>>> text-change', document.querySelector('.ql-editor').innerHTML, notes.value);
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-footer">
                    <button type="submit">Submit</button>
                    <a class="btn-cancel" th:href="'/taxes/' + ${tax.id}">Cancel</a>
                </div>

            </form>
        </div>

    </div>
</div>
</body>
</html>
