<tr class="type" th:each="type : ${types}">
    <td><a th:href="'/settings/taxes/types/' + ${type.id}" th:text="${type.name}">NAME</a></td>
    <td th:text="${type.title}">Title</td>
    <td>
        <span th:if="${type.active}">Yes</span>
        <span th:if="!${type.active}">No</span>
    </td>
</tr>
<tr id="type-load-more" th:if="${moreUrl}">
    <td class="text-center" colspan="3">
        <a href="javascript: koki_load_more('type-load-more')" th:data-url="${moreUrl}">Load More...</a>
    </td>
</tr>
